#set($sPathInfo = $oReport.ClassFile.replace(".jasper",".jrprint"))
#if($sutil.isEmpty($sPathInfo))
    #set($sPathInfo = $oReport.JrxmlFile.replace(".jrxml.vm",".jrprint"))
#end
#if($bExecute)
    <script>
    function viewReport()
    {
        var sFormat = document.frm.TargetFormat.value;
        var sURL = '${data.ContextPath}/jasper${sPathInfo}?format=$format';
        var prnWnd   = window.open (sURL, 'printWindow', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=640,height=480,left=20,top=20');
        prnWnd.focus();
    }
    viewReport();
    </script>
#elseif ($data.Parameters.getString("op").equals("execute"))
#if($data.Message)
    <span class="txtWarning">$data.Message</span>
    <script>
    alert('$data.Message');
    </script>
    #end ##if
#elseif ($data.Parameters.getString("op").equals("save"))
#if($data.Message)
    <span class="txtWarning">$data.Message</span>
    <script>
    alert('$data.Message');
    </script>
    #end ##if
#else
<link type="text/css" href="${data.ContextPath}/css/stylesheet.css" rel="stylesheet"/>
<script src="${data.ContextPath}/javascript/popcal.js"></script>
<script src="${data.ContextPath}/javascript/ajax/prototype.js"></script>
#if($isVM)
<script src="${data.ContextPath}/javascript/ajax/effects.js"></script>
<script src="${data.ContextPath}/javascript/ajax/controls.js"></script>
<script src="${data.ContextPath}/javascript/ajax/dragdrop.js"></script>
#end
<script>
var final = 0;
function ajaxUpdater(section,url,param,onComplete)
{
    new Ajax.Updater(
        section,
        url,
        {
            onLoading:function(request)
            {
if(final == 0)
{
                    Element.show('indicator');
                    document.body.style.cursor = 'wait';
                    }
final++;
            },
            onComplete:function(request)
            {
            final--;
if(final == 0)
{
                Element.hide('indicator');
                document.body.style.cursor = 'default';
                }
if(onComplete != '')
{
eval(onComplete);
}
            },
            parameters: param,
            evalScripts:true,
            asynchronous:true
        }
    );
}

function submitForm()
{
    document.frm.op.value='execute';
    ajaxUpdater('ajaxFeedback','$link.setPage($data.ScreenTemplate)',Form.serialize(frm) + '&id=$sID#if(!$!sReportConfigId.equals(""))&report_config=$sReportConfigId#end','');
    document.frm.op.value='';
}
#if($oJrReport)
function saveForm()
{
    document.frm.op.value='save';
    ajaxUpdater('ajaxFeedback','$link.setPage($data.ScreenTemplate)',Form.serialize(frm) + '&id=$sID#if(!$!sReportConfigId.equals(""))&report_config=$sReportConfigId#end','updateReportConfig()');
    document.frm.op.value='';
}
#end
#if(!$oReportConfig.isNew() && $oJrReport)
function deleteForm()
{
    document.frm.op.value='delete';
    document.location = '$link.setPage($data.ScreenTemplate)?id=$sID&op=delete&#if(!$!sReportConfigId.equals(""))&delete_report_config=$sReportConfigId#end';
}
#end
</script>
<body>
<form name="frm">
<table class="stdTable">
  <tr>
    <td colspan="2">
      <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td style="height:30px;" class="txtTitle2" valign="middle">
          $!sTitle ($!oReport.JrxmlFile)
        </td>
        <td align="right">
          <img id="indicator" style="display: none;" alt="indicator" src="${data.ContextPath}/images/indicator.gif" align="absmiddle">
        </td>
      </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="ajaxFeedback">
    #if($data.Message)
        <span class="txtWarning">$data.Message</span>
        #end
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0px">
        $screen_placeholder
    </td>
  </tr>
  <tr>
    <td width="20%">View As &nbsp;</td>
    <td width="80%">
        #reportFormat($oReport $data.Parameters.getString("TargetFormat",""))
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="id" value="$data.Parameters.getString("id")"/>
      <input type="hidden" name="op" value=""/>
      <input type="button" name="btnViewReport" value="$!l10n.view_report" onclick="submitForm()">
      #if($oJrReport)
      <input type="button" name="btnSaveReport" value="$!l10n.save" onclick="saveForm()">
         #if(!$oReportConfig.isNew() && $oJrReport)
        <input type="button" name="btnSaveReport" value="$!l10n.delete" onclick="deleteForm()">
      #end
      #end
    </td>
  </tr>
</table>
</form>
</body>
#end