html,body {height: 100%; width: 100%;} 
body	  {font-family: Arial; font-size: 11px; overflow: visible !important; margin: 0; background-color: #FFFFFF;}
a	      {color: #333366; text-decoration: none}
img       {vertical-align: middle; border:0;}
table     {border-collapse: collapse;}
tbody,tr,td {border:inherit;}
.shCode,.shName,.shPrice,.shPromo,.txtMessage 
         {font-size: 14px; font-weight:bold; color: #000000}
.shCode  {font-size: 10px;}
.shPrice {font-size: 12px;}
.shPromo {font-size: 48px;}
.txtMessage {color: #003366;}
