/* HTML */                               
BODY	{font-family: Arial; font-size: 12px; font-weight:bold;}
TD 		{font-family: Arial; font-size: 12px; font-weight:bold;}

/* LINK */
A		{font-family: Arial; font-size: 12px; font-weight:bold; color: #333366; text-decoration: none;}
A:HOVER	{color: #A4B4C2; }
A.sort2 {color: #FFFFFF;background-color: #255C91;} 

.linkProp1  {font-size: 100%; color: #000066}
.linkProp2  {font-size: 120%; color: #000066}
.linkProp3  {font-size: 12px; color: #477EB3}
.linkProp4  {font-size: 12px; color: #3C6A96}


/* SCROLL BAR */
BODY 	{scrollbar-base-color:#ffffff; scrollbar-arrow-color:#777777; 
		 scrollbar-highlight-color:#eeeeee; scrollbar-3dLight-Color:#eeeeee;
		 scrollbar-shadow-color:#eeeeee; scrollbar-darkshadow-color:#eeeeee; 
		 scrollbar-face-color:white; scrollbar-track-color: #eeeeee}

/* FORM */
INPUT 		    {font-family: Arial; font-size: 11px; font-weight:bold; border: 1px #CCCCCC solid; background-color: #FFFFFF}
INPUT[DISABLED] {color: #003366;}
INPUT.cb        {border: none}
INPUT.rb        {border: none}

INPUT.text1 	{border: 1px #CCCCCC solid}
INPUT.text2 	{border: 1px #FFFFFF solid}
INPUT.text3 	{border: 1px #CCCCCC solid}
INPUT.text4 	{font-weight:bold; color: #000066; border: 1px #FFFFFF solid}

INPUT.whiteBtn  {color: #000066; border: none}
INPUT.greyBtn   {color: #000000; text-align: right; background-color: #EEEEEE; border: 0px #EEEEEE none}

SELECT		      {font-family: Arial; font-size: 11px; font-weight:bold; border: 1px #CCCCCC solid}
SELECT[DISABLED]  {color: #003366; background-color: #F3F3F3;}

TEXTAREA 	      {font-family: Arial; font-size: 11px; font-weight:bold; border: 1px #CCCCCC solid}
TEXTAREA[DISABLED]{color: #003366; background-color: #F3F3F3;}

MARQUEE 	{font-family: Arial; font-size: 14px; font-weight:bold; color: #FFFFFF;  background-color: #FFCC00 }


/* EXTENDED */
.txtShelving1      {font-family: Arial; font-weight:bold; font-size: 35px; color: #000000}
.txtShelving2      {font-family: Arial; font-weight:bold; font-size: 14px; color: #000000}
.txtTitle1         {font-family: Arial; font-weight:bold; font-size: 18px; color: #990000}
.txtTitle2         {font-family: Arial; font-weight:bold; font-size: 14px; color: #000000}
.txtTitle3         {font-family: Arial; font-weight:bold; font-size: 13px; color: #000000}
.txtTitle4         {font-family: Arial; font-weight:bold; font-size: 12px; color: #000000}

.txtWarning  	   {font-family: Arial;   font-weight:bold; font-size: 14px; color: #990000}
.txtWarningPeriod  {font-family: Arial;   font-weight:bold; font-size: 14px; color: #000000}
.txtErrorPage  	   {font-family: Arial;   font-weight:bold; font-size: 12px; color: #333366}
.txtSubTitle1  	   {font-family: Verdana; font-weight:bold; font-size: 13px; color: #000000}

.txtProp1  	 {font-family: Verdana,Arial;  font-size: 11px;  color: #000000}
.txtProp2  	 {font-family: Verdana,Arial;  font-size: 12px;  color: #000000}
.txtProp4  	 {font-family: Verdana,Arial;  font-size: 10px;  color: #000000}
.txtSmall  	 {font-family: Arial;          font-size: 9px;   color: #000000}
.txtPayment  {font-family: Courier New;    font-size: 18px;  color: #000000; font-weight:bold; border: 1px #FFFFFF solid} /*  For Payment Info in transaction screen  */

.txtStack  	 {font-family: Verdana,Arial;  font-size: 9px;   color: #000000}                   /*  For StackTrace  */
.txtStack2   {font-family: Verdana,Arial;  font-size: 10px;  color: #990000}                   /*  For Column need highlight */
.txtPrint  	 {font-family: Arial;          font-size: 10px;  color: #000000}                   /*  For Print */ 
.txtTree  	 {font-family: Courier New;    font-size: 12px;  color: #000000}                   /* For Member Tree */
.txtMessage  {font-family: Arial;          font-weight:bold; font-size: 14px; color: #990000 } /* System Message */
.txtPRE  	 {font-family: Trebuchet MS;   font-weight:bold; font-size: 16px; color: #000000}  /* File Content */

.tblHeader1     {font-family: Arial;                font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #990000}
.tblHeader2     {font-family: Arial;                font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #255C91}
.tblHeader3     {font-family: Arial;                font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #CCCCCC}
.tblHeader4     {font-family: Trebuchet MS, Arial;  font-size: 12px; font-weight: normal; color: #000000;background-color: #EEEEEE}
.tblHeader5     {font-family: Trebuchet MS, Arial;  font-size: 12px; font-weight: normal; color: #000000;background-color: #E0E0E0; border: 1px #EEEEEE solid}

.tblHeaderPrint {font-family: Arial,Verdana;        font-size: 10px; font-weight: bold;   color: #000000}
.tblHeaderCopy  {font-family: Verdana,Arial;        font-size: 10px; font-weight: bold;   color: #FFFFFF; background-color: #366DA2}

.tblBorderDot  	{ border: 1px #EEEEEE dotted}
.tblBorderSolid { border: 1px #EEEEEE solid}

/* MENU  */
.clCMAbs {
	position:absolute; 
	visibility:hidden; 
	left:0; 
	top:0
}
  
/*Style for the background-bar*/
.clBar {
	position:absolute; 
	width:10; 
	height:10; 
	visibility:hidden
}

/*Styles for level 0*/
.clLevel0,.clLevel0over {
	position:absolute; 
	padding:2px; 
	font-family:Verdana; 
	font-size:11px; 
	font-weight:normal;
    color:#FFFFFF;
}
.clLevel0 {	
	background-color:#779AC1; 
	layer-background-color:#779AC1; 
}
.clLevel0over {
	cursor:pointer; 
	cursor:hand;
}
.clLevel0border {
	position:absolute; 
	visibility:hidden; 
}

/*Styles for level 1*/
.clLevel1, .clLevel1over {
	position:absolute; 
	padding:2px; 
	font-family:Trebuchet MS, Arial; 
	font-size:12px; 
	font-weight:bold;
}
.clLevel1 { 
	background-color:#779AC1; 
	layer-background-color:#779AC1; 
    color:#FFFFFF;
}
.clLevel1over {
	background-color:#BCD7F1; 
	layer-background-color:#BCD7F1; 
	color:#779AC1; 
	cursor:pointer; 
	cursor:hand; 
}
.clLevel1border {
	position:absolute; 
	visibility:hidden; 
	background-color:#628ABA; 
	layer-background-color:#628ABA;
}

/*Styles for level 2*/
.clLevel2, .clLevel2over {
	position:absolute; 
	padding:2px; 
	font-family:Trebuchet MS, Arial; 
	font-size:12px; 
	font-weight:bold;
}
.clLevel2 {
	background-color:#BCD7F1; 
	layer-background-color:#BCD7F1; 
	color:#779AC1;
}
.clLevel2over{
	background-color:#779AC1; 
	layer-background-color:#779AC1; 
	color:#FFFFFF; 
	cursor:pointer; 
	cursor:hand; 
}
.clLevel2border {
	position:absolute; 
	visibility:hidden; 
	background-color:#628ABA; 
	layer-background-color:#628ABA;
}

/* CALENDAR RELATED */

td.cal{
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #000000;
  background-color : #f3f3f3;
}
select.month{
  font-family : Arial,Helvetica;
  font-size : 10px;
  color : #000000;
  width : 85px;
}
input.year{
  font-family : Arial,Helvetica;
  font-size : 10px;
  color : #000000;
  width : 30px;
}
td.calDaysColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #333366;
}
td.calWeekend {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #CCCCCC;
}
td.calBgColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #DDDDDD;
}
.calBorderColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #a9a9a9;
}
td.calHighlightColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #DDDDDD;
}
A.cal {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #000000;
  text-decoration : none;
}  
A.cal:Hover {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #993333;
  text-decoration : none;
} 
.disabled {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #808080;
  text-decoration : none;
}  

/* TABS RELATED */

A.tab-link	{font-family: Arial ; font-size: 12px; color: #000000; text-decoration: none}
A.tab-link:HOVER	{color: #000066}

.tab-button	 { 
    width: 170; 
    height: 20; 
    font-weight: normal;     
    background: #EEEEEE; 
	border: 1px solid #EEEEEE;
    cursor: hand; 
    padding-top: 2px; 
    padding: 3;
}

.glconfig-tab-body	{ 
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;    
    position:absolute; 
    left:14px; 
    top:201px; 
    width:770px; 
    z-index:0; 
    visibility: hidden
}

.item-tab-body	{ 
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;    
    position:absolute; 
    left:282px; 
    top:191px; 
    width:700px; 
    z-index:0; 
    visibility: hidden
}

.member-tab-body	{ 
    /* background: #FFFFFF; */
    border: 1px solid #EEEEEE
    padding: 10;    
    position:absolute; 
    left:29px; 
    top:162px; 
    width:940px; 
    z-index:0; 
    visibility: hidden
}

.customer-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;
    position:absolute;
    left:14px;
    top:340px;
    width:975px;
    z-index:0;
    visibility: hidden
}

.vendor-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;
    position:absolute;
    left:14px;
    top:350px;
    width:965px;
    z-index:0;
    visibility: hidden
}

.employee-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;
    position:absolute;
    left:14px;
    top:381px;
    width:965px;
    z-index:0;
    visibility: hidden
}
.security-tab-body	{
    /* background: #ffffff; */
	border: 1px solid #EEEEEE;
    padding: 10;
    position:absolute;
    left:14px;
    top:198px;
    width:750px;
    z-index:0;
    visibility: hidden
}

.cashflow-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 10;
    position:absolute;
    left:14px;
    top:210px;
    width:960px;
    z-index:0;
    visibility: hidden
}
.jobcosting-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 17;
    position:absolute;
    left:8px;
    top:379px;
    width:980px;
    z-index:0;
    visibility: hidden
}

.jcrollover-tab-body	{
    /* background: #FFFFFF; */
	border: 1px solid #EEEEEE;
    padding: 17;
    position:absolute;
    left:8px;
    top:425px;
    width:980px;
    z-index:0;
    visibility: hidden
}

/* Tree Style */
.treetitle {
	padding:2px;
	cursor:default;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;;
	color: #000000;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;;
	color: #000000;
	
	width: 150px;
	height: 17px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
	cursor:default;
	background-color: highlight;
	color: highlighttext;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:default;
	background-color: menu;
	color: windowtext;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* QTY INFORMATION AJAX DIV */
div.qty_info 
{

}                                                                                                                                                                                                                                       

div.qty_info ul 
{                                                                                                                                                                                                                  
  border:1px solid #888;                                                                                                                                                                                                                  
  margin:0;                                                                                                                                                                                                                               
  padding:0;                                                                                                                                                                                                                              
  width:250px;                                                                                                                                                                                                                             
  background: #fff;
  list-style-type:none;                                                                                                                                                                                                                   
}                                                                                                                                                                                                                                       

div.qty_info ul li 
{                                                                                                                                                                                                               
  margin:0;                                                                                                                                                                                                                               
  padding:3px;                                                                                                                                                                                                                            
}
/* END QTY INFO */        