/*!
 * CSS Custom - Retailsoft
 * Last Update : June 29, 2014
 */

/* >>> Fonts <<< */
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.eot');
  src: url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.woff') format('woff'),
     url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
     url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot');
  src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.woff') format('woff'),
     url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
     url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/roboto_boldcondensed/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  }
}


/* >>> Custom Reset <<< */

body { background: #fff; font-size: 12px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}

h1,h2,h3 { font-weight: normal; margin: 0; padding: 0; font-family: 'roboto_condensedregular', "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* >>> Base Layout <<< */

  /* >>> Header <<< */
  .base-header { position: fixed; top: 0; width: 100%; z-index: 1000; background: #FFFFFF}

    .base-header .navbar { margin: 0; border: none; height: 72px; width: 100%; z-index: 1000;
      background: #fefefe url(../images/img/bg-menu.jpg) bottom repeat-x;
    }
    .base-header .navbar-brand { padding: 12px 5px;}
      .base-header .navbar-brand img {}

    .base-header .navbar-nav { float: right; font-size: 12px;}
      .base-header .navbar-nav > li > a { text-transform: uppercase; color: #000000; padding: 0; height:72px; font-family: 'roboto_condensedregular', "Helvetica Neue", Helvetica, Arial, sans-serif;}
      .base-header .navbar-nav > li > a .icon-menu { display: table; height: 72px; padding: 0 16px; font-size: 13px; letter-spacing: 0px}
      .base-header .navbar-nav > li > a .icon-menu .icon-menu-wrap { display: table-cell; vertical-align: middle; text-align: center}
      .base-header .navbar-nav > li > a .icon-menu .icon-menu-wrap span { display: block; margin: 0 auto 8px;}
      .base-header .navbar-nav > li > a > span.sub-arrow { display: none}
      .base-header .navbar-nav > li > a:hover, .base-header .navbar-nav > li > a.highlighted { background: #eeeeee}
      .base-header .navbar-nav > li.active > a { color: #FFFFFF;
        background: #35588e; /* Old browsers */
        background: -moz-linear-gradient(top,  #35588e 0%, #577cac 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35588e), color-stop(100%,#577cac)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #35588e 0%,#577cac 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #35588e 0%,#577cac 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #35588e 0%,#577cac 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #35588e 0%,#577cac 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35588e', endColorstr='#577cac',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5);
      }

  .header-welcome { background: #2d486c; font-size: 11px; padding: 4px 15px; border-top: solid 1px #fff; color: #d6deea; position: relative; z-index: 10 }
    .header-welcome .welcome-note {}
    .header-welcome .date { text-align: right}

  /* >>> Footer <<< */
  .base-footer { background: #477eb3; color: #FFFFFF; border-top: solid 1px #336798; border-bottom: solid 1px #336798; text-align: center;
    width: 100%; position: fixed; bottom: 0;
    padding: 4px 0; font-size: 11px;
   }


  /* >>> Base body <<< */

  h1 { background: #FFFFFF; margin: 15px 15px 0; float: left; padding: 10px 15px; font-size: 15px; top: 1px; position: relative; z-index: 1; text-transform: uppercase;
    border: solid 1px #b8bcc0; border-bottom: none;
    -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;
  }

  .page-button { float: right; padding-right: 15px; padding-top: 3px;}
    .page-button a { margin-left: 5px;}

  .base-body { background: #eceef0 url(../images/img/body.jpg); padding-top: 100px;}

  .main-container { padding: 15px; background: #FFFFFF; border-top: solid 1px #b8bcc0; clear: both; padding-bottom: 40px; }


/* >>> Base Style <<< */


  /* >>> Form View <<< */
  .form-list { margin: 0; padding: 0; list-style: none;}
  .form-list li { border: solid 1px #CCCCCC; overflow: hidden; margin-top: -1px; background: #fcfcfc }
  .form-list .form-label { font-weight: bold; text-align: right; margin: 0; padding-top: 12px;}
  .form-list .form-field { padding-top: 4px; padding-bottom: 4px; background: #FFFFFF; border-left: solid 1px #ddd; display: table   }
  .form-list .form-field .form-inline { display: table-cell; width: auto; vertical-align: top}
  .form-list .form-field .symbol-separator { display: inline-block; height: 26px; line-height: 32px; width: 15px; font-size: 14px; text-align: center}
  .form-list .form-control { height: 24px; font-size: 13px; padding: 3px 6px;
    border: 1px solid #ccc; color: #666; background: #fcfcfc; vertical-align: middle;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    -moz-box-shadow: inset 0 1px 3px #ddd; -webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd;
  }
  select { height: 24px; font-size: 13px; padding: 3px 6px;
    border: 1px solid #ccc; color: #666; background: #fcfcfc; vertical-align: middle;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    -moz-box-shadow: inset 0 1px 3px #ddd; -webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd;
  }

  .form-list .form-control[disabled], .form-list .form-control[readonly], .form-list fieldset[disabled] .form-control { background: #eee}

  .form-list textarea.form-control { height: auto}
  .form-list .input-group-addon {}

  /* >>> Summary Table View <<< */
  .content-accordion .accordion-inner { padding-top: 5px;}
  .content-accordion .accordion-heading { display: none; margin-bottom: 15px;}
  .content-accordion .accordion-heading a { color: #000; border-bottom: dashed 1px #CCCCCC; padding-bottom: 8px; margin-bottom: 8px; display: block
  }

  .table-custom thead { background: url(../images/img/box-head.jpg); color: #FFFFFF}


  /* >>> Transaction Table View <<< */
  .transaction-table-view { margin: 20px 0;}
  .table-nav { margin-top: 15px; margin-bottom: 0;}
    .table-nav label { font-size: 12px; margin: 4px 0 0;}
    .table-nav-left { text-align: left}
    .table-nav-right { text-align: right}

    .table-nav .btn { font-size: 11px; padding: 4px 8px; margin-bottom: 10px;
      background: #2d486c; color: #FFFFFF;
    }

  .transaction-filter { font-size: 10px;}
    .transaction-filter .form-control { height: 26px; font-size: 11px; padding: 5px 6px;}
    .transaction-filter .form-label { margin-top: 7px;}
    .transaction-filter .filter-field { margin-bottom: 12px;}

    .transaction-filter .input-group {}
    .transaction-filter .input-group .btn { height: 26px; font-size: 12px; padding: 0 8px; background: #2d486c; color: #FFFFFF}




/* >>> Hax <<< */

  /* >>> Smart Menu <<< */
  .dropdown-menu { border: none; background: #779ac1; color: #FFFFFF; font-size: 12px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin: 0; padding: 0}
  .dropdown-menu > li > a { color: #FFFFFF !important; padding: 5px 10px;}

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #eeeeee;  border: none; }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.highlighted, .dropdown-menu > li > a.highlighted:hover { color: #597ba1; background-color: #bcd7f1;}

  /* >>> Datepicker <<< */
  .datepicker.dropdown-menu { background: #FFFFFF; color: #000000; padding: 5px;}


/*================== Mobile Devices ==================*/

.show-m { display: none !important}
.show-d { display: block !important}

/*========== Medium res ==========*/

@media only screen and (min-width: 992px) and (max-width: 1199px)  {

}

@media only screen and (max-width: 991px) {

/* >>> Base Layout <<< */

  /* >>> Header <<< */
  .base-header { }

    .base-header .navbar { height: 60px;}
    .base-header .navbar-brand { height: 60px;}
      .base-header .navbar-brand img { height: 100%; width: auto}

    .base-header .navbar-nav { }
      .base-header .navbar-nav > li > a {  height:60px; }
      .base-header .navbar-nav > li > a .icon-menu { height: 60px; padding: 0 10px; font-size: 10px; }

/* >>> Base Style <<< */


  /* >>> Summary Table View <<< */
  .summary-table { margin-top: 15px;}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {


}


@media only screen and (min-width: 768px) {
}


/*========== Mobile ==========*/

@media only screen and (max-width: 767px) {

.show-m { display: block !important}
.show-d { display: none !important}


/* >>> Base Layout <<< */

  /* >>> Header <<< */
  .base-header { }
    .base-header .navbar {  }
    .base-header .navbar-brand { }
      .base-header .navbar-brand img {}

    .base-header .navbar-nav { float: none; position: relative; z-index: 100; margin-top: 0; margin-bottom: 0; background: #779ac1}
      .base-header .navbar-nav > li > a { height: 40px; line-height: 40px;}
      .base-header .navbar-nav > li > a .icon-menu { display: inline-block; height: auto; }
      .base-header .navbar-nav > li > a .icon-menu .icon-menu-wrap { display: block; text-align: left}
      .base-header .navbar-nav > li > a .icon-menu .icon-menu-wrap span { display: inline; margin: 0 15px 0 0; color: #FFFFFF; font-size: 18px; top: 6px; position: relative}
      .base-header .navbar-nav > li > a > span.sub-arrow { display: inline-block}
      .base-header .navbar-nav > li > a:hover, .base-header .navbar-nav > li > a.highlighted { background: #eeeeee}
      .base-header .navbar-nav > li.active > a {}
      .navbar-nav > li > a .sub-arrow {}

  .header-welcome {font-size: 10px; padding: 2px 15px;}
    .header-welcome .welcome-note {}
    .header-welcome .date { text-align: left}

/* >>> Base Style <<< */

  /* >>> Form View <<< */
  .form-list .form-label { text-align: left; border-bottom: solid 1px #ddd; padding-top: 10px; padding-bottom: 10px;}
  .form-list .form-field { border: none}

  /* >>> Summary Table View <<< */
  .content-accordion .accordion-heading { display: block}
  .info-field, .summary-table { margin-top: 15px;}

  /* >>> Transaction Table View <<< */
  .table-nav {}
    .table-nav-left, .table-nav-right { text-align: center; margin: 0 0 10px;}

    .table-nav .btn { font-size: 11px; padding: 4px 8px;
      background: #2d486c; color: #FFFFFF;
    }

}

@media only screen and (min-width: 545px) and (max-width: 767px) {

}


@media (max-width: 544px) {
}

@media (max-width: 420px) {
}


@media (max-width: 320px) {
}

.th2 {color:#ffffff;}
.text2 {border:none;}
input#btnCancel {background-color: #990000}
input#btnCancel:hover {background-color: #CC6666}
input[type="submit"]:hover {background-color:#779AC1;}
input[type="button"]:hover {background-color:#779AC1;}

#txtMessage  {
    color:#990000; margin: 15px 12px 0; float: left; padding: 10px 15px; font-size: 15px; font-weight:bold;
    border: none;
}
#addDetBtn {background:url('../images/btn_add.gif');width:15px;height:15px;padding:0px;border:none;}
#delDetBtn {background:url('../images/btn_del.gif');width:16px;height:16px;padding:0px;border:none;}
.autocomplete {                                          
  position:absolute;                                     
  width:250px;                                           
  background-color:white;                                
  border:1px solid #888;                                 
  margin:0px;                                            
  padding:0px;                                           
}                                                        
.autocomplete ul {                                       
  list-style-type:none;                                  
  margin:0px;                                            
  padding:0px;                                           
}                                                        
.autocomplete ul li.selected {background-color: #EEEEEE;}
.autocomplete ul li {                                    
  list-style-type:none;                                  
  display:block;                                         
  margin:0;                                              
  padding:2px;                                           
  height:20px;                                           
  cursor:pointer;                                        
}                                                        