#set($sync = $data.Parameters.getBoolean("sync",false))
#set($backend = $data.Parameters.getBoolean("backend",false))
#set($db = $!preference.CurrentDatabase)
#set($API = "http://sg3.retailsoft.id:8081/demo/weblayer/template/api,SPGApps.vm")
#set($couch = "http://admin:cr0ssfire@sg3.retailsoft.id:5984/")
#set($dbcfg = "${couch}$!{db}_config")
#set($dbitm = "${couch}$!{db}_items")
#set($dbcst = "${couch}$!{db}_custs")
#set($dbstp = "${couch}$!{db}_setup")

#if(!$backend) ##sync by client
<script src="$data.ContextPath/javascript/db/pouchdb.min.js"></script>
<script src="$data.ContextPath/javascript/db/pouchdb.find.min.js"></script>
<script src="$data.ContextPath/javascript/db/jsonQ.min.js"></script>
<script src="$data.ContextPath/javascript/moment.min.js"></script>
<script src="$data.ContextPath/javascript/handlebars.js"></script>

<script>
const LEN = 11;
var BASEURL = '$!API';
var lastSync = '';
var cfgdb = '$!dbcfg';
var itmdb = '$!dbitm';
var cstdb = '$!dbcst';
var stpdb = '$!dbstp';
var autoSync = $sync;

function cfg()
{
    var db = new PouchDB(cfgdb);
    db.get('config').then(function(doc){
       console.log(doc);
       lastSync = doc.lastSync;
       if(lastSync != '' && autoSync) sync();
       jQuery('#spanLast').text(doc.lastSync);
       return doc.lastSync;
    })
    .catch(function(){
        var doc = {_id:'config', lastSync:''};
        db.put(doc);
        return '';
    });
}
function setLastSync()
{
    var db = new PouchDB(cfgdb);
    db.get('config').then(function(doc){
       doc._rev = doc._rev
       doc.lastSync = moment().format('YYYY-MM-DD hh:mm');
       db.put(doc).then(function(res){
            lastSync = doc.lastSync;
            jQuery('#spanLast').text(doc.lastSync);
       });
    })
    .catch(function(){
        alert('error setting last sync');
    });
}
function syncItems()
{
    var promise = Promise.resolve();
    var itmnew = [];
    var itmupd = [];
    var db = new PouchDB(itmdb);
    var url = BASEURL + '?cmd=2&lastsync=' + lastSync;
    jQuery.get(url,'',function(resp){
        processing('Sync Items');
        var itms = JSON.parse(resp);
        itms.forEach(function(itm){
            itm._id = itm.item_id;
            itm.code = itm.barcode;
            itm.name = itm.item_name;
            promise = promise.then(function(){
                return db.get(itm.item_id).then(function(doc) {
                    itm._rev = doc._rev;
                    console.log('update itm' + itm);
                    itmupd.push(itm);
                    return db.put(itm);
                }).catch(function(e){
                    console.log('new itm' + itm);
                    itmnew.push(itm);
                    return db.put(itm);
                });
            });
        });
        promise.then(function () {
            unload();
            var ctx = {newdata: itmnew, updated : itmupd, dtype: 'Item'};
            var template = Handlebars.compile(jQuery("#SyncResult").html());
            var html = template(ctx);
            jQuery('#divItemResult').html(html);
            setLastSync();
        });
    })

    db.createIndex({
      index: {fields: ['barcode','item_name']}
    }).then(function(res){
        //console.log(res);
    }).catch(function(err){
       console.log(err);
    });
}
function syncCusts()
{
    var promise = Promise.resolve();
    var cstnew = [];
    var cstupd = [];
    var db2 = new PouchDB(cstdb);
    var url = BASEURL + '?cmd=3&lastsync=' + lastSync;
    jQuery.get(url,'',function(resp){
        processing('Sync Customer');
        var custs = JSON.parse(resp);
        custs.forEach(function(cst){
            cst._id = cst.customer_id;
            cst.code = cst.customer_code;
            cst.name = cst.customer_name;
            promise = promise.then(function () {
                return db2.get(cst.customer_id).then(function(doc) {
                    cst._rev = doc._rev;
                    console.log('update cust' + cst);
                    cstupd.push(cst);
                    return db2.put(cst);
                }).catch(function(e){
                    console.log('new cust' + cst);
                    cstnew.push(cst);
                    return db2.put(cst);
                });
            });
        });
        promise.then(function () {
            unload();
            var ctx = {newdata: cstnew, updated : cstupd, dtype: 'Customer'};
            var template = Handlebars.compile(jQuery("#SyncResult").html());
            var html = template(ctx);
            jQuery('#divCustResult').html(html);
            setLastSync();
        });
    })

    db2.createIndex({
      index: {fields: ['customer_code','customer_name','is_default']}
    }).then(function(res){
        //console.log(res);
    }).catch(function(err){
       console.log(err);
    });
}
function sync()
{
    if(autoSync || confirm('Sync to Offline Master Source DB (CouchDB) ?'))
    {
        syncCusts();
        syncItems();
    }
}
jQuery(document).ready(function(){
    cfg();
    jQuery('#spanLast').text('test');
    Handlebars.registerHelper('inc', function(num) {
        return num + 1;
    });
});
</script>

<span class="txtTitle2">Sync to CouchDB Server</span>
<br><br>
<table class="stdTable">
  <tr>
    <td width="100">Last Sync</td>
    <td width="20">:</td>
    <td><span id="spanLast"></span></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><input id="btnSync" type="button" OnClick="sync();" value="Synchronize"></td>
  </tr>
</table>
<br><br>
<div id="divCustResult"></div>
<hr>
<div id="divItemResult"></div>

<script id="SyncResult" type="text/x-handlebars-template">
<table class="stdTable">
  <tr class="th4">
    <td colspan="3">New {{dtype}}</td>
  </tr>
  {{#newdata}}
  <tr>
    <td>{{inc @index}}</td>
    <td>{{code}}</td>
    <td>{{name}}</td>
  </tr>
  {{/newdata}}
  <tr class="th4">
    <td colspan="3">Updated {{dtype}}</td>
  </tr>
  {{#updated}}
  <tr>
    <td>{{inc @index}}</td>
    <td>{{code}}</td>
    <td>{{name}}</td>
  </tr>
  {{/updated}}
</table>
</script>
#else ##sync in server
$!data.setLayoutTemplate("/Empty.vm")
#set($bsh = $butil.loadClass("bsh.Interpreter"))
$!bsh.eval("import com.mashape.unirest.http.Unirest;")
$!bsh.eval("import com.mashape.unirest.http.HttpResponse;")
$!bsh.eval("import com.mashape.unirest.http.JsonNode;")
$!bsh.eval("import com.mashape.unirest.http.exceptions.UnirestException;")
$!bsh.eval("import com.ssti.framework.db.CouchDBTool;")
$!bsh.eval("import com.ssti.framework.perf.StopWatch;")

$!bsh.set('API', $API)
$!bsh.set('couch', $couch)
$!bsh.set('dbcfg', $dbcfg)
$!bsh.set('dbitm', $dbitm)
$!bsh.set('dbcst', $dbcst)
$!bsh.set('dbstp', $dbstp)
$!bsh.set('initCfg', '{"_id":"config", "lastSync":"" }')
$!bsh.set('lastSync', "")
#set($x = $!bsh.eval('sw = new StopWatch(); sw.start("sync"); '))
#set($x = $!bsh.eval('cdbtool = new CouchDBTool();'))
#set($x = $!bsh.eval('cdbtool.newDB(dbcfg,"")'))
#set($x = $!bsh.eval('cdbtool.newDB(dbitm,"")'))
#set($x = $!bsh.eval('cdbtool.newDB(dbcst,"")'))
#set($x = $!bsh.eval('cdbtool.newDB(dbstp,"")'))
#set($x = $!bsh.eval('result = new StringBuilder(); error = new StringBuilder();'))
#set($x = $!bsh.eval(' resp = Unirest.get(dbcfg + "/config" ).asJson() '))
#set($x = $!bsh.eval(' if(resp.Status == 404) { stat = cdbtool.save(dbcfg,initCfg,""); } else { lastSync = resp.Body.Object.get("lastSync"); }'))
#set($x = $!bsh.eval('try { items = Unirest.get(API).queryString("cmd", 2).queryString("lastSync", lastSync).asJson().Body.Array; } catch(Exception e) { error.append("ERROR: " + e.Message + "\n"); e.printStackTrace(); } '))
#set($x = $!bsh.eval('try { custs = Unirest.get(API).queryString("cmd", 3).queryString("lastSync", lastSync).asJson().Body.Array; } catch(Exception e) { error.append("ERROR: " + e.Message + "\n"); e.printStackTrace(); } '))
<pre>
Last Sync: $!bsh.get('lastSync')
</pre>
#set($x = $!bsh.eval('result.append("Item Data:\n"); no = 1;'))
#foreach($itm in $bsh.get('items').iterator())
#set($x = $bsh.set('itm', "$!itm"))
#set($x = $!bsh.eval('try { stat = cdbtool.save(dbitm,itm,""); result.append(no + ". Result:" + stat + " doc:" + itm + "\n"); no++; } catch (Exception e) { error.append("ERROR, msg:"+ e.Message + ", doc:" + itm + "\n"); e.printStackTrace(); }'))
#end
#set($x = $!bsh.eval('result.append("\nCustomer Data:\n"); no = 1;'))
#foreach($cst in $bsh.get('custs').iterator())
#set($x = $bsh.set('cst', "$!cst"))
#set($x = $!bsh.eval('try { stat = cdbtool.save(dbcst,cst,""); result.append(no + ". Result:" + stat + " doc:" + cst + "\n");  no++; } catch (Exception e) { error.append("ERROR, msg:"+ e.Message + ", doc:" + cst + "\n"); e.printStackTrace(); }'))
#end
#set($x = $!bsh.eval('result.append("\nUpdate Last Sync:\n"); no = 1;'))
#set($ls = $cf.formatSqlDate($dutil.TodayDate))
#set($x = $!bsh.set('ls', "$!ls"))
#set($x = $!bsh.eval('try { stat = cdbtool.updateValue(dbcfg,"config","lastSync",ls,""); result.append(no + ". Result:" + stat + " key: lastSync, value: " + ls + "\n");  no++; } catch (Exception e) { error.append("ERROR, msg:"+ e.Message + ", ls:" + lastSync + "\n"); e.printStackTrace(); }'))
#set($x = $!bsh.eval('sw.stop("sync"); '))
<pre>        
RESULT:
-------
$bsh.get("result")

ERROR:
------
$bsh.get("error")

TIME:
$!bsh.eval('sw.result("sync")')
</pre>

#end ##end if backend
