$data.setLayoutTemplate("/EmptyHTML.vm")
             
#set($op = $data.Parameters.getInt("op"))
#set($url = "http://asiatel.vineretail.com/ClpRestWS/api/sales/v1/getSalesRetail") 
#set($def = $!cf.formatCustomDateTime($dutil.TodayDate,"yyyy-MM-dd"))
#set($dte = $data.Parameters.getString("salesDate",$def))

#if($op == 1)
#set($bsh = $butil.loadClass("bsh.Interpreter"))
$!bsh.eval("import com.mashape.unirest.http.Unirest;")
$!bsh.eval("import com.mashape.unirest.http.HttpResponse;") 
$!bsh.eval("import com.mashape.unirest.http.JsonNode;")   
$!bsh.eval("import com.mashape.unirest.http.exceptions.UnirestException;")
$!bsh.set("url", $url)
$!bsh.set("dte", $dte)
$!bsh.set("hk1", "content-type")
$!bsh.set("hv1", "application/x-www-form-urlencoded")
$!bsh.set("fl1", "apiKey")
$!bsh.set("vl1", "finance01")
$!bsh.set("fl2", "salesDate")
$!bsh.set("vl2", "$dte")
#set($x = $bsh.eval("resp = Unirest.post(url).header(hk1, hv1).queryString(fl1, vl1).queryString(fl2,vl2).asJson();"))
#set($resp = $bsh.get("resp"))
#end ##end
<script>
jQuery(document).ready(function(){
});
</script>
##<img id="spinner" style=" position: fixed;top: 50%;left: 50%;" src="$!data.ContextPath/images/spinners.gif">

<h3>Vinculum Retail Sales Integration Module</h3>
<form name="frm" method="post" action="$!link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
<input type="hidden" name="url" value="$!url">
<input type="hidden" name="apiKey" value="finance01">
Trans Date: <input type="text" size="12" name="salesDate" value="$!dte">
<input type="submit" name="submit">
</form>
<br>
<b>Data Result:</b>
<pre>
$resp.Body.Object.getJSONArray("salesRetail")
#if($resp.Body)
#if($sutil.equalsIgnoreCase($resp.Body.Object.optString("resp"),"success"))
#foreach($loc in $resp.Body.Object.getJSONArray("salesRetail").iterator())
Location: $loc.getString("location_code")
ByTender: 
  #foreach ($tndr in $loc.getJSONArray("sales_by_tender").iterator())
  Tender Type: $tndr.get("tender_type") Amount: $tndr.get("amount")  
  #end
    
ByKategori: 
  #foreach ($ktgr in $loc.getJSONArray("sales_by_kategori").iterator())
  Kategori: $ktgr.get("kategori"), Sales Amount: $!cf.fmt($ktgr.getBigDecimal("gross_amount")), Discount: $!cf.fmt($ktgr.getBigDecimal("line_discount")), COGS: $!cf.fmt($ktgr.getBigDecimal("cogs_amount")) 
  #end

#end
#else
ERROR CODE: $!resp.Body.Object.optInt("errorCode")
ERROR DESC: $!resp.Body.Object.optInt("errorDesc")
ERROR: $!resp.Body.Object.optString("resp") 
#end 
#end ##end if resp.Body
</pre>

