<script src="${data.ContextPath}/javascript/tabs.js"></script>
<script>
var rows = new Array;
var num_rows = 1;
var itop = -1;
var ileft = -1;
var iwidth = 580;
var posit = 'relative';
var tab_off = "#eee";
var tab_on = "#ccc";
for (var x = 1; x <= num_rows; x++ ) { rows[x] = new Array; }
rows[1][1] = "$!l10n.company ";
rows[1][2] = "Setup          ";
rows[1][3] = "$!l10n.transaction ";
rows[1][4] = "Periodic ";
rows[1][5] = "Report   ";
rows[1][6] = "Other   ";
DrawTabs();
</script>
<style>
.security-tab-body	{
    min-width:580px;
}
</style>
