<script src="${data.ContextPath}/javascript/tabs.js"></script>
<style>
.glconfig-tab-body
{
}
</style>
<script>
var rows = new Array;
var num_rows = 1;
var iwidth = 480;
var posit = 'relative';
var tab_off = "#eee";
var tab_on  = "#ccc";

for ( var x = 1; x <= num_rows; x++ ) { rows[x] = new Array; }

rows[1][1] = "$!l10n.default  ";
rows[1][2] = "$!l10n.currency ";
rows[1][3] = "$!l10n.other    ";

DrawTabs();
</script>
