<h1><strong>Margin Setup (Medical)</strong></h1>

<p>Margin setup adalah fitur konfigurasi harga berdasarkan margin yang fleksibel.</p>

<p>Konsep harga pada retailsoft sendiri menggunakan mekanisme prioritas sbb:</p>

<ol>
	<li>Harga jual pada master item&nbsp;</li>
	<li>Margin pada master item apabila diisi maka harga akan diabaikan dan selalu dihitung secara markup terhadap Harga beli terakhir / HNA.</li>
	<li>Margin pada modul margin setup</li>
</ol>

<p>Pada margin setup, anda dapat melakukan pembedaan margin berdasarkan:</p>

<ul>
	<li>Tipe pelanggan</li>
	<li>Pelanggan individual (bisa diisi sekaligus beberapa pelanggan misalnya: A001,A002,A003 maka margin berlaku untuk 3 pelanggan dengan kode tsb)</li>
	<li>Kategori barang (bisa melakukan setting margin yang berlaku untuk seluruh kategori terkait)</li>
	<li>Golongan (bisa melakukan setting margin berdasarkan golongan obat)</li>
	<li>Jenis transaksi (margin bisa dibedakan antara transaksi pada POS / Resep / Racikan</li>
	<li>Item Data (bisa di set per item, misalkan item 10001, 10002, 10003 margin hanya berlaku terhadap 3 item ini)</li>
	<li>Lokasi (untuk multiple outlet maka kombinasi margin bisa berlaku dalam 1 outlet atau lebih atau semua outlet)</li>
	<li>dan kombinasi diatas&nbsp;</li>
</ul>

<p>Kombinasi margin akan berlaku berdasarkan prioritas (angka makin besar makin tinggi prioritas berlaku)</p>

<p><strong>Studi Kasus :</strong>&nbsp;</p>

<ol>
	<li>Margin untuk OTC,NON&nbsp;sebesar 10% untuk lokasi A</li>
	<li>Margin ethical sebesar 20% untuk lokasi A</li>
	<li>Margin OTC,NON&nbsp;12% lokasi B &amp; C</li>
	<li>Margin OKT,PSI,NKT 25% di lokasi B &amp; C</li>
</ol>
