<h1>Penerimaan Barang (PR)</h1>

<p>Modul Penerimaan Barang (Purchase Receipt) dipergunakan untuk menginput barang yang dikirimkan supplier ke dalam sistem.</p>

<p>Alikasi RetailSoft Platinum&reg; menyediakan mekanisme kontrol&nbsp;yang dapat dipergunakan oleh manajemen dalam menjalankan fungsi pengawasan selama proses pembuatan PR yaitu :</p>

<h2>Down Payment:</h2>

<p>Anda dapat mencatatkan down payment (DP) pada saat pembuatan Purchase Order, dimana sistem secara otomatis akan membuat Debit Note untuk mencatat DP tersebut. Down Payment akan dibahas secara khusus pada bab ini.</p>

<h2>Confirm PO:</h2>

<p>Tombol ini dipergunakan oleh User yang berhak untuk memberikan persetujuan terhadap pembuatan PO, PO yang belum di-confirm dianggap belum selesai dan masih dapat dirubah.</p>

<h2>Perhatian :</h2>

<p>Aplikasi RetailSoft Platinum&reg; hingga versi 1, hanya mendukung pembuatan PO untuk satu lokasi tertentu saja / tidak mendukung cross docking / PO Matrix. Untuk setiap pembuatan PO, Anda harus mendefinisikan terlebih dahulu master barang / master artikel. Alikasi RetailSoft Platinum&reg; hingga versi 1, tidak mendukung Automatic Item Generator.</p>

<h2>Studi Kasus :</h2>

<p>Vendor Price List Pembelian Barang Import (multi currency) Pengaturan user-role pada bagian pembelian</p>
