#txtINIT()
$data.setLayoutTemplate("/Empty.vm")
#set($title = $!l10n.sales_invoice)
#set($sExternal = $!l10n.customer)
#set($sExtName = $!trans.CustomerName)

<html>
<head>
<title>Retailsoft - $!title [$!oLOC.LocationName]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body {font-family: Arial, Helvetica, sans-serif; font-size: 12px}
table {border-collapse: collapse;}
thead,th,tbody,tr,td {border:inherit;}
tr{height:24px;}
td {font-family: Arial, Helvetica; font-size: 12px}
.largeHeader {font-family: Arial; font-size: 16px}
.printHeader {font-family: Arial; font-size: 12px}
P.pagebreakhere {page-break-before: always}
</style>
<script src="${data.ContextPath}/javascript/print.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" topMargin="2" leftMargin="2" Onload="javascript:printpage();">
<table width="100%" cellpadding="0" cellspacing="0" style="height:72px;">
  <tr>               
    #if($sutil.isNotEmpty($!oCompany.PosLogo))
    <td rowspan="4" valign="center"><b><img src="$!oCompany.PosLogo" /> </b></td>    
    #end  
    <td class="largeHeader"><b>$!oCompany.CompanyName </b></td>
    <td class="largeHeader" rowspan="4" valign="center" align="right"><b>$!title [$!oLOC.LocationName]</td>
  </tr>
  <tr>
    <td class="printHeader">$!oCompany.Address   <br>
      $!oCompany.Phone1 <br>
      Web:$!oCompany.Website #spc(2) Email:$!oCompany.Email 
    </td>
  </tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="18%">$!l10n.invoice_no :</td>
    <td width="20%">$!trans.InvoiceNo</td>    
    <td width="16%">$!l10n.print_date :</td>
    <td width="20%">$!cformat.formatDateTime($!dutil.TodayDate)</td>    
    #if(!$!currency.getCurrencyByID($!trans.CurrencyId).IsDefault))
    <td>$!l10n.curr / $!l10n.rate :</td>
    <td>$!currency.getCurrencyByID($!trans.CurrencyId).CurrencyCode / $!cformat.formatNumber($!trans.CurrencyRate)</td>        
    #end
  </tr>
  <tr>
    <td>$!l10n.trans_date :</td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.due_date :</td>
    <td>$!cformat.formatDate($!trans.DueDate)</td>    
  </tr>  
  <tr>
    <td>$!l10n.customer :</td>
    <td>$!trans.CustomerName</td>    
    <td>$!l10n.salesman :</td>
    <td>$!employee.getEmployeeNameByID($!trans.SalesId)</td>    
    <td>&nbsp;</td>
    <td>&nbsp;</td>        
  </tr>  
  <tr>
    <td>$!l10n.payment_type :</td>
    <td>$!oPTP.PaymentTypeCode / $!oPTM.PaymentTermCode</td>    
    <td>$!l10n.create_by :</td>
    <td>$!trans.CashierName</td>    
    <td>&nbsp;</td>
    <td>&nbsp;</td>        
  </tr>
  #if($sutil.isNotEmpty($oCUST.Address))
  <tr>
    <td valign="top">$!l10n.address :</td>         
    <td valign="top" colspan="3">$!oCUST.Address</td>      
  </tr>
  #end  
  ##<tr>
  ##  <td colspan="6">$!l10n.description :</td>
  ##</tr>
  <tr style="height:48px;">
    #if($sutil.isNotEmpty($!trans.Remark))
    <td colspan="2">$!trans.Remark</td>
    #end
    #if($sutil.isNotEmpty($!trans.ShipTo))
    <td colspan="3">$!trans.ShipTo</td>    
    #end
  </tr>
</table>

<table border="1" width="100%" cellpadding="0" cellspacing="0">
<tr>
  <td align="center" rowspan="4">SKU</td>
  <td align="center" rowspan="4">Name</td>
  <td align="center" rowspan="4">Color</td>  
  <td align="center" colspan="7">Size</td>  
  <td align="center" rowspan="4">Price</td>  
  <td align="center" rowspan="4">Disc</td>    
  <td align="center" rowspan="4">SubTotal</td>    
</tr>  
<tr>   
  #foreach($no in ["ALL","8","10","12","14","&nbsp;"])                  
  <td align="center" #width(24)>$no</td>
  #end
  <td align="center" #width(28) rowspan="3">Total</td>
</tr>
<tr>   
  #foreach($no in ["XS","S","M","L","XL","XXL"])                  
  <td  align="center" #width(24)>$no</td>
  #end
</tr>
<tr>   
  #foreach($no in ["28","30","32","34","36","38"])                  
  <td  align="center" #width(24)>$no</td>
  #end
</tr>
#set($col1 = ["ALL","XS" ,"28"])
#set($col2 = ["8"  ,"S"  ,"30"])
#set($col3 = ["10" ,"M"  ,"32"])
#set($col4 = ["12" ,"L"  ,"34"])
#set($col5 = ["14" ,"XL" ,"36"])
#set($col6 = [      "XXL","38"])
#set($cols = [$col1,$col2,$col3,$col4,$col5,$col6])

#set($sql = "SELECT i.kategori_id AS ktid, k.description AS ktds, k.internal_code AS ktic,")
#set($sql = "$sql i.item_id AS itid, i.item_sku AS itsk, i.item_code AS itcd, i.manufacturer AS itmn, ")
#set($sql = "$sql i.vendor_item_name AS itvn, i.color AS itcl, i.size AS itsz, d.qty AS tdqt, ")
#set($sql = "$sql d.item_price AS tdpr, d.discount AS tdds, d.sub_total AS tdsb ")
#set($sql = "$sql FROM sales_transaction_detail d ")
#set($sql = "$sql left outer join item i on (d.item_id = i.item_id) ")
#set($sql = "$sql left outer join kategori k on (i.kategori_id = k.kategori_id) ")
#set($sql = "$sql WHERE sales_transaction_id = '$!trans.SalesTransactionId' ")
#set($sql = "$sql ORDER BY k.internal_code, i.item_sku, i.color, i.item_code  ")

#set($rec = $sqlutil.executeQuery($sql))       
#set($dkat = $sqlutil.getDistinctInRecord($rec, "ktid"))
#foreach($skat in $dkat)       
#set($bkat = $sqlutil.filterRecord($rec, "ktid", $skat.asString()))
#if($bkat.size() > 0) #set($bkat1 = $bkat.get(0)) #end
<tr style="background:#eee"> 
  <td colspan="13"><b>$!bkat1.getValue("itmn") $bkat1.getValue("ktic") - $bkat1.getValue("ktds") </td>
</tr>
#set($dsku = $sqlutil.getDistinctInRecord($bkat, "itsk"))
#foreach($ssku in $dsku)
#set($bsku = $sqlutil.filterRecord($bkat, "itsk", $ssku.asString()))
#set($dclr = $sqlutil.getDistinctInRecord($bsku, "itcl"))

#foreach($sclr in $dclr)
#set($bclr = $sqlutil.filterRecord($bsku, "itcl", $sclr.asString()))
#if($bclr.size() > 0) #set($bclr1 = $bclr.get(0)) #end

<tr>
  <td>$bclr1.getValue("itsk").asString() </td>
  <td>$bclr1.getValue("itvn").asString() </td>  
  <td>$bclr1.getValue("itcl")</td>
  #foreach($col in $cols)
  <td align="center">
    #foreach($td in $bclr)
      #if($col.contains($td.getValue("itsz").asString()))
        $!cf.fmt($td.getValue("tdqt").asDouble())
      #end      
    #end
  </td>  
  #end              
  #set($tlqty = $sqlutil.sumRecord($bclr,"tdqt","",""))
  <td align="center" style="background:#eee"><b>$!cf.fmt($tlqty)</td>
  <td align="right" >$!cf.fmtAlg($bclr1.getValue("tdpr").asDouble())</td>
  <td align="center">$!bclr1.getValue("tdds").asString()</td>
  <td align="right">$!cf.fmtAlg($bclr1.getValue("tdsb").asDouble())</td>  
</tr>
#end ##end foreach dclr
#end ##end foreach dsku
#end ##end foreach dkat
<tr style="background:#eee">
  <td colspan="9"><b>Total </td> 
  <td colspan="1" align="center"><b>$!cf.fmt($trans.TotalQty)</td>    
  <td colspan="3" align="right"><b>$!cf.fmtAlg($trans.TotalAmount)</td>    
</tr>  
</table>
<br><br>

#parse("/print/footers/FooterHTML.vm")
</body>
</html>
