#set($printable = $data.Parameters.getBoolean("printable"))
#set($iMode = $data.Parameters.getInt("Mode", 2))
#set($src = "")
#set($sID = "")
#set($siteid = $data.Parameters.getString("SiteId"))

#set($sSPC = "&nbsp;&nbsp;&nbsp;&nbsp;")

#if($iMode == 1)
  $data.setLayoutTemplate("/PopupWindow.vm")
#elseif ($iMode == 3 || $printable)
  $data.setLayoutTemplate("/Printable.vm")
#end


#set($sStart = $!data.Parameters.getString("StartDate", "")) 
#set($sEnd = $!data.Parameters.getString("EndDate", "")) 
#set($sID = $!data.Parameters.getString("id", "")) 

#if($sutil.isEmpty($sStart))
  #set($sStart = $!cformat.formatDate($!dutil.getStartOfMonthDate($!dutil.getTodayDate())))
#end
#if($sutil.isEmpty($sEnd))
  #set($sEnd = $!cformat.formatDate($!dutil.getTodayDate()))
#end

#set($dStart  = $dutil.getStartOfDayDate($cparser.parseDate($sStart)))
#set($dEnd    = $dutil.getEndOfDayDate($cparser.parseDate($sEnd)))
#set($dEnd    = $dutil.getStartOfDayDate($cparser.parseDate($sEnd)))
#set($dEnd    = $dutil.addDays($dEnd, 1))
#set($siteid  = $data.Parameters.getString("SiteId",""))
#set($bParent = $data.Parameters.getBoolean("DisplayParent"))
#set($bChild  = $data.Parameters.getBoolean("DisplayChild"))
#set($bZero   = $data.Parameters.getBoolean("DisplayZero"))

#set($oSite = $site.getSiteByID($siteid))
#set($title = "Profit & Loss [$!l10n.site: $!oSite.Description]" )

#set($pageParam = "&StartDate=$!{sStart}&EndDate=$!{sEnd}&src=$!{src}&SiteId=$!{siteid}&DisplayParent=$!{bParent}")
#set($pageParam = "${pageParam}&DisplayChild=$!{bChild}&DisplayZero=$!{bZero}")

#if(!$printable)
<script>
function viewHistory (sAccountID) 
{
    var sURL = '${link.setPage("report,gl,AccountHistoryReport.vm")}?AccountId=' + sAccountID + 
               '&$!{pageParam}&GroupBy=2&mode=popup';  
    var wndHist=window.open(sURL, 'wndHist', 
        'toolbar=yes,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndHist.focus();
}
function change(fld)
{
    document.frm.id.value = eval('document.frm.' + fld + '.value');
    document.frm.submit();
}
</script>
#end
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="id" value="$!sID"/>
<input type="hidden" name="src" value="$!src"/>

#parse("screens/report/financial/FinancialReportHeader.vm")
<table class="fixTable"> 
  <tr>
    <td #if($printable) colspan="3" #end >
      <span class="txtTitle2"><b>$title 
        #if($sutil.isNotEmpty($sSubTitle))			      
        &nbsp;&nbsp; $sSubTitle
  	  #end
        
        #if($sutil.isNotEmpty($sStart))			      
        &nbsp;&nbsp; ($sStart - $sEnd)
  	  #end</b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
##<!-- SEARCH -->
<table class="searchTable">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>            
      <input type="hidden" name="mode" value="$iMode">
      <input type="hidden" name="src" value="$src">
      <input type="text" size="15" name="StartDate" value="$!sStart">
	    #calf("frm" "StartDate" true)
	    #spc(2)
    </td>
    <td colspan="3">
      <input type="checkbox" name="DisplayParent" class="cb" #if($bParent) CHECKED #end>
      Display Parent 
      #spc(2)
      <input type="checkbox" name="DisplayChild" class="cb" #if($bChild) CHECKED #end>
      Display Child
      #spc(2)
      <input type="checkbox" name="DisplayZero" class="cb" #if($bZero) CHECKED #end>
      $!l10n.include_zero 
      #spc(2)
    </td>  
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
    <td>            
      <input type="hidden" name="mode" value="$iMode">
      <input type="text" size="15" name="EndDate" value="$!sEnd">
	    #calf("frm" "EndDate" true)
	    #spc(2)
    </td>
    <td>$!l10n.site : </td>
    <td>
      <select name="SiteId" #width(200)>
        <option value="">-- $!l10n.site --</option>
        #foreach($oSite in $site.getAllSite())
        <option value="$!oSite.SiteId" #if($siteid == $oSite.SiteId) SELECTED #end >$!oSite.Description</option>
        #end
      </select>
    </td>          
    <td><input type="Submit" value="$!l10n.view_report"></td>
  </tr>
</table>
</form>
#end ##if(!$printable)

#parse("screens/report/financial/ProfitAndLossCommon.vm")

