#set($printable = $data.Parameters.getBoolean("printable"))
#set($iMode    = $data.Parameters.getInt("Mode", 2))
#set($sSPC = "&nbsp;&nbsp;&nbsp;&nbsp;")

#if($iMode == 1)
    $data.setLayoutTemplate("/PopupWindow.vm")
#elseif ($iMode == 3 || $printable)
    $data.setLayoutTemplate("/Printable.vm")
#end

#set($title = "$!l10n.profit_loss")

#set($sStart = $!data.Parameters.getString("StartDate", "")) 
#set($sEnd   = $!data.Parameters.getString("EndDate", "")) 

#if($sutil.isEmpty($sStart))
  #set($sStart = $!cformat.formatDate($!dutil.getStartOfMonthDate($!dutil.getTodayDate())))
#end
#if($sutil.isEmpty($sEnd))
  #set($sEnd = $!cformat.formatDate($!dutil.getTodayDate()))
#end

#set($dStart = $dutil.getStartOfDayDate($cparser.parseDate($sStart)))
#set($dEnd   = $dutil.getEndOfDayDate($cparser.parseDate($sEnd)))
#set($dEnd   = $dutil.getStartOfDayDate($cparser.parseDate($sEnd)))
#set($dEnd   = $dutil.addDays($dEnd, 1))

#set($bParent = $data.Parameters.getBoolean("DisplayParent"))
#set($bChild  = $data.Parameters.getBoolean("DisplayChild"))
#set($bZero   = $data.Parameters.getBoolean("DisplayZero"))
#set($bLast   = $data.Parameters.getBoolean("DisplayLast"))
#set($bCode   = $data.Parameters.getBoolean("DisplayCode"))

#set($pageParam = "&StartDate=$sStart&EndDate=$sEnd&DisplayParent=$bParent")
#set($pageParam = "${pageParam}&DisplayChild=$bChild&DisplayZero=$bZero&DisplayCode=$bCode")

<script>
function viewHistory (sAccountID) 
{
    var sURL = '${link.setPage("report,gl,AccountHistoryReport.vm")}?AccountId=' + sAccountID + 
               '&$!{pageParam}&GroupBy=2&mode=popup';  
    var wndHist=window.open(sURL, 'wndHist', 
        'toolbar=yes,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndHist.focus();
}
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
#parse("screens/report/financial/FinancialReportHeader.vm")
<table width="100%" cellspacing="0" cellpadding="2"> 
  <tr>
    <td #if($printable) colspan="3" #end >
      <span class="txtTitle2"><b>$title ($!sStart - $!sEnd)</b></span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table class="searchTable">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>            
      <input type="hidden" name="mode" value="$iMode">
      <input type="text" size="15" name="StartDate" value="$!sStart">
      #calf("frm" "StartDate" true)
      #spc(2)
    </td>
    <td colspan="3">
      
      <input type="checkbox" name="DisplayParent" class="cb" #if($bParent) CHECKED #end >
      Display Parent 
      #spc(2)
      <input type="checkbox" name="DisplayChild" class="cb" #if($bChild) CHECKED #end >
      Display Child
      #spc(2)
    </td>  
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
    <td>            
      <input type="hidden" name="mode" value="$iMode">
      <input type="text" size="15" name="EndDate" value="$!sEnd">
      #calf("frm" "EndDate" true)
      #spc(2)
    </td>
    <td>
      <input type="checkbox" name="DisplayCode" class="cb" #if($bCode) CHECKED #end >
      Display Code
      #spc(3)
      <input type="checkbox" name="DisplayZero" class="cb" #if($bZero) CHECKED #end >
      $!l10n.include_zero 
      #spc(2)    
      <input type="Submit" value="$!l10n.view_report"></td>
  </tr>
</table>
<!-- END SEARCH SECTION -->
#end ##if(!$printable)      
#parse("screens/report/financial/ProfitAndLossCommon.vm")
      
</form>