#set($oCompany = $preference.getCompany())
<fo:block line-height="10pt" font-size="10pt" font-weight="bold" text-align="start">
##images use sample
##<fo:external-graphic width="50pt" height="50pt" content-width="50pt" content-height="50pt" text-align="center" src="E:/Project/POS/images/logo_java.gif"/>
<![CDATA[$!oCompany.CompanyName]]>
</fo:block>
#if($sutil.isNotEmpty($sExternal))
<fo:block line-height="10pt" font-size="8pt" text-align="start">
#if($sutil.isNotEmpty($oLOC.LocationAddress))
<![CDATA[$!oLOC.LocationAddress]]>
#else
<![CDATA[$!oCompany.Address, $!oCompany.City]]>
#end
</fo:block>
#end
#if($sutil.isEmpty($oLOC.LocationAddress))
<fo:block line-height="10pt" font-size="8pt" text-align="start">
<![CDATA[ $!l10n.phone : $!oCompany.Phone1#if($!oCompany.Phone2 != ""),$!oCompany.Phone2 #end #if($!oCompany.Fax != "")$!l10n.fax : $!oCompany.Fax #end ]]>
</fo:block>
#end
<fo:block space-before.optimum="3pt" space-after.optimum="3pt">
</fo:block>