#set($imgDir = "$!data.ContextPath/images/menu")
#set($isStore = false)
#set($isHO = false)
#if($preference.isStore())#set($isStore = true)#end
#if($preference.isHO())#set($isHO = true)#end
#set($isSYNC = $preference.syncInstalled())
#set($isFA = $preference.faInstalled())
#set($isQT = $preference.qtInstalled())
#set($isPL = $preference.plInstalled())
#set($isJC = $preference.jcInstalled())
#set($isLND = $preference.lndInstalled())
#set($isPRW = $preference.prwInstalled())
#set($isDIST = $preference.distInstalled())
#set($isWST = $preference.wstInstalled())

#set($isCONS = $preference.consignmentInstalled())
#set($isCREPORT = $preference.customReportInstalled())
#set($isINTRF = $preference.internalTransferInstalled())
#set($isAUTO = $preference.autoInstalled())
#set($isMEDICAL = $preference.medicalInstalled())
#set($isPRJ = $preference.contractorInstalled())
#set($isAGENCY = $preference.agencyInstalled())
#set($isSERVICE = $preference.serviceInstalled())
#set($isDIGIPRN = $preference.digiprintInstalled())
#set($aclRole = $data.ACL.Roles)
#set($aclPerm = $data.ACL.Permissions)
#set($rptMap = $preference.getUserPreference($data).ReportMap)

#if($isStore || $aclRole.containsName("Cashier"))
  ## mn.makeMenu('top01','', '', '#','','27','32', '$imgDir/menu_04.gif');
  ## mn.makeMenu('top0' ,'', '', '$link.setPage("StoreMenu.vm")','','70','32', '$imgDir/menu_05.gif');
  ## mn.makeMenu('top02','', '', '#','','24','32', '$imgDir/menu_06.gif');
  ## #if($isStore && !$aclRole.containsName("Cashier"))
  ## mn.makeMenu('sub02', 'top0','License Manager', '$link.setPage("company,LicenseManager.vm")','','120','');
  ## mn.makeMenu('sub08', 'top0','Load Store Data', '$link.setPage("company,LoadRemoteStoreData.vm")','','120','');
  ## #end
  ## mn.makeMenu('sub09', 'top0','Log Out', '$link.setAction("Logout")' ,'','120','');
  ##
  ## mn.makeMenu('top21','', '', '#','','27','32', '$imgDir/menu_10.gif');
  ## mn.makeMenu('top2' ,'', '', '$link.setPage("StoreMenu.vm")','','97','32', '$imgDir/menu_11.gif');
  ## mn.makeMenu('top22','', '', '#','','23','32', '$imgDir/menu_12.gif');
  ##
  ## #if($isStore)
  ## mn.makeMenu('top31','', '', '#','','26','32', '$imgDir/menu_13.gif');
  ## mn.makeMenu('top3' ,'', '', '$link.setPage("periodic,LoadHOData.vm")','','70','32', '$imgDir/menu_14.gif');
  ## mn.makeMenu('top32','', '', '#','','24','32', '$imgDir/menu_15.gif');
  ## mn.makeMenu('sub32', 'top3',  '$!l10n.store',             '$link.setPage("periodic,LoadHOData.vm")'         ,'','130','');
  ## mn.makeMenu('sub321','sub32', '$!l10n.load_ho2store',     '$link.setPage("periodic,LoadHOData.vm")'         ,'','170','');
  ## mn.makeMenu('sub322','sub32', '$!l10n.generate_store2ho', '$link.setPage("periodic,GenerateSyncData.vm")'   ,'','170','');
  ## mn.makeMenu('sub323','sub32', '$!l10n.upload_store2ho',   '$link.setPage("periodic,UploadSyncDataToHO.vm")' ,'','170','');
  ##
  ## #if(!$preference.syncFullInventory())
  ## mn.makeMenu('sub324','sub32','Send Store Transfer', '$link.setPage("periodic,SendTransferInData.vm")','','170','');
  ## mn.makeMenu('sub325','sub32','Load Transfer IN',    '$link.setPage("periodic,LoadTransferInData.vm")','','170','');
  ## #end
  ## mn.makeMenu('sub33' ,'top3','$!l10n.backup_database',   '$link.setPage("periodic,DatabaseBackup.vm")','','130','');
  ## #end
  ##
  ## #if($aclPerm.containsName("View Operational Reports") && $preference.ShowReport)
  ## mn.makeMenu('top41','', '', '#','','27','32', '$imgDir/menu_16.gif');
  ## mn.makeMenu('top4' ,'', '', '$link.setPage("report,StoreReportMenu.vm")','','62','32', '$imgDir/menu_17.gif');
  ## mn.makeMenu('top42','', '', '#','','23','32', '$imgDir/menu_18.gif');
  ## #end
  ##
  ## mn.makeMenu('top51','', '', '#','', '27','32', '$imgDir/menu_19.gif');
  ## mn.makeMenu('top5'  ,'', '', '$link.setPage("help,About.vm")','','55','32' , '$imgDir/menu_20.gif');
  ## mn.makeMenu('sub50', 'top5','$!l10n.help','$link.setPage("help,Help.vm")'  ,'','130','');
  ## mn.makeMenu('sub51', 'top5','$!l10n.about','$link.setPage("help,About.vm")','','130','');
  ## mn.construct();

##HEAD OFFICE MENU
#elseif($isHO)
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#"><i class="fa fa-building"></i> $!l10n.company</a>
      <ul class="dropdown-menu">
        #if($aclPerm.containsName("Setup Master Data"))
        <li><a class="dropdown-item" href="$link.setPage("company,CompanyData.vm")"> $!l10n.company_data</a></li>
        <li><a class="dropdown-item" href="$link.setPage("company,LicenseManager.vm")">$!l10n.license_manager</a></li>
        <li><a class="dropdown-item" href="$link.setPage("company,Preferences.vm")">$!l10n.preferences</a></li>
        <li><a class="dropdown-item" href="$link.setPage("company,GLConfig.vm")">$!l10n.gl_configuration</a></li>
        <li class="dropdown-divider"></li>
        #if($isDIST)
        <li><a class="dropdown-item" href="$link.setPage("setup,TerritorySetup.vm")">$!l10n.territory</a></li>
        <li><a class="dropdown-item" href="$link.setPage("setup,SalesAreaSetup.vm")">$!l10n.sales_area</a></li>
        #end
        <li><a class="dropdown-item" href="$link.setPage("setup,SiteSetup.vm")">$!l10n.site_data</a></li>
        <li><a class="dropdown-item" href="$link.setPage("setup,LocationSetup.vm")">$!l10n.location_data</a></li>
        <li><a class="dropdown-item" href="$link.setPage("setup,EmployeeView.vm")">$!l10n.employee_data</a></li>
        #if($isSYNC)
        <li><a class="dropdown-item" href="$link.setPage("company,RemoteStoreSetup.vm")">$!l10n.create_store_data</a></li>
        #end
        #end
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="$link.setAction("Logout")">Log Out</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown"><a class="nav-link" href="#"><i class="fa fa-gear"></i> Setup</a>
      <ul class="dropdown-menu">
        #if($aclPerm.containsName("GL Setup"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("setup,AccountSetup.vm")"> $!l10n.gl_setup</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,PeriodSetup.vm")">$!l10n.period_setup</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,MultiCurrency.vm")">$!l10n.currency_setup</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,AccountSetup.vm")">$!l10n.chart_of_account</a></li>
            #if($preference.MultiDept)
            <li><a class="dropdown-item" href="$!link.setPage("setup,DepartmentSetup.vm")">$!l10n.department_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ProjectSetup.vm")">$!l10n.project_data</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("Setup POS Data"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.pos_setup</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,PeriodSetup.vm")">$!l10n.unit_setup</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CurrencySetup.vm")">$!l10n.tax_setup</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ShiftSetup.vm")">$!l10n.shift</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,PaymentTypeSetup.vm")">$!l10n.payment_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,PaymentTermSetup.vm")">$!l10n.payment_term</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,AdjustmentTypeSetup.vm")">$!l10n.adjustment_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,InvoiceMessageSetup.vm")">$!l10n.invoice_message</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ReturnReasonSetup.vm")">$!l10n.return_reason</a></li>
            #if($isPRW)
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,PointRewardSetup.vm")">$!l10n.point_reward</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("View Bank Setup"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.bank_data</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,BankSetup.vm")">$!l10n.bank_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CashFlowTypeSetup.vm")">$!l10n.cash_flow_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,PettyCashTypeSetup.vm")">$!l10n.petty_cash_type</a></li>
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("View Vendor Data"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.vendor_data</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,VendorTypeForm.vm")">$!l10n.vendor_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VendorForm.vm")">$!l10n.vendor_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VendorView.vm")">$!l10n.view_vendor</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CourierSetup.vm")">$!l10n.courier_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,FOBSetup.vm")">$!l10n.fob_data</a></li>
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("View Customer Data"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.customer_data</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,CustomerTypeSetup.vm")">$!l10n.customer_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CustomerForm.vm")">$!l10n.customer_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CustomerView.vm")">$!l10n.view_customer</a></li>
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("View Item Data"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.item_data</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,KategoriSetup.vm")">$!l10n.category_data</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ItemView.vm")">$!l10n.item_view</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ItemSetup.vm")">$!l10n.item_setup</a></li>
            <li class="dropdown-divider"></li>
            #if($aclPerm.containsName("Update Item Data") && $aclPerm.containsName("View Item Cost"))
            <li><a class="dropdown-item" href="$!link.setPage("setup,ItemPriceUpdate.vm")">$!l10n.price_calc</a></li>
            #end
            <li><a class="dropdown-item" href="$!link.setPage("setup,ItemInventorySetup.vm")">$!l10n.item_inv</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,ItemFieldSetupForm.vm")">$!l10n.custom_field</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,BarcodePaperSetup.vm")">$!l10n.paper_setting</a></li>
            #if($isPL)
            <li><a class="dropdown-item" href="$!link.setPage("setup,PackingSetup.vm")">$!l10n.packing_setup</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("View Fixed Asset Setup") && $isFA)
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.fixed_asset_setup</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,FixedAssetFiscalSetup.vm")">$!l10n.fixed_asset_fiscal</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,FixedAssetTypeSetup.vm")">$!l10n.fixed_asset_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,FixedAssetKategoriSetup.vm")">$!l10n.category</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,FixedAssetCustomField.vm")">$!l10n.custom_field</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,FixedAssetSvcTypeForm.vm")">$!l10n.svc_type</a></li>
          </ul>
        </li>
        #end
        #if($isMEDICAL)
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"> $!l10n.medical</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("Setup POS Data"))
            <li><a class="dropdown-item" href="$!link.setPage("setup,MedConfigForm.vm")">$!l10n.med_config</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,PowderItemForm.vm")">$!l10n.powder_pack_item</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CustomerMarginForm.vm")">$!l10n.customer_margin</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Doctor Data"))
            <li><a class="dropdown-item" href="$!link.setPage("setup,MDView.vm")">$!l10n.doctor_data</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Medical Record") && $aclPerm.containsName("Setup POS Data"))
              #set($medcfg = $butil.getInstance("com.ssti.enterprise.medical.tools.MedConfigTool"))
              #if($medcfg.Types.size() > 0)
                #foreach($tp in $medcfg.Types)
                  #if($medcfg.hasAccess($tp.Txtype,1,$data))
                  <li><a class="dropdown-item" href="$!link.setPage("setup,MedRecordCFieldForm.vm")?type=$!tp.Txtype">$!tp.Txdesc Fields</a></li>
                  #end
                #end
              #else
                <li><a class="dropdown-item" href="$!link.setPage("setup,MedRecordCFieldForm.vm")?type=1">$!l10n.medical_record Fields</a></li>
              #end
            #end ##end if medconfig
          </ul>
        </li>
        #end ##end if MEDICAL
        #if($isAUTO)
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("setup,AUTOSetup.vm")">DMS Setup</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="$!link.setPage("setup,AutoConfigForm.vm")">$!l10n.auto_config</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VehicleTypeView.vm")">$!l10n.vehicle_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VehicleView.vm")">$!l10n.vehicle</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VehicleSalesStatus.vm")">$!l10n.vhc_sales_status</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,VehicleProblemView.vm")">$!l10n.vhc_problems</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,WorkOrderTypeSetup.vm")">$!l10n.wo_type</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,TechActivitySetup.vm")">$!l10n.activity</a></li>
          </ul>
        </li>
        #end
      </ul>
    </li>
    <li class="nav-item dropdown"><a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> $!l10n.transaction</a>
      <ul class="dropdown-menu">
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">$!l10n.promotion</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Discount Setup"))
            <li><a class="dropdown-item" href="$!link.setPage("setup,DiscountSetup.vm")">$!l10n.discount_mgmt</a></li>
            #end
            #if($aclPerm.containsName("View Customer Price List"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,CreatePriceList.vm")">$!l10n.customer_pl</a></li>
            #end
            #if($aclPerm.containsName("View Vendor Price List"))
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("setup,CreateVendorPriceList.vm")">$!l10n.vendor_pl</a></li>
            #end
          </ul>
        </li>
        #if($aclPerm.containsName("Purchase Transaction"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,TransactionMenu.vm")?id=purchase">$!l10n.purchase</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Purchase Request"))
            <li><a class="dropdown-item" href="$!link.setPage("trans,ProcRequestTrans.vm")">$!l10n.purchase_request</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("trans,ProcRequestView.vm")">$!l10n.view $!l10n.purchase_request</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Purchase Order"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseOrderTransaction.vm")">$!l10n.purchase_order</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseOrderView.vm")">$!l10n.view $!l10n.purchase_order</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Purchase Receipt"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseReceiptTransaction.vm")">$!l10n.purchase_receipt</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseReceiptView.vm")">$!l10n.view $!l10n.purchase_receipt</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Purchase Invoice"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseInvoiceTransaction.vm")">$!l10n.purchase_invoice</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseInvoiceView.vm")">$!l10n.view $!l10n.purchase_invoice</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Purchase Return"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseReturnTransaction.vm")">$!l10n.purchase_return</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseReturnView.vm")">$!l10n.view $!l10n.purchase_return</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("Sales Transaction"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,TransactionMenu.vm")?id=sales">$!l10n.sales</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Sales Order"))
            #if($isQT)
            <li><a class="dropdown-item" href="$!link.setPage("transaction,QuotationTrans.vm")">$!l10n.quotation</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,QuotationView.vm")">$!l10n.view $!l10n.quotation</a></li>
            <li class="dropdown-divider"></li>
            #end
            <li><a class="dropdown-item" href="$!link.setPage("transaction,SalesOrderTransaction.vm")">$!l10n.sales_order</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,SalesOrderView.vm")">$!l10n.view $!l10n.sales_order</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Delivery Order"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,DeliveryOrderTransaction.vm")">$!l10n.delivery_order</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,DeliveryOrderView.vm")">$!l10n.view $!l10n.delivery_order</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Sales Invoice"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,$!preference.getInvoiceScreen().vm")">$!l10n.sales_invoice</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,SalesTransactionView.vm")">$!l10n.view $!l10n.sales_invoice</a></li>
            #end
            #if($aclPerm.containsName("View Sales Return"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,SalesReturnTransaction.vm")">$!l10n.sales_return</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,SalesReturnView.vm")">$!l10n.view $!l10n.sales_return</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($isPRW)
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,pointreward,PointRewardTransaction.vm")">$!l10n.point_reward</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,pointreward,PointRewardView.vm")">$!l10n.view $!l10n.point_reward</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("Inventory Transaction"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,TransactionMenu.vm")?id=inventory">$!l10n.inventory</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Item Request"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseRequestTransaction.vm")">$!l10n.item_request</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PurchaseRequestView.vm")">$!l10n.view $!l10n.item_request</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Item Transfer"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,ItemTransferTransaction.vm")">$!l10n.item_transfer</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,ItemTransferView.vm")">$!l10n.view $!l10n.item_transfer</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Item Transfer") && $isINTRF)
            ##<li><a class="dropdown-item" href="$!link.setPage("transaction,intransfer,InternalTransferTrans.vm")">$!l10n.internal_transfer</a></li>
            #end
            #if($aclPerm.containsName("View Issue Receipt"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,IssueReceiptTransaction.vm")">$!l10n.issue_receipt</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,IssueReceiptView.vm")">$!l10n.view $!l10n.issue_receipt</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($isJC && $aclPerm.containsName("View Job Costing"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,jobcost,JobCostingTransaction.vm")">$!l10n.job_costing</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,jobcost,JobCostingView.vm")">$!l10n.view $!l10n.job_costing</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($isPL)
            <li><a class="dropdown-item" href="$!link.setPage("transaction,packing,PackListTrans.vm")">$!l10n.packing_list</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,packing,PackDeliveryTrans.vm")">$!l10n.view $!l10n.packing_delivery</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($isLND)
            <li><a class="dropdown-item" href="$!link.setPage("transaction,lending,LendingTrans.vm")">Item Lending</a></li>
            #end
          </ul>
        </li>
        #end

        #if($aclPerm.containsName("Financial Transaction"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,TransactionMenu.vm")?id=financial">$!l10n.financial</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Credit Memo"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,CreditMemoTransaction.vm")">$!l10n.credit_memo</a></li>
            #end
            #if($aclPerm.containsName("View Debit Memo"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,DebitMemoTransaction.vm")">$!l10n.debit_memo</a></li>
            #end
            <li class="dropdown-divider"></li>
            #if($aclPerm.containsName("View Receivable Payment"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,ReceivablePayment.vm")">$!l10n.receivable_payment</a></li>
            #end
            #if($aclPerm.containsName("View Payable Payment"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PayablePayment.vm")">$!l10n.payable_payment</a></li>
            #end
            <li class="dropdown-divider"></li>
            #if($aclPerm.containsName("View Cash Management"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,CashManagement.vm")">$!l10n.cash_management</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,BankTransferTrans.vm")">$!l10n.bank_transfer</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,BankReconcileTrans.vm")">$!l10n.bank_reconcile</a></li>
            <li class="dropdown-divider"></li>
            #end
            #if($aclPerm.containsName("View Petty Cash"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,PettyCashTransaction.vm")">$!l10n.petty_cash</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("GL Transaction"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,JournalVoucherTransaction.vm")?id=financial">$!l10n.general_ledger</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Journal Voucher"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,JournalVoucherTransaction.vm")">$!l10n.journal_voucher</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,JournalVoucherView.vm")">$!l10n.view $!l10n.journal_voucher</a></li>
            #end
          </ul>
        </li>
        #end
        #if($aclPerm.containsName("Fixed Asset Transaction") && $isFA)
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("transaction,JournalVoucherTransaction.vm")?id=financial">$!l10n.general_ledger</a>
          <ul class="dropdown-menu">
            #if($aclPerm.containsName("View Fixed Asset Transaction"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,fixedasset,FixedAssetTransaction.vm")">$!l10n.fixed_asset</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,fixedasset,FixedAssetView.vm")">$!l10n.view $!l10n.fixed_asset</a></li>
            #end
          </ul>
        </li>
        #end
        #if($isMEDICAL)
        #set($medcfg = $butil.getInstance("com.ssti.enterprise.medical.tools.MedConfigTool"))
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!medcfg.Home")?id=financial">$!l10n.medical</a>
          <ul class="dropdown-menu">
            ## #if($preference.medicalType() == 2 || $preference.medicalType() == 3) ##CHECK IF CLINIC
            ## #end ##END IF CLINIC
            #if($aclPerm.containsName("View Customer Data"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,MedPatientView.vm")">$!l10n.patient_data</a></li>
            #end
            #if($aclPerm.containsName("View Patient Registration"))
            <li><a class="dropdown-item" href="$!link.setPage("transaction,MedAppointmentView.vm")">$!l10n.med_reservation</a></li>
            <li><a class="dropdown-item" href="$!link.setPage("transaction,MedRegistrationTrans.vm")">$!l10n.med_registration</a></li>
            #end
            #if($aclPerm.containsName("View Medical Record"))
              #if($medcfg.Types.size() > 0)
                #foreach($tp in $medcfg.Types)
                  #if($medcfg.hasAccess($tp.Txtype,1,$data) && $sutil.isNotEmpty($tp.ViewPage))
                  <li><a class="dropdown-item" href="$link.setPage("$!tp.ViewPage")?type=$!tp.Txtype">$!tp.Txdesc</a></li>
                  #end
                #end
              #else
              <li><a class="dropdown-item" href="$link.setPage("transaction,MedicalRecordTrans.vm")">$!l10n.medical_record</a></li>
              #end
            #end
            #if($aclPerm.containsName("View Lab Order"))
            <li><a class="dropdown-item" href="$link.setPage("transaction,MedLabOrderTrans.vm")">$!l10n.laboratory</a></li>
            #end
            #if($aclPerm.containsName("View Prescription"))
            <li><a class="dropdown-item" href="$link.setPage("transaction,PrescriptionTrans.vm")">$!l10n.prescription</a></li>
            #end
            #if($aclPerm.containsName("View Sales Invoice"))
            <li><a class="dropdown-item" href="$link.setPage("transaction,MedicalSalesTrans.vm")">Point Of Sales</a></li>
            #end
            #if($aclPerm.containsName("View Item Data"))
            <li><a class="dropdown-item" href="$link.setPage("transaction,MedPOSPriceChecker.vm")">$!l10n.price_checker</a></li>
            #end
          </ul>
        </li>
        #end
        #if($isAUTO)
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">DMS</a>
          <ul class="dropdown-menu">
          #if($aclPerm.containsName("View Sales Order"))
          <li><a class="dropdown-item" href="$link.setPage("transaction,VhcOrderTrans.vm")">$!l10n.vehicle_order</a></li>
          <li><a class="dropdown-item" href="$link.setPage("transaction,VhcOrderView.vm")">$!l10n.view $!l10n.vehicle_order</a></li>
          #end
          #if($aclPerm.containsName("View Work Order"))
          <li><a class="dropdown-item" href="$link.setPage("transaction,WorkOrderTransaction.vm")">$!l10n.work_order</a></li>
          <li><a class="dropdown-item" href="$link.setPage("transaction,WorkOrderView.vm")">$!l10n.view $!l10n.work_order</a></li>
          <li><a class="dropdown-item" href="$link.setPage("transaction,TechActivityView.vm")">$!l10n.tech_activity</a></li>
          #end
          </ul>
        </li>
        #end        
      </ul>
    </li>
    <li class="nav-item dropdown"><a class="nav-link " href="$link.setPage("report,ReportMenu.vm")"><i class="fa fa-bar-chart"></i> $!l10n.report</a>
      <ul class="dropdown-menu">
        #if($aclPerm.containsName("View Sales Reports"))
        #set($path = "report,sales,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}SalesReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.sales_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}SalesOrderReport.vm")">$!l10n.sales_order</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}DeliveryOrderReport.vm")">$!l10n.delivery_order</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}SalesReport.vm")">$!l10n.sales_invoice</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}SalesReturnReport.vm")">$!l10n.sales_return</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PointRewardHistory.vm")">$!l10n.point_reward</a></li>               
             #end ##end
          </ul>
        </li>
        #end ##end if view sales report
        #if($aclPerm.containsName("View Purchase Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,purchase,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}PurchaseReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.purchase_report</a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PurchaseOrderReport.vm")">$!l10n.purchase_order</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PurchaseReceiptReport.vm")">$!l10n.purchase_receipt</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PurchaseInvoiceReport.vm")">$!l10n.purchase_invoice</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PurchaseReturnReport.vm")">$!l10n.purchase_return</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view sales report
        #if($aclPerm.containsName("View Inventory Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,inventory,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}InventoryReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.inventory_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}StockCardReport.vm")">$!l10n.stock_card</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}StockCardLocation.vm")">$!l10n.stock_location</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}StockMovementSummaryReport.vm")">$!l10n.stock_movement</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}ItemTransferReport.vm")">$!l10n.item_transfer</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}IssueReceiptReport.vm")">$!l10n.issue_receipt</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view inventory report
        #if($aclPerm.containsName("View AR Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,receivable,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}ARReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.ar_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}ARSummary.vm")">AR ($!l10n.summary)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}ARTransactionHistory.vm")">AR ($!l10n.trans_history)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}OutstandingSI.vm")">$!l10n.open_invoice</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}CreditMemoReport.vm")">$!l10n.credit_memo</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}ReceivablePaymentReport.vm")">$!l10n.receivable_payment</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view AR report
        #if($aclPerm.containsName("View AP Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,payable,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}APReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.ap_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}APSummary.vm")">AP ($!l10n.summary)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}APTransactionHistory.vm")">AP ($!l10n.trans_history)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}OutstandingPI.vm")">$!l10n.open_invoice</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}DebitMemoReport.vm")">$!l10n.credit_memo</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PayablePaymentReport.vm")">$!l10n.receivable_payment</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view AP report
        #if($aclPerm.containsName("View Cash Bank Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,cashbank,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}CashBankReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.bank_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}BankSummary.vm")">$!l10n.bank ($!l10n.summary)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}BankBook.vm")">$!l10n.bank_report</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view Bank report
        #if($aclPerm.containsName("View Petty Cash"))
        #set($mRpts = "") ##reset
        #set($path = "report,pettycash,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}PettyCashReport.vm")">#spc(2) $!l10n.petty_cash </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PettyCashSummary.vm")">$!l10n.petty_cash ($!l10n.summary)</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}PettyCashReport.vm")">$!l10n.petty_cash_report</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view Petty cash report
        #if($aclPerm.containsName("View GL Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,gl,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}GLReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.gl_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}AccountChartList.vm")">$!l10n.chart_of_account</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}AccountHistoryReport.vm")">$!l10n.account_history</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}TrialBalanceReport.vm")">$!l10n.trial_balance</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view GL report
        #if($aclPerm.containsName("View Financial Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,financial,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}FinancialReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.financial_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #else ##else if
               <li><a class="dropdown-item" href="$link.setPage("$!{path}BalanceSheetLevel.vm")">$!l10n.balance_sheet</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}ProfitAndLossLevel.vm")">$!l10n.profit_loss</a></li>
               <li><a class="dropdown-item" href="$link.setPage("$!{path}CashFlow.vm")">$!l10n.cash_flow</a></li>
             #end ##end
          </ul>
        </li>
        #end ##end if view GL report
        #if($isMEDICAL)
        #set($mRpts = "") ##reset
        #set($path = "report,medical,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}MedicalReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.medical_report </a>
          <ul class="dropdown-menu">
             #set($mRpts = $rptMap.get($path))
             #if($mRpts.size() > 0)
               #foreach($rpt in $mRpts.keySet())
               <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
               #end
             #end ##end
          </ul>
        </li>
        #end ##end if view Medical report
        #if($aclPerm.containsName("View Other Reports"))
        #set($mRpts = "") ##reset
        #set($path = "report,custom,")
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="$link.setPage("$!{path}OthersReportMenu.vm")" title="$!l10n.view $!l10n.all"><i class="fa fa-search"></i> $!l10n.other_report </a>
          <ul class="dropdown-menu">
            #set($mRpts = $rptMap.get($path))
            #if($mRpts.size() > 0)
              #foreach($rpt in $mRpts.keySet())
              <li><a class="dropdown-item" href="$link.setPage("$!{path}$!{rpt}")">$!mRpts.get($rpt)</a></li>
              #end
            #end ##end
            #if($isCREPORT)
            <li><a class="dropdown-item" href="$link.setPage("$!{path}ReportBrowser.vm")">Report Browser</a></li>
            #end
          </ul>
        </li>
        #end ##end if view Other report            
      </ul>
    </li>
  </ul>
  ##RIGHT NAV
  <ul class="nav navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#" title="Help"><i class="fa fa-bell-o faicon"></i></a></li>
    ##<li class="nav-item"><a class="nav-link" href="$link.setPage("transaction,notif,NotifCenter.vm")" title="Help"><i class="fa fa-bell-o faicon"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="$link.setPage("help,Help.vm")" title="Help"><i class="fa fa-question-circle faicon"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="$link.setAction("Logout")" title="Logout"><i class="fa fa-sign-out faicon"></i></a></li>    
  </ul>

  ## #if($aclPerm.containsName("Setup POS Data") && $isCONS)
  ##   mn.makeMenu('sub16',  'top1',  '$!l10n.consignment',  '$link.setPage("setup,ConsignmentSetup.vm")'       ,'','125','');
  ##   mn.makeMenu('sub161', 'sub16', '$!l10n.from_vendor',  '$link.setPage("setup,VendorConsignmentSetup.vm")' ,'','140','');
  ##   mn.makeMenu('sub162', 'sub16', '$!l10n.to_customer',  '$link.setPage("setup,ConsignmentSetup.vm")'       ,'','140','');
  ##   mn.makeMenu('sub163', 'sub16', '$!l10n.by_discount',  '$link.setPage("setup,ConsignmentByDiscountSetup.vm")' ,'','140','');
  ## #end
  ## #if($isSERVICE)
  ##   #if($aclPerm.containsName("Setup POS Data"))
  ##   mn.makeMenu('sub18','top1',   '$!l10n.svc_setup   ', '$link.setPage("setup,MachineView.vm")'      ,'','125','');
  ##   mn.makeMenu('sub181','sub18', '$!l10n.machine     ', '$link.setPage("setup,MachineView.vm")'      ,'','125','');
  ##   mn.makeMenu('sub182','sub18', '$!l10n.custom_field', '$link.setPage("setup,MachineCFieldForm.vm")','','125','');
  ##   mn.makeMenu('sub183','sub18', '$!l10n.svc_type    ', '$link.setPage("setup,SvcTypeSetup.vm")'     ,'','125','');
  ##   mn.makeMenu('sub184','sub18', '$!l10n.svc_field   ', '$link.setPage("setup,SvcCFieldForm.vm")'    ,'','125','');
  ##   mn.makeMenu('sub185','sub18', '$!l10n.problems    ', '$link.setPage("setup,SvcProblemSetup.vm")'  ,'','125','');
  ##   #end
  ## #end
  ## #if($isPRJ)
  ##   mn.makeMenu('sub18','top1',   '$!l10n.get("project","contractor")', '$link.setPage("setup,ProjectConfigSetup.vm")' ,'','125','');
  ##   mn.makeMenu('sub181','sub18', '$!l10n.get("project","prj_config")', '$link.setPage("setup,ProjectConfigSetup.vm")' ,'','125','');
  ##   mn.makeMenu('sub182','sub18', '$!l10n.get("project","project_type")', '$link.setPage("setup,ProjectTypeSetup.vm")' ,'','125','');
  ##   mn.makeMenu('sub183','sub18', '$!l10n.get("project","prj_cost")', '$link.setPage("setup,LabourSetup.vm")' ,'','125','');
  ##   mn.makeMenu('sub184','sub18', '$!l10n.get("project","work_price")', '$link.setPage("setup,WorkPriceSetup.vm")' ,'','125','');
  ## #end
  ## #if ($isWST)
  ##   mn.makeMenu('sub18','top1',   'WebStore Setup', '$link.setPage("wsa,WSTConfigForm.vm")' ,'','125','');
  ##   mn.makeMenu('sub181','sub18', 'WS Config',  '$link.setPage("wsa,WSTConfigForm.vm")','','125','');
  ##   mn.makeMenu('sub182','sub18', 'WS Banners', '$link.setPage("wsa,WSTBannerForm.vm")','','125','');
  ##   mn.makeMenu('sub183','sub18', 'WS $!l10n.category','$link.setPage("wsa,WSTKategoriForm.vm")','','125','');
  ##   mn.makeMenu('sub184','sub18', 'WS $!l10n.item_data','$link.setPage("wsa,WSTItemView.vm")','','125','');
  ## #end
  ## #if ($isDIST)
  ##   mn.makeMenu('sub19','top1',   'SFA Setup', '$link.setPage("setup,SFAConfigForm.vm")' ,'','125','');
  ##   mn.makeMenu('sub191','sub19', '&nbsp;SFA Config',  '$link.setPage("setup,SFAConfigForm.vm")','','125','');
  ##   mn.makeMenu('sub192','sub19', '&nbsp;SFA Message', '$link.setPage("setup,SFAMessageForm.vm")','','125','');
  ##   mn.makeMenu('sub193','sub19', '&nbsp;SFA Question','$link.setPage("setup,SFAQuestionForm.vm")','','125','');
  ## #end

##  #if($isPRJ)
##    mn.makeMenu('sub27','top2','$!l10n.contractor', '#', '', '145', '')
##    #if($aclPerm.containsName("View Sales Invoice"))
##    mn.makeMenu('sub271','sub27','$!l10n.cnt_project', '$link.setPage("trans,ContractorProject.vm")','','145','');
##    #end
##    #if($aclPerm.containsName("View Issue Receipt"))
##    mn.makeMenu('sub272','sub27','$!l10n.material_usage', '$link.setPage("trans,PrjOverheadTrans.vm")?type=1','','145','');
##    #end
##    #if($aclPerm.containsName("View Journal Voucher"))
##    mn.makeMenu('sub273','sub27','$!l10n.prj_overhead', '$link.setPage("trans,PrjOverheadTrans.vm")?type=2','','145','');
##    #end
##    #if($aclPerm.containsName("View Cash Management"))
##    mn.makeMenu('sub274','sub27','$!l10n.expense_payment', '$link.setPage("trans,PrjOverheadTrans.vm")?type=3','','145','');
##    #end
##  #end
##  #if($isSERVICE)
##    mn.makeMenu('sub28','top2', 'Service', '#' ,'','145','');
##    #if($aclPerm.containsName("View Work Order"))
##    mn.makeMenu('sub282','sub28', '$!l10n.work_order', '$link.setPage("trans,SvcOrderTrans.vm")'      ,'','125','');
##    mn.makeMenu('sub283','sub28', '$!l10n.view $!l10n.work_order', '$link.setPage("trans,SvcOrderView.vm")'      ,'','125','');
##    #end
##  #end
##
##  #if($isDIST)
##    mn.makeMenu('sub27','top2', '&nbsp;SFA Trans', '#' ,'','145','')
##    #if($aclPerm.containsName("View Sales Order"))
##    mn.makeMenu('sub275','sub27', '&nbsp;SFA Journey', '$link.setPage("trans,SFAJourneyTrans.vm")','','125','');
##
##    ## mn.makeMenu('sub274','sub27', '&nbsp;SFA Route Plan','$link.setPage("trans,SFARoutePlanForm.vm")','','125','')
##    ## mn.makeMenu('sub275','sub27', '&nbsp;SFA Survey',  '$link.setPage("trans,SFASurveyForm.vm")','','125','')
##    ## mn.makeMenu('sub277','sub27', '&nbsp;SFA Customer Stock', '$link.setPage("trans,SFACustStockForm.vm")','','125','')
##    ## mn.makeMenu('sub278','sub27', '&nbsp;SFA Mobile Apps', '$link.setPage("trans,SFAAppsUpload.vm")','','125','')
##    #end
##  #end

##   mn.makeMenu('top31','', '', '#','','26','32', '$imgDir/menu_13.gif');
##   mn.makeMenu('top3' ,'', '', '$link.setPage("transaction,TransactionMenu.vm")','','70','32', '$imgDir/menu_14.gif');
##   mn.makeMenu('top32','', '', '#','','24','32', '$imgDir/menu_15.gif');
##   #if($aclPerm.containsName("View Periodic Transaction"))
##     #if($isSYNC)
##       #if($isMEDICAL)
##       mn.makeMenu('sub31','top3','$!l10n.head_office',         '$link.setPage("periodic,MedLoadStoreData.vm")','','130','');
##       mn.makeMenu('sub311','sub31','$!l10n.generate_ho2store', '$link.setPage("periodic,MedGenerateHOData.vm")','','130','');
##       mn.makeMenu('sub312','sub31','$!l10n.load_store2ho',     '$link.setPage("periodic,MedLoadStoreData.vm")','','130','');
##       mn.makeMenu('sub313','sub31','$!l10n.load_store2ho (FA)','$link.setPage("periodic,MedLoadStoreFAData.vm")','','130','');
##       mn.makeMenu('sub32','top3','Store',                      '$link.setPage("periodic,MedLoadHOData.vm")','','130','');
##       mn.makeMenu('sub321','sub32','$!l10n.load_ho2store',     '$link.setPage("periodic,MedLoadHOData.vm")','','130','');
##       mn.makeMenu('sub322','sub32','$!l10n.generate_store2ho', '$link.setPage("periodic,MedGenerateSyncData.vm")','','130','');
##       mn.makeMenu('sub323','sub32','$!l10n.upload_store2ho',   '$link.setPage("periodic,MedUploadSyncDataToHO.vm")','','130','');
##       #else
##       mn.makeMenu('sub31','top3','$!l10n.head_office',         '$link.setPage("periodic,LoadStoreData.vm")','','130','');
##       mn.makeMenu('sub311','sub31','$!l10n.load_store2ho',     '$link.setPage("periodic,LoadStoreData.vm")','','130','');
##       mn.makeMenu('sub312','sub31','$!l10n.generate_ho2store', '$link.setPage("periodic,GenerateHOSyncData.vm")','','130','');
##       #if(!$preference.syncFullInventory())
##       mn.makeMenu('sub313','sub31','Send Store Transfer', '$link.setPage("periodic,SendTransferInData.vm")','','130','');
##       #end
##       #end
##     #end
##     #if($aclRole.containsName("Administrator"))
##     mn.makeMenu('sub34','top3','$!l10n.backup_database', '$link.setPage("periodic,DatabaseBackup.vm")','','130','');
##     mn.makeMenu('sub35','top3','$!l10n.restore_database', '$link.setPage("periodic,DatabaseRestore.vm")','','130','');
##     #end
##     #if($aclPerm.containsName("GL Setup"))
##     mn.makeMenu('sub36','top3','$!l10n.close_year', '$link.setPage("periodic,EndYearClosing.vm")','','130','');
##     #end
##   #end
##

#else ## NEW INSTALLATION
  ## mn.makeMenu('top01','', '', '#','','27','32', '$imgDir/menu_04.gif');
  ## mn.makeMenu('top0' ,'', '', '$link.setPage("company,CompanyMenu.vm")','','70','32', '$imgDir/menu_05.gif');
  ## mn.makeMenu('top02','', '', '#','','24','32', '$imgDir/menu_06.gif');
  ##
  ## mn.makeMenu('sub01', 'top0','$!l10n.company_data',     '$link.setPage("company,CompanyData.vm")'          ,'','120','');
  ## mn.makeMenu('sub02', 'top0','$!l10n.license_manager',  '$link.setPage("company,LicenseManager.vm")'       ,'','120','');
  ## mn.makeMenu('sub03', 'top0','$!l10n.preferences',      '$link.setPage("company,Preferences.vm")'          ,'','120','');
  ## mn.makeMenu('sub04', 'top0','$!l10n.restore_database', '$link.setPage("periodic,DatabaseRestore.vm")'     ,'','120','');
  ## mn.makeMenu('sub08', 'top0','$!l10n.load_store_data',  '$link.setPage("company,LoadRemoteStoreData.vm")'  ,'','120','');
  ## mn.makeMenu('sub09', 'top0','Log Out',                 '$link.setAction("Logout")'                        ,'','120','');
  ##
  ## mn.makeMenu('top51','', '', '#','', '27','32', '$imgDir/menu_19.gif');
  ## mn.makeMenu('top5'  ,'', '', '$link.setPage("help,About.vm")','','55','32', '$imgDir/menu_20.gif');
  ## mn.makeMenu('sub50', 'top5','$!l10n.help',   '$link.setPage("help,Help.vm")'    ,'','130','');
  ## mn.makeMenu('sub51', 'top5','$!l10n.about',  '$link.setPage("help,About.vm")'   ,'','130','');
  ## mn.construct();
#end
