#******************************************************************************
# Macros contains general javascript for 3 screens (PO, PR, PI)
******************************************************************************# 
#**
 $transID 
 $transNo 
 $tplName 
 $tplView 
 $tplDateFrm 
 $tplItemLookup 
 $tplAction 
 $printHelper
*#
#macro(createPurchaseCommonJS $transID $transNo $tplName $tplView $tplDateFrm $tplItemLookup $tplAction $printHelper)
#isEditable($transNo)
#if($tplName == "PurchaseOrderTransaction")  
  #set($iType = 1) ##PO
  #set($sCodeLookup = "po")
  #set($sDate = $cformat.formatDate($po.TransactionDate))
  #set($sID = $po.PurchaseOrderId)   
  #set($oCurr = $currency.getCurrencyByID($po.CurrencyId))   
  #if($po.TransactionStatus == 4)
  #set($bEditable = true)   
  #set($trans = $po)
  #end
#end
#if($tplName == "PurchaseReceiptTransaction")  
  #set($iType = 2) ##PR 
  #set($sCodeLookup = "pr")
  #set($sDetCtx = "prDet")
  #set($sDate = $cformat.formatDate($pr.ReceiptDate))
  #set($sID = $pr.PurchaseReceiptId) 
  #set($trans = $pr)  
#end
#if($tplName == "PurchaseInvoiceTransaction") 
  #set($iType = 3) ##PI
  #set($sCodeLookup = "pi")
  #set($sDetCtx = "piDet")
  #set($sDate = $cformat.formatDate($pi.PurchaseInvoiceDate))
  #set($sID = $pi.PurchaseInvoiceId)     
  #set($oCurr = $currency.getCurrencyByID($pi.CurrencyId)) 
  #set($trans = $pi)  
#end
 
<script>
function initPage() 
{
    setPageFocus(); 
    setDate($tplDateFrm);
    #initShortcut()
}
function setPageFocus() 
{                      
    var f = document.frm;
    #if($sutil.isEmpty($transNo))  
    #if($sutil.isEmpty($trans.VendorId))
      if(f.VendorName) f.VendorName.focus(); 
    #else
     if(f.ItemCode) f.ItemCode.focus();   
    #end ##end 
    #end
}
function newTrans()
{
    if(confirm ('$!l10n.create_new_trans')) 
    {
        document.location.href = sTPL + 'transaction,${tplName}.vm?op=3';
    }    
}
function findTrans()
{                                 
    #set($iPage = $data.User.getTemp("$!{sCodeLookup}page"))
    #set($sParam = $data.User.getTemp("$!{sCodeLookup}ViewParam"))
    #if($iPage && $iPage.intValue() > 0)
    #set($sParam = "?op=page&page=$!{iPage}$!{sParam}")
    #end                                       
    document.location.href = sTPL + 'transaction,${tplView}.vm$!{sParam}';
}
function viewLastPurchaseHistory(sItemCode) 
{        
    var f = document.frm;
    if(!sItemCode || sItemCode == '') sItemCode = f.ItemCode.value;
    var sas = f._session_access_counter; 
    sas.value = sas.value + 1;  	
	var url = '${link.setPage("report,purchase,PurchasePriceHistory.vm")}?Condition=1&Keywords=' + sItemCode + 
	           '&StartDate=$!cformat.formatDate($preference.StartDate)&EndDate=&GroupBy=2&mode=popup'; 
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true}); 	
}
#if($bEditable)
function openTransLookup() 
{    
    var url = '${link.setPage("transaction,${tplView}.vm")}?mode=1';
    var wndTR = window.open(url, 'wndTR', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndTR.focus();
}
function handlePriceKeypress(e, no) 
{       
    if(getKey(e) == 13) 
    { 
        var sItemCode = eval('document.frm.ItemCode' + no + '.value');
        if(sItemCode != '') viewLastPurchaseHistory(sItemCode);
    }
}
function handleCalculateKeypress(e) 
{
    if(getKey(e) == 13) 
    { 
        recalculate('');
        addDetail(); 
    }
}
function getItemData() 
{
    var f = document.frm;
    var url = '$link.setPage("transaction,ajax,ItemCodeLookup.vm")';
    var param = '&ItemCode='   + jQuery.trim(f.ItemCode.value) + 
                '&VendorId='   + f.VendorId.value + 
                '&LocationId=' + f.LocationId.value + 
                '&DirectAdd='  + f.DirectAdd.value + 
                '&TransDate='  + ${tplDateFrm}.value + 
                '&TransactionGroup=1' +                 
                '&FromTransaction=$sCodeLookup'; ;
    jQuery.post(url,param,function(resp){eval(resp);} );                  
}
function openItemLookUpWindow()
{
    var f = document.frm;
    #set($bAllVend = $data.ACL.Permissions.containsName("Access All Vendor"))    
    #if(!$bAllVend)    
    var venid = f.VendorId.value;
    if(venid == '')
    {
        alert ('$!l10n.fill_in $!l10n.vendor');
        f.VendorId.focus();
        return false;
    }
    #end
    var url = '$link.setPage("transaction,${tplItemLookup}.vm")?VendorId=' + f.VendorId.value + 
               '&LocationId=' + f.LocationId.value +
               '&TransactionGroup=1&pageView=transaction,${tplName}.vm';               
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}

## ---------------------------------------
## UNIT & TAX
## ---------------------------------------
#unitJS()

$tax.createJSArray()
function changeTax(iNo)
{
    var iOFIdx = eval ('document.frm.TaxId'+iNo+'.selectedIndex');
    var fTaxAmount = parseFloat(aOFTax[iOFIdx]);
    eval('document.frm.TaxAmount'+iNo+'.value = '+fTaxAmount);
    recalculate(iNo);
} 

##/**
## * method to calculate discount, total discount or multi level discount used in PO and PI
## * 
## * @param i current index of purchase detail
## * @param dTotal
## * @param iType is discount type 1 = item discount  2 = invoice / total discount
## */
function calculateDiscount(i, dTotal, iType)
{
    var s_PLUS = "+";
    var s_PCT = "%";
    
    if(iType == 1)
    {
        var sDiscount = eval('document.frm.Discount' + i + '.value');
        if(sDiscount == '') {sDiscount = '0'; eval('document.frm.Discount' + i + '.value=0');}
    }
    else if(iType == 2)
    {
        var sDiscount = eval('document.frm.TotalDiscountPct.value');
    }
    var sDiscountPct, fDiscountValue, fTotalDiscount = 0;
    var iPlusPosition = sDiscount.indexOf(s_PLUS);
    var iPercentPosition = sDiscount.indexOf(s_PCT);
    if(iPercentPosition != -1)
    {
        while(iPlusPosition > -1)
        {
            sDiscountPct = sDiscount.substring(0, iPlusPosition);
            fDiscountValue = parseFloat(sDiscountPct) / 100;
            fTotalDiscount = fTotalDiscount + (dTotal * fDiscountValue);
            dTotal = dTotal - (dTotal * fDiscountValue);
            sDiscount = sDiscount.substring(iPlusPosition + 1, sDiscount.length);
            iPlusPosition = sDiscount.indexOf(s_PLUS);
        }
        sDiscountPct = sDiscount.substring(0, sDiscount.length-1);
        fDiscountValue = parseFloat(sDiscountPct)/100;
        if(fDiscountValue <= 1)
        {
            fTotalDiscount = fTotalDiscount + (dTotal * fDiscountValue);
        }
    }
    else
    {
        sDiscountPct = sDiscount.substring(0, sDiscount.length);
        fTotalDiscount = parseFloat(sDiscountPct);
    }
    return fTotalDiscount;
}
function validateDetail ()
{
    var f = document.frm;
    if(f.VendorId.value    == "") {alert ('$!l10n.select_vendor            '); return false;}
    if(${tplDateFrm}.value == "") {alert ('$!l10n.fill_in $!l10n.trans_date'); ${tplDateFrm}.focus(); return false;}
    if(f.ItemId.value      == "") {alert ('$!l10n.fill_in $!l10n.item_data '); f.ItemCode.focus(); return false;}
    if(f.ItemCode.value    == "") {alert ('$!l10n.fill_in $!l10n.item_code '); f.ItemCode.focus(); return false;}
    if(f.ItemName.value    == "") {alert ('$!l10n.fill_in $!l10n.item_name '); f.ItemName.focus(); return false;}
    if(!validateDate(${tplDateFrm}.value)) { return false; }

    if(f.Qty.value == "" || parseFloat(f.Qty.value) <= 0) 
    {
        alert ('$!l10n.fill_in $!l10n.qty'); 
        f.Qty.focus();      
        return false;
    }
    
    ## if PO or PI validate price and subtotal also
    #if($iType == 1 || $iType == 3)
      if(f.ItemPrice.value == "") 
      {
         alert ('$!l10n.fill_in $!l10n.price');      
         f.ItemPrice.focus(); 
         return false;
      }
      if(parseFloat(f.ItemPrice.value) <= 0) 
      {
         if(!confirm (' $!l10n.price = 0 ? ')) return false;      
      }
      if(f.SubTotal.value == "") 
      {
         alert ('$!l10n.fill_in $!l10n.sub_total '); 
         f.SubTotal.focus();  
         return false;
      }
      #if($iType == 1)
        if(f.OnPO.value > 0) return confirm ('Item Exists in Open PO, continue ?');
      #end
    #end
    return true;
}
function addDetail()
{
    var f = document.frm;
    #set($iOp = 1) #if($iType == 3) #set($iOp = 6) #end 
    var selectVendorID = f.VendorId;
    var selectUnitID   = f.UnitId;
    if(validateDetail()) 
    {
        f.UnitCode.value = selectUnitID.options[selectUnitID.selectedIndex].text;
        if(f.VendorName.value == '')
        {
            f.VendorName.value = selectVendorID.options[selectVendorID.selectedIndex].text;
        }
        f.action = '$link.setPage("transaction,${tplName}.vm")';
        f.op.value = $iOp;
        
        #if(!$bAjax)
        f.submit();
        loading();
        #else
        submitAjax();
        cleanInput();
        #end
        
        ##f.ItemCode.focus();
    }
}
function delDetail(iDetailNo)
{
    var f = document.frm;
    f.action = '$link.setPage("transaction,${tplName}.vm")';
    f.op.value = 2;  
    f.no.value = iDetailNo;
    #if(!$bAjax)
    f.submit();
    loading();
    #else
    submitAjax();
    cleanInput();
    #end
}
#if($preference.useBatchNo())
var batchResult = true;
function validateBatch() 
{
    var res = false;
    var url = '$link.setPage("transaction,ValidateBatch.vm")';
    var param = "transDet=$sDetCtx";
    incSAS();    
    jQuery.ajax({url:url, data:param, async:false, success:validateBatchResult});
    return batchResult;
}
function validateBatchResult(response) 
{    
    var msg = response;
    if(msg != '')
    {
        alert (msg);
        batchResult = false;
    }
    else
    {
        batchResult = true;
    }
}
#end

function validateTrans()
{
    var f = document.frm;

    if(f.VendorId.value == "")    {alert('$!l10n.select_vendor'); f.VendorId.focus(); return false; }
    if(${tplDateFrm}.value == "") {alert('$!l10n.fill_in $!l10n.trans_date'); ${tplDateFrm}.focus(); return false; }    
    if(!validateDate(${tplDateFrm}.value)) {return false;}

    #if($iType == 2)
    if(f.VendorDeliveryNo.value == "") {alert('$!l10n.fill_in $!l10n.vendor_do_no'); f.VendorDeliveryNo.focus(); return false; }
    #end
    #if($iType == 3)
    if(f.VendorInvoiceNo.value == "") {alert('$!l10n.fill_in $!l10n.vendor_si_no'); f.VendorInvoiceNo.focus(); return false; }
    #end    
    #if($iType != 3 || $piDet.size() > 0)
    if(f.TotalQty.value <= 0) {alert('$!l10n.qty_must_gt_zero'); f.ItemCode.focus(); return false; }
    #end    
    
    ## if PO or PI validate rate and total amount also
    #if($iType == 1 || $iType == 3)
      if(!validateRate()) return false;
      
      #if($iType == 1)
      if(!validateDP()) return false;
      #elseif($iType == 3)
      if(!validateFreight()) return false;
      if(!validatePayment()) return false;
      if(!validateAmount()) return false;
      if(!validateTaxInvNo()) return false;            
      #end
    #end
    
    #if($preference.useBatchNo() && $iType == 2)
    if(!validateBatch()) return false;
    
    #end
    return true;
}
function validateAmount()
{   
    var f = document.frm;
    if(f.Status.value == 2 && f.VendorInvoiceAmount)
    {
        if(f.VendorInvoiceAmount.value == '')
        {
            alert ('$!l10n.fill_in $!l10n.invoice_amount ($!l10n.vendor)');
            return false;
        }
        var dAmt = parseFloat(f.VendorInvoiceAmount.value);
        var dTotal = parseFloat(f.TotalAmount.value);
        var dDelta = dTotal - dAmt;
        if(dAmt != dTotal && (dDelta > 1 || dDelta < -1)) 
        {
            alert ('$!l10n.invoice_amount ($!l10n.vendor) [' + dAmt + '] != $!l10n.total_amount [' + dTotal + ']');        
            return false;
        }
    }
    return true;
}
function validateTaxInvNo()
{   
    var f = document.frm;
    if(f.Status.value == 2 && f.PurchaseTaxSerial)
    {
        if(f.PurchaseTaxSerial.value == '' && f.TotalTax.value != 0)
        {
            alert ('$!l10n.fill_in $!l10n.tax_invoice_no');
            f.PurchaseTaxSerial.focus();
            return false;
        }
    }
    return true;
}
##moved to purchase_order.js
function validateDP()
{   
    var f = document.frm;
    if(parseFloat(f.DownPayment.value) > 0)
    {
        if(f.BankId.value == "")
        {
            openBankPaymentSelector();
            return false;
        }
    }
    return true;
}
function validatePayment()
{   
    var f = document.frm;
    if(f.PaymentTypeId.value == '')
    {
        alert('$!l10n.fill_in $!l10n.payment_type');
        f.PaymentTypeId.focus();
        return false;
    }
    if(f.PaymentTermId.value == '')
    {
        alert('$!l10n.fill_in $!l10n.payment_type');
        f.PaymentTermId.focus();
        return false;
    }    
    if(parseFloat(f.PaidAmount.value) > 0)
    {
        if(f.DueDate.value == '')
        {
            alert('$!l10n.fill_in $!l10n.due_date');
            f.DueDate.focus();
            return false;
        }
    }
    return true;
}
## ---------------------------------------
## AJAX
## ---------------------------------------
#if($bAjax)
function cleanInput()
{
    var f = document.frm;
    f.ItemId.value      = '';
    f.ItemCode.value    = '';
    f.ItemName.value    = '';
    f.Description.value = '';
    f.UnitId.value      = '';
    f.UnitCode.value    = '';
    f.Qty.value         = '';
    f.ItemPrice.value   = '';    
    f.SubTotal.value    = '';
    
    if(f.DirectAdd    )f.DirectAdd    .value='$!DirectAdd';
    if(f.PendingQty   )f.PendingQty   .value='';
    if(f.CurrentQty   )f.CurrentQty   .value='';
    if(f.ItemType     )f.ItemType     .value='';
    if(f.InventoryType)f.InventoryType.value='';
    if(f.ItemId       )f.ItemId       .value='';
    if(f.UnitCode     )f.UnitCode     .value='';
    if(f.DiscountId   )f.DiscountId   .value='';                 
    if(f.SubTotalTax  )f.SubTotalTax  .value='';
    if(f.SubTotalDisc )f.SubTotalDisc .value='';
    if(f.ItemCost     )f.ItemCost     .value='';
    if(f.CostPerUnit  )f.CostPerUnit  .value='';    
    if(f.OnPO         )f.OnPO         .value='';

    if(f.ChangedManual) f.ChangedManual.value='false';        
    if(f.Discount) f.Discount.value='';                 
    if(f.OriginalDiscount) f.OriginalDiscount.value='';
    if(f.TxtItemPrice) f.TxtItemPrice.value = '';
    if(f.TxtSubTotal) f.TxtSubTotal.value = '';    
    f.ItemCode.focus();
}
function submitAjax()
{
    loading();
    var url = '$link.setPage("transaction,ajax,$AJAXURL")';
    var param = jQuery(document.frm).serialize();
    jQuery.post(url,param,function(resp){refreshDetail(resp);} );  
}
function refreshDetail(response) 
{
    incSAS();
    if(response.indexOf("//-- data.Message --") > 0)
    {
        evalResponse(response);
    }
    else
    {    
        replaceHtml("detailTableDiv", response);
    }
    unload();
}
#end ##end if bAjax
function saveTransaction ()
{   
    if(validateTrans()) 
    {
        processing('$!l10n.saving $!title');        
        var f = document.frm;
        f.save.value = 1;
        f.action = '$link.setPage("transaction,${tplName}.vm").setAction("transaction.${tplAction}")';
        f.op.value = 4;
        f.submit();
    }
}
#end ##end if $bEditable
##-----------------------------------------------------------------------------
#set($PH = $printHelper)
#if(!$detPerPage)
#set($detPerPage = -1)
#end
#printTrans("$!transID" $!PH $detPerPage)

function printBarcodeData() 
{
    #if($iType == 2) #set($sFrom = "IsFromReceipt=true") #end
    #if($iType == 3) #set($sFrom = "IsFromInvoice=true") #end
    
    var url = '$link.setPage("setup,ItemBarcodePrint.vm")?$!sFrom&ViewBarcode=true';
    barcodeWnd=window.open(url, 'barcodeWnd', 'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=950,height=640,left=20,top=20');
    barcodeWnd.focus();
}
function printBarcodeLabel() 
{    
    printBarcodeLabelJS('$!{sDetCtx}', '$!preference.useLocalPOSClient()');
}
function cancelTransaction()
{   
    setCancelRemark('$sCodeLookup', '', '$!sDate', '$!sID');
}
function execCancel(id)
{   
    if(id = '$!sID')
    {
        processing('$!l10n.cancelling $title');
        
        var f = document.frm;
        f.save.value = 2;
        f.action = '$link.setPage("transaction,${tplName}.vm").setAction("transaction.${tplAction}")';
        f.op.value = 4;
        f.submit();
    }
    else
    {
        alert ('Different Transaction No !');
    }
}
</script>
#end

#macro (createVendorSelection $sTransNo $sVendorID $sVendorName)
  #if($sutil.isEmpty($sTransNo))    
    #set($bAllVend = $data.ACL.Permissions.containsName("Access All Vendor"))
    #if($bAllVend)
      #set($vVendors = $vendor.getVendorByStatus(1))
    #else 
      #set($vVendors = $vendor.getVendorByRelEmployee($!data.getUser().getName(),1))
    #end      
    #if($sutil.isNotEmpty($sVendorID))
      #set($oVendor = $vendor.getVendorByID($sVendorID))
      #set($sVendorCode = $oVendor.VendorCode)      
      #set($sVendorName = $oVendor.VendorName)
    #end
    #if($vVendors.size() > $preference.VendMaxSbMode)                                           
      <input type="hidden" name="VendorId" value="$!sVendorID">
      <input type="text" #width("25%") name="VendorCode" value="$!sVendorCode" placeholder="$!l10n.code"
        OnKeyUp="javascript:handleVendorNameKeypress(event);" OnFocus="this.select();">    
      <input type="text" #width("65%") name="VendorName" value="$!sVendorName" placeholder="$!l10n.vendor_name"
        OnKeyUp="javascript:handleVendorNameKeypress(event);" OnFocus="this.select();">
    #else ## create select box
      <select id="vendorId" name="VendorId" OnChange="getVendorData();" #width("")>
        #if($bAllVend)
        <option value="">-- $!l10n.vendor --</option>
        #end
        #foreach ($oVendor in $vVendors )
        <option value="$oVendor.VendorId" #if($sVendorID == $oVendor.VendorId) SELECTED #end >
          $!oVendor.VendorCode - $!oVendor.VendorName
        </option>
        #end
      </select>
      <script>jQuery('#vendorId').select2({placeholder:'-- $!l10n.vendor --',allowClear:true}).on('change',function(){getVendorData();});
      </script> 
      <input type="hidden" name="VendorCode" value="$!sVendorCode">
      <input type="hidden" name="VendorName" value="$!sVendorName">
    #end ##end if size
  #else ## if trans no exist
    #if($sutil.isNotEmpty($sVendorID))
      #set($oVendor = $vendor.getVendorByID($sVendorID))
      #set($sVendorCode = $oVendor.VendorCode)      
      #set($sVendorName = $oVendor.VendorName)
    #end
    <input type="hidden" name="VendorId" value="$sVendorID">           
    <input type="hidden" name="VendorCode" value="$!sVendorCode">     
    <input type="hidden" name="VendorName" value="$!sVendorName">                                                       
    <input type="text" #width("25%") value="$!sVendorCode" READONLY >
    <input type="text" #width("65%") value="$!sVendorName" READONLY >
  #end ## end
#end

#macro (vendorTransSB $sTransNo $sVendorID $sVendorName)    
  <tr>
    <td>$!l10n.vendor</td>
    <td>#createVendorSelection($sTransNo $sVendorID $sVendorName)</td>                                    
  </tr>
#end
