#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end



#set($src = $data.Parameters.getString("src", "loc"))
#set($srctitle = $!l10n.location)
#set($srcname = "Location")

#set($title = "$!l10n.bonus_item_report")
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($sdate = $data.Parameters.getString("StartDate", ""))
#set($edate = $data.Parameters.getString("EndDate", ""))
#set($color = $data.Parameters.getString("Color", ""))
#set($venid = $data.Parameters.getString("VendorId", ""))

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  ##set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

#set($pageParam = "&Op=1&StartDate=$!{sdate}&KategoriId=$!{katid}")
#set($pageParam = "${pageParam}&EndDate=$!{edate}&src=$!{src}&$!{srcname}Id=$!{srcid}")
<script>
function change(id) 
{	
}
function viewItemReport(sItemCode)
{
    var sURL = '${link.setPage("report,sales,SalesReport.vm")}?printable=$!{printable}&StartDate=$!{start}' + 
               '&EndDate=$!{end}&Condition=7&GroupBy=-1&Status=2&CurrencyId=&Keywords=' + sItemCode;    
    document.location.href = sURL;
}
function viewPI(sPIID)
{
    var sURL = '${link.setPage("transaction,PurchaseInvoiceTransaction.vm")}?op=4&id=' + sPIID;    
    document.location.href = sURL;
}
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">

<table class="fixTable"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($sdate != "")			          
         ($!sdate - $!edate)
  	   #spc(2)
  	   
  	   $srctitle :
  	   #if($srcid == "")
  	     $!l10n.all 
  	   #else
  	     $!location.getLocationNameByID($srcid)

  	   #end
  	   #spc(2)
  	   #if($katid != "") $!l10n.category: $!kategori.getLongDescription($katid) #spc(2) #end
  	   #if($color != "") $!l10n.color: $!color #spc(2) #end
  	   #if($venid != "") $!l10n.vendor: $!vendor.getVendorNameByID($venid) #end
  	   
  	   
  	  #end
  	  </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table class="searchTable">
  <tr>          
    #set($sID = $srcid)
    #subSelect (1)    
    <td>$!l10n.color : </td>
    <td>
      <input type="text" name="Color" value="$!color" #width(200)>#spc(2)
    </td>	
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sdate">
	    #calf("frm" "StartDate" true)
	    #spc(2)
    </td>	  
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      $!l10n.category : &nbsp;&nbsp;
    </td>
    <td>
      #kategoriSB("KategoriId" $data.Parameters.getString("KategoriId", ""))
      <input type="hidden" name="Op" value="1"> &nbsp;&nbsp;
    </td> 
    <td>$!l10n.vendor : </td>
    <td>
      #vendorSB($venid "" "") #spc(2)
    </td>	    
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!edate">
  	  #calf("frm" "EndDate" true)
  	  #spc(2)
    </td>	  		  
    <td><input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind"></td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#if($vResult)
  #set($headings = ["No","$!l10n.invoice_no","$!l10n.vendor","$!l10n.item_code","$!l10n.item_name","<center>$!l10n.qty","<center>$!l10n.unit","<center>$!l10n.price","<center>$!l10n.last_purchase"])  
  <table class="stdTable">
    #if($printable) #line(10) #end
    <tr class="th4">
      #foreach ($heading in $headings)
      <td><b>$heading</b></td>
      #end
    </tr>		
    #if($printable) #line(10) #end

    #set($totalQty   = 0)
    #set($totalValue = 0)     
    #set($No = 1)         
              
    #foreach ($res in $vResult)

    #set($dQty     = $res.getValue(4).asBigDecimal())
    #set($dQtyBase = $res.getValue(5).asBigDecimal())
    #set($sUnit    = $res.getValue(6).asString())
    #set($dPrice   = $res.getValue(7).asBigDecimal()) 
    #set($dDisc    = $res.getValue(8).asString()) 
    #set($dHNA     = $res.getValue(9).asBigDecimal())     
    
    #if($calculator.compare($dPrice,0,"=") || $sutil.equal($sDisc, "100%")) ##BONUS ONLY
    <tr>
      <td width="3%" >$!No</td>
      <td width="20%">
        <a href="javascript:viewPI('$!res.getValue(10).asString()');">
        $!res.getValue(11).asString()
        </a>
      </td>
      <td></td>		
      <td width="12%">
        $!res.getValue(2).asString()
      </td>		
      <td width="24%">
        $!res.getValue(3).asString()
      </td>		
      <td width="10%" align="right">$!cformat.formatNumber($dQty)   </td>
      <td width="10%" align="right">$!sUnit</td>
      <td width="15%"  align="right">$!cformat.formatNumber($dPrice) </td>
      <td width="15%"  align="right">$!cformat.formatNumber($dHNA) </td>
    </tr>
    #set($totalQty    = $calculator.add($totalQty,  $dQty))
    #set($totalValue  = $calculator.add($totalValue, $calculator.mul($dQtyBase, $dHNA)))
    
    #set($No = $No + 1)
    #end  ##end foreach
    #end  ##end if bonus
    #if($printable) #line(10) #end      
    <tr>
      <td align="right" colspan="5"><b>Total &nbsp;&nbsp;       </b></td>		
      <td align="right"><b>$!cformat.formatNumber($totalQty)    </b></td>
      <td align="right"><b>#spc(1)</b></td>
      <td align="right"><b>#spc(1)</b></td>      
      <td align="right"><b>$!cformat.formatNumber($totalValue) </b></td>      
    </tr>
    #if($printable) #line(10) #end
  </table>
#end  

</form>