#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($title = "$!l10n.med_sales_doctor")
#set($src = $data.Parameters.getString("src", "loc"))
#if($src == "loc")
  #set($srctitle = $!l10n.location)
  #set($srcname = "Location")
#elseif ($src == "dept")
  #set($srctitle = $!l10n.department)
  #set($srcname = "Department")
#elseif ($src == "prj")
  #set($srctitle = $!l10n.project)
  #set($srcname = "Project")
#end
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#if($src == "loc")
  #set($locid = $srcid)
#elseif ($src == "dept")
  #set($depid = $srcid)
#elseif ($src == "prj")
  #set($prjid = $srcid)
#end

#set($sdate = $data.Parameters.getString("StartDate", ""))
#set($edate = $data.Parameters.getString("EndDate", ""))
#set($manu = $data.Parameters.getString("Manufacturer", ""))
#set($drname = $data.Parameters.getString("Doctor", ""))
#set($ctypeid = $data.Parameters.getString("CustomerTypeId", ""))
#set($incret = $data.Parameters.getBoolean("IncludeReturn"))
#set($inctax = $data.Parameters.getBoolean("IncludeTax"))
#set($incdis = $data.Parameters.getBoolean("IncludeDiscount"))
#set($det = $data.Parameters.getBoolean("Detail"))
#set($sort = $data.Parameters.getInt("SortBy",1))
#set($op = $data.Parameters.getInt("op"))

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  ##set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

#set($pageParam = "&StartDate=$!{sdate}&EndDate=$!{edate}&IncludeReturn=$!{incret}&IncludeTax=$!{inctax}&SortBy=${sort}")
#set($pageParam = "${pageParam}&Detail=$!{det}&src=$!{src}&$!{srcname}Id=$!{srcid}&op=1&CustomerTypeId=$!ctypeid")
#set($pageParam = "${pageParam}&Manufacturer=$!{manu}&Doctor=$!{drname}")
<script>
function change(id) 
{	
}
function viewDetail(sMD)
{
    var sURL = '${link.setPage("report,medical,MedSalesDetailReport.vm")}?op=1&printable=$!{printable}&StartDate=$!{sdate}' + 
               '&EndDate=$!{edate}&Condition=-1&GroupBy=-1&Status=2&CurrencyId=&Keywords=&DoctorName=' + sMD;    
    document.location.href = sURL;
}
## function viewRetDetail(sCust)
## {
##     var sURL = '${link.setPage("report,sales,SalesReturnReport.vm")}?printable=$!{printable}&StartDate=$!{sdate}' + 
##                '&EndDate=$!{edate}&Condition=30&GroupBy=-1&Status=2&CurrencyId=&Keywords=&CustomerId=' + sCust;    
##     document.location.href = sURL;
## }
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">
<input type="hidden" name="op" value="1">

<table width="100%" cellspacing="0" cellpadding="0" border="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($sdate != "")			          
         ($!sdate - $!edate)
  	   #spc(2)
  	   
  	   $srctitle :
  	   #if($srcid == "")
  	     $!l10n.all 
  	   #else
  	     #if($src == "loc")        	     
  	       $!location.getLocationNameByID($srcid)
  	     #elseif ($src == "dept")
  	       $!department.getDepartmentNameByID($srcid) 
  	     #elseif ($src == "prj")
  	       $!project.getProjectNameByID($srcid) 
  	     #end
  	   #end
  	   #spc(2)
  	  #end
  	  </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr> 
    <td>$!l10n.manufacturer</td>
    <td><input type="text" name="Manufacturer" value="$!manu" #width("")></td>
    <td>$!l10n.doctor</td>
    <td><input type="text" name="Doctor" value="$!drname" #width("")></td>  
  </tr>
  <tr>          
    #set($sID = $srcid)
    #subSelect (1)
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sdate">
	    #calf("frm" "StartDate" true)
    </td>	  
    <td><input type="checkbox" class="cb" name="IncludeReturn" #if($incret) CHECKED #end>$!l10n.sales_return #spc(2)</td>
    ##<td>$!l10n.sort_by : #spc(1)</td>
    ##<td>
    ##  <select name="SortBy">
    ##    <option value="1" #if($sort == 1) SELECTED #end>$!l10n.customer_code</option>
    ##    <option value="2" #if($sort == 2) SELECTED #end>$!l10n.customer_name</option>        
    ##  </select>
    ##</td>
  </tr>
  <tr>
    <td>$!l10n.customer_type</td>
    <td>
      <select name="CustomerTypeId" #width("")>
        <option value="">-- $!l10n.all --</option> 
        #foreach ($ctype in $customertype.getAllCustomerType())
          <option value="$ctype.CustomerTypeId"
              #if($ctype.Id == $ctypeid) SELECTED #end >
            $!ctype.Description             
          </option>
        #end
      </select>          
    </td> 
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!edate">
  	  #calf("frm" "EndDate" true)

    </td>	  		  
    <td><input type="checkbox" class="cb" name="IncludeTax" #if($inctax) CHECKED #end>$!l10n.inc_tax #spc(2)</td>
    <td><input type="checkbox" class="cb" name="Detail" #if($det) CHECKED #end>Detail #spc(2)</td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#if($op == 1 && $sutil.isNotEmpty($sdate))
#set($dStart = $dutil.getStartOfDayDate($cparser.parseDate($sdate)))
#set($dEnd = $dutil.getEndOfDayDate($cparser.parseDate($edate)))
## ----------------------------------------------------------------------------
## DETAIL
## ----------------------------------------------------------------------------
#if($det)
#set($sql = "SELECT * FROM medsalesdetail WHERE si_trno != '' ")
#if(!$sutil.empty($ctypeid)) #set($sql = " $sql AND ctypeid = '$!ctypeid' ") #end 
#if(!$sutil.empty($manu))    #set($sql = " $sql AND itmmanu ILIKE '%$!{manu}%' ") #end 
#if(!$sutil.empty($drname))  #set($sql = " $sql AND si_drname ILIKE '%$!{drname}%' ") #end 
#if(!$sutil.empty($locid))  #set($sql = " $sql AND locid = '$!{locid}' ") #end 
#if($dStart) #set($sql = " $sql AND si_trdt >= '$!cf.formatSqlDate($dStart)' ") #end 
#if($dEnd) #set($sql = " $sql AND si_trdt <= '$!cf.formatSqlDate($dEnd)' ") #end 
#set($sql = "$sql ORDER BY itmmanu, itmname ")
#if($debug) $sql #end
#set($v = $sqlutil.executeQuery($sql))
#set($vbi = $sqlutil.getDistinctInRecord($v,"itmcode"))
#set($hdgs = ["$l10n.invoice_no","$!l10n.trans_date","$!l10n.doctor_name","$l10n.patient","$!l10n.qty","$!l10n.unit"])
<table class="stdTable">
#foreach($itmcd in $vbi)
#set($vfbi = $sqlutil.filterRecord($v, "itmcode", $itmcd.asString()))
#set($itm = $item.getItemByCode($itmcd.asString()))
<tr>
  <td colspan="5">$itmcd - $!itm.Name - $!itm.Manufacturer</td>
</tr>
<tr class="th5">
  #foreach($hdg in $hdgs)
  <td>$!hdg</td>
  #end
</tr>
#foreach($r in $vfbi)
<tr>  
  <td>$!r.getValue("si_trno")</td>
  <td>$!cf.fmt($!r.getValue("si_trdt").asDate())</td>
  <td>$!r.getValue("si_drname")</td> 
  <td>$!r.getValue("cusname")</td>  
  <td align="right">$!cf.fmt($!r.getValue("sid_qtb").asBigDecimal())</td>  
  <td align="right">$!itm.Unit.Code</td>  
</tr>
#end ##end foreach
#linea(10)
#end ##end foreach vbi
</table>

#else
## ----------------------------------------------------------------------------
## SUMMARY BY DR
## ----------------------------------------------------------------------------
#set($vResult = $medsales.getTotalSalesPerDoctor($dStart,$dEnd,"$!locid","$!depid","$!prjid",$inctax,$incdis,2,$sort))
#set($vReturn = $medsales.getTotalReturnPerDoctor($dStart,$dEnd,"$!locid","$!depid","$!prjid",$inctax,$incdis,2,$sort))
#if($vResult.size() > 0 || $vReturn.size() > 0)    
#if($vResult.size() > 0)  
  ##<b>$!l10n.sales_invoice</b><br>
  <table class="stdTable">
    #if($printable) #line(10) #end
    <tr class="th4">
      <td><b>No</b></td>
      <td><b>$!l10n.doctor_name</b></td>
      <td><center><b>Total Trans</b></center></td>      
      <td><center><b>$!l10n.total_qty</b></center></td>
      <td><center><b>$!l10n.total_amount</b></center></td>      
      #if($incdis)
      <td><center><b>$!l10n.total_discount</b></center></td>
      #end
      #if($bViewCost)
       ## <td><center><b>$!l10n.total_cost</b></td>            
       ## <td><center><b>$!l10n.gross_profit</b></td>            
       ## <td><center><b>%</b></td>            
      #end
    </tr>		
    #if($printable) #line(10) #end

    #set($totalQty    = 0)
    #set($totalTrans    = 0)    
    #set($totalSales  = 0)
    #set($totalCost   = 0)
    #set($totalProfit = 0)               
    #set($totalPct    = 0)         
    #set($totalDisc   = 0)
    #set($No    = 1)         
              
    #foreach ($res in $vResult)
    #set($dQty   = $res.getValue(2).asBigDecimal())
    #set($dSales = $res.getValue(3).asBigDecimal()) 
    #set($dCost  = $res.getValue(4).asBigDecimal())
    #set($dTrans  = $res.getValue(5).asBigDecimal())
    #if($incdis)
    #set($dDisc = $res.getValue(5).asBigDecimal())
    #set($dTrans  = $res.getValue(6).asBigDecimal())    
    #end

    #set($dProfit = $calculator.sub($dSales, $dCost))
    #set($dPct    = $calculator.pct($dProfit, $dSales))       
    <tr>
      <td width="2%" >$!No</td>		
      <td width="24%">
        #if(!$printable)<a href="javascript:viewDetail('$!res.getValue(1).asString()');">#end
        $!res.getValue(1).asString()
        #if(!$printable)</a>#end
      </td>		
      <td width="10%" align="right">$!cformat.formatAligned($dTrans) </td>      
      <td width="10%" align="right">$!cformat.formatAligned($dQty)   </td>
      <td width="12%" align="right">$!cformat.formatAligned($dSales) </td>
      #if($incdis)
      <td width="10%" align="right">$!cformat.formatAligned($dDisc)  </td>      
      #end
      #if($bViewCost)
        ## <td width="12%" align="right">$!cformat.formatAligned($dCost)  </td>
        ## <td width="12%" align="right">$!cformat.formatAligned($dProfit)</td>
        ## <td width="9%"  align="right">$!cformat.formatAligned($dPct)%  </td>	 
      #end
    </tr>
    #set($totalTrans  = $calculator.add($totalTrans,  $dTrans ))
    #set($totalQty    = $calculator.add($totalQty,    $dQty ))
    #set($totalSales  = $calculator.add($totalSales,  $dSales ))
    #set($totalCost   = $calculator.add($totalCost,   $dCost ))
    #set($totalProfit = $calculator.add($totalProfit, $dProfit))                         
    #set($totalDisc   = $calculator.add($totalDisc,   $dDisc))
    #set($No = $No + 1)
    #end  ##end foreach
    #set($totalPct = $calculator.pct($totalProfit, $totalSales))       
    #if($printable) #line(10) #end      
    <tr>
      <td align="right" colspan="2"><b>Total $!l10n.sales_invoice #spc(2)</b></td>		
      <td align="right"><b>$!cformat.formatAligned($totalTrans)   </b></td>      
      <td align="right"><b>$!cformat.formatAligned($totalQty)   </b></td>
      <td align="right"><b>$!cformat.formatAligned($totalSales) </b></td>
      
      #if($incdis)
      <td align="right"><b>$!cformat.formatAligned($totalDisc) </td>      
      #end      
      #if($bViewCost)
       ## <td align="right"><b>$!cformat.formatAligned($totalCost)  </b></td>
       ## <td align="right"><b>$!cformat.formatAligned($totalProfit)</b></td>
       ## <td align="right"><b>$!cformat.formatAligned($totalPct)%  </b></td>	 
      #end
    </tr>
    #if($printable) #line(10) #end
  </table>
#end ##end if vResult 


#if($incret)
#if($vReturn.size() > 0)
  #if($bViewCost)
    #set($headings = ["No","$!l10n.salesman","<center>$!l10n.total_qty","<center>$!l10n.total_amount", "<center>$!l10n.total_cost", "<center>$!l10n.gross_profit", "<center>%"] )
  #else                                                               
    #set($headings = ["No","$!l10n.salesman","<center>$!l10n.total_qty","<center>$!l10n.total_amount"])
  #end
  <br><b>$!l10n.sales_return</b><br>
  <table width="100%" cellspacing="0" cellpadding="4">
    #if($printable) #line(10) #end
    <tr>
      <td><b>No</b></td>
      <td><b>$!l10n.salesman</b></td>
      <td><center><b>$!l10n.total_qty</b>   </center></td>
      <td><center><b>$!l10n.total_amount</b></center></td>      
      #if($incdis)
      <td><center><b>$!l10n.total_discount</b>   </center></td>
      #end
      #if($bViewCost)
      <td><center><b>$!l10n.total_cost</b></td>            
      <td><center><b>$!l10n.gross_profit</b></td>            
      <td><center><b>%</b></td>            
      #end
    </tr>		
    #if($printable) #line(10) #end

    #set($totalRetQty    = 0)
    #set($totalRetSales  = 0)
    #set($totalRetCost   = 0)
    #set($totalRetProfit = 0)               
    #set($totalRetPct    = 0)    
    #set($totalRetDisc   = 0)
    #set($No    = 1)         
              
    #foreach ($res in $vReturn)
    #set($dQty    = $res.getValue(2).asBigDecimal())
    #set($dSales  = $res.getValue(3).asBigDecimal()) 
    #set($dCost   = $res.getValue(4).asBigDecimal())
    #if($incdis)
    #set($dDisc= $res.getValue(5).asBigDecimal())
    #end    
    #set($dProfit = $calculator.sub($dSales, $dCost))
    #set($dPct    = $calculator.pct($dProfit, $dSales))       
    <tr>
      <td width="2%" >$!No</td>
      <td width="24%">
        #if(!$printable)<a href="javascript:viewRetDetail('$!res.getValue(1).asString()');">#end
        $!employee.getEmployeeNameByID($!res.getValue(1).asString())
        #if(!$printable)</a>#end
      </td>		
      <td width="10%"  align="right">$!cformat.formatAligned($dQty)   </td>
      <td width="12%"  align="right">$!cformat.formatAligned($dSales) </td>
      #if($incdis)
      <td width="10%"  align="right">$!cformat.formatAligned($dDisc) </td>      
      #end      
      #if($bViewCost)
        <td width="12%" align="right">$!cformat.formatAligned($dCost)  </td>
        <td width="12%" align="right">$!cformat.formatAligned($dProfit)</td>
        <td width="9%"  align="right">$!cformat.formatAligned($dPct)%  </td>	 
      #end
    </tr>
    #set($totalRetQty    = $calculator.add($totalRetQty,    $dQty ))
    #set($totalRetSales  = $calculator.add($totalRetSales,  $dSales))
    #set($totalRetCost   = $calculator.add($totalRetCost,   $dCost))
    #set($totalRetProfit = $calculator.add($totalRetProfit, $dProfit))            
    #set($totalRetDisc   = $calculator.add($totalRetDisc,   $dDisc))

    #set($No = $No + 1)
    #end  ##end foreach
    #set($totalRetPct = $calculator.pct($totalRetProfit, $totalRetSales))       
    #if($printable) #line(10) #end      
    <tr>
      <td align="right" colspan="2"><b>Total $!l10n.sales_return #spc(2)</b></td>		
      <td align="right"><b>$!cformat.formatAligned($totalRetQty)   </b></td>
      <td align="right"><b>$!cformat.formatAligned($totalRetSales) </b></td>
      #if($incdis)
      <td align="right"><b>$!cformat.formatAligned($totalRetDisc) </td>      
      #end        
      #if($bViewCost)
      <td align="right"><b>$!cformat.formatAligned($totalRetCost)  </b></td>
      <td align="right"><b>$!cformat.formatAligned($totalRetProfit)</b></td>
      <td align="right"><b>$!cformat.formatAligned($totalRetPct)%  </b></td>	 
      #end                                                                      
    </tr>
    #if($printable) #line(10) #end
    ##GRAND TOTAL
    #set($totalQty    = $calculator.sub($totalQty   ,$totalRetQty   ))
    #set($totalSales  = $calculator.sub($totalSales ,$totalRetSales ))
    #set($totalCost   = $calculator.sub($totalCost  ,$totalRetCost  ))
    #set($totalProfit = $calculator.sub($totalProfit,$totalRetProfit))
    #set($totalDisc   = $calculator.sub($totalDisc  ,$totalRetDisc  ))    
    #set($totalPct = $calculator.pct($totalProfit, $totalSales))       
    <tr>
      <td align="right" colspan="2"><b>GRAND TOTAL &nbsp;&nbsp; </b></td>		
      <td align="right"><b>$!cformat.formatAligned($totalQty)   </b></td>
      <td align="right"><b>$!cformat.formatAligned($totalSales) </b></td>
      #if($incdis)
      <td align="right"><b>$!cformat.formatAligned($totalDisc) </td>      
      #end        
      #if($bViewCost)
      <td align="right"><b>$!cformat.formatAligned($totalCost)  </b></td>
      <td align="right"><b>$!cformat.formatAligned($totalProfit)</b></td>
      <td align="right"><b>$!cformat.formatAligned($totalPct)%  </b></td>	 
      #end                                                                      
    </tr>
    #if($printable) #line(10) #end  
  </table>
#end ##end if vReturn
#end ##end if include return
#end ##end if vResult || vReturn > 0
#end ##end if det
#end ##end if op
</form>
