#set($title   = " $!l10n.prescription ")
#set($sTrans  = "transaction,PrescriptionTrans.vm")
#set($sAction = "transaction.PrescriptionAction")
#set($tool    = $!prescription)
#set($sType   = "pres")
#set($sDetailPage = "screens/report/medical/PresDetail.vm")

#set($vHeaders = $Prescriptions)
#set($sPK = "prescriptionId")



#set($groupby  = $formData.getInt("GroupBy",-1))
#set($order    = $formData.getInt("OrderBy", 1))
#set($cond     = $formData.getInt("Condition"))
#set($limit    = $formData.getInt("ViewLimit", 50))
#set($status   = $formData.getInt("Status"))

#set($key    = $formData.getString("Keywords"))
#set($start  = $formData.getString("StartDate"))
#set($end    = $formData.getString("EndDate"))
#set($custid = $formData.getString("CustomerId"))			  
#set($locid = $formData.getString("LocationId"))
#set($currid = $formData.getString("CurrencyId"))			  

#set($det = $formData.getBoolean("Detail"))

#set($pageParam = "&Condition=$!{cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&Detail=${det}")
#set($pageParam = "${pageParam}&Status=$!{status}&CustomerId=$!{custid}&StartDate=$!{start}&EndDate=$!{end}")
#set($pageParam = "${pageParam}&LocationId=$!{locid}&GroupBy=$!{groupby}&op=page&page=$!LargeData.getCurrentPageNumber()")

#if($salesMultiCurrency) #set($pageParam = "${pageParam}&CurrencyId=${currid}") #end
#if($printable) #set($pageParam = "${pageParam}&op=page&printable=true") #end

#set($pad = 4)
#if($printable) #set($pad = 2) #end

<script>
function view(sID)
{
    var sURL = '${link.setPage($sTrans)}?op=4&id=' + sID;                   
    var prnWnd = window.open (sURL,'printWindow', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
	prnWnd.focus();	 
}
</script>
#reportPrintJS()

<table width="100%" cellspacing="0" cellpadding="4" border="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($sutil.isNotEmpty($start)) ($!start - $!end) #end
        </b>
      </span>
    </td>
    #if($vHeaders)
    #reportPrintBtn()
    #end
  <tr>
</table>

#if(!$printable)
<form name="frm" method="post"
  action="$link.setPage("$data.ScreenTemplate").setAction("$sAction")?op=next">
<input type="hidden" name="fromReport" value="true">
<table cellspacing="0" cellpadding="4" border="0">
  <tr>
    <td>$!l10n.customer : </td>
    <td colspan="3">
      #custSB ($custid "" "" "")	    
    </td>
    <td>#spc(2) $!l10n.location : </td>
    <td colspan="3">
      #locationSB ($locid)	    
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>
      <select name="Condition" #width(120)>
        <option value="1" #if($cond == 1) SELECTED #end >$!l10n.get("medical", "prescription_no")</option>              
        <option value="2" #if($cond == 2) SELECTED #end >$!l10n.get("medical", "patient_name")</option>
        <option value="3" #if($cond == 3) SELECTED #end >$!l10n.get("medical", "doctor_name")</option>
        <option value="4" #if($cond == 4) SELECTED #end >$!l10n.customer_name</option>
        <option value="5" #if($cond == 5) SELECTED #end >$!l10n.description</option>
        <option value="6" #if($cond == 6) SELECTED #end >$!l10n.create_by</option>
        <option value="7" #if($cond == 7) SELECTED #end >$!l10n.item_code</option>
      </select>  
    </td>
    <td>#spc(2) $!l10n.start_date : </td>
    <td>
	  <input type="text" size="15" name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true)	
    </td>
    <td>#spc(2) $!l10n.status : </td>
    <td>
      <select name="Status" #width(120)>
        <option value="-1">-- $!l10n.status -- </option>
        <option value="2" #if($status == 2) SELECTED #end >$!l10n.processed  </option>
        <option value="1" #if($status == 1) SELECTED #end >$!l10n.pending    </option>
        <option value="3" #if($status == 3) SELECTED #end >$!l10n.cancelled  </option>
        <option value="4" #if($status == 4) SELECTED #end >$!l10n.get("medical", "sold").toUpperCase()</option>
      </select>       
    </td>
    <td>#spc(2) $!l10n.view_limit :</td>
    <td>
      <input type="text" size="4" name="ViewLimit" value="$limit">
    </td>		                  
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
	  <input type="text" #width(120) name="Keywords" value="$!key" OnKeypress="handleSubmit(event);">
    </td>					  
    <td>#spc(2) $!l10n.end_date : </td>
    <td>
	  <input type="text" size="15" name="EndDate" value="$!end"> 
	  #calf ("frm" "EndDate" true)	
    </td>
    <td>#spc(2) $!l10n.group_by : </td>
    <td> 
      <select name="GroupBy" #width(120)>
        <option value="1" #if($groupby == 1) SELECTED #end>-- $!l10n.none --</option>      
        <option value="2" #if($groupby == 2) SELECTED #end >$!l10n.customer</option>        
        <option value="3" #if($groupby == 3) SELECTED #end >$!l10n.location</option>        
        <option value="4" #if($groupby == 4) SELECTED #end >$!l10n.get("medical", "patient_name")</option>
        <option value="5" #if($groupby == 5) SELECTED #end >$!l10n.get("medical", "doctor_name")</option>
        <option value="6" #if($groupby == 6) SELECTED #end >$!l10n.create_by</option>
        <option value="7" #if($groupby == 7) SELECTED #end >$!l10n.category</option>
        <option value="8" #if($groupby == 8) SELECTED #end >$!l10n.item_data</option>
        <option value="9" #if($groupby == 9) SELECTED #end >$!l10n.customer & $!l10n.item_data</option>
        <option value="10" #if($groupby == 10) SELECTED #end >$!l10n.location & $!l10n.item_data</option>
        <option value="11" #if($groupby == 11) SELECTED #end >$!l10n.patient_name & $!l10n.item_data</option>
        <option value="12" #if($groupby == 12) SELECTED #end >$!l10n.doctor_name & $!l10n.item_data</option>
        
      </select>        
    </td>
    <td>#spc(2) $!l10n.details : </td>
    <td colspan="2">
      <input type="checkbox" class="cb" #if($det) CHECKED #end name="Detail" >
      #spc(2)
      <input type="button" value="$!l10n.view" name="eventSubmit_doFind" OnClick="document.frm.submit();">
    </td>
  </tr>	
</table>
<br>
</form>
#end ##end if printable

#if($vHeaders)
#largeSelectNavBar("$data.ScreenTemplate" $pageParam) 
#end

<!-- GROUP BY NONE -->
#if($groupby == 1)      

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.customer", "$!l10n.patient_name", "$!l10n.doctor_name", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "customerName", "patientName", "doctorName", "locationName", "status", "totalAmount"] )
#set($width = ["15%", "10%", "14%", "14%","14%","14%","10%", "14%"] )
#set($align = ["", "", "", "", "", "", "", "right"] )
#set($src = ["no", "h", "l", "h", "h", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], "", "", [$location, "getLocationNameByID"], [$tool, "getStatusString"], ""] )
#set($linksrc  = ["", "", "h", "", "", "h", "h", ""] )
#set($linkfld  = ["", "", "customerId", "", "", "locationId", "status", ""] )

#parse ("screens/report/NonGrouping.vm")

#end ##end group by none

<!-- GROUP BY CUSTOMER -->
#if($groupby == 2)

#set($group = "customerId")
#set($groupTitle = $!l10n.customer)
#set($groupFld = "customerId")
#set($groupLink = [$customer, "getCustomerNameByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.patient_name", "$!l10n.doctor_name", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "patientName", "doctorName", "locationName", "status", "totalAmount"] )
#set($width = ["15%", "12%", "15%", "15%", "15%", "12%","15%"] )
#set($align = ["", "", "",  "", "", "", "right"] )
#set($src = ["no", "h", "h", "l", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", [$doctor, "getDoctorNameByID"], [$location, "getLocationNameByID"], [$tool, "getStatusString"],  ""] )
#set($linksrc  = ["", "", "", "h", "h", "h", ""] )
#set($linkfld  = ["", "", "", "doctorId", "locationId", "status", ""] )

#parse ("screens/report/BaseGroup.vm")

#end ##end if

<!-- GROUP BY LOCATION -->
#if($groupby == 3)

#set($group = "locationId")
#set($groupTitle = $!l10n.location)
#set($groupFld = "locationId")
#set($groupLink = [$location, "getLocationNameByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.customer", "$!l10n.patient_name", "$!l10n.doctor_name", "$!l10n.status",  "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "customerName", "patientName", "doctorName", "status", "totalAmount"] )
#set($width = ["15%", "12%", "15%", "15%", "15%", "15%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right"] )
#set($src = ["h", "h",  "l", "h", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1,-1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], "", [$doctor, "getDoctorNameByID"], [$tool, "getStatusString"], ""] )
#set($linksrc  = ["", "", "h", "", "h", "h", ""] )
#set($linkfld  = ["", "", "customerId", "", "doctorId", "status", ""] )

#parse ("screens/report/BaseGroup.vm")
#end

<!-- GROUP BY PATIENT NAME -->
#if($groupby == 4)

#set($group = "patientName")
#set($groupTitle = $!l10n.patient_name)
#set($groupFld = "patientName")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.customer", "$!l10n.location", "$!l10n.doctor_name", "$!l10n.status",  "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "customerName", "locationName", "doctorName", "status", "totalAmount"] )
#set($width = ["15%", "12%", "15%", "15%", "15%", "15%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right"] )
#set($src = ["h", "h",  "l", "l", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1,-1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], [$location, "getLocationNameByID"], [$doctor, "getDoctorNameByID"], [$tool, "getStatusString"], ""] )
#set($linksrc  = ["", "", "h", "h", "h", "h", ""] )
#set($linkfld  = ["", "", "customerId", "locationId", "doctorId", "status", ""] )

#parse ("screens/report/BaseGroup.vm")

#end

<!-- GROUP BY DOCTOR NAME -->
#if($groupby == 5)

#set($group = "doctorId")
#set($groupTitle = $!l10n.doctor)
#set($groupFld = "doctorId")
#set($groupLink = [$doctor, "getDoctorNameByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.customer", "$!l10n.patient_name", "$!l10n.location", "$!l10n.status",  "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "customerName", "patientName", "locationName", "status", "totalAmount"] )
#set($width = ["15%", "12%", "15%", "15%", "15%", "15%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right"] )
#set($src = ["h", "h",  "l", "h", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1,-1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], "", [$location, "getLocationNameByID"], [$tool, "getStatusString"], ""] )
#set($linksrc  = ["", "", "h", "", "h", "h", ""] )
#set($linkfld  = ["", "", "customerId", "", "locationId", "status", ""] )

#parse ("screens/report/BaseGroup.vm")

#end

<!-- GROUP BY USER -->
#if($groupby == 6)

#set($group = "createBy")
#set($groupTitle = $!l10n.create_by)
#set($groupFld = "createBy")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.customer", "$!l10n.patient_name", "$!l10n.doctor_name", "$!l10n.status",  "<center>$!l10n.total_amount"] ) 
#set($fields = ["prescriptionNo", "createDate", "customerName", "patientName", "doctorName", "status", "totalAmount"] )
#set($width = ["15%", "12%", "15%", "15%", "15%", "15%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right"] )
#set($src = ["h", "h",  "l", "h", "l", "l", "h"] )
#set($sum = [-1, -1, -1, -1,-1, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], "", [$doctor, "getDoctorNameByID"], [$tool, "getStatusString"], ""] )
#set($linksrc  = ["", "", "h", "", "h", "h", ""] )
#set($linkfld  = ["", "", "customerId", "", "doctorId", "status", ""] )

#parse ("screens/report/BaseGroup.vm")

#end


#if($groupby == 7 || $groupby == 8 || $groupby == 9 || $groupby == 10 || $groupby == 11|| $groupby == 12)

#set($group = "itemId")
#set($groupTitle = "")
#set($groupFld = "itemId")
#set($groupLink = [$item,"getItemNameByID"])

#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date","$!l10n.customer","$!l10n.location","<center>$!l10n.price","<center>$!l10n.qty","<center>$!l10n.unit","<center>$!l10n.sub_total"] )
#set($fields = ["prescriptionNo", "createDate", "customerName", "locationName", "itemPrice", "qty", "unitCode", "subTotal"] )
#set($width = ["15%", "12%", "15%", "15%", "10%", "8%", "8%", "15%"] )
#set($align = ["", "", "",  "", "right", "right", "right", "right"] )
#set($src = ["no", "h", "l", "l", "d", "d", "d", "d"] )
#set($sum = [-1, -1, -1, -1, -1, 0, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", [$customer, "getCustomerNameByID"], [$location, "getLocationNameByID"], "", "", "", ""] )
#set($linksrc  = ["", "", "h", "h", "", "", "", ""] )
#set($linkfld  = ["", "", "customerId", "locationId", "", "", "", ""] )

#set($bFromDetails = true)

#end

<!-- GROUP BY KATEGORI -->
#if($groupby == 7)

#parse ("screens/report/GroupByKategori.vm")

#end ##end if transaction GROUP == 11


<!-- GROUP BY ITEM -->
#if($groupby == 8)

#parse ("screens/report/BaseGroup.vm")

#end  ##end if transaction GROUP == 8

<!-- GROUP BY CUSTOMER & ITEM -->
#if($groupby == 9)

#set($group1 = "customerId")
#set($group1Title = $!l10n.customer)
#set($group1Fld = "customerId")
#set($group1Link = [$customer,"getCustomerNameByID"])

#end ##end if transaction GROUP == 9

<!-- GROUP BY LOCATION & ITEM-->
#if($groupby == 10)

#set($group1 = "locationId")
#set($group1Title = $!l10n.location)
#set($group1Fld = "locationId")
#set($group1Link = [$location, "getLocationNameByID"])

#end ##end if transaction GROUP == 10

<!-- GROUP BY PATIENT & ITEM -->
#if($groupby == 11)

#set($group1 = "patientName")
#set($group1Title = $!l10n.patient_name)
#set($group1Fld = "patientName")
#set($group1Link = [""])

#end ##end if transaction GROUP == 11

<!-- GROUP BY DOCTOR & ITEM -->
#if($groupby == 12)

#set($group1 = "doctorId")
#set($group1Title = $!l10n.doctor_name)
#set($group1Fld = "doctorId")
#set($group1Link = [$doctor, "getDoctorNameByID"])

#end ##end if transaction GROUP == 11


#if($groupby == 9 || $groupby == 10 || $groupby == 11 || $groupby == 12)

#set($bFromDetails = true)

#parse ("screens/report/GroupLevel1.vm")  

#end ## end if group == 13 || 14 || 15
  

