#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end



#set($src = $data.Parameters.getString("src", "loc"))
#if($src == "loc")
  #set($srctitle = $!l10n.location)
  #set($srcname = "Location")
#elseif ($src == "dept")
  #set($srctitle = $!l10n.department)
  #set($srcname = "Department")
#elseif ($src == "prj")
  #set($srctitle = $!l10n.project)
  #set($srcname = "Project")
#end

#set($title = "$!l10n.rfee_pack_report")
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($sdate = $data.Parameters.getString("StartDate", ""))
#set($edate = $data.Parameters.getString("EndDate", ""))
#set($color = $data.Parameters.getString("Color", ""))
#set($venid = $data.Parameters.getString("VendorId", ""))
#set($cashier = $data.Parameters.getString("Cashier", ""))

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  ##set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

#set($pageParam = "&Op=1&StartDate=$!{sdate}&KategoriId=$!{katid}&cashier=$!{cashier}")
#set($pageParam = "${pageParam}&EndDate=$!{edate}&src=$!{src}&$!{srcname}Id=$!{srcid}")
<script>
function change(id) 
{	
}
function view(sID)
{
    var sURL = '${link.setPage("transaction,MedicalSalesTrans.vm")}?op=4&id=' + sID;                   
    var prnWnd = window.open (sURL,'printWindow', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
	prnWnd.focus();	 
}
function viewReturn(sID)
{
    var sURL = '${link.setPage("transaction,SalesReturnTransaction.vm")}?op=4&id=' + sID;                   
    var prnWnd = window.open (sURL,'printWindow', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
	prnWnd.focus();	 
}
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">
<input type="hidden" name="op" value="1">

<table width="100%" cellspacing="0" cellpadding="0" border="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($sdate != "")			          
         ($!sdate - $!edate)
  	   #spc(2)
  	   
  	   $srctitle :
  	   #if($srcid == "")
  	     $!l10n.all 
  	   #else
  	     #if($src == "loc")        	     
  	       $!location.getLocationNameByID($srcid)
  	     #elseif ($src == "dept")
  	       $!department.getDepartmentNameByID($srcid) 
  	     #elseif ($src == "prj")
  	       $!project.getProjectNameByID($srcid) 
  	     #end
  	   #end
  	   #spc(2)
  	   #if($katid != "") $!l10n.category: $!kategori.getLongDescription($katid) #spc(2) #end
  	   #if($color != "") $!l10n.color: $!color #spc(2) #end
  	   #if($venid != "") $!l10n.vendor: $!vendor.getVendorNameByID($venid) #end
  	   
  	   
  	  #end
  	  </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr>          
    #if($bIsHO)
    #set($sID = $srcid)
    #subSelect (1)
    #else
    <td>$!l10n.location : </td>
    <td>
      <input type="hidden" name="LocationId" value="$oLoc.getLocationId()">
      $oLoc.getLocationName()            
    </td>	            
    #end

    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sdate">
	    #calf("frm" "StartDate" true)
	    #spc(2)
    </td>	  
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>$!l10n.cashier : </td>
    <td>
      #if($ACCLOC)
        #set($Employees = $employee.getAllEmployee()) 
      #else
        #set($Employees = $employee.getEmployeeByLocationID($USRLOC))
      #end
      #if($data.ACL.Roles.containsName("Cashier"))
        <input type="text" value="$!data.User.Name" name="Cashier" READONLY >
      #else
      <select name="Cashier" #width(200)>                  
        <option value="">-- $!l10n.cashier --</option>
        #foreach ($sales in $Employees)
        #if($sutil.isNotEmpty($sales.UserName))
        <option value="$sales.UserName" #if($!sales.UserName == $cashier) SELECTED #end >
          $!sales.EmployeeName
        </option>
        #end
        #end
      </select>  
      #end ##end if cashier
      #spc(2)      
    </td>	    
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!edate">
  	  #calf("frm" "EndDate" true)
  	  #spc(2)
    </td>	  		  
    <td><input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind"></td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#if($vMST)
  #set($headings = ["No","$!l10n.invoice_no","$!l10n.trans_date","$!l10n.cashier","<center>$!l10n.total_rfee","<center>$!l10n.total_packaging"])
  #set($totalRfee  = 0)
  #set($totalPack  = 0)
  #set($No = 1)
  <table width="100%" cellspacing="0" cellpadding="4">
    #line(10)
    <tr>
      #foreach ($heading in $headings)
      <td class="th4"><b>$heading</b></td>
      #end
    </tr>		
    #line(10)

    #foreach ($oTR in $vMST)  
    #set($dRfee = $medsales.calcTotalRfeePack($oTR.MedicineSalesId,true))
    #set($dPack = $medsales.calcTotalRfeePack($oTR.MedicineSalesId,false))
    <tr>
      <td width="3%"  class="tbs">$!No</td>
      <td width="12%" class="tbs"><a href="#" OnClick="view('$!oTR.MedicineSalesId');">$!oTR.InvoiceNo</a></td>		      
      <td width="24%" class="tbs">$!cformat.formatDateTime($!oTR.TransactionDate)</td>		
      <td width="12%" class="tbs">$!oTR.CashierName</td>		
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dRfee)  </td>
      <td width="15%"  class="tbs" align="right">$!cformat.formatAligned($dPack) </td>
    </tr>
    #set($totalRfee  = $calculator.add($totalRfee,$dRfee))
    #set($totalPack  = $calculator.add($totalPack,$dPack))                      
    #set($No = $No + 1)
    #end  ##end foreach
           
    #line(10)     
    <tr>
      <td class="tbs" align="right" colspan="4"><b>Total &nbsp;&nbsp;       </b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRfee)   </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalPack) </b></td>
    </tr>
    #line(10)
  </table>
#end  

#if($vRET)
  #set($headings = ["No","$!l10n.return_no","$!l10n.return_date","$!l10n.create_by","<center>$!l10n.total_rfee","<center>$!l10n.total_packaging"])
  #set($returnRfee  = 0)
  #set($returnPack  = 0)
  #set($No = 1)
  <table width="100%" cellspacing="0" cellpadding="4">
    #line(10)
    <tr>
      #foreach ($heading in $headings)
      <td class="th4"><b>$heading</b></td>
      #end
    </tr>		
    #line(10)

    #foreach ($oTR in $vRET)  
    #set($dRfeePack = $medreturn.calcRfeePackReturn($oTR))
    #set($dRfee = $tplutil.array($dRfeePack,0))
    #set($dPack = $tplutil.array($dRfeePack,1))
    <tr>
      <td width="3%"  class="tbs">$!No</td>
      <td width="12%" class="tbs"><a href="#" OnClick="viewReturn('$!oTR.SalesReturnId');">$!oTR.ReturnNo</a></td>		      
      <td width="24%" class="tbs">$!cformat.formatDateTime($!oTR.TransactionDate)</td>		
      <td width="12%" class="tbs">$!oTR.CreateBy</td>		
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dRfee) </td>
      <td width="15%" class="tbs" align="right">$!cformat.formatAligned($dPack) </td>
    </tr>
    #set($returnRfee  = $calculator.add($returnRfee,$dRfee))
    #set($returnPack  = $calculator.add($returnPack,$dPack))                      
    #set($No = $No + 1)
    #end  ##end foreach
           
    #line(10)
    <tr>
      <td class="tbs" align="right" colspan="4"><b>Total &nbsp;&nbsp;       </b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($returnRfee) </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($returnPack) </b></td>
    </tr>
    #line(10)
    <tr>
      <td class="tbs" align="right" colspan="4"><b>Grand Total &nbsp;&nbsp;       </b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($calculator.sub($totalRfee,$returnRfee)) </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($calculator.sub($totalPack,$returnPack)) </b></td>
    </tr>
    #line(10)
  </table>                      
#end  

</form>