#set($showUserInfo=true) 
#set($isTwoColumns=true)
#set($mainColumnWidth="80%")

#if(!$isTwoColumns) 
  #set($showUserInfo=false) 
  #set($mainColumnWidth="100%")
#end

<table width="100%">
  <tr>
    <td valign="top" width="$mainColumnWidth">
      <table width="100%">
        <tr>
          <td>&nbsp;</td>
		</tr>
	  </table>
    </td>
    #if($showUserInfo)
    <td valign="top" width="20%">
      #parse("screens/UserInfo.vm")     
      #parse("navigations/AdminMenu.vm")
    </td>
    #end
  </tr>
</table>