#set($title = "$!l10n.db_history" )

<script>
</script>

<form name="frm" method="post" onSubmit="return validate(this)"
  action="$link.setPage($data.ScreenTemplate)" >
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

##<!-- TITLE SECTION -->
<span class="txtTitle2">$title</span>
#if($data.Message)
  <br>
  <span class="txtMessage">$data.Message</span>
  <br>
#end
##<!-- END TITLE SECTION -->
  
<table class="stdTable">
  <tr>
    <td >
      #if($sutil.isNotEmpty($sResult)) Update Result #else Update Script #end
    </td>
  </tr>
  <tr>
    <td valign="top">
      #if($sutil.isNotEmpty($sResult)) 
      <textarea style="height:240px;width:600px;font-family:courier new;font-size:12px" READONLY >$sResult</textarea>
      #else
      <textarea style="height:240px;width:600px;font-family:courier new;font-size:12px" name="UpdateScript"></textarea>
      #end
    </td>         
  </tr>
  <tr>
    <td>
      #if($data.ACL.Roles.containsName("Administrator") && $sutil.isEmpty($sResult))
      <input type="hidden" name="op" value="1">            
      <input type="submit" name="eventSubmit_doSave" value=" $!l10n.save ">
      #end
    </td>
  </tr>                     
</table>
</form>
<br>
<table class="altRowTable">
  <tr>
    #set($headings = ["No","Version","Version Release Date", "Update Date", "Scripts"] )
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
  #set($no = 1)
  #foreach ($rs in $vData)
  <tr>
    <td>$!no</td>
    <td>$!rs.DbVersion </td>
    <td>$!rs.VersionDate</td>
    <td>$!cformat.formatDateTime($!rs.UpdateDate)</td>
    <td>$!rs.UpdateScript</td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
<br><br>
