#set($title = "$!l10n.gl_configuration")

<script>
function changeCurrency()
{
    var sCurrencyID = document.frm.CurrencyId.value;
    var sURL = '$link.setPage($data.ScreenTemplate)?tab=12&CurrencyId=' + sCurrencyID;
    document.location.href = sURL;
}
function changeTax()
{
    var sTaxID = document.frm.TaxId.value;
    var sURL = '$link.setPage($data.ScreenTemplate)?tab=13&TaxId=' + sTaxID;
    document.location.href = sURL;
}
function changeAdjType()
{
    var sAdjTypeID = document.frm.AdjustmentTypeId.value;
    var sURL = '$link.setPage($data.ScreenTemplate)?tab=13&AdjTypeId=' + sAdjTypeID;
    document.location.href = sURL;
}
</script>

#set($sCurrencyID = $data.Parameters.getString("CurrencyId", ""))
#if($sCurrencyID == "")
  #set($Currency = $currency.getDefaultCurrency())
#else
  #set($Currency = $currency.getCurrencyByID($sCurrencyID))
#end

#set($sTaxID = $data.Parameters.getString("TaxId", ""))
#if($sTaxID == "")
  #set($Tax = $tax.getDefaultSalesTax())
#else
  #set($Tax = $tax.getTaxByID($sTaxID))
#end

#set($sAdjTypeID = $data.Parameters.getString("AdjTypeId", ""))
#if($sAdjTypeID == "")
  #set($AdjustmentType = $adjustmenttype.getDefaultAdjustmentType())
#else
  #set($AdjustmentType = $adjustmenttype.getAdjustmentTypeByID($sAdjTypeID))
#end

#set($sStyle = "style=width:70%;min-width:240px;max-width:480px;")

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span><br></td>
    #if($data.Message)
    <td>#spc(4)<span class="txtMessage">$!data.Message</span></td>
    #end
  </tr>
</table>

<form name="frm" method="post" OnSubmit="loading('$!l10n.saving');"
  action="$link.setPage($data.ScreenTemplate).setAction("company.GLConfigAction")">
  <input type="hidden" name="GlConfigId" value="$!GlConfig.GlConfigId">
  
  #parse("/navigations/tabs/GLConfigTab.vm")

  #set($vAll = $account.getAllChildAccount())              
  #set($vAccG1 = $account.getAccountByGLType(1, false, true))
  #set($vAccG2 = $account.getAccountByGLType(2, false, true))
              
  #set($vAcc01 = $account.getAccountByType(1, false, true))
  #set($vAcc02 = $account.getAccountByType(2, false, true))      
  #set($vAcc03 = $account.getAccountByType(3, false, true))  
  #set($vAcc07 = $account.getAccountByType(7, false, true))
  
  #set($vAcc10 = $account.getAccountByType(10, false, true))              
  #set($vAcc11 = $account.getAccountByType(11, false, true))
  #set($vAcc12 = $account.getAccountByType(12, false, true)) 
  #set($vAcc13 = $account.getAccountByType(13, false, true)) 
  #set($vAcc15 = $account.getAccountByType(15, false, true))    
  
  <div id="T11" class="tab-body">
    <table class="stdTable">
      <tr>
        <td colspan="2"><b>$!l10n.default_equity_acc</b></td>
      </tr>
      <tr>
        <td width="25%">$!l10n.ob_acc</td>
        <td>
          <select name="OpeningBalance" $sStyle>
            #foreach ($acc in $vAcc10)
            <option value="$acc.AccountId" #if($GlConfig.OpeningBalance == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.re_acc</td>
        <td>
          <select name="RetainedEarning" $sStyle>
            #foreach ($acc in $vAcc10)
            <option value="$acc.AccountId" #if($GlConfig.RetainedEarning == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><br><b>$!l10n.default_cm_dm_acc</b></td>
      </tr>
      <tr>
        <td>$!l10n.credit_memo</td>
        <td>
          <select name="CreditMemoAccount" $sStyle>
            #foreach ($acc in $vAll)
            <option value="$acc.AccountId" #if($GlConfig.CreditMemoAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.debit_memo</td>
        <td>
          <select name="DebitMemoAccount" $sStyle>
            #foreach ($acc in $vAll)
            <option value="$acc.AccountId" #if($GlConfig.DebitMemoAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><b><br>$!l10n.ds_acc</b></td>
      </tr>
      <tr>
        <td>$!l10n.ds_acc</td>
        <td>
          ##set($vAcc = $account.getAccountByType(1, false, true))
          <select name="DirectSalesAccount" $sStyle>
            #foreach ($acc in $vAcc01)
            <option value="$acc.AccountId" #if($GlConfig.DirectSalesAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.do_acc</td>
        <td>
          <select name="DeliveryOrderAccount" $sStyle>
            <option value="">-- $!l10n.cogs_acc --</option>
            #foreach ($acc in $vAll)
            <option value="$acc.AccountId" #if($GlConfig.DeliveryOrderAccount == $acc.AccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><br>
          <b>$!l10n.default_item_acc
        </td>
      </tr>
      <tr>
        <td>$!l10n.inventory_acc</td>
        <td>          
          <select name="InventoryAccount" $sStyle>
            #foreach ($acc in $vAcc03)
            <option value="$acc.AccountId" #if($GlConfig.InventoryAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.sales_acc</td>
        <td>
          
          <select name="SalesAccount" $sStyle>
            #foreach ($acc in $vAcc11)
            <option value="$acc.AccountId" #if($GlConfig.SalesAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.item_disc_acc</td>
        <td>
          <select name="ItemDiscountAccount" $sStyle>
            #foreach ($acc in $vAcc11)
            <option value="$acc.AccountId" #if($GlConfig.ItemDiscountAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.sales_return_acc</td>
        <td>
          <select name="SalesReturnAccount" $sStyle>
            #foreach ($acc in $vAcc11)
            <option value="$acc.AccountId" #if($GlConfig.SalesReturnAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.cogs_acc</td>
        <td>          
          <select name="CogsAccount" $sStyle>
            #foreach ($acc in $vAcc12)
            <option value="$acc.AccountId" #if($GlConfig.CogsAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.purch_return_acc</td>
        <td>
          <select name="PurchaseReturnAccount" $sStyle>
            #foreach ($acc in $vAcc12)
            <option value="$acc.AccountId" #if($GlConfig.PurchaseReturnAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.exp_acc</td>
        <td>
          <select name="ExpenseAccount" $sStyle>
            #foreach ($acc in $vAcc13)
            <option value="$acc.AccountId" #if($GlConfig.ExpenseAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.unbilled_acc</td>
        <td>          
          <select name="UnbilledGoodsAccount" $sStyle>
            #foreach ($acc in $vAccG2)
            <option value="$acc.AccountId" #if($GlConfig.UnbilledGoodsAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div id="T12" class="tab-body">
    <table class="stdTable">
      <tr>
        <td width="25%">$!l10n.currency </td>
        <td>
          #set($vCurr = $currency.getAllCurrency())
          <select name="CurrencyId" OnChange="changeCurrency();">
            #foreach ($curr in $vCurr)
            <option value="$curr.CurrencyId" #if($curr.CurrencyId == $sCurrencyID) SELECTED #end>
              $curr.CurrencyCode - $curr.Description
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>$!l10n.default_curr_acc</b></td>
        <td></td>
      </tr>
      <tr>
        <td>$!l10n.account_receivable</td>
        <td>
          <select name="ArAccount" $sStyle>
            #foreach ($acc in $vAcc02)
            <option value="$acc.AccountId" #if($Currency.ArAccount == $acc.AccountId) SELECTED #end>
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.account_payable</td>
        <td>
        <select name="ApAccount" $sStyle>
          #foreach ($acc in $vAcc07)
          <option value="$acc.AccountId" #if($Currency.ApAccount == $acc.AccountId) SELECTED #end>
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
        </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.invoice_discount</td>
        <td>
          <select name="SdAccount" $sStyle>
            #foreach ($acc in $vAcc11)
            <option value="$acc.AccountId" #if($Currency.SdAccount == $acc.AccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.realize_gain_loss</td>
        <td>
          
          <select name="RgAccount" $sStyle>
            #foreach ($acc in $vAcc15)
            <option value="$acc.AccountId" #if($Currency.RgAccount == $acc.AccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.unrealize_gain_loss</td>
        <td>
          <select name="UgAccount" $sStyle>
            #foreach ($acc in $vAcc15)
            <option value="$acc.AccountId" #if($Currency.UgAccount == $acc.AccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  ##Other Account
  <div id="T13" class="tab-body">
    <table class="stdTable">
      <tr>
        <td width="25%"><b>$!l10n.tax</b></td>
        <td>
          #set($vTax = $tax.getAllTax())
          <select name="TaxId" OnChange="changeTax();" $sStyle>
            #foreach ($oTax in $vTax)
            <option value="$oTax.TaxId" #if($oTax.TaxId == $sTaxID) SELECTED #end>
              $oTax.TaxCode - $oTax.Description
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.sales_tax_account</td>
        <td>
          <select name="SalesTaxAccount" $sStyle>
            #foreach ($acc in $vAccG2)
            <option value="$acc.AccountId" #if($acc.AccountId == $Tax.SalesTaxAccount) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.purch_tax_account</td>
        <td>          
          <select name="PurchaseTaxAccount" $sStyle>
            #foreach ($acc in $vAccG1)
            <option value="$acc.AccountId" #if($acc.AccountId == $Tax.PurchaseTaxAccount) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>$!l10n.adjustment_type<b></td>
        <td>
          #set($vAdj = $adjustmenttype.getAllAdjustmentType())
          <select name="AdjustmentTypeId" OnChange="changeAdjType();" $sStyle>
            #foreach ($oAdj in $vAdj)
            <option value="$oAdj.AdjustmentTypeId" #if($oAdj.AdjustmentTypeId == $sAdjTypeID) SELECTED #end>
              $oAdj.AdjustmentTypeCode - $oAdj.Description
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.default_adj_account</td>
        <td>
          <select name="DefaultAccountId" $sStyle>
            #foreach ($acc in $vAcc10)
            <option value="$acc.AccountId" #if($acc.AccountId == $AdjustmentType.DefaultAccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
            ## #foreach ($acc in $vAcc11)
            ## <option value="$acc.AccountId" #if($acc.AccountId == $AdjustmentType.DefaultAccountId) SELECTED #end >
            ##   $acc.AccountCode &nbsp; $acc.AccountName
            ## </option>
            ## #end
            #foreach ($acc in $vAcc12)
            <option value="$acc.AccountId" #if($acc.AccountId == $AdjustmentType.DefaultAccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
            #foreach ($acc in $vAcc13)
            <option value="$acc.AccountId" #if($acc.AccountId == $AdjustmentType.DefaultAccountId) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>POS $!l10n.rounding</td>
        <td>
          <select name="PosRoundingAccount" $sStyle>
            <option value="">-- $!l10n.rounding  -- </option>
            #foreach ($acc in $vAcc11)
            <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.PosRoundingAccount) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
            #foreach ($acc in $vAcc12)
            <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.PosRoundingAccount) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>      
      <tr>
        <td>$!l10n.freight_cost  </td>
        <td>
          <select name="DefaultFreightAccount" $sStyle>
            <option value="">-- $!l10n.freight_cost $!l10n.gl_account -- </option>
            #foreach($acc in $vAll)
            <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.DefaultFreightAccount) SELECTED #end >
              $acc.AccountCode &nbsp; $acc.AccountName
            </option>
            #end
          </select>
        </td>
      </tr>      
      <tr>
        <td>$!l10n.ar_payment_temp </td>
        <td>
          <select name="ArPaymentTemp" $sStyle>
          <option value="">-- $!l10n.ar_payment_temp $!l10n.gl_account -- </option>
          #foreach ($acc in $vAll)
          <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.ArPaymentTemp) SELECTED #end >
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.ap_payment_temp </td>
        <td>
          <select name="ApPaymentTemp" $sStyle>
          <option value="">-- $!l10n.ap_payment_temp $!l10n.gl_account -- </option>
          #foreach ($acc in $vAll)
          <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.ApPaymentTemp) SELECTED #end >
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
          </select>
        </td>
      </tr>
      <tr>
        <td>$!l10n.pr_pi_variance  &nbsp;</td>
        <td>
          <select name="PrPiVariance" $sStyle>
          <option value="">-- $!l10n.pr_pi_variance $!l10n.gl_account -- </option>
          #foreach ($acc in $vAll)
          <option value="$acc.AccountId" #if($acc.AccountId == $GlConfig.PrPiVariance) SELECTED #end >
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
          </select>
        </td>        
      </tr>
    </table>
  </div>
  #tblbr(4)
  <table class="fixTable">
    <tr>
      <td width="25%">&nbsp;</td>
      #if($data.ACL.Permissions.containsName("Update Chart Of Account"))
      <td valign="bottom">&nbsp;
        <input type="submit" name="eventSubmit_doSave" value="$!l10n.save $!title"/>
      </td>
      #end
    </tr>
  </table>
</form>

<script>showTab('$!data.Parameters.getInt("tab",11)');</script>