#set($showUserInfo=false) 
#set($isTwoColumns=false)
#set($mainColumnWidth="80%")

#if(!$isTwoColumns) 
    #set($showUserInfo=false) 
    #set($mainColumnWidth="100%")
#end

<table width="100%">
  <tr>
    <td valign="top" width="$mainColumnWidth">
        <table width="100%">
          <tr>
            <td>
              <h2>Error</h2>
              <h4>Processsing Exception : </h4>
                $processingException
              <br><br>
              <hr>
              <h4>StackTrace : </h4>
                <pre class="txtStack">$stackTrace</pre>
              <br>
            </td>
          </tr>
        </table>
    </td>
    <td valign="top" width="20%">
        #if($showUserInfo)
            #parse("navigations/UserInfo.vm")
        #end
    </td>
  </tr>
</table>


