#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans)
  $data.setLayoutTemplate("/PopupWindow.vm")
#end
#set($tplName = $data.Parameters.getString("tplName"))

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords",""))
#set($limit  = $data.Parameters.getInt("ViewLimit",50))
#set($status = $data.Parameters.getInt("Status"))
#set($custid = $data.Parameters.getString("CustomerID",""))
#set($docid = $data.Parameters.getString("DoctorID",""))
#set($locid = $data.Parameters.getString("LocationID","$!USRLOC"))
#set($start = $data.Parameters.getString("StartDate",""))
#set($end = $data.Parameters.getString("EndDate",""))
#set($type = $data.Parameters.getInt("type",1))
#set($typeDesc = $!medconfig.getTypeDesc($type))
#set($sFormTPL = $medconfig.getType($type).FormPage)
#set($title = "$!typeDesc ")
#if(!$sutil.containsIgnoreCase($typeDesc,"record")) #set($title = "$title $!l10n.medical_record") #end
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}")
#set($pageParam = "${pageParam}&Status=${status}&CustomerId=${custid}&LocationId=${locid}&DoctorId=${docid}")
#set($pageParam = "${pageParam}&StartDate=${start}&EndDate=${end}&tplName=${tplName}&fromTrans=${fromTrans}")

<script>
function viewTrans(id)
{
    document.location.href='$link.setPage($sFormTPL)?op=4&id=' + id;
}
</script>
##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span><br></td>
  </tr>
</table>
##<!-- SEARCH -->
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate).setAction("transaction.MedicalRecordAction")?op=next">
<input type="hidden" name="TransType" value="$!type">
<input type="hidden" name="Type" value="$!type">
<table class="searchTable">
  <tr>
    <td>$!l10n.patient : </td>
    <td colspan="3">
      #custSB ($custid "" "" "")
    </td>
    ##<td>
    ##  Type :
    ##</td>
    ##<td colspan="3">
    ##  $!medconfig.getTypeDesc($type)
    ##</td>
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>
      <select name="Condition" #width(150)>
        <option value="10" #if($cond == 10) SELECTED #end >$!l10n.trans_no</option>
        <option value="9"  #if($cond == 9)  SELECTED #end >$!l10n.reg_no</option>
        <option value="1"  #if($cond == 1)  SELECTED #end >$!l10n.customer_name</option>
        <option value="2"  #if($cond == 2)  SELECTED #end >$!l10n.doctor</option>
        <option value="3"  #if($cond == 3)  SELECTED #end >$!l10n.prescription_no</option>
        <option value="4"  #if($cond == 4)  SELECTED #end >$!l10n.description</option>
        <option value="5"  #if($cond == 5)  SELECTED #end >$!l10n.create_by</option>
        ## <option value="6" #if($cond == 6) SELECTED #end >$!l10n.anamnese</option>
        ## <option value="7" #if($cond == 7) SELECTED #end >$!l10n.diagnostic</option>
        ## <option value="8" #if($cond == 8) SELECTED #end >$!l10n.med_treatment</option>
      </select>
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) #spc(1)
    </td>
    <td>$!l10n.location : </td>
    <td>
      #set($sLocID = $locid)
      #set($bPolyOnly = true)
      #parse("screens/transaction/MedLocSB.vm")
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" size="5" name="ViewLimit" value="$limit">
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key">
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true) #spc(1)
    </td>
    <td>$!l10n.doctor : </td>
    <td>
      #set($sDoctorID = $docid)
      #set($bIntDoctorOnly = true)
      #parse("screens/transaction/DoctorSB.vm")
    </td>
    <td colspan="2">
      <input type="button" value="$!l10n.search" name="eventSubmit_doFind" OnClick="document.frm.submit();">
    </td>
  </tr>
</table>
</form>
##<!-- END SEARCH SECTION -->

#set($headings = ["No","$!l10n.reg_no","$!l10n.trans_no","$!l10n.customer","$!l10n.doctor","$!l10n.location","$!l10n.trans_date","$!l10n.create_by","$!l10n.status","&nbsp;"] )
#set($fields = ["","registrationNo","medicalRecordNo","customerName","$!l10n.doctor","locationId","recordDate","createBy","status",""] )

#if($MedRecords)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">
<table class="altRowTable">
  #set($FORMNAME="frm2")
  #sortableHeader ($headings $fields "th2" "sort2" true)
  #set($no = (($LargeData.CurrentPageNumber - 1) * $limit) + 1 )
  #foreach ($inv in $sortingtool.sort($MedRecords,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>$!inv.RegistrationNo</td>
    <td>$!inv.MedicalRecordNo</td>
    <td>$!inv.CustomerName 
      #if(!$sutil.equalsIgnoreCase($inv.CustomerName, $inv.patientName) && !$sutil.empty($patientName))  
      ($!inv.patientName)
      #end
    </td>
    <td>$!inv.DoctorName</td>
    <td>$!inv.LocationName</td>
    <td>$!cf.fmt($!inv.RecordDate)</td>
    <td><b>$!inv.CreateBy<b></td>
    <td><b>$!inv.StatusDesc<b></td>
    <td align="right">
      <ul class="rowLinkNav">
      <li><a href="javascript:viewTrans('$!inv.MedicalRecordId')" title="$!l10n.view"><i class="fa fa-search "></i></a></li>
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
#end ##end if
</form>

#if(!$fromTrans)
<ul class="btmLinkNav">
#btmLinkMenu("$!medconfig.Home" "" "Home" "fa-home")
## #if($type != 1 && $medconfig.hasAccess($type, 2, $data) && $sutil.isNotEmpty($sFormTPL))
## #btmLinkMenu("$sFormTPL" "?op=3&TransType=$type" "$!l10n.add $!title" "")
## #end
</ul>
#end
