$data.setLayoutTemplate("/Empty.vm")       
#set($txcd = $data.Parameters.getString("txcd","trans"))  
#if($preference.medicalInstalled()) #set($txcd = "mst") #end
#set($trans = $data.Session.getAttribute($txcd))
#set($transDet = $data.Session.getAttribute("${txcd}Det"))
#set($bPOS = $data.Parameters.getBoolean("refreshPOS"))
#if(!$bPOS)
<html>
<head>           
<script src="$!data.ContextPath/javascript/screenfull.min.js"></script>
<script src="$!data.ContextPath/javascript/jquery.min.js"></script>	
<script>
console.log(window.screenX + ' ' + window.screenY + ' ' + window.screen.width + ' ' + window.screen.height);
console.log(window.screen.availWidth + ' ' + window.screen.availHeight);
window.resizeTo(window.screen.width, window.screen.height);
function reloadPOS()
{
    jQuery.ajax({
    url: '$link.setPage($data.ScreenTemplate)?refreshPOS=true',
    success: function(msg) 
    {
        //alert(msg);
        jQuery('#pos').html(msg);
    }
    });
}
function resizeVid(det)
{
    var h = (90 - (det * 4)) + 'vh';
    jQuery('#vid').height(h);
}
</script>
<style type="text/css">      
tr,td{border:inherit;}
.txt
{         
border-spacing:0px;    
padding: 8px;   
font-family: Arial; 
font-weight:bold; 
font-size: 20px; 
color: white;   
border: 1px solid white; 
##background: rgb(109,179,242); /* Old browsers */
##background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
##background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
##background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */

## background: rgb(109,179,242); /* Old browsers */
## background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */
## background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */
## background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */
## 
## background: rgb(149,149,149); /* Old browsers */
## background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
## background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
## background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
}
</style>
<title>Media Player</title>
</head>
<body topmargin="0" leftmargin="0" style="background:black;">

#set($height = 98)   
<div id="pos">        
#if($transDet.size() > 0)
#set($txdet = $transDet.size() * 4) 
#set($height = 90 - $txdet)              
<table width="100%">
  #foreach ($td in $transDet)
  <tr class="txt">
    <td>$sutil.left($td.ItemName,25)</td>
    <td align="right">$sutil.right($!cformat.fmt($td.Qty),8)</td>
    <td align="right">$sutil.right($!cformat.fmt($td.ItemPrice),10)</td> 
    <td align="right">$sutil.right($!cformat.fmt($td.SubTotal),13)</td>
  </tr>  
  #end
  <tr class="txt">
    <td align="right">TOTAL #spc(2)</td>
    <td align="right">$!cformat.formatNumber($!trans.TotalQty)</td> 
    <td></td>
    <td align="right">$!cformat.formatNumber($!trans.TotalAmount)</td>  
  </tr>
</table>
## <pre style="font-family:Arial">
## TOTAL ITEM: $!transDet.size()    TOTAL AMOUNT : $!cformat.formatNumber($!trans.TotalAmount)
## #foreach ($td in $transDet)
## $sutil.left($td.ItemName,25) $sutil.right($!cformat.fmt($td.Qty),8) $sutil.right($!cformat.fmt($td.ItemPrice),10) $sutil.right($!cformat.fmt($td.SubTotal),13)
## #end
## </pre>
#end
</div>    
<div id="vid1" style="text-align:center">  
<video id="vid" style="max-width:100%;height:$!{height}vh;" src="$data.ContextPath/video/iklan1.mp4">##loop="loop" autoplay="autoplay">
  <source src="$!data.ContextPath/video/iklan1.mp4" type="video/mp4">
  ## <source src="$!data.ContextPath/video/iklan2.mp4" type="video/mp4">
  ## Your browser does not support the video tag.
</video>
</div>
## <div id="page">		
##   <a href="http://localhost:8080/POS/video/iklan_laserin.mp4"
##      style="display:block;width:800px;height:560px"  
##      id="player"> 
##   </a> 
##   <script>  
##   flowplayer("player", "$!data.ContextPath/javascript/flowplayer/flowplayer-3.2.7.swf", {
## 	clip: {
## 		##duration: 10,
## 		autoPlay: true
## 	},
## 	playlist: [
## 		'http://localhost:8080/RTL/video/iklan_laserin.mp4',
## 		'http://localhost:8080/RTL/video/iklan_anakonidin.mp4'
##         ## 'http://localhost:8080/POS/video/giv1.flv',
##         ## 'http://localhost:8080/POS/video/giv2.flv',
##         ## 'http://localhost:8080/POS/video/miesedap1.mp4',
## 		## 'http://localhost:8080/POS/video/miesedap2.mp4', 
## 		## 'http://localhost:8080/POS/video/nuvo.mp4',		
## 	]
##     });  
##     flowplayer("player").playlist("div.clips:first", {loop:true});
## 	
##   </script>	
## </div>	
</body>
</html>
#else
#if($transDet.size() > 0)
<table width="100%" class="txt">
  #foreach ($td in $transDet)
  <tr class="txt">
    <td>$sutil.left($td.ItemName,25)</td>
    <td align="right">$sutil.right($!cformat.fmt($td.Qty),8)</td>
    <td align="right">$sutil.right($!cformat.fmt($td.ItemPrice),10)</td> 
    <td align="right">$sutil.right($!cformat.fmt($td.SubTotal),13)</td>
  </tr>  
  #end
  <tr class="txt">
    <td align="right">TOTAL #spc(2)</td>
    <td align="right">$!cformat.formatNumber($!trans.TotalQty)</td> 
    <td></td>
    <td align="right">$!cformat.formatNumber($!trans.TotalAmount)</td>  
  </tr>
</table>
#end
<script>
window.resizeVid($!transDet.size())
</script>
#end

<script>
var vid = document.getElementById('vid');   
var pls = [
  "$!data.ContextPath/video/iklan1.mp4", 
  ## "$!data.ContextPath/video/iklan2.mp4",
  ## "$!data.ContextPath/video/iklan3.mp4",
  "$!data.ContextPath/video/iklan4.mp4"
  ];
var activeVideo = 0;
vid.addEventListener('ended', function(e) {
  // update the new active video index
  activeVideo = (++activeVideo) % pls.length;

  // update the video source and play
  vid.src = pls[activeVideo];
  vid.play();
});
vid.play();  
screenfull.request();
</script>