#set($excel = $data.Parameters.getBoolean("excel"))
#set($op = $data.Parameters.getInt("op"))
#set($mode = $data.Parameters.getString("mode" , "report"))
#set($src = $data.Parameters.getString("src" , "loc"))
#set($sID = $data.Parameters.getString("id", ""))
#set($printable = $data.Parameters.getBoolean("printable"))

#if($mode == "popup")
  $data.setLayoutTemplate("/PopupWindow.vm")
#elseif ($mode == "print" || $printable)
  $data.setLayoutTemplate("/Printable.vm")
#end

#set($sdate   = $data.Parameters.getString("StartDate","$!cformat.formatDate($dutil.getStartOfMonthDate($dutil.getTodayDate()))"))
#set($edate   = $data.Parameters.getString("EndDate","$!cformat.formatDate($dutil.getTodayDate())"))
#set($accid   = $data.Parameters.getString("AccountId"))
#set($mode    = $data.Parameters.getString("mode"))
#set($gltype  = $data.Parameters.getInt("GlType"))
#set($groupby = $data.Parameters.getInt("GroupBy"))
#set($transno = $data.Parameters.getString("TransactionNo",""))
#set($accno   = $data.Parameters.getString("AccountNo",""))
#set($sltype  = $data.Parameters.getInt("SubLedgerType",2))

#set($sltitle = $!l10n.customer)
#set($subid = "CustomerId")
#if($sltype == 1)
#set($sltitle = $!l10n.vendor)
#set($subid = "VendorId")
#end
#set($slid  = $data.Parameters.getString("$subid",""))
#set($summ  = $data.Parameters.getBoolean("Summary"))
#set($bZero  = $data.Parameters.getBoolean("DisplayZero"))

#set($pageParam = "&StartDate=${sdate}&EndDate=${edate}&AccountId=${accid}&GroupBy=${groupby}")
#set($pageParam = "$pageParam&TransactionNo=$!{sutil.encode($transno)}&AccountNo=$!{sutil.encode($accno)}")
#set($pageParam = "$pageParam&src=${src}&id=${sID}&gltype=${gltype}&groupby=${groupby}&DisplayZero=${bZero}")
#set($pageParam = "$pageParam&SubLedgerType=$sltype&$subid=$slid&Summary=${summ}&op=$!{op}")

#set($dStart = $!dutil.getStartOfDayDate($cparser.parseDate($sdate)))
#set($dEnd   = $!dutil.parseEndDate($edate))
#set($title = "$!l10n.account_history ($sdate - $edate)")

#set($bPLOnly = false)
#if($src == "dept")
  #set($oDept = $department.getDepartmentByID($sID))
  #set($title = "$!title [$!l10n.department: $!oDept.DepartmentName]" )
  #set($bPLOnly = false)
#elseif($src == "prj")
  #set($oPrj = $project.getProjectByID($sID))
  #set($title = "$!title [$!l10n.project: $!oDept.ProjectName]" )
  #set($bPLOnly = true)
#elseif($src == "loc")
  #set($oLoc = $location.getLocationByID($sID))
  #set($title = "$!title [$!l10n.location: $!oLoc.LocationName]" )
#end

<script>
var wndAcc;
function openAccountLookUpWindow()
{
    if (!wndAcc || wndAcc.closed)
    {
        var sURL = '${link.setPage("transaction,AccountLookup.vm")}?src=5';
        wndAcc = window.open(sURL, 'wndAcc',
            'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=600,left=20,top=20');
    }
    wndAcc.focus();
}
function changeSL()
{
    document.location.href='$link.setPage($data.ScreenTemplate)?SubLedgerType=' + document.frm.SubLedgerType.value;
}
function submitForm(e)
{
    var f = document.frm;
    if(f.GroupBy.value == 3 && f.Summary.checked && f.AccountNo.value == '')
    {
        alert('$!l10n.fill_in $!l10n.account_code');
        f.AccountNo.select();
        return false;
    }
    f.op.value = 1;
    f.submit();
}
function change(fld)
{
    var f = document.frm;
    f.id.value = eval('document.frm.' + fld + '.value');
    //f.submit();
}
</script>
#reportPrintJS()
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<table class="fixTable">
  <tr>
    <td #if($printable) colspan="10" #end ><span class="txtTitle2"><b>$title</span></td>
    #if(!$printable)
    <td align="right">
      <a href="javascript:printReport();">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
      <a href="javascript:printReport(true);">
      <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/></a>
    </td>
    #end
  </tr>
</table>

##<!-- SEARCH -->
#if(!$printable)
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
  <input type="hidden" name="id" value="$sID">
  <input type="hidden" name="src" value="$src">
  <input type="hidden" name="op" value="$!op">

  <table class="searchTable">
    <tr>
      #subSelect(1)
      <td>Sub Ledger Type : </td>
      <td>
        <select name="SubLedgerType" #width(120) OnChange="changeSL();">
          <option value="2" #if($sltype == 2) SELECTED #end >$!l10n.customer</option>
          <option value="1" #if($sltype == 1) SELECTED #end >$!l10n.vendor</option>
        </select>
        #spc(2)
      </td>
      <td>Sub Ledger : </td>
      <td colspan="3">
        #if($sltype == 1) #vendorSB($slid "" "") #end
        #if($sltype == 2) #custSB($slid "" "" "") #end
      </td>
    </tr>
    <tr>
      <td>$!l10n.group_by : </td>
      <td>
        <select name="GroupBy" #width(200)>
          <option value="1" #if($groupby == 1) SELECTED #end >$!l10n.account</option>
          <option value="2" #if($groupby == 2) SELECTED #end >SubLedger & $!l10n.account</option>
          <option value="3" #if($groupby == 3) SELECTED #end >$!l10n.account & SubLedger</option>
        </select>
        #spc(2)
      </td>
      <td>$!l10n.trans_no : </td>
      <td>
        <input type="text" name="TransactionNo" value="$!transno" #width(120)>
        #spc(2)
      </td>
      <td>$!l10n.start_date : </td>
      <td>
        <input type="text" size="10" name="StartDate" value="$!sdate">
        #calf("frm" "StartDate" true)
      </td>
      <td>
        <input type="checkbox" name="DisplayZero" class="cb" #if($bZero) CHECKED #end>
        $!l10n.include_zero
      </td>
    </tr>
    <tr>
      <td>$!l10n.gl_type :</td>
      <td>
        #glType($bPLOnly true "")
        #spc(2)
      </td>
      <td>$!l10n.account_no : </td>
      <td>
        <input type="text" name="AccountNo" value="$!accno" #width(100)>
        <a href="javascript:void(0)"  OnClick="openAccountLookUpWindow();" title="$!l10n.find $!l10n.account">
        <i class="fa fa-search"></i>
        </a>
        #spc(2)
      </td>
      <td>$!l10n.end_date : &nbsp;</td>
      <td>
        <input type="text" size="10" name="EndDate" value="$!edate">
          #calf("frm" "EndDate" true)
      </td>
      <td>
        <input type="checkbox" name="Summary" #if($summ) CHECKED #end>
        $!l10n.summary
        <input type="hidden" name="mode" value="$mode">
        <input type="hidden" name="AccountId" value="$!accid">
        <input type="button" value="$!l10n.view_report" OnClick="submitForm();">
      </td>
    </tr>
  </table>
  <a name="display"></a><br>
</form>
#end ##if mode
##<!-- END SEARCH SECTION -->

#if($op == 1)
#if($groupby == 1 || $groupby == 2 || ($groupby == 3 && !$summ))
  #set($vTrans = $gltransaction.findData(0, $gltype, $accid, $src, $sID, $transno, $accno, $dStart, $dEnd, $sltype, $slid))
#end

#if($groupby == 1)  ##BY ACCOUNT
  #set($vFilter = $butil.getDistinctListByField($vTrans,"accountId"))
  #set($vFilter = $sortingtool.sortList($vFilter, "com.ssti.enterprise.pos.comparator.GlTransactionAccountComparator"))
  ##set($vFilter = $sortingtool.sort($vFilter, "debitCredit"))
  #foreach($oData in $vFilter)
    #set($vFTrans = $butil.filterListByFieldValue($vTrans,"accountId",$oData.AccountId))
    #set($oAcc = $account.getAccountByID($oData.AccountId))
    #if($oAcc.CurrencyId == $currency.getDefaultCurrency().CurrencyId)
      #set($bMulti = false)
    #else
      #set($bMulti = true)
    #end
    #if($bMulti)
      #set($headings = ["$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.user_name", "<center>$!l10n.currency", "<center>$!l10n.rate", "<center>$!l10n.debit", "<center>$!l10n.credit","<center>$!l10n.amount","<center>$!l10n.ending_balance" ] )
    #else
      #set($headings = ["$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.description", "$!l10n.user_name", "<center>$!l10n.debit", "<center>$!l10n.credit", "<center>$!l10n.ending_balance"] )
    #end
    #set($dBalance = $!accountbalance.getBalance($oData.AccountId, $src, $sID, $!cparser.parseDate($sdate)) )
    #set($dBalance = $tplutil.array($dBalance,0) )
    <table class="stdTable">
      <tr>
        <td colspan="6">
          <b>$oAcc.AccountCode - $oAcc.AccountName, $!l10n.balance_as_of $sdate : $cformat.fmtAlg($dBalance)
        </td>
      </tr>
      <tr class="th4" height="23">
        #foreach ($heading in $headings)
          <td>$heading</td>
        #end
        <td>SL $!l10n.code</td>
        <td>SL $!l10n.Node</td>
        <td>$!l10n.description</td>
      </tr>
      #set($dTotalDebit = 0)
      #set($dTotalCredit = 0)
      #foreach ($oTrans in $vFTrans)
      #if($sltype == 2)
        #set($oSL = $customer.getCustomerByID($oTrans.SubLedgerId))
      #elseif($sltype == 1)
        #set($oSL = $vendor.getVendorByID($oTrans.SubLedgerId))
      #end
      <tr>

        ##<td width="11%">
        ##  <a href="$link.setPage($!gltransaction.getTransScreen($oTrans.TransactionType))?op=4&id=$!oTrans.TransactionId">
        ##    $!gltransaction.getTransType($oTrans.TransactionType)
        ##  </a>
        ##</td>
        <td width="10%">
          <a href="$link.setPage($!gltransaction.getTransScreen($oTrans))?op=4&id=$!oTrans.TransactionId"
            onmouseover="tooltip('$!sutil.tooltip($!oTrans.Description)');" onmouseout="exit();" >
            $!oTrans.TransactionNo ## $!oTrans.TransactionType
          </a>
        </td>
        <td width="8%">$!cformat.formatDateTime($!oTrans.TransactionDate)</td>
        #if(!$bMulti)
        <td width="20%">
          #if(!$excel)
          <input type="text" class="text2" value="$!oTrans.Description" style="width:99%" READONLY
            onmouseover="tooltip('$!sutil.tooltip($!oTrans.Description)');" onmouseout="exit();"	>
          #else
          $!oTrans.Description
          #end
        </td>
        #end
        <td width="7%">$!oTrans.UserName </td>
        #if($bMulti)<td width="8%">$!currency.getCurrencyByID($!oTrans.CurrencyId).CurrencyCode </td> #end
        #if($bMulti)<td width="8%" align="right">$!cformat.fmtAlg($!oTrans.CurrencyRate)</td>  #end
        <td width="10%" align="right">#if($oTrans.DebitCredit == 1) $!cformat.fmtAlg($oTrans.AmountBase) #else #if(!$excel) - #else 0 #end #end</td>
        <td width="10%" align="right">#if($oTrans.DebitCredit == 2) $!cformat.fmtAlg($oTrans.AmountBase) #else #if(!$excel) - #else 0 #end #end</td>
        #if($bMulti)
          <td width="12%" align="right">
            #if($oTrans.DebitCredit == $oAcc.NormalBalance)
              $!cformat.fmtAlg($oTrans.AmountBase)
            #else
              ($!cformat.fmtAlg($oTrans.AmountBase))
            #end
          </td>
        #end
        #if($oTrans.DebitCredit == 1) #set($dTotalDebit = $calculator.add($dTotalDebit, $oTrans.AmountBase)) #end
        #if($oTrans.DebitCredit == 2) #set($dTotalCredit = $calculator.add($dTotalCredit, $oTrans.AmountBase)) #end
        #set($dBalance = $calculator.add($dBalance,$account.checkBalancePlusMinus($oTrans.AccountId,$oTrans.DebitCredit,$oTrans.AmountBase.doubleValue())))
        <td width="12%" align="right">$!cformat.fmtAlg($dBalance)</td>
        <td>$!oSL.Code</td>
        <td>$!oSL.Name</td>
        <td>$!oTrans.Description</td>
      </tr>
      #end ## end foreach vTrans
      <tr class="th4">
        <td>#spc(1)</td>
        <td>#spc(1)</td>
        #if(!$bMulti)
        <td>#spc(1)</td>
        #end
        <td>#spc(1)</td>
        #if($bMulti)<td >#spc(1)</td> #end
        #if($bMulti)<td >#spc(1)</td>  #end
        <td align="right"><b>$!cformat.fmtAlg($dTotalDebit) </b></td>
        <td align="right"><b>$!cformat.fmtAlg($dTotalCredit)</b></td>
        #if($bMulti)<td align="right">#spc(1)</td> #end
        <td>$cformat.fmtAlg($dBalance)</td>
      </tr>
    </table>
  #end ##end foreach filter
#end ## end if groupby ACCOUNT

#if($groupby == 2)   ##SUB LEDGER ID & ACCOUNT
  #set($headings = ["$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.user_name", "$!l10n.currency", "$!l10n.rate", "$!l10n.amount", "$!l10n.debit", "$!l10n.credit", "$!l10n.description"] )
  #set($vFilter = $butil.getDistinctListByField($vTrans,"subLedgerId"))
  <table class="stdTable">
  #foreach ($oData in $vFilter)
    #set($vFTrans = $butil.filterListByFieldValue($vTrans,"subLedgerId",$oData.SubLedgerId))
    <tr>
      <td colspan="10">
        <b> $sltitle:
        #if($sltype == 1) #set($oENT = $!vendor.getVendorByID($!oData.SubLedgerId))     $!oENT.VendorCode - $!oENT.VendorName #end
        #if($sltype == 2) #set($oENT = $!customer.getCustomerByID($!oData.SubLedgerId)) $!oENT.CustomerCode - $!oENT.CustomerName #end
        </b>
      </td>
    </tr>
    #set($vSubLed = $butil.getDistinctListByField($vFTrans,"accountId"))
    #foreach ($oData2 in $vSubLed)
      #set($vFTrans2 = $butil.filterListByFieldValue($vFTrans,"accountId",$oData2.AccountId))
      <tr>
        <td width="2%">&nbsp;</td>
        <td colspan="9"><b>
          #set($oACC = $!account.getAccountByID($oData2.AccountId))
          $!l10n.account : $!oACC.AccountCode -  $!oACC.AccountName
        </td>
      </tr>
      <tr class="th4">
        <td width="2%"></td>
        #foreach ($heading in $headings)
        <td>$heading</td>
        #end
      </tr>
      <tr>
        #set($vFTrans2 = $sortingtool.sort($vFTrans2, "debitCredit"))
        #foreach ($oTrans in $vFTrans2)
        #set($oAcc = $account.getAccountByID($oTrans.AccountId))
          <td width="2%"></td>
          <td width="10%">
            <a href="$link.setPage($!gltransaction.getTransScreen($oTrans))?op=4&id=$!oTrans.TransactionId"
              onmouseover="tooltip('$!sutil.tooltip($!oTrans.Description)');" onmouseout="exit();" >
              $!oTrans.TransactionNo ## $!oTrans.TransactionType
            </a>
          </td>
          <td width="12%">$!cformat.formatDateTime($!oTrans.TransactionDate)</td>
          <td width="10%">$!oTrans.UserName </td>
          <td width="8%">$!currency.getCurrencyByID($!oTrans.CurrencyId).CurrencyCode </td>
          <td width="8%">$!oTrans.CurrencyRate </td>
          <td width="10%" align="right">$!cf.fmtAlg($!oTrans.Amount) </td>
          <td width="12%" align="right">#if($oTrans.DebitCredit == 1) $!cformat.fmtAlg($oTrans.AmountBase) #else - #end</td>
          <td width="12%" align="right">#if($oTrans.DebitCredit == 2) $!cformat.fmtAlg($oTrans.AmountBase) #else - #end</td>
          <td width="8%">$!oTrans.Description </td>
        </tr>
        #end ## end foreach vTrans
        #linea(10)
      </tr>
    #end ##end foreach no filter
  #end ##end foreach type filter
  </table>
#end ## end if groupby ACC & SUB LEDGER

#if($groupby == 3 && !$summ)   ##BY ACCOUNT & SUB LEDGER ID
  #set($headings = ["$!l10n.trans_no", "$!l10n.trans_date",  "$!l10n.user_name", "$!l10n.currency", "$!l10n.rate", "$!l10n.amount", "$!l10n.debit", "$!l10n.credit", "$!l10n.description"] )
  #set($vFilter = $butil.getDistinctListByField($vTrans,"accountId"))
  <table class="stdTable">
  #foreach($oData in $vFilter)
    #set($vFTrans = $butil.filterListByFieldValue($vTrans,"accountId",$oData.AccountId))
    #set($oACC = $!account.getAccountByID($oData.AccountId))
    ###set($dBalance = $!accountbalance.getBalance($oACC.AccountId, $src, $sID, $!cparser.parseDate($sdate)) )
    ###set($dBalance = $tplutil.array($dBalance,0) )
    <tr>
      <td colspan="10">
        <b>$!l10n.account : $!oACC.AccountCode -  $!oACC.AccountName </b> ##, $!l10n.balance_as_of $sdate : $cformat.fmtAlg($dBalance)
      </td>
    </tr>
    #set($vSubLed = $butil.getDistinctListByField($vFTrans,"subLedgerId"))
    #foreach ($oData2 in $vSubLed)
      #set($vFTrans2 = $butil.filterListByFieldValue($vFTrans,"subLedgerId",$oData2.SubLedgerId))
      <tr>
        <td width="2%">&nbsp;</td>
        <td colspan="9">
          <b>$sltitle :
          #if($sltype == 1) #set($oENT = $!vendor.getVendorByID($!oData2.SubLedgerId))     $!oENT.VendorCode - $!oENT.VendorName #end
          #if($sltype == 2) #set($oENT = $!customer.getCustomerByID($!oData2.SubLedgerId)) $!oENT.CustomerCode - $!oENT.CustomerName #end
          </b>
        </td>
      </tr>
      <tr>
        <td width="2%">&nbsp;</td>
        #foreach ($heading in $headings)
        <td class="th4">$heading</td>
        #end
      </tr>
      #set($vFTrans2 = $sortingtool.sort($vFTrans2, "debitCredit"))
      #foreach ($oTrans in $vFTrans2)
      #set($oAcc = $account.getAccountByID($oTrans.AccountId))
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="11%">
          <a href="$link.setPage($!gltransaction.getTransScreen($oTrans))?op=4&id=$!oTrans.TransactionId">
            $!oTrans.TransactionNo
          </a>
        </td>
        <td width="12%">$!cformat.formatDateTime($!oTrans.TransactionDate)</td>
        <td width="10%">$!oTrans.UserName </td>
        <td width="8%">$!currency.getCurrencyByID($!oTrans.CurrencyId).CurrencyCode </td>
        <td width="6%">$!oTrans.CurrencyRate </td>
        <td width="10%" align="right">$!cf.fmtAlg($!oTrans.Amount) </td>
        <td width="12%" align="right">#if($oTrans.DebitCredit == 1) $!cformat.fmtAlg($oTrans.AmountBase) #else - #end</td>
        <td width="12%" align="right">#if($oTrans.DebitCredit == 2) $!cformat.fmtAlg($oTrans.AmountBase) #else - #end</td>
        <td>$!oTrans.Description</td>
      </tr>
      #end ## end foreach vTrans
      #linea(10)
    </tr>
    #end ##end foreach no filter
  #end ##end foreach type filter
  </table>
#end ## end if groupby ACC & SUB LEDGER

#if($groupby == 3 && $summ)   ##BY ACCOUNT & SUB LEDGER ID SUMMARY
  ## WARNING - BEWARE OF OUT OF MEMORY BECAUSE GL TRANSACTION RECORD CAN BE VERY BIG
  #set($vTrans = $gltransaction.findData(0, $gltype, $accid, $src, $sID, $transno, $accno, $null, $null, $sltype, $slid))
  #set($vFilter = $butil.getDistinctListByField($vTrans,"accountId"))
  <table class="stdTable">
  #foreach($oData in $vFilter)
    #set($vFTrans  = $butil.filterListByFieldValue($vTrans,"accountId",$oData.AccountId))
    #set($oAcc     = $!account.getAccountByID($oData.AccountId))
    #set($dBalance = $!accountbalance.getBalance($oAcc.AccountId, $src, $sID, $dStart) )
    #set($dBalance = $!tplutil.array($dBalance,0))
    #set($dDebit   = $!gltransaction.getChanges($oAcc.AccountId, $src, $sID, $dStart, $dEnd, 1))
    #set($dCredit  = $!gltransaction.getChanges($oAcc.AccountId, $src, $sID, $dStart, $dEnd, 2))
    #set($dDebit   = $!tplutil.array($dDebit,0))
    #set($dCredit  = $!tplutil.array($dCredit,0))
    #set($dEndBalance = $cal.add($dBalance,$account.checkBalancePlusMinus($oAcc.AccountId,1,$dDebit)))
    #set($dEndBalance = $cal.add($dEndBalance,$account.checkBalancePlusMinus($oAcc.AccountId,2,$dCredit)))

    <tr class="th5">
      <td colspan="2">$!l10n.code</td>
      <td>$!l10n.account_name</td>
      <td><center>$!l10n.beginning_balance</td>
      <td><center>$!l10n.debit</td>
      <td><center>$!l10n.credit</td>
      <td><center>$!l10n.ending_balance</td>
    </tr>
    <tr class="th4">
      <td colspan="2">$!oAcc.AccountCode</td>
      <td>$!oAcc.AccountName</td>
      <td align="right"><b>$!cformat.fmtAlg($dBalance)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dDebit)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dCredit)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dEndBalance)</b></td>
    </tr>

    #set($dTotalBalance = 0)
    #set($dTotalDebit   = 0)
    #set($dTotalCredit  = 0)
    #set($dTotalEndBal  = 0)

    ##set($vSubLed = $subledgertool.getSubLedger($sltype, $oAcc.AccountId, $locid))

    #set($vFilter2 = $butil.getDistinctListByField($vFTrans,"subLedgerId"))
    #foreach($oData2 in $vFilter2)
    #set($dSLBalance = 0)
    #set($dSLDebit   = 0)
    #set($dSLCredit  = 0)
    #set($dSLEndBal  = 0)

    ##set($sSLID = $oData2.getValue(1).asString())
    #set($sSLID = $oData2.SubLedgerId)
    #set($dSLBalance = $!subledgertool.getSLBalanceAsOf($vTrans, $oAcc.AccountId, $sltype, $sSLID, $dStart))
    #set($dSLBalance = $!tplutil.array($dSLBalance,0))
    #set($dSLChanges  = $!subledgertool.getSLChanges($vTrans, $oAcc.AccountId, $sltype, $sSLID, $dStart, $dEnd))
    #set($dSLDebit  = $dSLChanges.BaseDebit)
    #set($dSLCredit = $dSLChanges.BaseCredit)
    #set($dSLEndBal = $calculator.add($dSLBalance,$account.checkBalancePlusMinus($oAcc.AccountId,1,$dSLDebit)))
    #set($dSLEndBal = $calculator.add($dSLEndBal, $account.checkBalancePlusMinus($oAcc.AccountId,2,$dSLCredit)))

    #set($dTotalBalance = $calculator.add($dTotalBalance, $dSLBalance))
    #set($dTotalDebit   = $calculator.add($dTotalDebit  , $dSLDebit  ))
    #set($dTotalCredit  = $calculator.add($dTotalCredit , $dSLCredit ))
    #set($dTotalEndBal  = $calculator.add($dTotalEndBal , $dSLEndBal ))
    #if($sltype == 1) #set($oENT = $!vendor.getVendorByID($!sSLID))     #end
    #if($sltype == 2) #set($oENT = $!customer.getCustomerByID($!sSLID)) #end
    #if($bZero || ($dSLBalance.intValue() > 0 || $dSLDebit.intValue() > 0 || $dSLCredit.intValue() > 0 || $dSLEndBal.intValue() > 0))
    <tr>
      <td width="10">#spc(1)</td>
      <td><b>#if($sltype == 1) $!oENT.VendorCode #else $!oENT.CustomerCode #end</td>
      <td><b>#if($sltype == 1) $!oENT.VendorName #else $!oENT.CustomerName #end</td>
      <td align="right">$!cformat.fmtAlg($dSLBalance)</b></td>
      <td align="right">$!cformat.fmtAlg($dSLDebit)</b></td>
      <td align="right">$!cformat.fmtAlg($dSLCredit)</b></td>
      <td align="right">$!cformat.fmtAlg($dSLEndBal)</b></td>
    </tr>
    #end ##end if displayZero
    #end ##end foreach vSL
    <tr class="th4">
      <td></td>
      <td colspan="2"><b>TOTAL $!oAcc.AccountCode -  $!oAcc.AccountName SubLedger</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dTotalBalance)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dTotalDebit)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dTotalCredit)</b></td>
      <td align="right"><b>$!cformat.fmtAlg($dTotalEndBal)</b></td>
    </tr>
  #end ##end foreach account
  </table>
  <br><br>
#end ## end if groupby ACC & SUB LEDGER
#end ##end if accid
