#set($bIsADJ = "true")
$data.setLayoutTemplate("/Transaction.vm")
#set($title = "$!l10n.internal_transfer")
#set($bAjax = true)
#set($tplAction = "transaction.intransfer.InternalTransferAction")  
#set($AJAXURL = "transaction,intransfer,InternalTransferDetail.vm")

#createInvCommonJS("$!ir.TransactionNo" "transaction,intransfer,InternalTransferView.vm")
#if($ir.Status == 3) #set($bEditable = false) #end
#set($bViewCost = true)
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
#set($bViewCost = false)
#end
<script src="${data.ContextPath}/javascript/jq/jquery.periodicalupdater.js"></script>
<script>
#if($ir.TransactionType == 2) ##OUT
  #set($iType = 1) ##mode = 1 credit
  #set($sCV = "Customer")
#elseif ($ir.TransactionType == 1) ##IN
  #set($iType = 2) ##mode = 2 debit memo
  #set($sCV = "Vendor")
#end

function setTransType()
{                                               
    var f = document.frm;
    if (f.TransactionType.value != '')
    {
        f.action = '$link.setPage($data.ScreenTemplate)';
        f.op.value = 9;
        f.submit();
    }
}
function changeAdjustmentType()
{                                               
    var sURL = '$link.setPage("transaction,AdjustmentTypeSelector.vm")?AdjustmentTypeId=' + 
        document.frm.AdjustmentTypeId.value;
    var wndAdj  = window.open (sURL, 'wndAdj', 
        'toolbar=no,scrollbars=no,menubar=no,statusbar=no,resizable=no,width=1,height=1,left=1000,top=1000');
    wndAdj.focus();     
}
function calculateQty()
{
    var f = document.frm;
    var iCurrentQty = 0;    
    var sQty = f.CurrentQty.value;
    if (sQty != '')
    {
        iCurrentQty = parseFloat(f.CurrentQty.value);
        if (isNaN(iCurrentQty)) iCurrentQty = 0;
    }
    var iQty = parseFloat(f.Qty.value);
}
function validateDetail () 
{
    var frm = document.frm;
                 
    if (frm.ItemId.value    == "") {alert ('$!l10n.fill_in $!l10n.item_data '); frm.ItemCode.focus(); return false;}
    if (frm.ItemCode.value  == "") {alert ('$!l10n.fill_in $!l10n.item_code '); frm.ItemCode.focus(); return false;}
    if (frm.ItemName.value  == "") {alert ('$!l10n.fill_in $!l10n.item_name '); frm.ItemName.focus(); return false;}
        
    var iQty = parseFloat(frm.Qty.value);
    var iCurrentQty = parseFloat(frm.CurrentQty.value);
    var iPendingQty = parseFloat(frm.PendingQty.value);
    if(frm.ItemType.value == "1")
    {   
        if (frm.TransactionType.value == "2"  || iQty < 0)
        {                                                          
            if (frm.InventoryType.value != "2")
            {
                if(iCurrentQty < iQty + iPendingQty) {alert('$!l10n.qty_oh_not_avail'); return false;}
            }
            else
            {
                if(iCurrentQty < iQty)
                {
                    if (!confirm("$!l10n.qty_oh_not_avail, $!l10n.continue ?")){ return false; }
                }
            }   
        }                                                          
    }
    
    #if($iType == 2)
    if (fromID == toID){alert('From Location and To Location must be different');frm.ToLocationId.focus();return false;}
    #end
    return true;
}
function validate(frm)
{
    var f = document.frm;
    var n = parseInt(f.TotalNo.value) - 1;
    if (n == 0)
    {
        alert('$!l10n.fill_in $!l10n.item_list');
        return false;
    }
    if (!validateDate(f.TransactionDate.value)) { return false; }    
    #isEmpty ("frm" "TransactionType")    
    #isEmpty ("frm" "AdjustmentTypeId")
    #isEmpty ("frm" "LocationId")
    #isEmpty ("frm" "AccountId")
    
    if (f.WarnCost)
    {
        if (f.WarnCost.value == 'true'){return confirm('Cost must be checked, Continue?');}
    }
    return true;
}
function generateTransfer()
{
    var f = document.frm;
    f.op.value = 7;
    f.gentarget.value = 'binary';
    f.action = '$link.setPage($data.ScreenTemplate)';
    f.submit();    
}
function openRequestWindow() 
{
    var f = document.frm;
    var sCustID = f.CustomerId.value;    
    var sLocID = f.LocationId.value;
    var sURL = '${link.setPage("transaction,intransfer,ItemRequestLookup.vm")}?CustomerId=' + sCustID + '&LocationId=' + sLocID;     
    var wndTR = window.open(sURL, 'wndTR', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');    
    wndTR.focus();
}
function openReceiptWindow() 
{
    var f = document.frm;
    var sCustID = f.CustomerId.value;    
    var sLocID = f.LocationId.value;
    var sURL = '${link.setPage("transaction,intransfer,PRLookup.vm")}?CustomerId=' + sCustID + '&LocationId=' + sLocID;     
    var wndTR = window.open(sURL, 'wndTR', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');    
    wndTR.focus();
}
function openTransferWindow()
{
    var sURL = '${link.setPage("transaction,intransfer,LoadInternalTransfer.vm")}';
    var wndTR = window.open(sURL, 'wndTR', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndTR.focus();
}
function openImportItemWindow() 
{
    var f = document.frm;
    var sURL = '$link.setPage("transaction,ImportIssueReceiptExcel.vm")?LocationId=' + f.LocationId.value +
        '&InternalTransfer=true' +         
        '&AdjustmentTypeId=' + f.AdjustmentTypeId.value +
        '&AccountId=' + f.AccountId.value +
        '&CrossEntityId=' + f.$!{sCV}Id.value +
        '&TransactionType=' + f.TransactionType.value + 
        '&TransactionDate=' + f.TransactionDate.value + 
        '&Status=' + f.Status.value + 
        '&CostAdjustment=' + f.CostAdjustment.checked + 
        '&Description=' + f.TransDescription.value;
    
    var wndItem  = window.open (sURL, 'issueWindow', 
        'toolbar=no,scrollbars=yes,menubar=no,statusbar=yes,resizable=no,width=560,height=200,left=20,top=200');
    
    wndItem.focus();
}
function loadTransfer()
{
    var f = document.frm;
    f.op.value = 8;
    f.gentarget.value = 'binary';
    f.action = '$link.setPage($data.ScreenTemplate)';
    f.submit();    
}
function downloadFile()
{
    var sURL = '$data.ContextPath/download/$!ir.FileName';
    var wndFile = window.open(sURL, 'wndFile', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndFile.focus();
}
function sendEmail()
{
    var f = document.frm;
    f.op.value = 11;
    f.action = '$link.setPage($data.ScreenTemplate)';
    f.submit();    
}
function upload()
{
    var f = document.frm;
    f.op.value = 12;
    f.action = '$link.setPage($data.ScreenTemplate)';
    f.submit();    
}
#if($ir.TransactionType == 1)
function updateOut()
{
    var f = document.frm;
    f.op.value = 14;
    f.action = '$link.setPage($data.ScreenTemplate)';
    f.submit();    
}
#end
function checkInet()
{    
    jQuery.PeriodicalUpdater('$link.setPage("periodic,ConnectionStatus.vm")', {
        minTimeout: 10000, maxTimeout:60000, runatonce: true
    }, function(resp){jQuery('#inetStatus').html(resp);} );
}
#printTrans("$!ir.IssueReceiptId" "InternalTransferPrintHelper" -1)
</script>

<form method="post" onSubmit="return validate(this)" id="frm" name="frm"
  action="$link.setPage($data.ScreenTemplate).setAction($tplAction)">

<table width="100%" cellspacing="0" cellpadding="2"> 
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
      <div id="inetStatus"></div>
    </td>
    <td align="right" rowspan="2" valign="top">
      #if(!$bEditable || $preference.pendingPrint($ir.IssueReceiptId)) 
        #if($ir.Status == 2)
        &nbsp;
        <a href="javascript:void(0)" OnClick="generateTransfer();" title="Generate Store Transfer">
          <img src="${data.ContextPath}/images/btn_print_pdf.gif" border="0"/></a>&nbsp;
        #end        
      #end  
      #printBtn()    
    </td>
  </tr>
  #if($data.Message)                    
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>                    
  </tr>
  #end 
</table>
      
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="op" value="$data.Parameters.getInt("op", 1)">
<input type="hidden" name="no" value="">
<input type="hidden" name="DirectAdd" value="$!issuereceipt.getDirectAdd("ir")">
<input type="hidden" name="TransId" value="">
<input type="hidden" name="RequestId" value="$!ir.RequestId">
<input type="hidden" name="PurchaseReceiptId" value="">
<input type="hidden" name="gentarget" value="">
<input type="hidden" name="InternalTransfer" value="true">

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
      <table width="100%" cellspacing="0" cellpadding="2" >
        <tr>
          <td class="tbs">$!l10n.trans_no</td>
          <td class="tbs">
            <input type="hidden" name="IssueReceiptId" value="$!ir.IssueReceiptId" READONLY >
            <input type="text" size="20" value="$!ir.TransactionNo" READONLY >
            #if($bEditable && $allowCopyTrans)
            <a href="javascript:void(0)" OnClick="openTransLookup();" title="$!l10n.import $!l10n.issue_receipt"> 
              <i class="fa fa-clone"></i>
            </a>            
            #end
          </td>
        </tr>
        <tr>
          <td class="tbs">$!l10n.trans_date</td>
          <td class="tbs">
            <input type="text" size="20" name="TransactionDate" 
              #if($ir.TransactionDate && $dutil.isBackDate($!ir.TransactionDate))
                value="$!cformat.formatDateTime($!ir.TransactionDate)" 
              #else 
                value="$!cformat.formatDate($!ir.TransactionDate)" 
              #end                   
              #if(!$bEditable) READONLY #end >
            #if($bEditable)
            #cal("TransactionDate" true)
            #end
          </td>
        </tr>
        <tr>
          <td class="tbs">$!l10n.transfer_type</td>
          <td class="tbs">                  
            #if(!$bEditable)
              <input type="hidden" name="TransactionType" value="$!ir.TransactionType">
              #if($!ir.TransactionType == 1) $!l10n.transfer_in #else $!l10n.transfer_out #end
            #else
              <select name="TransactionType" OnChange="setTransType();">
                <option value="0">-- $!l10n.trans_type --</option>              
                <option value="1" #if($!ir.TransactionType == 1) SELECTED #end >$!l10n.transfer_in</option>
                <option value="2" #if($!ir.TransactionType == 2) SELECTED #end >$!l10n.transfer_out</option>
              </select>
            #end
            #if($bEditable && $ir.TransactionType == 1)
            <a href="javascript:void(0)" OnClick="openTransferWindow();" title="$!l10n.import $!l10n.internal_transfer"> 
              <i class="fa fa-folder-open"></i>
            </a>                   
            #end            
            &nbsp;
          </td>
        </tr>           
        #if($ir.TransactionType == 2) ##customer
        <tr>
          <td class="tbs">$!l10n.to_location</td>
          <td class="tbs">
            ###customerForm("$!ir.TransactionNo" "$!ir.CrossEntityId" "$!ir.CrossEntity.Name" "width:250px;")
            #set($vCust = $customer.getCustomerByType("","OO",""))
            #if($bEditable)
            <select name="CustomerId" #width(250) #if(!$bEditable) DISABLED #end >            
              <option value="">-- $!l10n.to_location</option>
              #foreach($oCust in $vCust)
              <option value="$oCust.CustomerId" #if($sutil.isEqual($ir.CrossEntityId,$oCust.CustomerId)) SELECTED #end >
                $!oCust.CustomerCode - $!oCust.CustomerName
              </option>              
              #end              
            </select>
            #else
            <input type="hidden" name="CrossEntityId" value="$!ir.CrossEntityId"> 
            <b>$!ir.CrossEntity.Name</b>
            #end
          </td>                                    
        </tr>
        #elseif ($ir.TransactionType == 1) ##vendor
        <tr>
          <td class="tbs">$!l10n.from_location</td>
          <td class="tbs">
            ##createVendorSelection("$!ir.TransactionNo" "$!ir.CrossEntityId" "$!ir.CrossEntityName")
            #set($vCust = $customer.getCustomerByType("","OO",""))
            #if($bEditable)
            <select name="VendorId" #width(250) #if(!$bEditable) DISABLED #end >            
              <option value="">-- $!l10n.from_location</option>
              #foreach($oCust in $vCust)
              #set($oVend = $vendor.getVendorByCode($oCust.Code))
              <option value="$oVend.VendorId" #if($sutil.isEqual($ir.CrossEntityId,$oVend.VendorId)) SELECTED #end >
                $!oVend.VendorCode - $!oVend.VendorName
              </option>              
              #end              
            </select>
            #else
            <input type="hidden" name="CrossEntityId" value="$!ir.CrossEntityId"> 
            <b>$!ir.CrossEntity.Name</b> #spc(2)
            #end            
            #if($ir.Status == 2)
            | #spc(2)
            <a href="#" OnClick="javascript:updateOut();"> Notify</a>
            #end
          </td>                                    
        </tr>          
        #end        
        <tr>
          <td class="tbs">$!l10n.trans_type</td>
          <td class="tbs">
            #if($bEditable)
              <select name="AdjustmentTypeId" OnChange="changeAdjustmentType();" #width(200)>
                <option value="">-- $!l10n.adjustment_type --</option>
                #foreach ($adj in $adjustmenttype.getAllAdjustmentType())
                #if($adj.IsTransfer)
                #if(($ir.TransactionType == 1 && $adj.DefaultTransType == 1) || ($ir.TransactionType == 2 && $adj.DefaultTransType == 2))
                <option value="$!adj.AdjustmentTypeId" 
                #if($!adj.AdjustmentTypeId == $ir.AdjustmentTypeId) SELECTED #end >$!adj.Description</option>
                #end ##end if trans type
                #end ##end if is trf
                #end ##end foreach                      
              </select>
              <input type="hidden" name="AccountId" value="$!ir.AccountId">
            #else
              $!adjustmenttype.getAdjustmentTypeByID($!ir.AdjustmentTypeId).Description &nbsp;
            #end
            
            #if($bEditable && $ir.TransactionType == 2)
            <a href="javascript:void(0)" OnClick="openImportItemWindow();" title="Import Item From Excel"> 
            <i class="fa fa-file-excel-o"></i>
            </a>                                
            #end
          </td>
        </tr>           
        <tr>
          <td class="tbs">$!l10n.location</td>
          <td class="tbs">
            #if(($irDet.size() > 0 && $sutil.isNotEmpty($ir.LocationId)) || !$bEditable)
              #set($locname = $!location.getLocationNameByID($!ir.LocationId))
              <input type="hidden" name="LocationId"      value="$!ir.LocationId">
              <input type="hidden" name="LocationName"    value="$locname">
              <input type="text"   name="LocationNameTxt" value="$locname" READONLY #width(200) >
            #else
              #set($sLocID = $ir.LocationId)
              #if($sutil.isEmpty($ir.LocationId))
                #set($sLocID = $USRLOC)
              #end
              #if($sutil.isEmpty($sLocID))
                #set($sLocID = $preference.LocationID)                    
              #end
              #locationSB($sLocID)
            #end
            #if($bEditable && $ir.TransactionType == 2)
            <a href="javascript:void(0)" OnClick="openRequestWindow();" title="$!l10n.import $!l10n.item_request"> 
              <i class="fa fa-folder-open"></i>
            </a>     
            <a href="javascript:void(0)" OnClick="openReceiptWindow();" title="$!l10n.import $!l10n.purchase_receipt"> 
              <i class="fa fa-folder-open"></i>
            </a>                 
            #end            
          </td>
        </tr>
        #if($sutil.isNotEmpty($ir.RequestId))
        <tr>
          <td class="tbs">$!l10n.item_request</td>
          <td class="tbs"><a href="javascript:viewRequest('$!ir.RequestId');"><b>$!ir.Request.TransactionNo</a></td>                                    
        </tr>          
        #end
      </table>
    </td>
    <td valign="top">
      <table width="100%" cellspacing="0" cellpadding="2">
        <tr>
          <td class="tbs" colspan="2">
            $!l10n.description
            <br>
            <textarea cols="50" rows="3" name="TransDescription"  #if(!$bEditable) READONLY #end >$!ir.Description</textarea>
            <br>
            <input type="hidden" name="CostAdjustment" value="true">                                 
          </td>
        </tr>
        <tr>
          <td class="tbs" width="25%">$!l10n.create_by</td>
          <td class="tbs">
            <input type="hidden" name="UserName" 
              #if($sutil.isEmpty($ir.IssueReceiptId)) value="$!data.User.Name" 
              #else value="$!ir.UserName" #end >
            <input type="text" #width(100) name="TxtUserName" 
               #if($sutil.isEmpty($ir.IssueReceiptId)) value="$!data.User.Name" 
               #else value="$!ir.UserName" #end READONLY >                                 
            #if($sutil.isNotEmpty($ir.ConfirmBy))
            / <input type="text" #width(100) value="$!ir.ConfirmBy" READONLY >                   
            #end
          </td>
        </tr>
        <tr>
          <td class="tbs">$!l10n.trans_status</td>
          <td class="tbs">
            <input type="hidden" name="Status" value="$!ir.Status">
            <b>$!issuereceipt.getStatusString($!ir.Status)
            #if($ir.Status == 2 && $ir.TransactionType == 2 && $sutil.isNotEmpty($ir.CrossTransNo))
            / [$!l10n.received]
            #end
          </td>          
        </tr>  
        #if($sutil.isNotEmpty($ir.FileName))
        <tr>
          <td class="tbs">File Name</td>
          <td class="tbs">
            <a href="#" OnClick="javascript:downloadFile();">Download</a> | 
            <a href="#" OnClick="javascript:sendEmail();">Email</a> | 
            <a href="#" OnClick="javascript:upload();">Upload</a>            
          </td>          
        </tr>  
        #end  
      </table>
    </td>
  </tr>
</table>
#tblbr(2)
#if($bEditable && $ir.TransactionType == 2)
<table  width="100%" cellspacing="0" cellpadding="1" border="0">
  <tr>
    #set($headings2 = ["$!l10n.item_code","$!l10n.item_name","$!l10n.qty_oh","$!l10n.qty","$!l10n.unit"] )
    #foreach ($heading in $headings2)
    <td class="tbs" bgColor="#F3F3F3">$heading</td>
    #end
    <td class="tbs" bgColor="#F3F3F3">#spc(1)</td>
  </tr> 
  <tr cellpadding="0">
    <td class="tbs" width="145" valign="top">
      <input #stdin ("ItemCode" "" 115 true) OnKeyPress="javascript:handleCodeKeypress(event);">
      <a href="javascript:void(0)" OnClick="openItemLookUpWindow();"  title="$!l10n.find $!l10n.item_data"> 
        <i class="fa fa-search"></i>
      </a>
      ## needed By Item Code Lookup 
      <input type="hidden" name="PendingQty" value="0">
      <input type="hidden" name="ItemType">
      <input type="hidden" name="InventoryType">
      <input type="hidden" name="ItemId">
      <input type="hidden" name="Description">
      <input type="hidden" name="UnitCode">
      <input type="hidden" name="TaxId">
      <input type="hidden" name="TaxAmount">                             
      <input type="hidden" name="Discount">                              
      <input type="hidden" name="DiscountId">                         
      <input type="hidden" name="SubTotalTax">
      <input type="hidden" name="SubTotalDisc">                                 
      <input type="hidden" name="ItemPrice"> 
      <input type="hidden" name="Cost"> 
      <input type="hidden" name="SubTotalCost"> 
      <input type="hidden" name="QtyChanges"> 
      <input type="hidden" name="UnitBaseValue" value="1">
      <input type="hidden" name="ItemCost" value="0">
    </td>
    <td class="tbs" width="300">
      <input #stdin ("ItemName" "" 300 true) 
        OnKeyUp="javascript:handleSearchByNameKeypress(event);">
    </td>
    <td class="tbs" width="75" ><input #stdin ("CurrentQty" "" 75 false)></td>
    <td class="tbs" width="75" >
      <input #stdin ("Qty" "" 75 true) 
        OnChange="calculateQty()" 
        OnBlur="calculateQty()" 
        OnFocus="this.select()"
        OnKeypress="handleQtyKeypress(event);">
    </td> 
    <td class="tbs" width="75" >
      <select name="UnitId" OnChange="changeUnit()" OnClick="initChangeUnit()" #width(75)>
        #foreach ($unt in $unit.getAllUnit())
        <option value="$unt.UnitId">$unt.UnitCode</option>
        #end
      </select>
    </td>          
    <td class="tbs" >
      #opBtn("add" "" "void(0);" "")
    </td>
  </tr> 
</table>
#end ##end if editable

#tblbr(2)
<div id="detailTableDiv" style="width:100%;height:210px;background-color:white;overflow:auto">
#set($bLayoutSet = true)
#set($bAll = true)
#parse("screens/transaction/intransfer/InternalTransferDetail.vm")
</div>
#tblbr(2)      
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%">
      #prevNext("$!ir.IssueReceiptId"  $issuereceipt)
    </td>      
    <td>
    <div align="right">
      <input type="button" value="$!l10n.new_trans" onClick="newTrans();">
      <input type="button" value="$!l10n.find_trans" onClick="findTrans();">
      #if($preference.isHO())
        #if($bEditable && $ir.Status == 1)
          #if($data.ACL.Permissions.containsName("Create Item Transfer"))
            <input type="button" name="eventSubmit_doInsert" 
		  	OnClick="javascript:saveTransaction();"  value="$!l10n.save_trans"/>
          #end
          #if(!$POST_ERROR && $data.ACL.Permissions.containsName("Confirm Item Transfer"))
            <input type="button" name="eventSubmit_doInsert" 
		  	OnClick="document.frm.Status.value=2;saveTransaction();"  value="$!l10n.confirm_trans"/>
          #end
	    #end
        <input type="hidden" name="save" value="1">
      #end
      #if($ir.Status == 2 && !$POST_ERROR)      
        #if($data.ACL.Permissions.containsName("Cancel Issue Receipt"))
          <input type="button" id="btnCancel" OnClick="javascript:cancelTransaction();" value="$!l10n.cancel_trans"/>
        #end
      #end
    </div>
   </td>
 </tr>
</table>
</form>
