$data.setLayoutTemplate("/Transaction.vm")
#if($data.ScreenTemplate == "transaction,CreditMemoView.vm")
  #set($iType = 1) ##mode = 1 credit
  #set($sCV = "Customer")
  #set($sCVID = "CustomerId")
  #set($sSCV = "$!l10n.customer")
  #set($sMemo = "CreditMemo")
  #set($tool = $creditmemo)
  #set($vMemo = $CreditMemos)
  #set($sPmt = "transaction,ReceivablePayment.vm")
#elseif ($data.ScreenTemplate == "transaction,DebitMemoView.vm")
  #set($iType = 2) ##mode = 2 debit memo
  #set($sCV = "Vendor")
  #set($sCVID = "VendorId")
  #set($sSCV = "$!l10n.vendor")
  #set($sMemo = "DebitMemo")
  #set($tool = $debitmemo)
  #set($vMemo = $DebitMemos)
  #set($sPmt = "transaction,PayablePayment.vm")
#end

#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date","$sSCV","$!l10n.description","$!l10n.account","CF","$!l10n.status","$!l10n.payment_trans","$!l10n.curr","<center>$!l10n.total_amount",""] )
#set($fields = ["","transactionNo","transactionDate","entityName","description","accountId","memoId","status","paymentTransNo","currencyId","amount",""] )

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($start = $!data.Parameters.getString("StartDate") )
#set($end = $!data.Parameters.getString("EndDate") )
#set($status = $!data.Parameters.getInt("Status") )

#set($cvid = $!data.Parameters.getString($sCVID, ""))
#set($locid = $!data.Parameters.getString("LocationId", ""))
#set($limit = $!data.Parameters.getInt("ViewLimit",50) )
#set($pageParam = "&Condition=$!{cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=$!{limit}&Status=$!{status}")
#set($pageParam = "${pageParam}&$!{sCVID}=$!{cvid}&LocationId=${locid}&StartDate=$!{start}&EndDate=$!{end}")
<script>
function initPage(){}
</script>
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>


<form name="frm" method="post" OnSubmit="loading();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.${sMemo}Action")?op=next">
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
  </tr>
</table>
##<!-- SEARCH -->
<table class="searchTable">
  <tr>
    <td>$!sSCV : </td>
    <td colspan="3">
      #if($iType == 1)
        #custSB ($cvid "" "" "")
      #else
        #vendorSB ($cvid "" "")
      #end
      #spc(1)
    </td>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid)
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!creditmemo.conditionSB($cond)</td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true)
    </td>
    <td>$!l10n.status : </td>
    <td colspan="3">
      <select name="Status" colspan="3">
        <option value="-1">-- $!l10n.status --</option>
        <option value="4" #if($status == 4) SELECTED #end >$!tool.getStatusString(4)</option>
        <option value="1" #if($status == 1) SELECTED #end >$!tool.getStatusString(1)</option>
        <option value="2" #if($status == 2) SELECTED #end >$!tool.getStatusString(2)</option>
        <option value="3" #if($status == 3) SELECTED #end >$!tool.getStatusString(3)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key" OnKeypress="handleSubmit(event);">
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true)
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$!limit">
      #spc(2)
      <input type="button" value="$!l10n.search" name="eventSubmit_doFind" OnClick="document.frm.submit();">
    </td>
  </tr>
</table>
</form>

#if($vMemo)
$data.User.setTemp("MemoViewParam", $pageParam)
$data.User.setTemp("page", $LargeData.CurrentPageNumber)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
<form name="frm1" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.CurrentPageNumber$!{pageParam}">
<table class="altRowTable">
  #set($FORMNAME="frm1")
  #sortableHeader ($headings $fields "th2" "sort2" true)
  #set($no = 1)
  #foreach ($memo in $sortingtool.sort($vMemo,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>$!memo.MemoNo </td>
    <td>$!cformat.formatDate($!memo.TransactionDate)</td>
    <td>
      <input type="text" class="text2" value="$!memo.EntityName" #width(180) READONLY >
    </td>
    <td>
      <input type="text" class="text2" value="$!memo.Remark" #width(180) READONLY
       onmouseover="tooltip('$!sutil.tooltip($!memo.Remark)');" onmouseout="exit();" >
    </td>
    <td>$!account.getAccountByID($!memo.AccountId).Name</td>
    <td>
      #set($cf = $!cashflow.getHeaderByTransID($!memo.MemoId,$null))
      #if($cf)
      <a href="#" OnClick="javascript:viewCF('$!cf.CashFlowId');"><b>$!cf.CashFlowNo </a>
      #end   
      #set($cf = "")
    </td>       
    <td>$!tool.getStatusString($!memo.Status)</td>
    <td>
      #if($memo.Status == 2)
      <a href="$link.setPage($sPmt)?op=4&id=$!memo.PaymentTransId">
        <b>$!memo.PaymentTransNo </b>
      </a>
      #else &nbsp;
      #end
    </td>
    <td>$!currency.getCodeByID($!memo.CurrencyId)</td>
    <td align="right">$!cformat.formatAligned($!memo.Amount)</td>
    ##<td align="right">$!cformat.formatAligned($!cm.AmountBase)</td>
    <td>   
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,${sMemo}Transaction.vm" "?op=4&id=$!memo.PrimaryKey" $!l10n.view "" "")
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
</form>
#end

<ul class="btmLinkNav">
#btmLinkMenu("transaction,${sMemo}Transaction.vm" "?op=3" "$!l10n.new_trans" "")
#if($preference.allowTransImport())
#btmLinkMenu("transaction,loader,ImportMemoData.vm" "?type=${iType}" "$!l10n.import $!title" ""  )
#end
#if($iType == 2)
#btmLinkMenu("transaction,PIRebateView.vm" "" "Rebate Trans" "")
#end
</ul>

