#set($title = "$!l10n.aging_report ($!l10n.account_payable)")

###parse ("screens/report/common/AgingReport.vm")

#set($title = "$!l10n.aging_report ($!l10n.account_payable)")
#set($printable = $data.Parameters.getBoolean("printable"))
#set($sCVID = $data.Parameters.getString("VendorId"))
#set($iFrom = $data.Parameters.getInt("From", 0))
#set($iTo = $data.Parameters.getInt("To", 30))
#set($iMode = $data.Parameters.getInt("Mode", 2))
#set($pageParam = $tplutil.pageParam($data))

#if($printable)
  $data.setLayoutTemplate("/Printable.vm")
#end
#reportPrintJS()

<form name="frm" method="POST" action="$link.setPage($data.ScreenTemplate)">

<table width="100%" cellspacing="0" cellpadding="4"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title</b></span>
    </td>
    <td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.vendor : &nbsp;&nbsp;</td>
    <td>
      <input type="hidden" name="mode" value="$iMode">
      #vendorSB($sCVID "" "")                                            
    </td>
  </tr>
  <tr>  
    <td>
     AP Aging  &nbsp;
    </td>
    <td>                 
     <select name="Mode">
       <option value="1" #if($iMode == 1) SELECTED #end>From Transaction Date</option>
       <option value="2" #if($iMode == 2) SELECTED #end>From Due Date</option>  
     </select>
     &nbsp;&nbsp;                    
     From : <input type="text" size="5" value="$iFrom" name="From">
     To   : <input type="text" size="5" value="$iTo" name="To"> Days
    </td>                                     
    <td>&nbsp;&nbsp;&nbsp;<input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind"></td>
  </tr>
</table><br>
<!-- END SEARCH SECTION -->
#end

#set($headings = ["No","$!l10n.invoice_no", "$!l10n.trans_date", "$!l10n.due_date", "<center>Aging", "<center>$!l10n.total_amount", "<center>$!l10n.paid_amount" , "<center>Total Owing"] )
#if($data.Parameters.getString("VendorId","") != "")
  #set($vVendor = [$vendor.getVendorByID($data.Parameters.getString("VendorId"))])
#else
  #set($vVendor = $vendorbalance.getOweToVendor())
#end

#foreach ($oVendor in $vVendor)
  #set($sVendorID = $oVendor.VendorId)
  #set($vInvoices = $purchaseinvoice.getUnpaidInvoices(${sVendorID}))
  <b>$!l10n.vendor : $oVendor.VendorName </b>
  <table class="stdTable">
    #line(10)
    <tr>
      #foreach ($heading in $headings)
      <td class="th4">$heading</td>
      #end
    </tr>    
    #line(10)
    #set($dTotal = 0)   
    #set($no = 0)
    #foreach ($inv in $vInvoices)
    #set($no = $no + 1)
    #if($iMode == 1)
    #set($iAging = $!dutil.countAging($!inv.PurchaseInvoiceDate))
    #else
    #set($iAging = $!dutil.countAging($!inv.PaymentDueDate))
    #end
    
    #if($iAging <= $iTo && $iAging >= $iFrom)
    <tr>
      <td width="3%">$no </td>
      <td width="10%">
        <a href="$link.setPage("transaction,PurchaseInvoiceTransaction.vm")?op=4&id=$!inv.TransactionId">                            
          #if($inv.PurchaseInvoiceNo) $inv.PurchaseInvoiceNo #else $!l10n.view #end                               
        </a>
      </td>
      <td width="10%">$!cformat.formatDate($!inv.PurchaseInvoiceDate)</td>
      <td width="10%">$!cformat.formatDate($!inv.PaymentDueDate)     </td>
      <td width="10%" align="right">$!iAging                                       </td>
      <td width="12%" align="right">$!cformat.formatNumber($!inv.TotalAmount)      </td>                                                     
      <td width="12%" align="right">$!cformat.formatNumber($!inv.PaidAmount)       </td>                                                     
      <td width="12%" align="right">$!cformat.formatNumber($calculator.sub($!inv.TotalAmount,$!inv.PaidAmount)) &nbsp;</td>                                                     
    </tr>
    #set($dTotal = $calculator.add($dTotal, $calculator.sub($!inv.TotalAmount,$!inv.PaidAmount)))
    #end ## end if    
    #end  ## end foreach $vInvoices
  </table>  
  <b>TOTAL  : $!cformat.formatNumber($dTotal)</b>
  <br><br>
#end
</form>

