#if($preference.getLocationFunction() == 2)

#set($cb = $butil.loadClass("com.ssti.enterprise.pos.tools.financial.CashierBalanceTool"))
#set($str = $dutil.getStartOfDayDate($dutil.TodayDate))
#set($end = $dutil.TodayDate)                      
#set($vCB = $cb.findData($str,$end,"",$!preference.LocationID,1))
#set($vOpens = $butil.loadClass("java.util.ArrayList"))
#foreach ($oCB in $vCB)
  #if(!$cb.isClosed($oCB))
  #set($x = $vOpens.add($oCB))
  #end
#end
#if($vOpens.size() > 0)
  #set($openmsg = "$!vOpens.size() Open Cashier Transaction [ ")
  #foreach($oCT in $vOpens)
  #set($openmsg = " $openmsg $oCT.CashierName ")
  #end
  #set($openmsg = "$openmsg ] ") 
#end
#set($sSQL = "select sales_transaction_id, invoice_no, transaction_date, cashier_name from sales_transaction where status = 2 and payment_status = 1 and payment_type_id NOT IN (SELECT payment_type_id FROM payment_type WHERE is_credit = true) ")
#set($vInvalid = $sqlutil.executeQuery($sSQL))
<script>
function generate()
{
    #if($vOpens.size() > 0)
      return confirm ('$!openmsg, Continue? '); 
    #end
    #if($vPending.size() > 0 || $vReturn.size > 0 || $vInvalid.size() > 0)
      #if($bAllowPending) ## if pending allowed 
        return confirm ('Pending Transaction(s) Exist, Continue? ');        
      #else ## if pending disallowed 
        alert ('Pending Transaction(s) Exist, Please check and process the transaction first!');
        return false;
      #end
      #if($vInvalid.size() > 0)
        alert ('Please cancel / fix invalid trans below!');
        return false;
      #end       
    #else
      return confirm('$!l10n.generate_store2ho ?');      
    #end
}
</script>

<center>
<br>

<form name="frm"  method="POST" onSubmit="return generate();"
  action="$link.setPage("periodic,GenerateSyncDataResult.vm").setAction("periodic.GenerateSyncDataAction")">

<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<table width="90%">
  <tr>
    <td>&nbsp;
      <center>
        <span class="txtTitle2">
        $!l10n.generate_store2ho
        <br>
        </span>
        <span class="txtWarning">
          #if($vOpens.size() > 0)
          <br><br>
          WARNING: $!openmsg
          exists! Please check Again before Generate
          #end ##end          
          #if($vPending.size() > 0)
          <br><br>
          WARNING : There are $vPending.size() Pending Sales Transaction(s), Please notice that pending transaction
          will NOT be synchronized to HO                         
          #end
          #if($vReturn.size() > 0)
          <br><br>
          WARNING : There are $vReturn.size() Pending Sales Return(s), Please notice that pending transaction
          will NOT be synchronized to HO                         
          #end
          #if($vInvalid.size() > 0)
          <br><br>
          ERROR : There are $vInvalid.size() Invalid Sales Transaction(s), Please cancel and re-input below Invoices <br>
          <table width="60%" border="1" cellpadding="4" cellspacing="0">
            #foreach($oRec in $vInvalid)
            <tr>                                               
              #if($data.ACL.Roles.containsName("Administrator"))
              <td>$!oRec.getValue("sales_transaction_id").asString()</td>              
              #end
              <td>$!oRec.getValue("invoice_no").asString() </td>              
              <td> $!cf.formatDateTime($!oRec.getValue("transaction_date").asDate()) </td>
              <td> $!oRec.getValue("cashier_name") </td>
            </tr>
            #end ##end          
          </table>       
          #end             
        </span>                   
        <br>
        <span class="txtWarningPeriod">
          $!l10n.last_generate_date :
          #if($lastsyncdate)
            $!lastsyncdate 
          #else
            $!l10n.no_data_generated
          #end
          <br><br>
        </span>   
        <span class="txtWarning">
        $!l10n.generate_warn1
        </span>        
        <br><br>        
        <input type="submit" name="eventSubmit_doSave" value="$!l10n.generate_store2ho"> 
        <br><br>
      </center>     
    <td>
  <tr>
</table>
</form>
</center>
#else
<script>alert('Store only function');</script>
#end
