$data.setLayoutTemplate("/Empty.vm")

<html>
<head>
<title>RetailSoft - Item Shelving Print</title>
<link type="text/css" href="${data.ContextPath}/css/barcode.css" rel="stylesheet"/>
<style TYPE='text/css'>
P.pagebreakhere {page-break-before: always}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0">
#set($iFromList = $data.Parameters.getInt("isFromItemList", 0))
#if($iFromList == 0)
  #set($Items = $item.compareChangesOnStore($Items))
#elseif($iFromList == 1)
  #set($Items = $data.getSession().getAttribute("itemDet") )
#end

#set($oPaper = $barcodepaper.DefaultShelving)
#if($oPaper)
  #if($Items.size() > 0)
  $barcodepaper.display(2,$data,$Items,$oPaper,-1,$iFromList)
  #else
  <br><br>
  <span class="txtMessage">No Updated/New Item(s)</span>
  #end	
#else
<br><br>#spc(2)
Please setup Shelving Paper First (from Item Setup)
#end
</body>
</html>