$data.setLayoutTemplate("/PopupWindow.vm")

<script>
function addItemToPL(_iNo)
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
    
    var iQty = eval ('parseFloat(document.frm.Qty' + _iNo + '.value)')
    var iOri = eval ('parseFloat(document.frm.QtyOriginal' + _iNo + '.value)')
    
    if (iQty == 0 || iQty < 0)
    {
        alert ('qty to pack must greater than 0');
    }
    
    if (iQty > iOri) 
    {
        alert ('qty to pack (' + iQty + ') must <= qty in transaction (' + iOri + ')')
        return;
    } 
    frm.AddToPackId  .value  = '$!data.Parameters.getString("PackId")';
    frm.AddToPackNo  .value  = document.frm.no.value;
    frm.PLItemKey    .value  = eval ('document.frm.Key'           + _iNo + '.value');
    frm.ItemId       .value  = eval ('document.frm.ItemId'        + _iNo + '.value');
    frm.ItemCode     .value  = eval ('document.frm.ItemCode'      + _iNo + '.value');
    frm.ItemName     .value  = eval ('document.frm.ItemName'      + _iNo + '.value');
    frm.Qty          .value  = eval ('document.frm.Qty'           + _iNo + '.value');
    frm.UnitId       .value  = eval ('document.frm.UnitId'        + _iNo + '.value');
    frm.UnitCode     .value  = eval ('document.frm.UnitCode'      + _iNo + '.value');
    frm.Volume       .value  = eval ('document.frm.Volume'        + _iNo + '.value');
    frm.VolumeMetric .value  = eval ('document.frm.VolumeMetric'  + _iNo + '.value');
    frm.Weight       .value  = eval ('document.frm.Weight'        + _iNo + '.value');
    frm.WeightMetric .value  = eval ('document.frm.WeightMetric'  + _iNo + '.value');
    frm.op           .value  = 7;
    
    frm.action = '$link.setPage("transaction,packing,PackingListTrans.vm")?op=7';
    frm.submit();
    //window.close();     
    document.frm.op.value = 1;               
    document.frm.submit();
}

function changeUnit(iNo, sKey)
{
    eval ('document.frm.Qty' + iNo + '.value = document.frm.QtyOriginal' + iNo + '.value');
    var sUnitID = eval ('document.frm.UnitId' + iNo + '.value');
    document.frm.action = '$link.setPage("transaction,packing,PLImportItem.vm")?Key =' + sKey + '&ItemNo=' + iNo + '&UnitID=' + sUnitID;
    document.frm.op.value = 2;
    document.frm.submit();
}

function handleVolKeypress (e) 
{       
    if (getKey(e) == 13)
    {
        for (i = 1; i < parseInt(document.frm.totalNo.value); i++)
            eval ('document.frm.VolumeMetric' + i + '.value = document.frm.VolumeMetric1.value');
    }
}

function handleWeightKeypress (e) 
{       
    if (getKey(e) == 13)
    {
        for (i = 1; i < parseInt(document.frm.totalNo.value); i++)
            eval ('document.frm.WeightMetric' + i + '.value = document.frm.WeightMetric1.value');
        
    }
}
</script>

#set($vItems = $data.getSession().getAttribute("PLItemList") )

<form name="frm" method="post"
   action="$link.setPage("transaction,packing,PLImportItem.vm")">
 
#set($iNo     = $data.Parameters.getInt("no"))
#set($sDesc   = $data.Parameters.getString("desc"))
#set($sPackID = $data.Parameters.getString("packid"))
#set($oPacking= $packing.getPackingByID($sPackID))

<input type="hidden" name="no"   value="$iNo">
<input type="hidden" name="desc" value="$sDesc">
<input type="hidden" name="packid" value="$sPackID">
<input type="hidden" name="op" value="1">


<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td>
      <!-- TITLE SECTION -->
      <table width="100%" cellspacing="0" cellpadding="4">
	    <tr>
	      <td><span class="txtTitle2">Import Item To Packing List [$!sDesc No: $iNo]</span></td>
	    </tr>
	    #if($!data.Message)
	    <tr>
	      <td><span class="txtMessage">$data.Message</span></td>
	    </tr>	    
	    #end
	  </table>
	  <br>
	  #if($vItems.size() > 0)	  
      <table width="100%" cellspacing="0" cellpadding="4">
        #set($headings = ["No", "Item Code","Item Name", "Qty", "Unit", "Vol.", "Weight", ""] )
        <tr>
          #foreach ($heading in $headings)
            <td class="th2">$heading</td>
          #end
        </tr>
        #set($no = 1)
        #foreach ($oItem in $vItems)
        <tr>
          <td class="tbs" width="20">$!no</td>          
          <td class="tbs">
            $!oItem.ItemCode
            <input type="hidden" name="Key$no"           value="$!oItem.Key">            
            <input type="hidden" name="ItemId$no"        value="$!oItem.ItemId">
            <input type="hidden" name="ItemCode$no"      value="$!oItem.ItemCode">
            <input type="hidden" name="ItemName$no"      value="$!oItem.ItemName">
            ##<input type="hidden" name="UnitId$no"        value="$!oItem.UnitId">
            <input type="hidden" name="UnitCode$no"      value="$!oItem.UnitCode">
          </td>
          <td class="tbs">$!oItem.ItemName</td>          
          <td class="tbs">
            <input type="text" size="6" name="Qty$no" value="$!oItem.Qty.setScale(2,4)" OnFocus="this.select();">
            <input type="hidden" name="QtyOriginal$no" value="$!oItem.Qty">
            
          </td>
          <td class="tbs">## $!oItem.UnitCode
            <input type="hidden" name="UnitBaseValue$no" value="1">
            <select name="UnitId$no" OnChange="changeUnit($no, '$oItem.getKey()')">
              #foreach ($unt in $unit.getAllUnit(1))
                <option value="$unt.UnitId" #if($unt.UnitId == $oItem.UnitId) SELECTED #end >$unt.UnitCode</option>
              #end
            </select>          
          </td>
          <td class="tbs">
            <input type="text" size="4" name="Volume$no" value="$!data.Parameters.getDouble("Volume$no")" 
                OnFocus="this.select();">
            <input type="text" size="4" name="VolumeMetric$no" 
                #if($!data.Parameters.getString("VolumeMetric$no", "") == "")
                value="$!oPacking.VolumeMetric"                 
                #else
                value="$!data.Parameters.getString("VolumeMetric$no")" 
                #end
                OnFocus="this.select();" 
                OnKeyUp="handleVolKeypress(event);">          
          </td>
          <td class="tbs">
            <input type="text" size="4" name="Weight$no" value="$!data.Parameters.getDouble("Weight$no")" 
                OnFocus="this.select();">
            <input type="text" size="4" name="WeightMetric$no" 
                #if($!data.Parameters.getString("WeightMetric$no", "") == "")
                value="$!oPacking.AvgWeightMetric"                 
                #else
                value="$!data.Parameters.getString("WeightMetric$no")" 
                #end            
                OnFocus="this.select();" 
                OnKeyUp="handleWeightKeypress(event);">          
          </td>
          <td class="tbs"><a href="javascript:addItemToPL($!no);">Add</a></td>
        </tr>
        #set($no = $no + 1)
        #end
      </table>
      <input type="hidden" name="totalNo" value="$!no">
      #end ##end if
    </td>
  </tr>
</table>
</form>

