#set($mode = $data.Parameters.getInt("mode"))
#if($mode == 1) ##is popup
$data.setLayoutTemplate("/PopupWindow.vm")
<script>
function copyTrans (sTransID)
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';

    if (wnd && !wnd.closed)
    {
        frm.TransId.value = sTransID;
        frm.op.value = 6;
        frm.action = '$link.setPage("transaction,IssueReceiptTransaction.vm")';
        frm.submit();
        window.close();
    }
}
</script>
#end
#set($aclPerm = $data.ACL.Permissions)
#set($printable = $data.Parameters.getBoolean("printable"))
#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($transtype = $data.Parameters.getInt("TransactionType",-1))
#set($status = $data.Parameters.getInt("Status",-1))
#set($adjid = $data.Parameters.getString("AdjustmentTypeId","$!USRLOC"))
#set($locid = $data.Parameters.getString("LocationID","$!USRLOC"))
#set($startdate = $data.Parameters.getString("StartDate"))
#set($enddate = $data.Parameters.getString("EndDate"))
#set($limit = $data.Parameters.getInt("ViewLimit",50))

#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&TransactionType=$!transtype")
#set($pageParam = "${pageParam}&LocationID=$!{locid}&StartDate=$!{startdate}&EndDate=$!{enddate}")
#set($pageParam = "${pageParam}&ViewLimit=${limit}&mode=${mode}")

#set($bViewCost = true)
#if(!$aclPerm.containsName("View Item Cost"))
#set($bViewCost = false)
#end

#if($printable)
  $data.setLayoutTemplate("Printable.vm")
  #set($vSC = $data.getSession().getAttribute("vSC"))
#else
  $data.getSession().setAttribute("vSC",$vSC) ##TEST FOR CROSS SESSION
#end

<script>
function printReport ()
{
    var sURL = '${link.setPage($data.ScreenTemplate)}?printable=true&${pageParam}';
    var prnWnd = window.open (sURL,'printWindow','toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    prnWnd.focus();
}
</script>

#set($title = "Stock Opname" )
<script src="${data.ContextPath}/javascript/tooltip.js"></script>
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>

<form name="frm1" method="post" OnSubmit="loading();"
    action="$link.setPage($data.ScreenTemplate)?op=next">
<input type="hidden" name="mode" value="$!mode">
<input type="hidden" name="submit1" value="1">

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    <td>
      <div align="right">
      ##<a href="javascript:void(0)" OnClick="printReport();">
      ##<img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
      </div>
    </td>
  </tr>
</table>

#if(!$printable)
##<!-- SEARCH -->
<table class="searchTable">
  <tr>
    <td>
    $!l10n.location :
    </td>
    <td colspan="3">
    #if($preference.isHO())
    #locationSB($locid)
    #else
      $!location.getLocationNameByID($preference.LocationID)
      <input name="LocationId" type="hidden" value="$preference.LocationID">
    #end
    </td>
  </tr>
  
  <tr>
    <td>$!l10n.search_by : </td>
    <td>$!issuereceipt.conditionSB($cond) </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(100) name="StartDate" value="$!startdate">
      #calf("frm1" "StartDate" true)
    </td>   
    <td>$!l10n.view_limit : </td>
    <td>
      <input type="text" name="ViewLimit" size="4" value="$limit">
    </td>    
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width("") name="Keywords" value="$!key">
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(100) name="EndDate" value="$!data.Parameters.getString("EndDate")">
      #calf("frm1" "EndDate" true)
      &nbsp;
    </td>
    <td> $!l10n.status : </td>
    <td>
      <select name="Status" #width("")>
        <option value="-1" #if($status == -1) SELECTED #end > -- $!l10n.status -- </option>
        <option value="1"  #if($status ==  1) SELECTED #end >$!issuereceipt.getStatusString(1)</option>
        <option value="2"  #if($status ==  2) SELECTED #end >$!issuereceipt.getStatusString(2)</option>
        <option value="3"  #if($status ==  3) SELECTED #end >$!issuereceipt.getStatusString(3)</option>
      </select>
    </td>        
    ##<td> $!l10n.trans_type : </td>
    ##<td>
    ##  <select name="TransactionType" #width(150)>
    ##    <option value="-1" #if($transtype == -1) SELECTED #end > -- $!l10n.trans_type -- </option>
    ##    <option value="2"  #if($transtype ==  2) SELECTED #end >$!l10n.issue_unplanned</option>
    ##    <option value="1"  #if($transtype ==  1) SELECTED #end >$!l10n.receipt_unplanned</option>
    ##  </select>
    ##  &nbsp;
    ##</td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.search" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<!-- END SEARCH SECTION -->
#end
</form>

#if($vSC)
#largeSelectNavBar($data.ScreenTemplate $pageParam)

#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date", "$!l10n.status","$!l10n.location","$!l10n.create_by","$!l10n.description"])
#set($fields = ["","transactionNo","transactionDate","status","locationName","userName","description"])
#if($bViewCost)
#set($x = $headings.add("$!l10n.total_qty"))
#set($x = $fields.add("totalQty"))
## #set($x = $headings.add("$!l10n.total_cost"))
## #set($x = $fields.add("totalCost"))
#end
#set($x = $headings.add(""))
#set($x = $fields.add(""))

<form name="frm" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.CurrentPageNumber$!{pageParam}">

<table class="altRowTable">
  #sortableHeader ($headings $fields "th2" "sort2" true)
  #set($no = (($LargeData.CurrentPageNumber - 1) * $limit) + 1 )
  #foreach($sc in $sortingtool.sort($vSC,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>
      <a #if($mode == 1) href="javascript:copyTrans('$!sc.TransId');" #else href="#" #end >
      $!sc.TransactionNo
      </a>
    </td>
    <td>$!cformat.formatDate($!sc.TransDate)</td>    
    <td>
      #if($sc.Status == 2) $!l10n.processed #end
      #if($sc.Status == 1) $!l10n.pending   #end
      #if($sc.Status == 3) $!l10n.cancelled #end
    </td>
    <td>$!sc.Location.Name</td>
    <td>
      #set($sCreateBy = "$!employee.getName($!sc.UserName) ")
      #if(!$sutil.equals($sc.UserName, $sc.ConfirmBy))
      #set($sCreateBy = "$!employee.getName($!sc.UserName) / $!employee.getName($!sc.ConfirmBy)")
      #end
      <input type="text" class="text2" value="$!sCreateBy" #width("") READONLY >
    </td>
    <td>
      <input type="text" class="text2" value="$!sc.Remark" #wid("" 200 300) READONLY
         onmouseover="tooltip('$!sutil.tooltip($!sc.Remark)');" onmouseout="exit();">
    </td>       
    <td align="right">$!cf.fmt($sc.TotalQty)</td>
    ## <td align="right">$!cf.fmt($sc.TotalCost)</td>    
    <td>
      #if($mode != 1)
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,opname,StockCountTrans.vm" "?op=11&id=$!sc.TransId" $!l10n.view "" "View Issue Receipt")
      </ul>
      #else
      &nbsp;
      #end
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
</form>
#end

#if($mode != 1 && !$printable)
<ul class="btmLinkNav">
#btmLinkMenu("transaction,opname,StockCountTrans.vm" "?op=3" "$!l10n.new_trans" "")
#if($bViewCost && $aclPerm.containsName("View Issue Receipt"))
#btmLinkMenu("transaction,IssueReceiptView.vm" "?op=3" "$!l10n.view $!l10n.issue_receipt" "")
#end
</ul>
#end
