#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($title = "$!l10n.customer_disc_cons $!l10n.summary" )
#set($sDiscID = $data.Parameters.getString("DiscConsId"))
#set($sLocID  = $data.Parameters.getString("LocationId"))
#set($sCustID = $data.Parameters.getString("CustomerId"))
#set($sKatID  = $data.Parameters.getString("KategoriId"))
#set($sStart  = $data.Parameters.getString("StartDate"))                                                                                                                
#set($sEnd    = $data.Parameters.getString("EndDate"))

#set($bVAT   = $data.Parameters.getBoolean("VatInOut"))                                                                                                                
#set($sOther = $data.Parameters.getString("OtherDed"))

#set($pageParam = "&StartDate=$sStart&EndDate=$sEnd&LocationID=$sLocID&KategoriID=$sKatID&CustomerID=$sCustID")
#set($pageParam = "${pageParam}&VatInOut=$bVAT&OtherDed=$sOther")

<script>
function printReport () 
{    
    var sURL = '$link.setPage("report,consignment,CsDiscountSummaryReport.vm")?printable=true$pageParam';
    var prnWnd = window.open (sURL,'printWindow','toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    prnWnd.focus();                                                   
}

function printExcel () 
{    
    var sURL = '${data.ContextPath}/excel/workbook.xls?printable=true$pageParam&helper_class=com.ssti.enterprise.pos.excel.report.CsDiscountSummaryReportHelper'  ;
    var prnWnd = window.open (sURL,'printWindow','toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    prnWnd.focus();                                                   
}
</script>


<form name="frm" method="post" action="$link.setPage("report,consignment,CsDiscountSummaryReport.vm")">

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" width="1%">
    <td valign="top" width="98%">
      
      #if(!$printable)
      <table width="100%" cellspacing="0" cellpadding="0"> 
        <tr>
          #if(!$vResult)
          <td width="80%">
            <span class="txtTitle2">$title 
              #if($data.Parameters.getString("StartDate", "") != "")                    
               ($!sStart - $!sEnd)
                #end
            </span>
          </td>
          #end
          <td>
            <div align="right">               
              <a href="javascript:void(0)" OnClick="printExcel();">
                <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/>
              </a> 

              <a href="javascript:void(0)" OnClick="printReport();">
                <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
              </a> 
            </div>
          <td>
        <tr>
      </table>
      #end

      #if(!$printable)
      <!-- SEARCH -->      
      #if(!$vResult)
      <br>
      <table cellspacing="0" cellpadding="2" border="0">
        <tr>
          <td>
            $!l10n.location : &nbsp;&nbsp;
          </td>
          <td>
            #if($preference.isHO())
              #locationSB($sLocID)
            #else
              $!location.getLocationNameByID($preference.LocationID)
              <input name="LocationId" type="hidden" value="$preference.LocationID">
            #end
            <input type="hidden" name="DiscConsId" value="">
            &nbsp;&nbsp;
          </td>                
          <td>$!l10n.start_date : </td>
          <td>
            <input type="text" size="15" name="StartDate" value="$!sStart">
            #cal ("StartDate" true) &nbsp;&nbsp; 
          </td>
          <td>Other Deduction : </td>
          <td>
            <input type="text" size="10" name="OtherDed" value="$!sOther">
          </td>                    
        </tr>
        <tr>
          <td>
            $!l10n.category : &nbsp;           
          </td>
          <td>          
            <select name="KategoriId">
              <option value=""> -- $!l10n.category --</option>
              #foreach ($oKat in $kategori.getKategoriTreeList("", true))
              <option value="$oKat.KategoriId" #if($oKat.KategoriId == $sKatID) SELECTED #end > 
                #set($iLevel = $oKat.KategoriLevel )
                #if($iLevel > 1) #foreach ($i in [2..$iLevel])  &nbsp;&nbsp; #end #end
                $!oKat.KategoriCode [$!oKat.Description]      
              </option>    
              #end
            </select>                   
          </td>         
          <td>$!l10n.end_date : </td>
          <td>
            <input type="text" size="15" name="EndDate" value="$!sEnd">
            #cal ("EndDate" true) &nbsp;&nbsp; 
          </td>
          <td>VAT In/Out : </td>
          <td>
            <input type="checkbox" class="cb" name="VatInOut" #if($!bVAT) CHECKED #end >
            &nbsp;&nbsp;<input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
          </td>                    
        </tr>        
      </table>
      <!-- END SEARCH SECTION -->
      <br><br>
      #end ##if(!$vResult)
      #end ##if(!$printable)
            
      #if($vResult)
      
      #set($totalQty     = 0)      
      #set($totalGross   = 0)
      #set($totalNet     = 0)

      #set($totalDeduct  = 0)
      #set($totalAftDed  = 0)
      
      #set($totalDisc    = 0)         
      #set($totalDiscCO  = 0)         
      #set($totalDiscCS  = 0)     
      
      #set($totalInvoiced = 0)
      <br>
      <table width="640" cellspacing="0" cellpadding="4"> 
        <tr>
          <td>
            <center>
              <span class="txtTitle2">
                $!preference.getCompany().CompanyName<br>

                $title ($!sStart - $!sEnd) <br>
                $!customer.getCustomerNameByID($sCustID) - $!location.getLocationNameByID($sLocID)
              </span>
            </center>
          </td>
        <tr>
      </table>
      <br>
      ##end header
      
      <table width="640" cellspacing="0" cellpadding="2" bgcolor="#FFFFFF">
        <tr><td align="right"><b>$!l10n.print_date : $!cformat.formatDateTime($dutil.getTodayDate())</td></tr>
      </table>
      <table width="640" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
    
        <tr><td colspan="7"><hr></td></tr> 
      
        #set($i = 0)

        #foreach ($hSales in $vResult)  
          
          #set($oCS     = $!hSales.get("CS") )          
          #set($dQty    = $!hSales.get("TotalQty")   )           
          #set($dNet    = $!hSales.get("TotalSales") ) 
          #set($dDisc   = $!hSales.get("TotalDisc")  ) 
          #set($dGross  = $!calculator.add($dNet, $dDisc)) 
                                            
          #set($dDiscCO = $!calculator.pct($oCS.DiscByCompany,  $dDisc))       
          #set($dDiscCS = $!calculator.pct($oCS.DiscByCustomer, $dDisc)) 
          
          #if($bVAT)
            #set($dVAT = $calculator.div(10, 110))
            #set($dVAT = $calculator.mul($dVAT, $dNet))             
            #set($dNet = $calculator.sub($dNet, $dVAT))             
          #end
            
          #set($dDeduction = 0) 
          #set($dAftDed = 0) 

          #if($oCS.NettGross == 1) ##if net
            #set($dDeduction = $calculator.pct($oCS.Commission, $dNet)) 
            #set($dAftDed = $calculator.sub($dNet, $dDeduction))
            #set($sNG = "Nett. Sales")
          #elseif ($oCS.NettGross == 2)
            #set($dDeduction = $calculator.pct($oCS.Commission, $dGross))           
            #set($dAftDed = $calculator.sub($dNet, $dDeduction))
            #set($sNG = "Gross Sales")
          #end

          #set($dInvoiced = $calculator.add($dAftDed, $dDiscCS))
          #set($iRowspan = 6)
          #if($dDiscCS.intValue() > 0) #set($iRowspan = 7) #end  
          #if($bVAT) #set($iRowspan = $iRowspan + 2) #end  
          #if($sutil.isNotEmpty($sOther)) #set($iRowspan = $iRowspan + 2) #end  

          <tr>
            <td class="tbs" width="150" rowspan="$iRowspan" valign="top"><b>$!l10n.discount $!oCS.Discount </td>
            <td class="tbs" width="300">$!l10n.total_sales ($!cformat.formatNumber($dQty)) &nbsp;</td>
            <td class="tbs" align="right">$!cformat.formatAligned($dGross) &nbsp;</td>             
          </tr>
          <tr>            
            <td class="tbs" >$!l10n.discount $!oCS.Discount (SKU $!oCS.DiscConsCode)</td>
            <td class="tbs" align="right">($!cformat.formatAligned($dDisc))  &nbsp;</td>            
          </tr>
          
          ## create VAT OUT 
          #if($bVAT)
          <tr>            
            <td class="tbs" >VAT Out (10/110)</td>
            <td class="tbs" align="right">
             $!cformat.formatAligned($dVAT) &nbsp;</td>            
          </tr>
          <tr>            
            <td class="tbs" >&nbsp; </td>
            <td class="tbs" align="right">$!cformat.formatAligned($dNet) &nbsp;</td>            
          </tr>           
          #else
          <tr>            
            <td class="tbs" >$!l10n.after $!l10n.discount </td>
            <td class="tbs" align="right">$!cformat.formatAligned($dNet) &nbsp;</td>            
          </tr>          
          #end
          
          <tr>
            <td class="tbs" >$!l10n.deduction ($!oCS.Commission from $!sNG)</td>
            <td class="tbs" align="right">
              ($!cformat.formatAligned($dDeduction))  &nbsp;</td>
          </tr>
          <tr>
            <td class="tbs" >$!l10n.after $!l10n.deduction</td>
            <td class="tbs" align="right">
              $!cformat.formatAligned($dAftDed)  &nbsp;</td>
          </tr>
          
          #if($dDiscCS.intValue() > 0)
          <tr>
            <td class="tbs" >$!l10n.discount $!l10n.from $!l10n.customer ($!oCS.DiscByCustomer $!l10n.of $!l10n.discount)</td>
            <td class="tbs" align="right">
              $!cformat.formatAligned($dDiscCS) &nbsp;</td>
          </tr>
          #end

          ## create VAT IN 
          #if($bVAT)
          <tr>            
            <td class="tbs" >VAT In (10%)</td>
            <td class="tbs" align="right">
             #set($dVAT = $calculator.pct("10%", $dAftDed))             
             $!cformat.formatAligned($dVAT) &nbsp;</td>       
             #set($dInvoiced = $calculator.add($dInvoiced, $dVAT))                               
          </tr>
          #end

          <tr>
            <td class="tbs" >$!l10n.net_sales </td>
            <td class="tbs" align="right">
              $!cformat.formatAligned($dInvoiced)  &nbsp;</td>
          </tr>

          ## OTHER DEDUCTION
          #if($sutil.isNotEmpty($sOther))
          <tr>
            <td class="tbs" >$!l10n.deduction ($sOther) </td>
            <td class="tbs" align="right">
              #set($dOther = $calculator.pct($sOther, $dInvoiced))
              #set($dInvoiced = $calculator.sub($dInvoiced, $dOther))
              $!cformat.formatAligned($dOther) &nbsp;</td>
          </tr>
          <tr>
            <td class="tbs" >$!l10n.net_sales </td>
            <td class="tbs" align="right">
              $!cformat.formatAligned($dInvoiced)  &nbsp;</td>
          </tr>
          #end
        
          <tr><td colspan="7"><hr></td></tr> 

          #set($totalQty    = $calculator.add($totalQty   , $dQty))          
          #set($totalGross  = $calculator.add($totalGross , $dGross))
          #set($totalNet    = $calculator.add($totalNet   , $dNet))
          
          #set($totalDeduct = $calculator.add($totalDeduct, $dDeduction))
          #set($totalAftDed = $calculator.add($totalAftDed, $dAftDed))

          #set($totalDisc   = $calculator.add($totalDisc   , $dDisc))
          #set($totalDiscCO = $calculator.add($totalDiscCO , $dDiscCO))
          #set($totalDiscCS = $calculator.add($totalDiscCS , $dDiscCS))
          
          #set($totalInvoiced = $calculator.add($totalInvoiced, $dInvoiced))
          
          #set($i = $i + 1)
        #end ##end foreach vResult
      </table>      
      
      #set($dBeforeTax = $calculator.div(100, 110))
      #set($dBeforeTax = $calculator.mul($dBeforeTax, $totalInvoiced))

      <table width="640" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
        <tr>
          <td class="tbs" width="150" rowspan="4" valign="top"><b>$!l10n.total_sales</td>
          <td class="tbs" width="300" >$!l10n.total_qty ($!cformat.formatNumber($totalQty)) &nbsp;</td>
          <td class="tbs" align="right"> &nbsp;</td>             
        </tr>
        <tr>            
          <td class="tbs" >$!l10n.total_sales $!l10n.after $!l10n.discount</td>
          <td class="tbs" align="right">$!cformat.formatAligned($totalNet)  &nbsp;</td>            
        </tr>
        <tr>            
          <td class="tbs" >Total $!l10n.net_sales </td>
          <td class="tbs" align="right">$!cformat.formatAligned($totalInvoiced) &nbsp;</td>            
        </tr>        
        <tr>            
          <td class="tbs" >Total $!l10n.net_sales ($!l10n.before_tax) </td>
          <td class="tbs" align="right">$!cformat.formatAligned($dBeforeTax) &nbsp;</td>            
        </tr>
      </table>
      <table width="640" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr><td><hr></td></tr>
      </table>
      <table width="640" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
        <tr>
          <td class="tbs" width="150" rowspan="4" valign="top"><b>$!l10n.percentage</td>
          <td class="tbs" width="300" >$!l10n.total_sales $!l10n.after $!l10n.discount / $!l10n.net_sales  </td>
          <td class="tbs" align="right"> 
             #set($pctTITAD = $calculator.pct($calculator.sub($totalNet, $totalInvoiced), $totalAftDed))
             $!cformat.formatAligned($pctTITAD) %
          </td>             
        </tr>
        <tr>
          <td class="tbs" >$!l10n.total_sales / $!l10n.net_sales </td>
          <td class="tbs" align="right"> 
             #set($pctTITG = $calculator.pct($calculator.sub($totalGross, $totalInvoiced), $totalGross))
             $!cformat.formatAligned($pctTITG) %
          </td>             
        </tr>      
      </table>
      
      <table width="640" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr><td><hr></td></tr>
      </table>

      #if(!$printable)
      <table width="640" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <a href="$link.setPage("report,consignment,CsDiscountSummaryReport.vm")?op=1$pageParam">Create Invoice</a>
          </td>
        </tr>
      </table>
      
      #set($op = $data.Parameters.getInt("op"))
      #if($op == 1)
        $cscommission.createInvoice($data, $sCustID, $sKatID, $totalQty.doubleValue(), $totalNet.doubleValue(), $totalInvoiced.doubleValue(), $dBeforeTax.doubleValue())
        ##$data.setScreenTemplate("transaction,$!preference.DefaultInvScreen")        
      #end            
                           
      #end            
                      
      #end ##end if vRult
        
      
    </td>
    <td valign="top" width="1%">
  </tr>
</table>
</form>    