<script>
function openSMS()
{
    jQuery('#divSMS').modal();
}
function sendSMS(cid)
{
    var url = '$!{preference.SysConfig.SmsGatewayUrl}';    
    if(url != '')
    {    
        var msg = jQuery('#msg').val();
        var phn = jQuery('#phn').val();
        jQuery('#btnSMS').attr("disabled", "disabled");
        url = url + '&nohp='+ phn +'&pesan=' + msg ;
        jQuery.get(url, function(data){ 
            jQuery.notify('SMS to:' + phn + ' result: ' + txt);
        });
        jQuery.modal.close();
    }
    else
    {
        alert('Please Fill In SMS Gateway URL in: Company > Preferences > Application Config!');                        
    }   
}
</script>      
#set($nos = "")
#foreach($oDet in $vDet)
#set($nos = "$nos $oDet.InvoiceNo ")
#end                       
<a href="javascript:void(0)" OnClick="openSMS('$!');" title="Send Notification">
  <i class="fa fa-envelope-o fa-2x"></i>
</a>&nbsp;
<div id="divSMS" style="display:none;">
<b>$!oARP.Customer.Name</b> &nbsp : 
<input type="text" style="background:none;border:none;" id="phn" value="$!oARP.Customer.ContactPhone1"
## #if(!$sutil.empty($oARP.Customer.ContactPhone1) READONLY #end 
>
<br>
<textarea rows="3"  id="msg" style="width:50%">
$!oARP.Customer.Name yth, Pembayaran anda untuk faktur 
$!nos sebesar $!cf.fmt($!oARP.TotalAmount) telah kami terima.
Terima Kasih. Itech</textarea>
<br>
<input id="btnSMS" type="button" value="Send SMS" OnClick="sendSMS()">
</div> 



