#spc(2)
<a href="#" OnClick="javascript:printTrans(3,'ItemTransferConsHTML.vm');" title="Print As HTML ($!l10n.consignment)">
<img src="${data.ContextPath}/images/btn_print_html.gif" border="0"/></a>&nbsp; 
