$data.setLayoutTemplate("/Empty.vm")
<script>

#set($obarcode = $barcodepaper.getBarcodePaperByID($data.Parameters.getString("BarcodePaperId")))

function setBarcodePaper() 
{
    var wnd = window.opener; 
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
    
    if (wnd && !wnd.closed) 
    {
        frm.SettingName.value    = '$!obarcode.SettingName';
        frm.PaperColumn.value    = '$!obarcode.PaperColumn';
        frm.PaperRow.value       = '$!obarcode.PaperRow';
        frm.ColumnWidth.value    = '$!obarcode.ColumnWidth';
        frm.ColumnHeight.value   = '$!obarcode.ColumnHeight';
        frm.ColumnSpacing.value  = '$!obarcode.ColumnSpacing';
        frm.PaperWidth.value     = '$!obarcode.PaperWidth';
        frm.BarcodeWidth.value   = '$!obarcode.BarcodeWidth';
        frm.BarcodeHeight.value  = '$!obarcode.BarcodeHeight';
        frm.BarcodeType.value    = '$!obarcode.BarcodeType';
        
        if($!obarcode.IsDefault)
        {
            frm.IsDefault.checked = true;
        }
        else
        {
            frm.IsDefault.checked = false;
        }
    }
    window.close();
}
</script>
<html>
<body Onload="javascript:setBarcodePaper();" leftMargin="0" topMargin="0">
</body>
</html>