#set($headings = ["No", "$!l10n.code", "$!l10n.description",  "$!l10n.group", "$!l10n.trans_type", ""])
#set($fields = ["", "cashFlowTypeCode", "description", "cashFlowTypeGroup",  "$!l10n.trans_type", ""])
#set($title = "$!l10n.cash_flow_type")
#set($cfttool = $cashflow.TypeTool)
#set($isAccCF = $data.Parameters.getBoolean("AccCF"))
#set($pageParam = "&AccCF=$isAccCF")
#if(!$isAccCF)
<script>
function printToExcel (sHelperClass) 
{
	var sURL = '${data.ContextPath}/excel/cashFlowType.xls?helper_class='+ sHelperClass + '$!{pageParam}';	
	var excelWnd = window.open (sURL, 'excelWnd', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
	excelWnd.focus();	                                                  
}
function printAccCFT() 
{	
    var sURL = '${data.ContextPath}/excel/ACC-CFT.xls?url=' + 
	           '$sutil.encode("$tplutil.setLocalPage($data)?printable=true&excel=true&AccCF=true")';
	var prnWnd = window.open (sURL,'printWindow', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
	prnWnd.focus();	                                                  
}
</script>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    <td align="right">
      <a href="javascript:void(0)" OnClick="msgDetail=window.open('$link.setPage("setup,CashFlowTypeSetupPrint.vm")?sort=$flux.Sort&ascdsc=$flux.ACDC', 'printWindow', 'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=560,height=480,left=20,top=20')" class="">
        <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
      </a>
      <a href="javascript:void(0)" title="Export $title"
        OnClick="printToExcel('com.ssti.enterprise.pos.excel.helper.CashFlowTypeHelper');">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
	  </a>           
      <a href="javascript:void(0)" title="Export $title"
        OnClick="printAccCFT();">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
	  </a>           	    
   </td>
  </tr>
</table>
##<!-- END TITLE SECTION -->
<table class="altRowTable">
   #sortableHeader ($headings $fields "th2" "sort2" false)       
   #set($no = 1)
   #set($row = 1)
   #set($amt = $CashFlowTypes.size())      
   #foreach ($pct in $sortingtool.sort($CashFlowTypes,$flux.Sort,$flux.ACDC))   
   <tr>
     <td>$!no</td>
     <td>$!pct.CashFlowTypeCode</td>                
     <td>$!cfttool.display($pct,"desc")</td>
     <td>$!pct.CashFlowTypeGroup</td>
     <td>#if($pct.DefaultType == 1) $!l10n.deposit #else $!l10n.withdrawal #end </td>
     <td>
       <ul class="rowLinkNav">
       #rowDataLink ("setup,CashFlowTypeSetupForm.vm" "?id=${pct.CashFlowTypeId}&mode=update" $!l10n.update "" "View Bank Setup")
       #rowDataLink ("setup,CashFlowTypeSetupForm.vm" "?id=${pct.CashFlowTypeId}&mode=delete" $!l10n.delete "" "Update Bank Setup")
       </ul>
     </td>     
   </tr>
   #set($no = $no + 1)
   #end
</table>

<ul class="btmLinkNav">
#btmLinkMenu("setup,CashFlowTypeSetupForm.vm" "?mode=insert" "$!l10n.add $!title" "")
#btmLinkMenu("setup,ImportCashFlowType.vm" "" "$!l10n.load_excel_data" "")
#btmLinkMenu("setup,ImportAccountCFT.vm" "" "$!l10n.load_excel_data ($!l10n.account)" "")
</ul>

#else
$data.setLayoutTemplate("/Printable.vm")
<table class="stdTable">
  <tr>
    <td class="th4">Account Code</td>
    <td class="th4">Cash Flow Type</td>
    <td class="th4">Account Name</td>
    <td class="th4">Cash Flow Desc</td>
  </tr>
  #set($v = $cfttool.findAccCFT("",""))
  #foreach($o in $v)
  <tr>
    <td>$!account.getCodeByID($!o.AccountId)</td>    
    <td>$!cfttool.getCodeByID($!o.CashFlowTypeId)</td>
    <td>$!account.getAccountByID($!o.AccountId).AccountName</td>
    <td>$!cfttool.getTypeByID($!o.CashFlowTypeId,$conn).Description</td>
  </tr>  
  #end
</table>
#end
