#set($headings = ["No", "$!l10n.code", "$!l10n.period", "$!l10n.department", "$!l10n.percentage"] )
#set($title = "$!l10n.cost_allocation" )
#set($frmPage = "setup,CostAllocationSetupForm.vm")

#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("/Printable.vm")
#end

<script>
function printList()
{
    msgDetail=window.open('$link.setPage($data.ScreenTemplate)?printable=true',
        'printWindow', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=560,height=480,left=20,top=20')
}
</script>

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    #if(!$printable)
    <td>
      <div align="right">
        <a href="javascript:void(0)" OnClick="printList();" class="">
          <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
        </a>
      </div>
    </td>
    #end
  </tr>
</table>
<table class="altRowTable">
   #line (10)
   <tr>
     #foreach ($heading in $headings)
     <td class="th2">$heading</td>
     #end
     #if(!$printable)
     <td class="th2">#spc(1)</td>
     #end
   </tr>
   #line (10)

   #set($no = 1)
   #foreach ($oData in $vData)
   <tr>
     <td>$!no</td>
     <td>$!oData.CostAllocationCode</td>
     <td>$!period.getPeriodByID($!oData.PeriodId).Description</td>
     <td>$!oData.Departments</td>
     <td>$!oData.Percentage</td>
     #if(!$printable)
     <td>
        <a href="$link.setPage($frmPage)?id=$oData.CostAllocationId&mode=update">$!l10n.update</a>
        #spc(3)
        <a href="$link.setPage($frmPage)?id=$oData.CostAllocationId&mode=delete">$!l10n.delete</a>
     </td>
     #end
   </tr>
   #set($no = $no + 1)
   #end
   #line(10)
</table>
#if(!$printable)
  <br>
  <a href="$link.setPage($frmPage)?mode=insert">$!l10n.add $title</a>
#end

