#set($title = "$!l10n.invoice_message")

<script>
function addRow()
{
    jQuery('#conTable tr:last').clone(true).insertAfter('#conTable tr:last');
}          
function delRow()
{
    jQuery('#conTable tr:last').remove();
}          

function save(op)
{
    var f = document.frm;
    if (validate(f))
    {
        if(op == 3 && !confirm('$!l10n.delete $!title'))
        {
            return false;
        }        
        f.op.value = op;
        f.submit();
    }
}
function validate(frm)
{
	#isEmpty ("frm" "StartDate")
	#isEmpty ("frm" "EndDate")
	return true;
}
</script>

<form name="frm" method="post"  action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<span class="txtTitle2">$title </span><br>
#if($data.Message)                    
<span class="txtMessage">$data.Message</span><br>
#end 
<table class="stdTable" >
  <tr>
    <td width="15%">$!l10n.start_date</td>
    <td><input type="text" size="20" name="StartDate" value="$!oData.StartDateStr">#calf("frm" "StartDate" true)</td>
  </tr>
  <tr>
    <td>$!l10n.end_date</td>
    <td><input type="text" size="20" name="EndDate" value="$!oData.EndDateStr">#calf("frm" "EndDate" true)</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>
      <input type="text" #width("") name="Title" value="$!oData.Title" >
    </td>
  </tr>  
  <tr>
    <td valign="top">Contents</td>
    <td>      
      <table id="conTable" class="searchTable" style="display:inline;">        
        #if($oData)
        #set($rows = $sutil.toList($oData.Contents,""))
        #foreach ($row in $rows)           
        #set($pref = $sutil.substring($row,0,3))
        #set($cont = $sutil.substring($row,3))
        <tr>
          <td> 
            <select name="Prefix">
              <option value="[S]" #if($pref == "[S]") SELECTED #end >S</option>
              <option value="[M]" #if($pref == "[M]") SELECTED #end >M</option>
              <option value="[L]" #if($pref == "[L]") SELECTED #end >L</option>             
            </select>                                     
          </td>          
          <td>                                                                
            <input type="text" name="Row" value="$!cont" #width(240) >            
          </td>
        </tr>
        #end ##end foreach        
        #else        
        <tr>
          <td>
            <select name="Prefix">
              <option value="[S]" >S</option>
              <option value="[M]" >M</option>
              <option value="[L]" >L</option>             
            </select>
          </td>          
          <td>
            <input type="text" name="Row" value="$!row" #width(240) >            
          </td>
        </tr>
        #end ##end if oData
      </table>
      <a href="javascript:addRow();"><i class="fa fa-plus faicon"></i> </a>  #spc(2)
      <a href="javascript:delRow();"><i class="fa fa-minus faicon"></i> </a> 
              
      ##<textarea name="Contents" >$!oData.Contents</textarea>    
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="id" value="$!oData.Id">   
      <input type="hidden" name="op" value="1">                          
      #if($data.ACL.Permissions.containsName("Update Item Data"))
        <input type="button" OnClick="save(2);" value="$!l10n.save $title"/>              
        #if($sutil.isNotEmpty($oData.Id))              
        <input type="button" OnClick="save(3);" value="$!l10n.delete $title" id="btnCancel"/>                
        #end
      #end           
   </td>
 </tr>
</table>
<br>
#set($vData = $invoicemessage.All)
#set($headings = ["No", "$!l10n.start_date", "$!l10n.end_date", "Title", "&nbsp;"] )
<table class="altRowTable">
  <tr>
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
  #set($no = 1)
  #set($row = 1)
  #set($amt = $vData.size())
  #foreach ($oDT in $vData)
  <tr>
    <td width="5%">$!no  </td>
    <td>$!oDT.StartDateStr </td>
    <td>$!oDT.EndDateStr</td>
    <td>$!oDT.Title   </td>          
    <td>
      <ul class="rowLinkNav">
      #rowDataLink ("$!data.ScreenTemplate" "?id=${oDT.Id}&op=1" $!l10n.update "" "View POS Data")
      </ul>
    </td>
  </tr>
   #set($no = $no + 1)
  #end
</table>		    
</form>
