#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("/Printable.vm")
#else
  $data.setLayoutTemplate("/Transaction.vm")
#end
#set($nocommon = true)
#set($title = "$!l10n.item_inv")
#set($cond  = $data.Parameters.getInt("Condition",$!preference.DefaultSearchCond))
#set($sort  = $data.Parameters.getInt("SortBy",$!preference.DefaultSearchCond))
#set($limit = $data.Parameters.getInt("ViewLimit",25))
#set($key   = $data.Parameters.getString("Keywords"))
#set($stat  = $data.Parameters.getInt("StockStatus"))
#set($itemstat = $data.Parameters.getInt("ItemStatus"))
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))
#set($locstat = $data.Parameters.getInt("StatusInLocation",-1))
#set($avgday = $data.Parameters.getInt("AvgSales",30))
#set($katid = $data.Parameters.getString("KategoriId", ""))
#set($locationName = $!location.getLocationNameByID($locid))

#set($pageParam = "&Condition=${cond}&SortBy=${sort}&ViewLimit=${limit}&Keywords=${key}&AvgSales=${avgday}")
#set($pageParam = "${pageParam}&StockStatus=${stat}&LocationId=${locid}&StatusInLocation=${locstat}")
#set($pageParam = "${pageParam}&LocationName=${locationName}&KategoriId=${katid}")
#if($printable) #set($pageParam = "${pageParam}&printable=true") #end

#if(!$printable)
<script>
function initPage() 
{
    document.frm.Keywords.focus();
    document.frm.Keywords.select();
}

function viewInventoryHistory (sItemID) 
{
    var url = '${link.setPage("transaction,ViewItemHistory.vm")}?ItemId=' + sItemID;  
    var wndItemHist=window.open(url, 'wndItemHist', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    
    wndItemHist.focus();
}

function saveItemInventory()
{
    document.frmUpdate.save.value = '1';
    var param = jQuery('#frmUpdate').serialize();   
    var url = '$link.setPage($data.ScreenTemplate).setAction("transaction.ItemInventoryLookupAction")';
    jQuery.post(url, param, function(resp){alert('Update Successful');});    
}

function printToExcel (sPageParam, sHelperClass) 
{
    var url = '${data.ContextPath}/excel/inventoryLevel.xls?helper_class='+ sHelperClass + sPageParam;
    var excelWnd = window.open (url, 'excelWnd', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');    
    excelWnd.focus();                                                     
}

function submitForm(e) 
{       
    if (getKey(e) == 13) {document.frm.submit(); } 
}

function handleMinMaxKeypress(e, row, type, _sItemID)
{
    var nextRow = row + 1;
    if (getKey(e) == 13)
    {
        if (type == 1) {eval ('document.frmUpdate.max' + row + '.focus()');}
        if (type == 2) {eval ('document.frmUpdate.reorder' + row + '.focus()');}
        if (type == 3) {eval ('document.frmUpdate.rack' + row + '.focus()');}       
        if (type == 4) {eval ('document.frmUpdate.statusitem' + row + '.focus()');}     
        if (type == 5) {eval ('document.frmUpdate.min' + nextRow + '.focus()');}        
    }
    else if (getKey(e) == 27)
    {
        calculateReorder(_sItemID, row) 
    }
}

function calculateReorder(_sItemID, row) 
{
    var sLocationID = document.frm.LocationId.value;
    var url = '$link.setPage("transaction,ItemCalculateReorder.vm")?i=' + row +
        '&page=$LargeData.getCurrentPageNumber()&LocationID=' + sLocationID + '&ItemID=' + _sItemID;
    
    var reorderWnd = window.open(url, 'reorderWnd', 
        'toolbar=no,scrollbars=no,menubar=no,resizable=no,width=640,height=480,left=20,top=20');
    
    reorderWnd.focus();
}

function print ()
{
    var url = '$link.setPage($data.ScreenTemplate)?printable=true&op=page'  + 
        '&page=$LargeData.getCurrentPageNumber()$pageParam';

    var printWnd=window.open(url, 'printWnd', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    printWnd.focus();
}
function openImportItemPDT()
{
    var f = document.frm;
    var url = '$link.setPage("transaction,ImportFromPDT.vm")?trans=il' + 
               '&page=$data.ScreenTemplate&action=transaction.ItemInventoryLookupAction'  +
               '&LocationId=' + f.LocationId.value;                                
    var wndItem  = window.open (url, 'wndItem',
        'toolbar=no,scrollbars=yes,menubar=no,statusbar=yes,resizable=no,width=560,height=200,left=20,top=200');   
    wndItem.focus();
}
</script>
#end

<table class="fixTable">
  <tr>
    <td>
      <span class="txtTitle2">$title [$!locationName]</span>
      #if($data.Message)
      <br><span class="txtMessage">$data.Message</span><br>
      #end 
    </td>
    #if(!$printable)
    <td align="right">
      <a href="javascript:void(0)" title="Excel Item Update Template"
          OnClick="printToExcel('$!pageParam', 'com.ssti.enterprise.pos.excel.helper.ItemInventoryHelper');">
      <img src="${data.ContextPath}/images/btn_excel.gif" border="0" /></a>
      
      <a href="javascript:void(0)" OnClick="javscript:print();">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
    </td>
    #end
  </tr>
</table>

#if(!$printable)
<!-- SEARCH -->
<form name="frm" method="post" OnSubmit="loading();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.ItemInventoryLookupAction")?op=next">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<table class="searchTable">
  <tr>
    <td>$!l10n.search_by #spc(2)</td>
    <td>
      <select name="Condition" #width("")>
        <option value="1"  #if($cond == 1)  SELECTED #end > $!l10n.item_code       </option>
        <option value="2"  #if($cond == 2)  SELECTED #end > $!l10n.item_name       </option>
        <option value="3"  #if($cond == 3)  SELECTED #end > $!l10n.item_desc       </option>
        <option value="7"  #if($cond == 7)  SELECTED #end > $!l10n.barcode         </option>
        <option value="4"  #if($cond == 4)  SELECTED #end > $!l10n.sku             </option>
        <option value="5"  #if($cond == 5)  SELECTED #end > $!l10n.prefered_vendor </option>
        <option value="6"  #if($cond == 6)  SELECTED #end > $!l10n.status_code     </option>
        <option value="8"  #if($cond == 8)  SELECTED #end > $!l10n.color           </option>
        <option value="9"  #if($cond == 9)  SELECTED #end > $!l10n.size            </option>
        <option value="10" #if($cond == 10) SELECTED #end > $!l10n.create_date     </option>
        <option value="11" #if($cond == 11) SELECTED #end > $!l10n.last_update     </option>
        <option value="12" #if($cond == 12) SELECTED #end > $!l10n.item_list       </option>
        <option value="13" #if($cond == 13) SELECTED #end > $!l10n.rack_location   </option>
        <option value="14" #if($cond == 14) SELECTED #end > $!l10n.rack_location (Loc) </option>
        <option value="15" #if($cond == 15) SELECTED #end > $!l10n.manufacturer    </option>
        <option value="17" #if($cond == 17) SELECTED #end > $!l10n.brand           </option>
        <option value="16" #if($cond == 16) SELECTED #end > $!l10n.tags            </option>        
        <option value="98" #if($cond == 98) SELECTED #end > $!l10n.item_picture    </option>
        <option value="99" #if($cond == 99) SELECTED #end > $!l10n.custom_field    </option>
      </select>
      #spc(2)
    </td>
    <td>$!l10n.category #spc(2)</td>
    <td #width(240)>
      #kategoriSB("KategoriId" $katid)
      #spc(2)
    </td>
    <td>$!l10n.avg_sales #spc(2)</td>
    <td>
      <input type="text" size="5" maxlength="3" name="AvgSales" value="$!avgday" OnKeyPress="submitForm(event)"> $!l10n.days
    </td>             
  </tr>
  <tr>
    <td>$!l10n.sort_by #spc(2)</td>
    <td>
      <select name="SortBy" #width(200)>
        <option value="2" #if($sort == 2) SELECTED #end > $!l10n.item_name   </option>
        <option value="1" #if($sort == 1) SELECTED #end > $!l10n.item_code   </option>
        <option value="3" #if($sort == 3) SELECTED #end > $!l10n.description </option>
        <option value="4" #if($sort == 4) SELECTED #end > $!l10n.price       </option>
      </select>
    </td>        
    <td>$!l10n.stock_status #spc(2)</td>
    <td>
      <select name="StockStatus" #width(200)>
        <option value="-1" > -- $!l10n.stock_status --  </option>
        <option value="1"  #if($stat == 1)  SELECTED #end >$!l10n.qty_oh <= $!l10n.min_stock     </option>
        <option value="2"  #if($stat == 2)  SELECTED #end >$!l10n.qty_oh <= $!l10n.reorder_point </option>
        <option value="3"  #if($stat == 3)  SELECTED #end >$!l10n.qty_oh < 0                     </option>
        <option value="4"  #if($stat == 4)  SELECTED #end >$!l10n.qty_oh > 0                     </option>
        <option value="12" #if($stat == 12) SELECTED #end >$!l10n.qty_oh = 0                     </option>
        <option value="5"  #if($stat == 5)  SELECTED #end >$!l10n.qty_oh > $!l10n.max_stock      </option>
      </select>
    </td>
    <td>$!l10n.status #spc(2)</td>
    <td>
      <select name="ItemStatus" #width(120)>
        <option value="" >-- $!l10n.status --</option>
        <option value="1" #if($itemstat == 1) SELECTED #end >$!l10n.active        </option>
        <option value="2" #if($itemstat == 2) SELECTED #end >$!l10n.non_active    </option>
        ## <option value="3" #if($itemstat == 3) SELECTED #end >$!l10n.barcode       </option>
        ## <option value="4" #if($itemstat == 4) SELECTED #end >$!l10n.non_barcode   </option>                    
      </select> /
      <select name="StatusInLocation" #width(120)>
        <option value="-1" >-- $!l10n.status ($!l10n.location) --</option>
        <option value="1" #if($locstat == 1) SELECTED #end >$!l10n.active     </option>
        <option value="0" #if($locstat == 0) SELECTED #end >$!l10n.non_active </option>      
      </select>      
     </td>       
  </tr>
  <tr>
    <td>$!l10n.location</td>
    <td>
      #if($sutil.isEmpty($locid))
        #set($locid = $preference.getLocationID($data.User.Name))
      #end
      #locationSB($!locid)
      <input type="hidden" name="LocationName" value="$!locationName">
    </td>
    <td>$!l10n.keywords  </td>
    <td>
      <input type="text" #width(200)  name="Keywords" OnFocus="this.select();"
       OnKeyPress="submitForm(event)" value="$!key">&nbsp;
    </td>
    <td>$!l10n.view_limit </td>
    <td>
      <input type="text" size="5" maxlength="5" name="ViewLimit" value="$!limit" OnKeyPress="submitForm(event)">
      <input type="Submit" value="&nbsp; $!l10n.search &nbsp;" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
</form>
<!-- END SEARCH SECTION -->
#end
                           
#if($Items)  
$!data.getSession().setAttribute("Items", $Items)                
#largeSelectNavBar($data.ScreenTemplate $pageParam)  
             
<form id="frmUpdate" name="frmUpdate" method="post" 
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.ItemInventoryLookupAction")?op=next&$pageParam">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<input type="hidden" name="locationId" value="$!locid">
<input type="hidden" name="locationName" value="$!locationName">
<table class="stdTable">
  #if($printable) #line(10) #end
  <tr class="th4">
    <td> No                   </td>
    <td> $!l10n.item_code     </td> 
    <td> $!l10n.item_name     </td> 
    <td> $!l10n.avg_sales     </td>            
    <td> $!l10n.qty_oh        </td>    
    <td> Stock Days           </td>
    <td> $!l10n.min_stock     </td> 
    <td> $!l10n.max_stock     </td>                                               
    <td> $!l10n.reorder_point </td> 
    <td> $!l10n.rack_location </td>                                               
    <td> $!l10n.status        </td> 
  </tr>
  #if($printable) #line(10) #end
  #set($no = 1)                
  #set($row = 1)
  #set($amt = $Items.size())
  #set($pageno = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 )                
  #foreach ($itm in $Items)

  #set($itemInv = "")
  #set($invloc = "")
  #set($invloc = $inventorylocation.getDataByItemAndLocationID($!itm.ItemId, $locid))   
  #set($itemInv = $iteminventory.getItemInventory($!itm.ItemId,$!locid) )
  #set($avgsales = $itm.getAvgSales($locid,$avgday))
  #set($day = $cal.div($invloc.CurrentQty,$avgsales))
  #set($iQty = $invloc.CurrentQty.intValue())
  #set($iMin = $itemInv.MinimumQty.intValue())
  #set($iRop = $itemInv.ReorderPoint.intValue())
  #set($iMax = $itemInv.MaximumQty.intValue())
  #set($bgc = "")
  
  #if($iMin > 0  && $iQty <= $iMin)   #set($bgc = "$!preference.SysConfig.ItemColorLtMin")
  #elseif($iRop > 0 && $iQty <= $iRop)#set($bgc = "$!preference.SysConfig.ItemColorLtRop") 
  #elseif($iMax > 0 && $iQty > $iMax) #set($bgc = "$!preference.SysConfig.ItemColorGtMax")
  #end
  
  <tr #if($sutil.isNotEmpty($bgc)) bgcolor="$!bgc" #end >
    <td> $!pageno </td>
    <td> <a href="javascript:viewInventoryHistory('$!itm.ItemId')">$!itm.ItemCode</a></td>     
    <td>$!itm.ItemName      
      <input type="hidden" name="ItemId${no}" value="$!itm.ItemId"> 
      <input type="hidden" name="ItemCode${no}" value="$!itm.ItemCode"> 
    </td>   
    <td><input class="text2" type="text" size="8" name="avg${no}"     OnFocus="this.select();" value="$!cf.fmt($avgsales)"READONLY >&nbsp;</td>                                            
    <td><input class="text2" type="text" size="8" name="qty${no}"     OnFocus="this.select();" value="$!cf.fmt($invloc.CurrentQty)" READONLY > <input type="text" class="text2" value="$!itm.PurchaseUnit.Code @ $!cf.fmt($!itm.UnitConversion) $!itm.Unit.Code" size="16" READONLY > </td>                                  
    <td><input class="text2" type="text" size="8" name="day${no}"     OnFocus="this.select();" value="$!cf.formatRounded($day)"READONLY >&nbsp;</td>                                                
    <td><input class="text2" type="text" size="8" name="min${no}"     OnFocus="this.select();" OnKeyPress="javascript:handleMinMaxKeypress(event,${no},1,'$!itm.ItemId');" #if($itemInv.MinimumQty)  value="$itemInv.MinimumQty.setScale(0,4)"   #else value="$itm.MinimumStock.setScale(0,4)" #end #if($printable) READONLY #end >&nbsp;</td>                        
    <td><input class="text2" type="text" size="8" name="max${no}"     OnFocus="this.select();" OnKeyPress="javascript:handleMinMaxKeypress(event,${no},2,'$!itm.ItemId');" #if($itemInv.MaximumQty)  value="$itemInv.MaximumQty.setScale(0,4)"   #else value="$itm.MaximumStock.setScale(0,4)" #end #if($printable) READONLY #end >&nbsp;</td>                        
    <td><input class="text2" type="text" size="8" name="reorder${no}" OnFocus="this.select();" OnKeyPress="javascript:handleMinMaxKeypress(event,${no},3,'$!itm.ItemId');" #if($itemInv.ReorderPoint)value="$itemInv.ReorderPoint.setScale(0,4)" #else value="$itm.ReorderPoint.setScale(0,4)" #end #if($printable) READONLY #end >&nbsp;</td>                        
    <td>
      <input class="text2" type="text" size="15" name="rack${no}" OnFocus="this.select();" OnKeyPress="javascript:handleMinMaxKeypress(event,${no},4,'$!itm.ItemId');" value="$!itemInv.RackLocation">
      <input type="hidden" name="ItemInventoryId${no}" value="$!itemInv.ItemInventoryId"> &nbsp;
    </td>           
    <td>
      #if($data.ACL.Permissions.containsName("Update Item Data"))  
        #if(!$printable)
        <select name="statusitem${no}" OnKeyPress="javascript:handleMinMaxKeypress(event,${no},5,'$!itm.ItemId');">
          <option value="1" #if($itemInv.Active == true) SELECTED #end >$!l10n.active    </option>
          <option value="0" #if($itemInv.Active == false)SELECTED #end >$!l10n.non_active</option>
        </select>
        #else
          #if($itemInv.Active == false) $!l10n.non_active #else $!l10n.active #end   
        #end
      #else                                              
        <input type="hidden" name="statusItem$!{no}" 
        #if($itemInv.Active == false) value="0" #else value="1" #end >
        #if($itemInv.Active == false) $!l10n.non_active #else $!l10n.active #end                 
      #end
    </td>
  </tr>
  #set($invloc = "")                
  #set($itemInv = "")
  #set($no = $no + 1)
  #set($pageno = $pageno + 1)
  #end
  #if($printable) #line(10) #end
</table>
<input type="hidden" name="save">
<input name="DataSize" type="hidden" value="$amt">
#if(!$printable) 
#if($data.ACL.Permissions.containsName("View Item Data"))
<input type="button" #width("") value="$!l10n.update $!l10n.item_inventory" 
  onClick="javascript:saveItemInventory();" >
#end                                             

#if($data.ACL.Permissions.containsName("View Item Data"))
<ul class="btmLinkNav">
<li><a href="#" onClick="javascript:calculateReorder('','');"><i class="fa fa-calculator"></i> $!l10n.calculate $!title</a></li>
#btmLinkMenu("setup,ImportItemInventoryData.vm" "" "$!l10n.import $!title" "")
<li><a href="javascript:openImportItemPDT();"><i class="fa fa-list"></i> $!l10n.import From PDT</a></li>
</ul>
#end ##end if has perm update item data      
#end ##end if printable
#end
</form>      
