#set($headings = ["$!l10n.location_code", "$!l10n.location_name", "$!l10n.description",  "$!l10n.location_address", "$!l10n.site"] )
#set($title = "$!l10n.location" )

$data.setLayoutTemplate("/Printable.vm")

<br>
<span class="txtTitle2">$title</span>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="6"><hr></td>
        </tr>
        <tr>
          #foreach ($heading in $headings)
          	<td class="th4">$heading</td>
          #end
        </tr>
        <tr>
          <td colspan="6"><hr></td>
        </tr>		        
        #foreach ($location in $sortingtool.sort($Locations,$flux.Sort,$flux.ACDC))
        <tr>
          <td>$!location.LocationCode    </td>		        
          <td>$!location.LocationName    </td>
          <td>$!location.Description     </td>
          <td>$!location.LocationAddress </td>
          <td>$!site.getSiteByID($!location.SiteId).Description</td>
          
        </tr>
        #end
        <tr>
          <td colspan="6"><hr></td>
        </tr>		        
      </table>
    </td>
  </tr>
</table>