#set($headings = ["$!l10n.code","$!l10n.description", "$!l10n.petty_cash_flow"] )
#set($title = "$!l10n.petty_cash_type" )

$data.setLayoutTemplate("/Printable.vm")

<table width="100%">
  <tr>
	<td valign="top" width="100%">	
      <span class="txtTitle2">$title</span>
      <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td colspan="5"><hr></td>
        </tr>
        <tr>
          #foreach ($heading in $headings)
            <td><b>$heading</b></td>
          #end
        </tr>
        <tr>
          <td colspan="5"><hr></td>
        </tr>		
        #foreach ($pct in $sortingtool.sort($PettyCashTypes,$flux.Sort,$flux.ASCP))
        <tr>
          <td>$!pct.PettyCashCode   </td>
          <td>$!pct.Description     </td>
          <td>#if($!pct.IncomingOutgoing == 2) $!l10n.withdrawal #else $!l10n.deposit #end</td>
        </tr>
        #end
         <tr>
          <td colspan="5"><hr></td>
        </tr>
      </table>
  	</td>
  </tr>
</table>







