#set($title = "$!l10n.tax" )

<script>
function validate(frm)
{
    #isEmpty ("frm" "TaxCode")
    #isEmpty ("frm" "Description")
    #isCharsValid ("frm" "TaxCode")
    #isCharsValid ("frm" "Description")
    
}
</script>

<form method="post" onSubmit="return validate(this)" action="$link.setPage($data.ScreenTemplate).setAction("setup.TaxSetupAction")">              
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<span class="txtTitle2">$title </span><br>
#if($data.Message)
<span class="txtMessage">$data.Message</span><br>
#end
<table class="stdTable">
  <tr>
    <td width="20%">$!l10n.tax_code</td>
    <td><input type="text" size="10" name="TaxCode" value="$!Tax.TaxCode" required ></td>
  </tr>
  <tr>
    <td>$!l10n.tax_amount</td>
    <td><input type="number" min="0" max="99" step="any" name="Amount" value="$!Tax.Amount" #width(80) required >%</td>
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td><input type="text" size="50" name="Description" value="$!Tax.Description" required ></td>
  </tr>
  <tr>
    <td>$!l10n.default_sales </td>
    <td><input type="checkbox" class="cb" name="DefaultSalesTax" #if($!Tax.DefaultSalesTax == true) Checked #end></td>
  </tr>
  <tr>
    <td>$!l10n.default_purchase</td>
    <td><input type="checkbox" class="cb" name="DefaultPurchaseTax" #if($!Tax.DefaultPurchaseTax == true) Checked #end></td>
  </tr>
  <tr>
    <td>$!l10n.sales_tax_account</td>
    <td>
      #set($vAcc = $account.getAccountByGLType(2, false, true))
      <select name="SalesTaxAccount" #width(250)>
        #foreach ($acc in $vAcc) 
        <option value="$acc.AccountId" #if($acc.AccountId == $Tax.SalesTaxAccount) SELECTED #end >
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.purch_tax_account</td>
    <td>
      #set($vAcc = $account.getAccountByGLType(1, false, true))
      #set($v = $vAcc.addAll($account.getAccountByGLType(2, false, true)))

      <select name="PurchaseTaxAccount" #width(250)>
        #foreach ($acc in $vAcc) 
        <option value="$acc.AccountId" #if($acc.AccountId == $Tax.PurchaseTaxAccount) SELECTED #end >
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      #hiddenField ("ID" $!Tax.TaxId)
      #if($data.ACL.Permissions.containsName("Update POS Data"))
        #if($flux.Mode == "delete")
          <input type="submit" name="eventSubmit_doDelete" value="$!l10n.delete $!title"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title"/>
        #end
      #end
   </td>
 </tr>
</table>
<ul class="btmLinkNav">
#btmLinkMenu("setup,TaxSetup.vm" "" "$!l10n.view $!title" "")
</ul>
</form>




