#set($headings = ["$!l10n.code","$!l10n.tax_amount","$!l10n.description"] )
#set($title = "$!l10n.tax" )

$data.setLayoutTemplate("/Printable.vm")

<table width="97%">
  <tr>
	<td valign="top" width="100%">
		<br>
	    <span class="txtTitle2">$title</span>
		<table width="100%" cellspacing="0" cellpadding="4">
		  <tr>
		    <td>
		      <table width="100%" border="0" cellspacing="0" cellpadding="4">
		        <tr>
		          <td colspan="4"><hr></td>
		        </tr>
		        <tr>
		          #foreach ($heading in $headings)
		          	<td class="th4">$heading</td>
		          #end
		        </tr>		
		        <tr>
		          <td colspan="4"><hr></td>
		        </tr>		        
		        #foreach ($tax in $Taxes)
		        <tr>
		          <td>$!tax.TaxCode    </td>
		          <td align="right" width="90">$!cformat.formatNumber($!tax.Amount) % #spc(4)  </td>
		          <td>$!tax.Description</td>
		        </tr>
		        #end
		        <tr>
		          <td colspan="4"><hr></td>
		        </tr>		        
		      </table>
		    </td>
		  </tr>
		</table>
  	
  	</td>
  </tr>
</table>







