#set($title = "BSH Script Tester")
#set($script = $data.Parameters.getString("script"))
$data.setLayoutTemplate("/PopupWindow.vm")
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">

<table cellspacing="0" cellpadding="2" border="0" width="100%">
  <tr>
    <td colspan="4"><b>$!title</b><br></td>
  </tr>
  #if($data.Message)
  <tr>
    <td colspan="4"><span class="txtMessage">$data.Message</span></td>
  </tr>
  #end
  <tr>
    <td>
      <textarea name="Script" rows="9" cols="69">$!script</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="hidden" name="op" value="1">
      <input type="submit" value="Evaluate Script">
    </td>
  </tr>  
</table>
</form>
