$data.setLayoutTemplate("/Empty.vm")
#set($po = $data.Session.getAttribute("po"))
#set($poDet = $data.Session.getAttribute("poDet"))

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title></title>
</head>
<body bgcolor="#ffffff">
<style>
.formNo {font-family: Arial; font-size: 18px; font-weight:bold; }
.title  {font-family: Arial; font-size: 14px; font-weight:bold; }
.header {font-family: Arial; font-size: 12px; font-weight:bold; }
TD      {font-family: Arial; font-size: 11px; font-weight:bold; }
.TDwoTB {font-family: Arial; font-size: 12px; font-weight:bold; border: 1px solid; border-top:none; border-bottom:none}
.TDwoBR {font-family: Arial; font-size: 12px; font-weight:bold; border: 1px solid; border-bottom:none; border-right:none}
.TDwoTBL{font-family: Arial; font-size: 11px; font-weight:bold; border: 1px solid; border-top:none; border-bottom:none; border-left:none}
INPUT   {font-family: Arial; font-size: 11px; font-weight:bold; border: 0px ;}
                                                                                                                       
</style>
<table cellspacing="0" cellpadding="0" width="700" align="center" border="1">
  <tr>
    <td width="100" class="formNo" align="center"> 
      BC 4.0
    </td>
    <td align="center" class="title">
      PEMBERITAHUAN PEMASUKAN BARANG ASAL TEMPAT LAIN DALAM 
      DAERAH PABEAN KE<br>TEMPAT PENIMBUNAN BERIKAT
    </td>
  </tr>
  <tr>
    <td colspan="2" class="header">HEADER</td>
  </tr>
  <tr>
    <td colspan="2">
    NOMOR PENGAJUAN:
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="50%">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr><td>A. KANTOR PABEAN:      </td><td><input type="text" size="15"</td></tr>
            <tr><td>B. JENIS TPB:          </td><td><input type="text" size="15"</td></tr>
            <tr><td>C. TUJUAN PENGIRIMAN:  </td><td><input type="text" size="15"</td></tr>
          </table>
        </td>
        <td class="TDwoBR">
        F. KOLOM KHUSUS BEA DAN CUKAI <br>
        Nomor Pendaftaran:            <br>
        Tangga:                       <br>
        </td>        
      </tr>
    </table>    
    </td>
  </tr>
  
  <tr>
    <td colspan="2" class="header">D. DATA PEMBERITAHUAN</td>
  </tr>
  <tr>
    <td colspan="2" class="header">
      <table cellspacing="0" cellpadding="0" width="100%" align="center">
        <tr>
          <td width="50%" class="TDwoTBL"><b>PENGUSAHA TPB</td>
          <td width="50%" ><b>&nbsp;&nbsp;PENGIRIM BARANG</td>    
        </tr>
      </table>     
    </td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="2">
              <tr>
                <td width="50%">1. NPWP  </td>
                <td width="50%"><input type="text" value="$!preference.Company.TaxNo"></td>                
              </tr>
              <tr>        
                <td>2. Nama  </td>
                <td><input type="text" value="$!preference.Company.CompanyName"></td>                
              </tr>
              <tr>        
                <td>3. Alamat</td>
                <td><input type="text" value="$!preference.Company.Address"></td>                                
              </tr>
              <tr>        
                <td>4. No izin TPB</td>
                <td><input type="text" value="$!preference.Company.TaxDate"></td>                
              </tr>  
            </table>
          </td>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%">5. NPWP/KTP/Passport/Lainnya:  </td>
                <td width="50%"><input type="text" value=""></td>
              </tr>
              <tr>        
                <td>6. Nama  </td>
                <td><input type="text" value=""></td>                
              </tr>
              <tr>        
                <td>7. Alamat</td>
                <td><input type="text" value=""></td>                
              </tr>                
            </table>
          </td>
        </tr>
      </table>  
    </td>
  </tr>
  <tr>
    <td colspan="2" class="header">DOKUMEN PELENGKAP PABEAN</td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="2" border="0">
              <tr>
                <td width="40%">8. Packing List  </td>
                <td>
                  <input type="text" value="" size="12"> tgl
                  <input type="text" value="" size="12">                  
                </td>                
              </tr>
              <tr>        
                <td>9. Kontrak </td>
                <td>
                  <input type="text" value="" size="12"> tgl
                  <input type="text" value="" size="12">                  
                </td>                
              </tr>
            </table>
          </td>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%">10. Surat Keputusan Persetujuan: </td>
              </tr>
              <tr>
                <td width="50%">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" value="" size="12"> tgl
                  <input type="text" value="" size="12">                  
                </td>                
              </tr>
              <tr>        
                <td width="50%">11. Jenis / nomor/ tanggal dokumen lainnya: </td>
              </tr>
              <tr>
                <td width="50%">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" value="" size="12"> tgl
                  <input type="text" value="" size="12">                  
                </td>                
              </tr>            
            </table>
          </td>
        </tr>
      </table>  
    </td>
  </tr>  
  <tr>
    <td colspan="2" class="header">DATA PENGANGKUTAN</td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="2" border="0">
              <tr>
                <td>12. Jenis sarana pengangkut darat <input type="text" value="" size="12"></td>
              </tr>
            </table>
          </td>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="0">
             <tr>
                <td width="40%">13. Nomor Polisi <input type="text" value="" size="12"></td>                
              </tr>
            </table>
          </td>
        </tr>
      </table>  
    </td>
  </tr>    
  <tr>
    <td colspan="2" class="header">DATA PERDAGANGAN</td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="2" border="0">
              <tr>
                <td>14. Harga Penyerahan <input type="text" value="" size="15"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>  
    </td>
  </tr>      
  <tr>
    <td colspan="2" class="header">DATA PENGEMAS</td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="2" border="0">
              <tr>
                <td>15. Jenis Kemasan <input type="text" value="" size="12"></td>
              </tr>
              <tr>
                <td>16. Merk Kemasan <input type="text" value="" size="12"></td>
              </tr>
            </table>
          </td>
          <td width="50%" valign="top">
            <table cellspacing="0" cellpadding="0">
             <tr>
                <td width="40%">17. Jumlah Kemasan <input type="text" value="" size="12"></td>                
              </tr>
            </table>
          </td>
        </tr>
      </table>  
    </td>
  </tr>   
  <tr>
    <td colspan="2" class="header">DATA BARANG</td>
  </tr>
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="33%" valign="top">18. Volume (m3)      : <input type="text" value="" size="6"></td>
          <td width="33%" valign="top">19. Berat Kotor(kg)  : <input type="text" value="" size="6"></td>
          <td width="33%" valign="top">20. Berat Bersih(kg) : <input type="text" value="" size="6"></td>          
        </tr>
      </table>  
    </td>
  </tr>   
  <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="6%"  valign="top" class="TDwoTBL">
            21. <br> No 
          </td>
          <td width="44%" valign="top" class="TDwoTBL">
            22. <br> Uraian jumlah dan jenis barang secara lengkap, Kode Barang merk, tipe, ukuran dan spesifikasi lain 
          </td>
          <td width="25%" valign="top" class="TDwoTBL">
            23. <br>- Jumlah & Jenis Satuan
                <br>- Berat Bersih (kg)
                <br>- Volume (m3)
          </td>
          <td width="25%" valign="top">24. Harga Penyerahan (Rp.) : </td>
        </tr>
      </table>  
    </td>
  </tr>  
    <tr>
    <td colspan="2" class="header">  
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="6%" valign="top" class="TDwoTBL">
            <input type="text" size="2"><br>
            <input type="text" size="2"><br>
            <input type="text" size="2"><br>
            <input type="text" size="2"><br>
            <input type="text" size="2">
          </td>
          <td width="44%" valign="top" class="TDwoTBL">
            <input type="text" size="50"><br>
            <input type="text" size="50"><br>
            <input type="text" size="50"><br>
            <input type="text" size="50"><br>
            <input type="text" size="50">
          </td>
          <td width="25%" valign="top" class="TDwoTBL">
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25">
          </td>
          <td width="25%" valign="top">
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25"><br>
            <input type="text" size="25">
          </td>
        </tr>
      </table>  
    </td>
  </tr>  
  <tr>
    <td colspan="2" class="header">
      <table cellspacing="0" cellpadding="0" width="100%" align="center">
        <tr>
          <td width="50%" class="TDwoTBL"><b>G. UNTUK PEJABAT BEA CUKAI</td>
          <td width="50%"><b>&nbsp;&nbsp;E. TANDA TANGAN PENGUSAHA TPB</td>    
        </tr>
      </table>     
    </td>
  </tr>
  <tr>
    <td colspan="2" class="header">
      <table cellspacing="0" cellpadding="0" width="100%" align="center">
        <tr>
          <td class="TDwoTBL" width="50%" align="right" rowspan="2">
            <br><br>  
            <br><br>  
            Nama : <input type="text" value=""><br>
            NIP  : <input type="text" value="">            
          </td>
          <td>
            <div class="font-size:7px">
            Dengan ini saya menyatakan bertanggung jawab atas kebenaran <br>
            hal-hal yang  ditentukan dalam pemberitahuan pabean ini,  
            </div>
          </td>    
        </tr>
        <tr>
          <td valign="top" align="center">
            <input type="text" size="30" class="text-align:right;"> Tgl. <input type="text" size="15">  <br><br>
            <input type="text" size="30">                
          </td>                
        </tr>
      </table>     
    </td>
  </tr>  
</table>
</body>
</html>