#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($sStart = $data.Parameters.getString("StartDate", "$!cf.fmt($!dutil.getStartOfMonthDate($dutil.getTodayDate()))"))   
#set($sEnd   = $data.Parameters.getString("EndDate", "$!cf.fmt($!dutil.getTodayDate())"))
#set($sEmpID = $data.Parameters.getString("EmployeeId",""))
#set($bDet  = $data.Parameters.getBoolean("showDetail"))
#set($bPaid = $data.Parameters.getBoolean("paidOnly"))
#set($bCost = $data.Parameters.getBoolean("showCost"))

#set($iOp = $data.Parameters.getInt("op"))
#set($sID = $data.Parameters.getString("id",""))
#set($dStart = $!cparser.parseDate($sStart))   
#set($dEnd = $!cparser.parseDate($sEnd))
#set($sLocID = $data.Parameters.getString("LocationId"))

#set($katid = $data.Parameters.getString("KategoriId"))
#set($skatid = $katid)
#if($sutil.isNotEmpty($katid))
#set($vkat = $kategori.getChildIDList($katid))
#foreach ($kat in $vkat)
#set($skatid = "${skatid}-$!{kat}")
#end
#end

#set($pageParam = "&StartDate=${sStart}&EndDate=${sEnd}&showDetail=${bDet}&paidOnly=${bPaid}&EmployeeId=${sEmpID}&op=${iOp}")
#set($pageParam = "$!{pageParam}&KategoriId=${katid}")


#set($title = "Salesman Commission Report")
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
<table class="fixTable"> 
  <tr>
    <td>
      <span class="txtTitle2">$title 
        #if($sStart != "")                   
         ($!sStart - $!sEnd)
        #end
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>
#if(!$printable)
<table class="searchTable">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sStart">
      #cal("StartDate" true)
      #spc(2) 
    </td>
    <td>$!l10n.salesman : </td>
    <td>
      <select name="EmployeeId" #width(200)>
        <option value="">-- $!l10n.salesman --</option>                    
        #foreach ($oEmp in $employee.getAllEmployee())
        <option value="$!oEmp.EmployeeId" #if($oEmp.EmployeeId == $sEmpID) SELECTED #end >
          $!oEmp.EmployeeName
        </option>
        #end
      </select>
      #spc(2) 
    </td>     
    <td>
      $!l10n.category : 
    </td>
    <td>
      #kategoriSB("KategoriId" $katid)
    </td>            
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!sEnd">
      #cal("EndDate" true)                   
      #spc(2)
    <td>$!l10n.location : </td>    
    <td>#locationSB($sLocID)</td>
    <td colspan="4">
      Detail : 
      <input type="checkbox" class="cb" name="showDetail" #if($bDet) CHECKED #end >                                   
      #spc(2)     
      Paid Only :
      <input type="checkbox" class="cb" name="paidOnly" #if($bPaid) CHECKED #end >                                   
      Cost : 
      <input type="checkbox" class="cb" name="showCost" #if($bCost) CHECKED #end >                                   
      #spc(2)           
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">      
    </td>             
  </tr>
</table>
#end ##if(!$printable)

#if($iOp == 1)
#set($Invoices = $salescommission.getInvoices($dStart, $dEnd, $sEmpID, $sLocID, $bPaid))

#if($Invoices.size() > 0)                      
#if(!$bDet)

  <!-- GROUP BY SALESMAN  -->
  #set($headings = ["No","$!l10n.invoice_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.payment_date", "$!l10n.payment_type", "$!l10n.payment_term", "$!l10n.create_by","<div align=right>$!l10n.total_amount","<div align=right>$!l10n.paid_amount","<div align=right>$!l10n.commission"] )
  #set($vSales = $butil.getDistinctListByField($Invoices,"salesId"))
  
  #set($totalALLAmt = 0)
  #set($totalALLPaid = 0)
  #set($totalALLComAmt = 0)
  
  <table class="stdTable">
  #foreach ($oSales in $vSales)
    #set($sSalesID = $oSales.SalesId)
    #set($vInvoices = $butil.filterListByFieldValue($Invoices,"salesId",$oSales.SalesId))
    
    
      <tr>
        <td colspan="20"><b>$!l10n.salesman: $!employee.getEmployeeNameByID($oSales.SalesId) </td>
      </tr>    
      #line(10)
      <tr class="th4">
        #foreach ($heading in $headings)
        <td>$heading</td>
        #end
      </tr>     
      #line(10)
      #set($totalAmt = 0)
      #set($totalPaid = 0)      
      #set($totalComAmt = 0)
      #set($No = 1)
      
      #foreach ($inv in $vInvoices)
      #set($dAmt = $calculator.sub($inv.TotalAmount,$inv.TotalTax))
      #set($dCommission = $salescommission.countCommission($inv))
      <tr>
        <td width="3%" >$!No</td>
        <td width="10%">
          <a href="$link.setPage("transaction,$!preference.DefaultInvScreen")?op=4&id=$!inv.SalesTransactionId">                          
            #if($inv.InvoiceNo && $inv.InvoiceNo != "") $!inv.InvoiceNo #else $!l10n.view #end                               
          </a>
        </td>
        <td width="8%" >$!cf.fmt($!inv.TransactionDate) </td>
        <td width="8%" >$!cf.fmt($!inv.DueDate)         </td>
        <td width="8%" >$!cf.fmt($!inv.PaymentDate)     </td>       
        <td width="8%" >$!paymenttype.getPaymentTypeCodeByID($!inv.PaymentTypeId) </td>
        <td width="8%" >$!paymentterm.getPaymentTermCodeByID($!inv.PaymentTermId) </td>
        <td width="10%">$!inv.CashierName                        </td>
        <td width="12%" align="right">$!cf.fmt($!dAmt)           </td>  
        <td width="12%" align="right">$!cf.fmt($!inv.PaidAmount) </td>    
        <td width="10%" align="right">
           $!cf.fmt($!dCommission) 
        </td>                       
      </tr>
      #set($totalPaid = $calculator.add($totalPaid,$!inv.PaidAmount))
      #set($totalAmt = $calculator.add($totalAmt,$!dAmt))
      #set($totalComAmt = $calculator.add($totalComAmt,$!dCommission))
      
      #set($No = $No + 1)
      #end ##end foreach $vInvoices  
      #line(10)    
      <tr class="th4">
         <td colspan="8" align="right"><b>Total $!employee.getEmployeeNameByID($oSales.SalesId) </b></td>
         <td colspan="1" align="right"><b>$!cf.fmt($!totalAmt)   </b></td>          
         <td colspan="1" align="right"><b>$!cf.fmt($!totalPaid)  </b></td> 
         <td colspan="1" align="right"><b>$!cf.fmt($!totalComAmt)</b></td>
         #set($totalALLPaid = $calculator.add($totalALLPaid,$!totalPaid))
         #set($totalALLAmt = $calculator.add($totalALLAmt,$!totalAmt))
         #set($totalALLComAmt = $calculator.add($totalALLComAmt,$!totalComAmt))
      </tr> 
      #line(10)        
  #end ##foreach vSales
    <tr class="th5">                        
      <td align="right" colspan="8"><b>Total $!l10n.all $!l10n.salesman</b></td>       
      <td align="right"><b>$!cf.fmt($!totalALLAmt)    </b></td>
      <td align="right"><b>$!cf.fmt($!totalALLPaid)    </b></td>
      <td align="right"><b>$!cf.fmt($!totalALLComAmt) </b></td>
    </tr>    
  </table>
  ## <table class="stdTable">
  ##   #line(3)
  ##   <tr class="th5">                        
  ##     <td width="70%" align="right"><b>Total $!l10n.all $!l10n.salesman</b> #spc(2)</div></td>
  ##     <td width="16%" align="right"><b>$!cf.fmt($!totalALLAmt) &nbsp;</b></td>
  ##     <td width="14%" align="right"><b>$!cf.fmt($!totalALLComAmt) &nbsp;</b></td>
  ##   </tr>  
  ##   #line (3)                     
  ## </table>
  
#else ##else if Det ##############################################################      
  #set($headings = ["No","$!l10n.invoice_no","$!l10n.customer","$!l10n.trans_date","$!l10n.due_date","$!l10n.payment_date","Type","Term","$!l10n.create_by","<div align=right>$!l10n.total_amount","<div align=right>$!l10n.paid_amount"] )
  <table class="stdTable">
    #set($totalAmt = 0)
    #set($totalComAmt = 0)
    
    #set($vSales = $butil.getDistinctListByField($Invoices,"salesId"))  
    #foreach ($oSales in $vSales)
    #set($No = 1) 
    #set($Last = 0)     
    #set($sSalesID = $oSales.SalesId)    

    #set($tAmnt = 0)
    #set($tCost = 0)    
    #set($tGprf = 0)        
    #set($tComm = 0)
    
    #set($vInvoices = $butil.filterListByFieldValue($Invoices,"salesId",$oSales.SalesId)) 
    <tr>
      <td colspan="20"><b>$!l10n.salesman: $!employee.getEmployeeNameByID($oSales.SalesId) </td>
    </tr>
    #line(24)
    <tr  class="th4">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
      <td >$!l10n.category</td>
      <td >$!l10n.item_code</td>
      <td >$!l10n.item_name</td>
      <td align="right">$!l10n.qty         </td>
      <td align="right">$!l10n.price       </td>
      <td align="right">$!l10n.sub_total   </td>
      #if($bCost)
      <td align="right">$!l10n.cost       </td>      
      <td align="right">$!l10n.gross_profit</td>            
      #end      
      <td align="right">Comm. Pct         </td>
      <td align="right">$!l10n.commission </td>
    </tr>     
    #line(24)    
    #foreach ($inv in $vInvoices)
    #set($dAmt = $calculator.sub($inv.TotalAmount,$inv.TotalTax))
    #set($dCommission = $salescommission.countCommission($inv))
    #set($vDetails = $salestransaction.getDetailsByID($inv.SalesTransactionId))
    
    #foreach ($oDet in $vDetails)
    #set($dSubTotal = $calculator.sub($oDet.SubTotal,$oDet.SubTotalTax))
    #set($sKatID = $item.getItemByID($oDet.ItemId).KategoriId)
    #if($sutil.isEmpty($skatid) || ($sutil.isNotEmpty($skatid) && $sutil.contains($skatid,$sKatID))) 
    
    <tr #if($inv.PaymentStatus == 2) bgcolor="#DDFFDD" #end >
      <td>#if($No != $Last) $!No #end #spc(1)</td>    
      <td width="10%">
        #if($No != $Last)
        <a href="$link.setPage("transaction,$!preference.DefaultInvScreen")?op=4&id=$!inv.SalesTransactionId">                          
          #if($inv.InvoiceNo && $inv.InvoiceNo != "") $!inv.InvoiceNo #else $!l10n.view #end                               
        </a>
        #else
        #spc(1)
        #end
      </td>         
      <td>              #if($No != $Last) $!inv.CustomerName              #else #spc(1) #end</td>                                       
      <td>              #if($No != $Last) $!cf.fmt($!inv.TransactionDate) #else #spc(1) #end</td>
      <td>              #if($No != $Last) $!cf.fmt($!inv.DueDate)         #else #spc(1) #end</td>
      <td>              #if($No != $Last) $!cf.fmt($!inv.PaymentDate)     #else #spc(1) #end</td>       
      <td>              #if($No != $Last) $!inv.PaymentType.Code          #else #spc(1) #end</td>
      <td>              #if($No != $Last) $!inv.PaymentTerm.Code          #else #spc(1) #end</td>  
      <td>              #if($No != $Last) $!inv.CashierName               #else #spc(1) #end</td>
      <td align="right">#if($No != $Last) $!cf.fmt($!dAmt)                #else #spc(1) #end</td>  
      <td align="right">#if($No != $Last) $!cf.fmt($!inv.PaidAmount)      #else #spc(1) #end</td>                           
      <td>$!kategori.getDescriptionByID($sKatID)</td>                                    
      <td>$!oDet.ItemCode</td>                                    
      <td>$!oDet.ItemName</td>
      <td align="right">$!cf.fmt($!oDet.Qty) </td>
      <td align="right">$!cf.fmt($!oDet.ItemPrice) </td>
      <td align="right">$!cf.fmtAlg($!dSubTotal)</td>
      #if($bCost)      
      ## #set($subCost =  $cal.mul($oDet.QtyBase,$!oDet.Item.LastPurchasePrice)) ##from Lst Pur
      #set($subCost = $!oDet.SubTotalCost) ##from HPP       
      <td align="right">$!cf.fmtAlg($!subCost)</td>
      <td align="right">$!cf.fmtAlg($!cal.sub($!oDet.SubTotal,$!subCost))</td>       
      #end ##end if cost      
      <td align="right">                                                         
        #set($sComm = 0)
        #if($sutil.isNotEmpty($salescommission.Field))
        #set($sComm = $!itemfield.getValue($oDet.ItemId,$salescommission.Field))         
        #end                                                                     
        $!sComm 
      </td>
      <td align="right">        
        $!cf.fmt($salescommission.countCommission($!oDet.ItemCode, $!sComm, $dSubTotal.doubleValue())) 
      </td>      
    </tr>  
    #set($tAmnt = $cal.add($tAmnt,$oDet.SubTotal))
    #set($tCost = $cal.add($tCost,$subCost))    
    #set($tGprf = $cal.add($tGprf,$cal.sub($oDet.SubTotal,$subCost)))        
    #set($tComm = $cal.add($tComm,$dComm))
  
    #set($Last = $No)  
    #end ##end if skatid
    #end ##end foreach $vDetails     
    #set($No = $No + 1)
    #end ##end foreach $vInvoices 
    <tr class="th5">
      <td colspan="16" align="right">Total $!employee.getEmployeeNameByID($oSales.SalesId)  </td>
      <td align="right">$!cf.fmtAlg($tAmnt)</td> 
      #if($bCost)
      <td align="right">$!cf.fmtAlg($tCost)</td>
      <td align="right">$!cf.fmtAlg($tGprf)</td>
      #end
      <td></td>
      <td align="right">$!cf.fmtAlg($tComm)</td>      
    </tr>
    #linea(24)
        
    #end ##end vSales 
    
  </table>
#end ##end if Det  
#end ##if Invoices.size() > 0     
#end ##end if iOp
</form>