#set($iotool = $butil.loadClass("com.ssti.framework.tools.IOTool"))
#set($op = $data.Parameters.getInt("op"))
## -----------------------------------------------------------------
#if($op == 9)
$data.setLayoutTemplate("/Empty.vm")
#set($path = $data.Parameters.getString("path"))
#set($rpath = $iotool.getRealPath($data,"/WEB-INF/templates"))
#set($files = $iotool.showFiles("$!{rpath}$!{path}"))
#set($files = $sortingtool.sort($files))
<table class="stdTable">
  <tr class="th4">
    <td>File Name</td>
    <td>Last Modified</td>
  </tr>
  #if($path.lastIndexOf("/") > 0)
  <tr>
    #set($prev = $path.substring(0,$path.lastIndexOf("/")))
    <td><a href="javascript:openPath('$!{prev}')"><b><i class="fa fa-folder-open"></i> .. $!prev </b></a></td>
    <td></td>
  </tr>    
  #end ##end if prev
  #foreach ($f in $files)
  #if(!$f.isDirectory() && $f.Name.endsWith(".vm") && !$sutil.equals($f.Name, "SPGAppsLoc.vm"))
  <tr>
    <td><a href="javascript:doSelect('$!{rpath}$!{path}/$!f.Name')"><b>$!f.Name</b></a></td>
     <td>$!cf.formatDateTime($dutil.toDate($!f.lastModified()))</td>
  </tr>
  #elseif($f.isDirectory())  
  <tr>
    <td><a href="javascript:openPath('$!{path}/$!f.Name')"><b><i class="fa fa-folder-open"></i> $!f.Name</b></a></td>
     <td>$!cf.formatDateTime($dutil.toDate($!f.lastModified()))</td>
  </tr>  
  #end ##end if
  #end ##end foreach
</table>
## -----------------------------------------------------------------
#elseif($op == 8)
$data.setLayoutTemplate("/Empty.vm")
#set($vmfile = $data.Parameters.getString("vmFile"))
$iotool.readFileContent($vmfile)
## -----------------------------------------------------------------
#elseif($op == 7)
$data.setLayoutTemplate("/Empty.vm")
#set($vmfile = $data.Parameters.getString("vmFile"))
#set($content = $data.Parameters.getString("vm"))
$iotool.writeFileContent($vmfile,$content)
## -----------------------------------------------------------------
#else ##else if op
<script src="${data.ContextPath}/javascript/jquery.min.js"></script>
<script>jQuery.noConflict();</script>
<script src="${data.ContextPath}/javascript/jq/jquery.simplemodal.min.js"></script>
<script>
function saveFile()
{
    var f = document.frm;
    f.op.value = 7;    
    var url = '$!link.setPage($!data.ScreenTemplate)'; 
    var param = jQuery(document.frm).serialize();
    jQuery.post(url,param,function(resp){showMsg(resp);} );       
}
function showMsg(response)
{
    if(response.trim() != '')
    {
        alert(response);
    }
    else
    {
        alert('Save Success');    
    }
}
function closeFile()
{
    var f = document.frm;
    f.op.value = 0;
    f.vmFile.value = '';
    f.vm.value = '';    
    document.getElementById('txtVmFile').innerHTML = '';
    document.getElementById('btnCls').style.visibility = 'hidden';    
}
jQuery(document).keydown(function(event) {
    if((event.ctrlKey || event.metaKey) && event.which == 83) {
        event.preventDefault();
        saveFile();
        return false;
    }
});
</script>
<table width="100%">
  <tr>
	<td><span class="txtTitle2">Template Editor </span></td>
  </tr>
  #if($data.Message)
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>
  </tr>
  #end
  #linea(2)
</table>
#set($sql = $data.Parameters.getString("sql"))
<form name="frm" action="$link.setPage($data.ScreenTemplate)" method="post">
<input type="hidden" name="op" value="7">
<input type="hidden" name="vmFile" value="">
<table class="stdTable">
  <tr>
    <td valign="top" colspan="2">
      <b>
        Template File: 
        <i class="fa fa-folder-open" OnClick="selectFile();"></i>
        #spc(2)<span id="txtVmFile"></span>#spc(1)
        <i class="fa fa-times" style="visibility:hidden" id="btnCls" OnClick="closeFile();"></i>
        ##<img src="$!{data.ContextPath}/images/btn_del.gif" style="visibility:hidden" id="btnCls" OnClick="closeFile();"/>
      </b>      
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="2">
      <textarea rows="24" name="vm" 
      style="font-family:Courier;width:95%;max-width:1024px"></textarea>
    </td>
  </tr>
  <tr>
    <td #width(100)>Password</td>
    <td>
      <input type="Password" name="Password" size="30">
    </td>
  </tr>
  <tr>
    <td>#spc(1)</td>
    <td>
      <input type="button" OnClick="saveFile();" value="Save Template">
    </td>
  </tr>
</table>

##-----------------------------------------------------------------------------
## FILE SELECT VISIT MODAL
##-----------------------------------------------------------------------------
<script src="$data.ContextPath/javascript/jq/json2.min.js"></script>
<script>
function openPath(spath)
{
    document.getElementById('path').value = spath;
    showFiles();
}
function selectFile()
{
  var f = document.frm;
  jQuery('#selectFileDialog').modal();
}
function showFiles()
{
    var url = '$!link.setPage($!data.ScreenTemplate)?op=9&path=' + document.getElementById('path').value;
    jQuery.get(url,function(resp){displayFiles(resp);} );
}
function displayFiles(response)
{
    //alert(response.responseText);
    document.getElementById('files').innerHTML = response;
}
function doSelect(vmfile)
{
    jQuery.modal.close();
    var f = document.frm;
    f.vmFile.value = vmfile;            
    var url = '$!link.setPage($!data.ScreenTemplate)?op=8&vmFile=' + vmfile;
    jQuery.get(url,function(resp){showContent(resp);} );
    
    document.getElementById('txtVmFile').innerHTML = vmfile;
    document.getElementById('btnCls').style.visibility = 'visible';
}
function showContent(response)
{
    //alert(response.responseText);
    var f = document.frm;
    f.vm.value = response.trim();
}
</script>
<div id="selectFileDialog" style="display:none;">
<table class="stdTable">
  <tr>
    <td colspan="4">
      Path: ##$iotool.getRealPath($data,"/WEB-INF/templates")
      <input type="text" name="path" id="path" value="/app/print" #width(80)>
      <input type="button" value="Show Files" Onclick="showFiles();" id="btnSel" >
    </td>
  </tr>
</table>
<div id="files" style="width:100%;height:400px;overflow:auto;"></div>
</div>
</form>
#end ##end if op
