$data.setLayoutTemplate("/PopupWindow.vm")

#set($fa = $data.Session.getAttribute("fa"))
#set($title = "$!l10n.fa_transfer")

#set($oLastDepr = $fadepr.getLastDepr($fa.FixedAssetId, $conn))
#set($dTotalDepr = $fadepr.getTotalDepr($fa.FixedAssetId))
#set($dBookValue = $calculator.sub($fa.AssetValue, $dTotalDepr))
        
#set($bFullyDepreciated = false)
  #if($oLastDepr && $calculator.compare($dTotalDepr, $fa.AssetValue, ">="))
  #set($bFullyDepreciated = true)
#end

#set($sID = $data.Parameters.getString("FixedAssetTransferId"))
#if($sutil.isNotEmpty($sID)) #set($oTR = $fatransfer.getTransferByID($sID, $conn)) #end

#set($oAge = $!fixedasset.countAge($!fa, $dutil.getTodayDate()))


<script>
function validate()
{
	if (document.frm.FromLocationId.value == document.frm.ToLocationId.value)
	{
		alert ('From Location and To Location must be different'); document.frm.ToLocationId.focus();              
        return false;
	}
	return true;
}

function saveTrans()
{
	if (validate() && confirm('$!l10n.save_trans ?'))
	{
		document.frm.save.value = 5;
    	document.frm.action = 
		  '$link.setPage($data.ScreenTemplate).setAction("transaction.fixedasset.FixedAssetAction")';
    	document.frm.submit();
	}
}

function cancelTrans()
{
	if (validate() && confirm('$!l10n.cancel_trans ?'))
	{
		document.frm.save.value = 6;
    	document.frm.action = 
		  '$link.setPage($data.ScreenTemplate).setAction("transaction.fixedasset.FixedAssetAction")';
    	document.frm.submit();
	}
}
</script>

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)"> 
  <input type="hidden" name="FixedAssetId" value="$!fa.FixedAssetId">
  <input type="hidden" name="FixedAssetTransferId" value="$!sID">
  <input type="hidden" name="save" value="3">
  <input type="hidden" name="_session_access_counter" value="$!data.User.getTemp("_session_access_counter")">
  
  <table class="stdTable">
    <tr>
      <td colspan="4">
        <span class="txtTitle2">$title [$!fa.FixedAssetCode - $!fa.FixedAssetName]</span><br>
      </td>		
    </tr>
	#if($data.Message)
    <tr>
      <td colspan="4">
        <span class="txtMessage">$data.Message</span><br>
      </td>		
    </tr>
	#end
	<tr>
      <td width="20%">$!l10n.asset_value</td>
      <td width="30%">
        <input type="text" name="AssetValue" value="$!cformat.formatNumber($!fa.AssetValue)" READONLY > 
      </td>
      <td width="20%">$!l10n.qty</td>
      <td width="30%">
        <input type="text" name="Qty" value="$!cformat.formatNumber($!fa.Qty)" READONLY > 
      </td>
    </tr>
    <tr>
      <td>$!l10n.depreciation</td>
      <td>
        <input type="text" name="Depreciation" value="$!cformat.formatNumber($!dTotalDepr)" READONLY > 
      </td>
      <td>$!l10n.depr_last</td>
      <td>
        <input type="text" name="LastDepreciation" value="$!cformat.formatDate($!oLastDepr.TransDate)" READONLY > 
      </td>	  
    </tr>
    <tr>
      <td>$!l10n.book_value</td>
      <td>
        <input type="text" name="BookValue" value="$!cformat.formatNumber($!dBookValue)" READONLY > 
      </td>
      <td>$!l10n.end_date</td>
      <td>
        <input type="text" name="DeprFinishDate" value="$!cformat.formatDate($!fa.DeprFinishDate)" READONLY > 
      </td>	  
    </tr>
    <tr>
      <td>$!l10n.est_life</td>
      <td>
        <input type="text" name="EstimatedLife" 
		  value="$!fa.EstLifeYear $!l10n.year $!fa.EstLifeMonth $!l10n.month" READONLY > 
      </td>
      <td>$!l10n.fa_age</td>
      <td>
        <input type="text" name="FixedAssetAge" 
		  value="$oAge.Years $!l10n.year $oAge.Months $!l10n.month" READONLY > 
      </td>	  
    </tr>	
  </table>  
  <br>
  ## --------- TRF ------------ 
  <table class="stdTable">	
    #set($dDate = $cformat.formatDate($dutil.TodayDate))
	<tr>
      <td width="20%">$!l10n.trans_date</td>
      <td width="30%">
        <input type="text" name="TransDate" #width(100)
		  #if($oTR) value="$!cformat.formatDate($oTR.TransDate)" 
		  #else value="$!dDate" #end > 
		#cal("TransDate" true)
      </td>
      <td rowspan="8" valign="top">
        $!l10n.description:<br>
        <textarea name="Description" cols="40" rows="5">$!oTR.Description</textarea>
      </td>
    </tr>
    #set($vLoc = $location.getByUserName($data.User.Name, $data.ACL.Permissions))
    <tr>
      <td width="20%">$!l10n.from_location</td>
      <td width="30%">
        #if($oTR.FromLocationId)
          #set($locID = $oTR.FromLocationId)
        #else
          #set($locID = $fa.LocationId)
        #end
        <select name="FromLocationId" #width(200) >
          #foreach ($oLoc in $vLoc)
          <option value="$oLoc.LocationId" #if( $oLoc.LocationId == $locID) SELECTED #end >
           $!oLoc.LocationName
          </option>
          #end
        </select>
      </td>
    </tr>
    <tr>
      <td>$!l10n.to_location</td>
      <td>
        #selectBox ("ToLocationId" "$!oTR.ToLocationId" "" $vLoc "locationName")                                
      </td>              
    </tr>
    #set($vAll = $account.getAllChildAccount())
    <tr>
      <td>$!l10n.from_location ($!l10n.account)</td>
      <td>
        <select name="FromAccount" #width(200)>
          <option value="">-- $!l10n.account --</option>
          #foreach ($acc in $vAll) 
          <option value="$acc.AccountId" #if($oTR.FromAccount == $acc.AccountId) SELECTED #end>
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
        </select>                                         
      </td>
    </tr>
    <tr>
      <td>$!l10n.to_location ($!l10n.account)</td>
      <td>
        <select name="ToAccount" #width(200)>
          <option value="">-- $!l10n.account --</option>
          #foreach ($acc in $vAll) 
          <option value="$acc.AccountId" #if($oTR.ToAccount == $acc.AccountId) SELECTED #end>
            $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
        </select>
      </td>
    </tr>              
	<tr>
      <td>$!l10n.create_by</td>
      <td>
        <input type="text" name="CreateBy" value="$!data.getUser().getName()" #width(100) READONLY > 
      </td>
    </tr>	
    <tr>
      <td>$!l10n.qty</td>
      <td>
        <input type="text" name="Qty" READONLY
		  #width(80) #if($oTR) value="$!oTR.Qty" #else value="$fa.Qty" #end  >         
      </td>      
    </tr>
	<tr>
      <td>#spc(1)</td>
      <td>
		#if(!$oTR)
        <input type="button" value="$!l10n.save_trans" OnClick="saveTrans();">
        #else
		  ##$period.LastFAClosedPeriod.EndDate
	      #if($oTR.TransDate.after($period.LastFAClosedPeriod.EndDate))
          <input type="button" id="btnCancel" value="$!l10n.cancel_trans" OnClick="cancelTrans();">			
		  #end
		#end
	  </td>
    </tr>
  </table>
  
  #set($vData = $fatransfer.getTransferHistory($fa.FixedAssetId))
  #if($vData.size() > 0)
  <br>
  <table class="stdTable">
    #set($headings = [$!l10n.trans_date,  "$!l10n.from_location", "$!l10n.to_location", "<div align=right>$!l10n.qty</div>", "&nbsp;"])
	<tr class="th4">
	  #foreach ($heading in $headings)
	  <td>$heading</td>
	  #end
	</tr>
    #foreach ($oData in $vData)
	<tr>
	  <td>$cformat.formatDate($oData.TransDate)</td>
	  <td>$location.getLocationNameByID($oData.FromLocationId)</td>
	  <td>$location.getLocationNameByID($oData.ToLocationId)</td>
	  <td align="right">$!cformat.formatNumber($oData.Qty)</td>
	  <td>
		#spc(2)
		<a href="$!link.setPage($data.ScreenTemplate)?FixedAssetTransferId=$oData.FixedAssetTransferId">
		  <i class="fa fa-search faicon"></i>TX		  		
		</a>
		#spc(3)
		<a href="$!link.setPage("transaction,JournalVoucherTransaction.vm")?op=4&id=$oData.FixedAssetTransferId">
		  <i class="fa fa-search faicon"></i> JV		  
		</a>
	  </td>	  
	</tr>
    #end	
  </table>
  <br>
  #end
</form>