$data.setLayoutTemplate("/Default.vm")
#set($aclPerm = $data.ACL.Permissions)
<script>
function viewInRow(url,spanid)
{
    if(jQuery('#' + spanid).text().length > 0)
    {
        jQuery('#' + spanid).toggle()
    }
    else
    {
        jQuery.get(url + '?nolayout=true', function(res){
            jQuery('#' + spanid).append(res);  
            jQuery('#' + spanid).show()                
        });
    }
}
</script>
#reportMenuTitle("$!l10n.report_category")
<table class="stdTable">
  #reportMenu2("report,sales,SalesReportMenu.vm" $!l10n.sales_report "View Sales Reports" "slsrpt")
  #reportMenu2("report,purchase,PurchaseReportMenu.vm" $!l10n.purchase_report "View Purchase Reports" "purrpt")
  #reportMenu2("report,inventory,InventoryReportMenu.vm" $!l10n.inventory_report "View Inventory Reports" "invrpt")
  #reportMenu2("report,receivable,ARReportMenu.vm" $!l10n.ar_report "View AR Reports" "arrpt")
  #reportMenu2("report,payable,APReportMenu.vm" $!l10n.ap_report "View AP Reports" "aprpt")
  #reportMenu2("report,cashbank,CashBankReportMenu.vm" $!l10n.bank_report "View Cash Bank Reports" "bankrpt")
  #reportMenu2("report,pettycash,PettyCashReport.vm" $!l10n.petty_cash_report "View Petty Cash" "pcirpt")
  #reportMenu2("report,gl,GLReportMenu.vm" $!l10n.gl_report "View GL Reports" "glrpt")
  #reportMenu2("report,financial,FinancialReportMenu.vm" $!l10n.financial_report "View Financial Reports" "finrpt")
  #reportMenu2("report,custom,OthersReportMenu.vm" $!l10n.other_report "View Other Reports" "othrpt")
  #reportMenu2("report,custom,ReportBrowser.vm" "Report Browser" "View Other Reports" "rptbws")
</table>  

