#set($printable= $data.Parameters.getBoolean("printable", false))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
  #set($css = "txtPrint")
#else
  #set($css = "tbs")
#end
#set($title = "Stock / $!l10n.location ")
#if(!$printable)

<script>
function openItemHistoryWindow (sItemID, sLocID) 
{
    var sURL = '${link.setPage("transaction,ViewItemHistory.vm")}?ItemId=' + sItemID + '&LocationId=' + sLocID;  
    var wndItemHist=window.open(sURL, 'wndItemHist', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndItemHist.focus();
}
function submitForm(e) 
{       
    if (getKey(e) == 13){document.frm.submit();}
}
function setScreen(e) 
{       
    document.frm.screenwidth.value=screen.width;
}
</script>
#end
#set($Sites = $site.getAllSite())
#set($vAllLocs = $location.getAllLocation())

#set($cond  = $data.Parameters.getInt("Condition"))
#set($sort  = $data.Parameters.getInt("SortBy"))
#set($limit = $data.Parameters.getInt("ViewLimit",25))
#set($key   = $data.Parameters.getString("Keywords"))
#set($katid = $data.Parameters.getString("KategoriId",""))
#set($stat  = $data.Parameters.getInt("StockStatus"))
#set($scwidth = $data.Parameters.getInt("ScreenWidth"))
#set($bPrc = $data.Parameters.getBoolean("ShowPrice"))
#set($bAll = $data.Parameters.getBoolean("AllSite"))
#set($bSite = $data.Parameters.getBoolean("GroupBySite"))

#set($oUsrPref = $preference.getUserPreference($data))

#set($f1  = $oUsrPref.isF1())     
#set($f2  = $oUsrPref.isF2())     
#set($f3  = $oUsrPref.isF3()) 
#set($f10 = $oUsrPref.isF10())
#set($f11 = $oUsrPref.isF11())
#set($f12 = $oUsrPref.isF12()) 
#set($f21 = $oUsrPref.isF21())
#set($f23 = $oUsrPref.isF23()) ##kategori
#set($f25 = $oUsrPref.isF25())
#set($f26 = $oUsrPref.isF26())

#set($dispParam = "&f1=$f1&f2=$f2&f3=$f3&f10=$f10&f11=$f11&f12=$f12&f21=$f21&f25=$f25&f26=$f26")

#set($locparam = "")
#foreach ($loc in $vAllLocs)
  #if($data.Parameters.getBoolean("Loc${loc.LocationId}"))      
    #set($locparam = "${locparam}&Loc${loc.LocationId}=true")  
    #set($b = $vSelectedLocs.add($loc.LocationId))
  #end ##end if
#end ##end foreach Locations

#set($sOP = $data.Parameters.getString("op"))
#if($sutil.isEmpty($sOP))
#set($sOP = "page")
#end

#set($pageParam = "&op=page&page=$!{LargeData.CurrentPageNumber}&printable=${printable}&Condition=${cond}&SortBy=${sort}&ViewLimit=${limit}&KategoriId=$!{katid}")
#set($pageParam = "${pageParam}&screenwidth=$!{scwidth}&Keywords=${key}&StockStatus=${stat}${dispParam}${locparam}")
#set($pageParam = "${pageParam}&ShowPrice=$!{bPrc}&AllSite=$!{bAll}")

##TXT PRINT PARAM
#reportPrintJS()

#set($sTXT = "StockCardLocationTXT.vm")
#set($sTXTHDG = "StockCardLocationHDG.vm")
#reportPrintTXT()

##<!-- TITLE SECTION -->
<table width="100%" cellspacing="0" cellpadding="0" >
  <tr>
    <td colspan="10">
      <span class="txtTitle2"><b>$title $!l10n.as_of $!cformat.formatDateTime($dutil.getTodayDate())</b></span>
    </td>
    #reportPrintBtn()
  </tr>
</table>

#if(!$printable && !$Items)
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
##<!-- SEARCH -->
<form name="frm" method="post" OnSubmit="setScreen();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.ItemLookupAction")?op=next#display">
<input type="hidden" name="screenwidth">
<table class="searchTable">
  <tr>
    <td>$!l10n.search_by : </td>
    <td>      
      <select name="Condition" #width(150)>
        <option value="1"  #if($cond == 1)  SELECTED #end > $!l10n.item_code       </option>
        <option value="2"  #if($cond == 2)  SELECTED #end > $!l10n.item_name       </option>
        <option value="3"  #if($cond == 3)  SELECTED #end > $!l10n.item_desc       </option>
        <option value="7"  #if($cond == 7)  SELECTED #end > $!l10n.barcode         </option>
        <option value="4"  #if($cond == 4)  SELECTED #end > $!l10n.sku             </option>
        <option value="5"  #if($cond == 5)  SELECTED #end > $!l10n.prefered_vendor </option>
        <option value="6"  #if($cond == 6)  SELECTED #end > $!l10n.status_code     </option>
        <option value="8"  #if($cond == 8)  SELECTED #end > $!l10n.color           </option>
        <option value="9"  #if($cond == 9)  SELECTED #end > $!l10n.size            </option>
        <option value="10" #if($cond == 10) SELECTED #end > $!l10n.create_date     </option>
        <option value="11" #if($cond == 11) SELECTED #end > $!l10n.last_update     </option>
        <option value="12" #if($cond == 12) SELECTED #end > $!l10n.item_list       </option>
        <option value="13" #if($cond == 13) SELECTED #end > $!l10n.rack_location ($!l10n.item_data) </option>
        <option value="14" #if($cond == 14) SELECTED #end > $!l10n.rack_location ($!l10n.item_inv)  </option>
        <option value="15" #if($cond == 15) SELECTED #end > $!l10n.manufacturer    </option>
        <option value="98" #if($cond == 98) SELECTED #end > $!l10n.item_picture    </option>
        <option value="99" #if($cond == 99) SELECTED #end > $!l10n.custom_field    </option>
      </select>            
      #spc(2)       
    </td>
    <td>$!l10n.category : </td>
    <td>
      #kategoriSB("KategoriId" $data.Parameters.getString("KategoriId", ""))
      #spc(2)
    </td>
    <td>$!l10n.item_status : </td>
    <td>
      <select name="ItemStatus">
        <option value="" >-- Status --</option>
        <option value="1" #if($itemstat == 1) SELECTED #end >Active       </option>
        <option value="2" #if($itemstat == 2) SELECTED #end >Non Active   </option>
        <option value="3" #if($itemstat == 3) SELECTED #end >Barcode      </option>
        <option value="4" #if($itemstat == 4) SELECTED #end >Non Barcode   </option>                   
      </select>
      #spc(2)
    </td>        
  </tr>
  <tr>
    <td>$!l10n.sort_by : &nbsp;</td>
    <td>
      <select name="SortBy" #width(150)>
        <option value="1" #if($sort == 1) SELECTED #end > $!l10n.item_code       </option>
        <option value="2" #if($sort == 2) SELECTED #end > $!l10n.item_name       </option>
        <option value="3" #if($sort == 3) SELECTED #end > $!l10n.item_desc       </option>
        <option value="4" #if($sort == 4) SELECTED #end > $!l10n.sku             </option>
        <option value="7" #if($sort == 7) SELECTED #end > $!l10n.sales_price     </option>
        <option value="5" #if($sort == 5) SELECTED #end > $!l10n.prefered_vendor </option>
        <option value="6" #if($sort == 6) SELECTED #end > $!l10n.status_code     </option>
        <option value="8" #if($sort == 8) SELECTED #end > $!l10n.color           </option>
        <option value="9" #if($sort == 9) SELECTED #end > $!l10n.size            </option>     
        <option value="10" #if($cond == 10) SELECTED #end > $!l10n.create_date   </option>
        <option value="11" #if($cond == 11) SELECTED #end > $!l10n.last_update   </option>                   
      </select>
      #spc(2)
    </td>               
    <td>$!l10n.stock_status : &nbsp;
    </td>
    <td>
      <select name="StockStatus" #width("")>
        <option value="" >-- $!l10n.stock_status --</option>
        <option value="1" #if($stat == 1) SELECTED #end >$!l10n.qty_oh <= $!l10n.min_stock     </option>
        <option value="2" #if($stat == 2) SELECTED #end >$!l10n.qty_oh <= $!l10n.reorder_point </option>
        <option value="3" #if($stat == 3) SELECTED #end >$!l10n.qty_oh < 0                     </option>
        <option value="4" #if($stat == 4) SELECTED #end >$!l10n.qty_oh > 0                     </option>
        <option value="5" #if($stat == 5) SELECTED #end >$!l10n.qty_oh > $!l10n.max_stock      </option>    
      </select>
      #spc(2)
    </td>
    <td>
      $!l10n.sales_price :
      ##$!l10n.group_by $!l10n.site <input type="checkbox" class="cb" name="GroupBySite" #if($bSite) CHECKED #end >
    </td>
    <td><input type="checkbox" class="cb" name="ShowPrice" #if($bPrc) CHECKED #end >
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords </td>
    <td>
      <input type="text" #width(150) name="Keywords" OnFocus="this.select();" OnKeyPress="submitForm(event)" value="$!key">
      #spc(2)
    </td> 
    <td>$!l10n.location : </td>
    <td>
      #locationSB ($locid)
      #spc(2)
    </td>
    <td>$!l10n.view_limit : &nbsp;</td>
    <td>
      <input type="text" size="5" maxlength="5" name="ViewLimit" value="$!limit" OnKeyPress="submitForm(event)">#spc(2)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">                    
    </td>
  </tr>
</table>
<table class="searchTable">
  <tr>  
    <td colspan="3">
      <br>
      <input class="cb" type="checkbox" name="AllSite" 
          #if($data.Parameters.getBoolean("AllSite")) CHECKED #end >    
      <b>Total $!l10n.all $!l10n.location&nbsp;</b>
    </td>
  </tr>
</table>
<table class="stdTable">   
#foreach ($oSite in $Sites)
#set($Locations = $location.getBySiteID($oSite.SiteId))
#set($Locations = $sortingtool.sort($Locations, "locationCode", 1))
#set($cols = 4)
<script>
function change${oSite.SiteId}()
{
    var f = document.frm;
    var bCheck = false;
    if (frm.Site${oSite.SiteId}.checked)
    {
       bCheck = true;
    }
    ##alert(bCheck);
    #foreach ($oLoc in $Locations)
    f.Loc${oLoc.LocationId}.checked = bCheck;
    #end
}
</script>
  <tr>  
    <td colspan="$cols">
      <br>
      <input class="cb" type="checkbox" name="Site${oSite.SiteId}" onchange="change${oSite.SiteId}();"
          #if($data.Parameters.getBoolean("Site${oSite.SiteId}")) CHECKED #end >    
      <b>$!oSite.Description &nbsp;</b>
    </td>
  </tr>
  #set($listsize = $Locations.size())
  
  #set($rows = $listsize / $cols)
  #if($rows == 0) #set($rows = 1) #end 
  #if(($listsize % $cols) > 0) #set($rows = $rows + 1) #end   
  #set($rowlist = $tplutil.createNumberList(0, $rows))    
  #foreach($row in $rowlist)    
  #if($topoffset) #set($lowoffset =  $topoffset ) #else #set($lowoffset=0) #end
  #set($topoffset = ($cols * ($row + 1)))
  #if($topoffset > $listsize) #set($topoffset = $listsize ) #end    
  #set($collist =  $Locations.subList($lowoffset, $topoffset))
  <tr>
    #foreach ($loc in $collist)
    <td width="25%">
      <input class="cb" type="checkbox" #if($data.Parameters.getBoolean("Loc$!loc.LocationId")) CHECKED #end name="Loc$loc.LocationId">   
      $loc.LocationCode - $loc.LocationName
    </td>         
    #end                                                                                
  #end
  </tr>
#set($topoffset=0)
#end ##end foreach Sites
</table>
<a name="display"></a>              
</form>
<!-- END SEARCH SECTION -->
#end ##end if printable                         

#if($Items)             
#if(!$excel)
#largeSelectNavBar($data.ScreenTemplate $pageParam)       
#end   
#set($swidth="100%")
#if($vSelectedLocs.size() > 5)
#set($width = 320 + ($vSelectedLocs.size() * 40))
#set($swidth = "$width")
#end
#set($scwidth = $scwidth - 20)
#if(!$printable) <div id="scroll3" style="width:$!{scwidth};height:395px;background-color:white;overflow:auto"> #end
<table class="stdTable" >
  #set($colspan = $vSelectedLocs.size() + 10)  
  <tr class="th5" align="center">
    <td width="25" >No</td>
    <td width="70" align="left"> $!l10n.item_code  </td> 
    #if($f21) <td width="70" align="left"> $!l10n.barcode    </td> #end 
    <td width="160" align="left">$!l10n.item_name  </td>
    
    #if($f3)  <td width="160">$!l10n.item_desc  </td> #end
    #if($f23) <td width="60"> $!l10n.category   </td> #end  
    #if($f25) <td width="60"> $!l10n.color      </td> #end 
    #if($f26) <td width="60"> $!l10n.size       </td> #end   
    #if($bPrc)<td width="80"> $!l10n.sales_price</td> #end   
      
    #if($f10) <td width="40">Min. </td> #end
    #if($f11) <td width="40">Rpt. </td> #end
    #if($f12) <td width="40">Max. </td> #end  
    #if($bAll)<td width="40"><b>Total</td> #end  
       
    #foreach ($loc in $vAllLocs)
    #if($data.Parameters.getBoolean("Loc$!loc.LocationId"))
      <td title="$!loc.LocationName"> $loc.LocationCode</td> 
    #end 
    #end                                         
    <td width="50"><b>Sub </b></td>
  </tr>  
  #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 ) 
  #set($vInvLocs = $inventoryreport.getInventoryInLocations($Items, $vSelectedLocs))
  #foreach ($itm in $Items)
  <tr>
    <td>$no</td> 
    <td class="xls-txt">             
      #if(!$printable)
        <a href="javascript:openItemHistoryWindow('$!itm.ItemId')">$!itm.ItemCode </a>
      #else    
        $!itm.ItemCode
      #end      
    </td> 
    #if($f21) 
    <td  class="xls-txt"> $!itm.Barcode </td> 
    #end         
    <td>  
      #if(!$printable)
      <input type="text" class="text2" value="$!itm.ItemName" #width("") READONLY 
	    title="$!itm.ItemName" onmouseout="exit();">       
      #else
        $!itm.ItemName
      #end
    </td>     
    #if($f3)  
    <td>  
      #if(!$printable)
      <input type="text" class="text2" value="$!itm.Description" #wid("" 120 240) READONLY 
	    title="$!itm.Description" onmouseout="exit();">       
      #else
        $!itm.Description
      #end
    </td>     
    #end
    #if($f23)  
    <td>  
      #if(!$printable)
      <input type="text" class="text2" value="$!itm.Kategori.LongDesc" #wid("" 120 240) READONLY 
	    title="$!itm.Kategori.LongDesc" onmouseout="exit();">       
      #else
        $!itm.Kategori.LongDesc
      #end
    </td>     
    #end
    
    #if($f25) <td align="right"> $!itm.Color </td> #end
    #if($f26) <td align="right"> $!itm.Size  </td> #end
    #if($bPrc)<td align="right"> $!cformat.formatNumber($!itm.ItemPrice)   </td> #end        
    #if($f10) <td align="right"> $!cformat.formatNumber($!itm.MinimumStock)</td> #end
    #if($f11) <td align="right"> $!cformat.formatNumber($!itm.ReorderPoint)</td> #end
    #if($f12) <td align="right"> $!cformat.formatNumber($!itm.MaximumStock)</td> #end
    #if($bAll)
      #set($dTotal = 0)
      #set($rTotal = $inventoryreport.getTotalQtyCost($itm.ItemId))
      #set($dTotal = $rTotal.getValue(1).asBigDecimal())      
      <td width="50" align="right"><b>$!cformat.formatNumber($!dTotal)  </td>     
      #set($rTotal = "")
      #set($dTotal = 0)      
    #end
    #set($total = 0)
    #foreach ($loc in $vSelectedLocs)
      <td width="40" align="right">
        #set($currQty = $inventoryreport.getCurrentQty($itm.ItemId, $loc, $vInvLocs))
        #if(!$printable)
          <a href="javascript:openItemHistoryWindow('$!itm.ItemId', '$!loc')">
            $!cformat.formatNumber($currQty) 
          </a>
        #else
          $!cformat.formatNumber($currQty)
        #end
      </td>                    
    #set($total = $calculator.add($total, $currQty))
    #end ##end foreach Locations
    <td width="40" align="right"> <b>$!cformat.formatNumber($!total)</b></td> 
  </tr>            
  #set($no = $no + 1)  
  ## #if($printable && $calculator.mod($no,5).intValue() == 0)
  ## <tr><td></td></tr>
  ## #end
  #end ## end foreach Items
  #line($colspan)
</table>
#if(!$printable) </div> #end
#if(!$printable)
<br>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <a href="$link.setPage($data.ScreenTemplate)">$title</a>
    </td>
  </tr>     
</table>
<br>
#end  	  
#end ## end if Items
