$data.setLayoutTemplate("/Default.vm")
#set($aclPerm = $data.ACL.Permissions)
#reportMenuTitle("$!l10n.inventory_report")
#if($aclPerm.containsName("View Inventory Reports"))  
#set($path = "report,inventory,")
<div id="scroll3" style="width:98%;height:400px;background-color:#F7F7F7;overflow:auto">
<table width="100%">
#if($aclPerm.containsName("View Operational Reports"))  
#reportMenu("ItemListReport.vm" "Item List Report" "View Item Data")
##QTY 
#reportMenu("StockCardReport.vm" "Stock Card" "View Item Data")
#reportMenu("StockCardMatrix.vm" "Stock Card (Matrix)" "View Item Data")

#reportMenu("StockMovementSummaryReport.vm" "Stock Movement Summary" "View Item Data")
#reportMenu("StockCardSite.vm" "Stock / $!l10n.site" "View Item Data")
#reportMenu("StockCardLocation.vm" "Stock / $!l10n.location" "View Item Data")
#reportMenu("StockAvailabilityReport.vm" "Stock Availability Report" "View Item Data")

#if($preference.useBatchNo())
#reportMenu("ExpiredItemReport.vm" $!l10n.expired_item "View Item Data")
#reportMenu("ItemBatchReport.vm" $!l10n.batch_history "View Item Data")
#end

##ITEM
#reportMenu("ItemUpdateHistoryReport.vm" "Item Update History" "View Item Data")
#reportMenu("ListOfNewItem.vm" "List Of New Items" "View Item Data")    
#if($preference.useSerialNo())
#reportMenu("ItemSerialReport.vm" "$!l10n.serial_no ($!l10n.trans_history)" "View Item Data")
#reportMenu("ItemSerialOpname.vm" "$!l10n.serial_no Opname" "View Item Data")  
#reportMenu("ItemViewReport.vm" "Custom Item View Report" "View Item Data")      
#end
#reportMenu("NonActiveItemReport.vm" "Non Active Item Report" "View Item Data")      
#reportMenu("NoTransItemReport.vm" "Non Active (No Transaction) Item Report" "View Item Data")      
#reportMenu("StockPurchaseCompareSales.vm" "Stock Purchase vs Sales" "View Item Data")      
###reportMenu("InventoryAnalysis.vm" "Inventory By Sales Qty Analysis" "View Item Data")      

<tr><td colspan="3">&nbsp;</td></tr> 
##COST
#reportMenu("KategoriValuationReport.vm" "Stock Valuation Summary ($!l10n.category)" "View Item Data")
#reportMenu("StockValuationSummaryReport.vm" "Stock Valuation Summary ($!l10n.item_data)" "View Item Cost")
#reportMenu("StockValuationReport.vm" "Stock Valuation Report" "View Item Cost")
#reportMenu("StockValuePeriodicReport.vm" "Stock Value Report (Periodic)" "View Item Cost")

<tr><td colspan="3">&nbsp;</td></tr> 
##TRANS
#reportMenu("OutstandingItemRequestReport.vm" "Outstanding Item Request Report" "View Item Request")
###reportMenu("ItemUpdateReport.vm" "Item Update Report" "View Item Data")
#reportMenu("IssueReceiptReport.vm" "$!l10n.issue_receipt" "View Issue Receipt")

#if($preference.internalTransferInstalled())
#reportMenu("InternalTransferReport.vm" "$!l10n.internal_transfer" "View Item Transfer")
#end
#reportMenu("ItemTransferReport.vm" "$!l10n.item_transfer ($!l10n.summary)" "View Item Transfer")
#reportMenu("ItemTransferDetailReport.vm" "$!l10n.item_transfer ($!l10n.trans_history)" "View Item Transfer")
#reportMenu("InventoryTransactionReport.vm" "Inventory Mutation Report" "View Item Data")
#reportMenu("KategoriItemAdjReport.vm" "Inventory Adjustment Report ($!l10n.category)" "View Issue Receipt")
#reportMenu("StockLedgerReport.vm" "Stock Ledger Report" "View Issue Receipt")

<tr><td colspan="3">&nbsp;</td></tr> 
##RANKING
#reportMenu("TopMovementRanking.vm" "Top 10 Inventory Movement" "View Item Data")
###reportMenu("TopTurnoverRanking.vm" "Top 10 Inventory Turnover" "View Item Data")
#reportMenu("TurnoverAnalysisReport.vm" "Turnover Analysis Summary" "View Item Data")
#reportMenu("TurnoverKategoriReport.vm" "Turnover Analysis Report ($!l10n.category)" "View Issue Receipt")

##reportMenu("ItemRawImporter.vm" "Raw Material Importer" "View Item Data")    
#end ##end operational 
</table>  
</div>  
#end ##end inventory reports
