#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($iRank = $data.Parameters.getInt("Ranking", 10))
#set($iType = $data.Parameters.getInt("Type", 1))
#set($iOrderBy = $data.Parameters.getInt("OrderBy", 2))
#set($bChart = $data.Parameters.getBoolean("DisplayChart"))
#set($bLegend = $data.Parameters.getBoolean("DisplayLegend"))
#set($sBGColor1 = $data.Parameters.getString("BGColor1"))
#set($sBGColor2 = $data.Parameters.getString("BGColor2"))
#set($sLocID = $data.Parameters.getString("LocationId"))
#set($sStart = $data.Parameters.getString("StartDate"))
#set($sEnd = $data.Parameters.getString("EndDate"))
#set($dStart = $cparser.parseDate($sStart))
#set($dEnd   = $cparser.parseDate($sEnd))

#set($iHeight = 280)
#if  ($bLegend )
#set($iHeight = 400)
#end
#set($StartDate = $cformat.formatDate($dStart))
#set($EndDate = $cformat.formatDate($dEnd))
#set($pageParam = $tplutil.pageParam($data))
#set($title ="Top $iRank Inventory Turnover ")
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <span class="txtTitle2"><b>$title ($!StartDate - $!EndDate)</b></span>
    </td>
    #reportPrintBtn()
  <tr>
</table>
#if(!$printable)
<!-- SEARCH -->
<table class="searchTable">
  <tr>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #if($preference.isHO())
      #locationSB($sLocID)
      #else
      $!location.getLocationNameByID($preference.LocationID)
      <input name="LocationId" type="hidden" value="$preference.LocationID">
      #end

      #spc(3) $!l10n.sort_by :
      <select name="OrderBy">
        <option value="1" #if($iOrderBy == 1) SELECTED #end>No. Transaction</option>
        <option value="2" #if($iOrderBy == 2) SELECTED #end>Total Movement</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!data.Parameters.getString("StartDate")">
      #cal("StartDate" true)
    </td>
    <td>
      #spc(3)Display Chart : &nbsp;
      <input type="checkbox" class="cb" name="DisplayChart" #if($bChart) CHECKED  #end>
      ## #spc(3)Movement Type :
      ## <select name="Type">
      ##   <option value="1" #if($iType == 1) SELECTED #end>In</option>
      ##   <option value="2" #if($iType == 2) SELECTED #end>Out</option>
      ##   <option value="3" #if($iType == 3) SELECTED #end>Both</option>
      ## </select>
      <input type="hidden" name="BGColor1" value="white">
      <input type="hidden" name="BGColor2" value="lightgray">
    </td>
  </tr>
  <tr>
     <td>$!l10n.end_date : </td>
     <td>
       <input type="text" size="15" name="EndDate" value="$!data.Parameters.getString("EndDate")">
       #cal("EndDate" true)
     </td>
     <td>
       #spc(3)Display Legend :
       <input type="checkbox" class="cb" name="DisplayLegend" #if($bLegend) CHECKED  #end>
       #spc(3)
       Ranking :
       <input type="text" name="Ranking" value="$iRank" size="4" maxlength="3">
       #spc(3)
       <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
     </td>
  </tr>
</table>
<br>
#end ##if(!printable)

#if($dStart)
#set($StartDate = $cformat.formatDate($dStart))
#set($EndDate = $cformat.formatDate($dEnd))
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="57%" valign="top">
      <table class="stdTable">
        #set($vInvItem = $!inventoryreport.getTopTurnoverRanking($dStart, $dEnd, $iRank, $iType, $iOrderBy ,$sLocID))
        <tr class="th5">
          <td width="2%">No</td>
          <td>$!l10n.item_code</td>
          <td>$!l10n.barcode</td>
          <td>$!l10n.item_name</td>
          <td><b>No. Of Trans</b></td>
          <td><b>Total Qty</b></td>
        </tr>
        #set($i = 1)
        #foreach ($invItem in $vInvItem)
        <tr>
          <td>$i</td>
          <td>$invItem.get(1)</td>
          <td>$!item.getBarcodeByID($invItem.get(0))</td>
          <td>$invItem.get(2) </td>
          <td align="right">$!cformat.formatAligned($invItem.get(4))</td>
          <td align="right">$!cformat.formatAligned($invItem.get(3))</td>
        </tr>
        #set($i = $i + 1)
        #end ## foreach
        #line(10)
      </table>
    </td>
    <td width="10">
    </td>
    <td valign="top">
      #if($bChart)
      <img src="${data.ContextPath}/chart/chart.png?helper_class=com.ssti.enterprise.pos.chart.helper.RankingReportChartHelper&StartDate=${StartDate}&EndDate=${EndDate}&Kategori=InventoryTurnover&Limit=${iRank}&ItemType=${iType}&Type=4&Width=400&Height=${iHeight}&Legend=${bLegend}&BGColor1=${sBGColor1}&BGColor2=${sBGColor2}&OrderBy=${iOrderBy}&LocationID=${sLocID}">
      #end
      &nbsp;
    </td>
  </tr>
</table>
#end
</form>
