#set($packlist = $butil.loadClass("com.ssti.enterprise.pos.tools.inventory.PacklistTool"))
#set($debug = $data.Parameters.getBoolean("debug",false))
#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($op = $data.Parameters.getInt("op"))
#set($packer = $data.Parameters.getString("Packer"))
#set($statid = $data.Parameters.getString("StatusId"))
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($dstart = $dutil.getStartOfDayDate($cparser.parseDate($start)))
#set($dend = $dutil.getEndOfDayDate($cparser.parseDate($end)))
#set($pageParam = $tplutil.pageParam($data))
#set($title = "Packer Availability Report")
<script>
function viewReport()
{
  var f1 = document.frm1;
  f1.op.value = 1;
  f1.submit();
}
</script>
#reportPrintJS()


##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title As Of ($!cformat.fmt($dstart))</span></td>
    #reportPrintBtn()
  </tr>
</table>
#if(!$printable)
<form name="frm1" method="post" OnSubmit="loading();" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="-1">
<input type="hidden" name="debug" value="$debug">
##<!-- SEARCH -->
<table class="searchTable">
  ##<tr>
  ##  <td>$!l10n.start_date : </td>
  ##  <td colspan="3">
  ##    <input type="text" #width(80) name="StartDate" value="$!start">
  ##    #calf("frm1" "StartDate" true)
  ##    &nbsp;
  ##  </td>
  ##  <td>$!l10n.employee : </td>
  ##  <td>
  ##    <select name="Packer" #width(200)>
  ##      <option value="">--  Packer --</option>
  ##      #foreach ($oEmp in $employee.AllEmployee)
  ##      <option value="$!oEmp.UserName" #if($oEmp.UserName == $packer) SELECTED #end >$oEmp.Name</option>
  ##      #end
  ##    </select>
  ##  </td>
  ##</tr>
  <tr>
    ##<td>$!l10n.end_date : </td>
    ##<td colspan="3">
    ##  <input type="text" #width(80) name="EndDate" value="$!end">
    ##  #calf("frm1" "EndDate" true)
    ##</td>
    <td>Process : </td>
    <td>
      <select name="StatusId" #width(200)>
        #foreach($oDT in $packlist.getAllStatus())
        <option value="$!oDT.Id" #if($oDT.Id == $statid) SELECTED #end >$oDT.Description</option>
        #end
      </select>
    </td>
    <td colspan="2">
      <input type="button" value="$!l10n.view_report" OnClick="viewReport();">
    </td>
  </tr>
</table>
</form>
#end ##end printable
##<!-- END SEARCH SECTION -->

#if($op == 1)
#set($oStat = $packlist.getStatusByID($statid,$null))
<b>Available User</b>
<table class="stdTable">  
#foreach($oUser in $packlist.getAvailableUser($oStat))
#set($sUser = $oUser.getValue(1).asString())
#set($vProc = $packlist.getProcessDoneBy($statid,$sUser,$dstart,$dend))
  <tr>
    <td colspan="7"><b>$!sUser</b></td>
  </tr>
  #if($vProc.size() > 0)
  <tr class="th4">    
    <td>No</td>
    <td>Trans Date</td>
    <td>PL No</td>
    <td>DO No</td>
    <td>Customer</td>
    <td>Total</td>
    <td>Time</td>
  </tr>
  #set($no = 1)
  #set($totalQty = 0)
  #set($totalMin = 0)
  #foreach($oProc in $vProc)
  <tr>
    <td width="25">$no</td>
    <td>$!cformat.fmt($!oProc.Packlist.TransDate) </td>
    <td>$!oProc.Packlist.TransNo </td>
    <td>$!oProc.Packlist.TDNo </td>
    <td>$!oProc.Packlist.ExternalName </td>
    <td>$!cformat.fmt($!oProc.Packlist.TotalQty) </td>
    <td>$!oProc.Duration.toPeriod().Minutes Min </td>
  </tr>
  #set($no = $no + 1)
  #end ##end foreach vProc 
  #end ##end if vData > 0
#end ##foreach user
</table>
##-----------------------------------------------------------------------------
<br><br>
<b>Working User</b>
#set($vProc = $packlist.getUnfinishedProc($statid,$packer,$dstart,$dend))
#set($vUser = $butil.getDistinctListByField($vProc,"doneBy"))
#foreach($oUser in $vUser)
#set($vData = $butil.filterListByFieldValue($vProc,"doneBy",$oUser.DoneBy))
<table class="stdTable">
  <tr>
    <td colspan="7"><b>$!oUser.DoneBy</b></td>
  </tr>
  <tr class="th4">
    <td>No</td>
    <td>Trans Date</td>
    <td>PL No</td>
    <td>DO No</td>
    <td>Customer</td>
    <td>Total</td>
    <td>Time</td>
  </tr>
  #set($no = 1)
  #set($totalQty = 0)
  #set($totalMin = 0)
  #foreach($oProc in $vData)
  <tr>
    <td width="25">$no</td>
    <td>$!cformat.fmt($!oProc.Packlist.TransDate) </td>
    <td>$!oProc.Packlist.TransNo </td>
    <td>$!oProc.Packlist.TDNo </td>
    <td>$!oProc.Packlist.ExternalName </td>
    <td>$!cformat.fmt($!oProc.Packlist.TotalQty) </td>
    <td>$!oProc.Duration.toPeriod().Minutes Min </td>
  </tr>
  #set($totalQty = $calculator.add($totalQty,$oProc.Packlist.TotalQty))
  #set($totalMin = $calculator.add($totalQty,$oProc.Duration.toPeriod().Minutes))
  #set($no = $no + 1)
  #end ##end foreach
</table>
#end  ##end foreach user

##-----------------------------------------------------------------------------

#end ##end if

#parse("screens/report/packing/PackReportsMenu.vm")

