#set($iCol = 1)
#set($iRow = 0)

<table #if($bcd.PaperWidth != 0) style="width:$!{bcd.PaperWidth}px; border-collapse:collapse;" #end 
    border="$bcd.Border" cellspacing="${bcd.ColumnSpacing}" cellpadding="0">
  <tr>
    #set($rowspan = $bcd.PaperRow + 2)
    #if(${bcd.LeftMargin} > 0)
    <td style="width:${bcd.LeftMargin}px;" rowspan="$rowspan"></td>     
    #end
    <td style="height:${bcd.TopMargin}px;" colspan="$bcd.PaperColumn"></td>
  </tr>

#foreach ($itm in $result)

#set($prc = $tamt)
#set($s = $prc.toString())
#set($mp = $butil.loadClass("java.util.HashMap"))
#set($x = $mp.put("1","S"))
#set($x = $mp.put("2","U"))
#set($x = $mp.put("3","P"))
#set($x = $mp.put("4","E"))
#set($x = $mp.put("5","R"))
#set($x = $mp.put("6","K"))
#set($x = $mp.put("7","I"))
#set($x = $mp.put("8","T"))
#set($x = $mp.put("9","A"))
#set($x = $mp.put("0","O"))
#set($x = $mp.put("00","N"))
#set($x = $mp.put("000","H"))

##$mp
#set($s = "$itm.ItemPrice.setScale(0,4)")          

#set($res = "")                    
#set($i = 0)
#set($tmp = "")      
#set($s = $s.replaceAll("000",$mp.get("000")))
#set($s = $s.replaceAll("00" ,$mp.get("00")))
#set($s = $s.replaceAll("0"  ,$mp.get("0")))
#set($s = $s.replaceAll("9"  ,$mp.get("9")))
#set($s = $s.replaceAll("8"  ,$mp.get("8")))
#set($s = $s.replaceAll("7"  ,$mp.get("7")))
#set($s = $s.replaceAll("6"  ,$mp.get("6")))
#set($s = $s.replaceAll("5"  ,$mp.get("5")))
#set($s = $s.replaceAll("4"  ,$mp.get("4")))
#set($s = $s.replaceAll("3"  ,$mp.get("3")))
#set($s = $s.replaceAll("2"  ,$mp.get("2")))
#set($s = $s.replaceAll("1"  ,$mp.get("1")))


  #if($iCol == 1 || $iCol > $bcd.PaperColumn)
  <tr style="height:${bcd.ColumnHeight}px;">
  #set($iCol = 1)
  #end
    <td style="width:${bcd.ColumnWidth};height:${bcd.ColumnHeight}px;">
      <center>
        <img src="${data.ContextPath}/barcode/bcode.jpg?data=$!{itm.Barcode}&type=$!{bcd.BarcodeType}&width=$!{bcd.BarcodeWidth}&height=$!{bcd.BarcodeHeight}&resolution=50&drawText=false" border="0" >
      <br>
      <font style="font-size:14px;font-weight:bold">$itm.ItemCode</font>
      <br>
      $itm.ItemName
      <br>
      $s          
        | <font style="font-size:14px;font-weight:bold">$cformat.formatNumber($itm.ItemPrice)</font>
      <br>
      </center>
    </td>
  #set($iCol = $iCol + 1)
  #if( $iCol > $bcd.PaperColumn)
  </tr>
  #set($iRow = $iRow + 1)
  #end
  
#end
  
  #if($iRow >= $bcd.PaperRow)<tr><td style="height:${bcd.BottomMargin}px" colspan="$bcd.PaperColumn"></td></tr>#end
</table>