<td width="$bcd.ColumnWidth" height="$bcd.ColumnHeight">
  <center>
    <span class="txtShelving1">$itm.FixedAssetCode<br></span>
    <span class="txtShelving1">$itm.FixedAssetName<br></span>
  </center>
</td>