<!doctype html>

 <html>
<head>
<title>Retailsoft POS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body {font-family: Calibri; font-size: 10px; background:white; }
table {border-collapse: collapse; width:100%; max-width:360px;}
thead,th,tbody,tr,td {border:inherit;}
tr{height:22px;}
td {font-size: 12px}
.largeHeader {font-size: 15px}
.printHeader {font-size: 10px}
P.pagebreakhere {page-break-before: always}
</style>
</head>
<body topMargin="2" leftMargin="2">              
<table>
  <tr>
    <td align="center">
      <span id="locName" style="font-size:15px;font-weight:bold;"></span>
    </td>
  </tr>               
  <tr>
    <td align="center">
      <span id="locAddr" style="font-size:10px;"></span>
    </td>
  </tr>
  <tr>
    <td align="center"><b>NPWP: -</td>
  </tr>    
</table>
<div id="headerDiv">
</div>
<div id="detailDiv">
</div>
                       
<table id="tblFooter" style="display:none;">
<tr>
<td align="center">
<pre style="width:100%;align:center">
----------------------------------------
*       BARANG YANG SUDAH DIBELI       *
*      TIDAK DAPAT DIKEMBALIKAN        *
*      ****   Terima Kasih   ****      *
*  * Hati Yang Gembira Adalah Obat *   *
---------------------------------------- 
       Harga sudah termasuk PPN        
</pre>
</td>
</tr>
</table>
</body>
<script src="js/common.js"></script>
<script src="js/shortcut.js"></script>
<script src="js/time.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jq/jquery.simplemodal.min.js"></script>
<script src="js/db/pouchdb.min.js"></script>
<script src="js/db/pouchdb.find.min.js"></script>
<script src="js/db/pouchdb.quick-search.min.js"></script>
<script src="js/db/jsonQ.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/handlebars.js"></script>
<script type="text/javascript">
document.write(String.fromCharCode(27,112,0,25,250));
</script>
</html> 

<script>
var cfglc = 'off_config';
function initDB()
{
    var dbcfg = new PouchDB(cfglc);
    dbcfg.get('config').then(function(cfg){
        CONFIG = cfg;
        cstlc = cfg.dbPref + '_custs';
        itmlc = cfg.dbPref + '_items';
        $('#locName').text(cfg.locName);
        $('#locAddr').html(cfg.locAddr);
        console.log('initDB, CustDB:' + cstlc  + ' ItemDB: ' + itmlc + ' config:');
        console.log(cfg);
        var db = new PouchDB('tx');
        db.get('newtx').then(function(doc) {
             //exists
            console.log('existing tx');
            console.log(doc);
            setHeader(doc);            
            refreshDetail(doc);                                                 
        })
    });
}    
function setHeader(doc)
{
    console.log('setHeader');
    var btm = Handlebars.compile($("#POSHeader").html());
    var ctx = {doc : doc};
    var html = btm(ctx);
    $('#headerDiv').html(html);
}
function refreshDetail(doc)
{
    console.log('refreshDetail ');
    console.log(doc);

    var ctx = {doc: doc, docs : doc.items}
    var template = Handlebars.compile($("#ItemDetails").html());
    var html = template(ctx);
    $('#detailDiv').html(html);
    $('#tblFooter').show();
    window.print();  

}
$(document).ready(function(){
    var f = document.frm;
    if(navigator.onLine) {
       //sync();
    }

    Handlebars.registerHelper('fmt', function (num) {
        return parseFloat(num).toLocaleString('en-US');
    });
    Handlebars.registerHelper('empty', function (str) {
        if(str && str != '') {return false;}
        else {return true;}
    });
    
    initDB();
});
</script>
</script>
<script id="POSHeader" type="text/x-handlebars-template">
<table width="100%">
  <tr>
    <td colspan="2"><hr></td> 
  </tr>
  <tr>
    <td>No  </td>
    <td>: {{doc.no}}</td> 
  </tr>
  <tr>
    <td>Kasir </td>
    <td>: {{doc.cashier}}</td>
  </tr>
  <tr>
    <td>Pelanggan </td>
    <td>: {{doc.custName}}</td>
  </tr>      
    <tr>
    <td>Pembayaran </td>
    <td>: {{doc.payment}}</td>
  </td>
  <tr>
    <td>Tanggal </td>
    <td>: {{doc.dt}} </td>
  </tr> 
  <tr>
    <td colspan="2"><hr></td> 
  </tr>  
</table>  
</script>

<script id="ItemDetails" type="text/x-handlebars-template">
<table width="100%">
  <tr>
    <td colspan="2"><b>NR:</td>
  </tr>
  {{#docs}}
  <tr>
    <td>{{itemCode}}  </td>
    <td>{{itemName}} </td>
  </tr>  
  <tr>
    <td colspan="2">   
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td width="20%" align="right">{{qty}} {{unitCode}} X </td>        
          <td width="15%" align="right">{{fmt itemPrice}} </td>
          <td width="10%" align="right">- {{discount}}    </td>
          <td width="20%" align="right">{{fmt subTotal}}  </td>
        </tr>
      </table> 
    </td>
  </tr>
  {{/docs}}
  <tr>
    <td colspan="10"><hr></td> 
  </tr>  
</table> 
<table width="100%">
  <tr><td width="15%"></td><td><b>Total Item     </td><td>:</td><td align="right">{{docs.length}}</td></tr>
  <tr><td width="15%"></td><td><b>Total Nilai    </td><td>:</td><td align="right">{{doc.total}}</td></tr>
  <tr><td width="15%"></td><td><b>Pembayaran     </td><td>:</td><td align="right">{{doc.payment}}</td></tr>
  <tr><td width="15%"></td><td><b>Kembali        </td><td>:</td><td align="right">{{doc.change}}</td></tr>
</table>  
  
</script>

