#set($tplName = $data.Parameters.getString("tplName"))
#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans)
  $data.setLayoutTemplate("/PopupWindow.vm")
#end

#set($title = "$!l10n.bank_transfer")
#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($status = $data.Parameters.getInt("Status"))
#set($bankId = $data.Parameters.getString("BankId"))
#set($locid = $data.Parameters.getString("LocationId"))
#set($limit = $data.Parameters.getInt("ViewLimit",50))

#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}")
#set($pageParam = "${pageParam}&ViewLimit=${limit}&StartDate=${start}&EndDate=${end}")
#set($pageParam = "${pageParam}&BankId=${bankId}&status=${status}")
#set($pageParam = "${pageParam}&tplName=$!{tplName}&fromTrans=${fromTrans}")

<script>
function copyTrans(_sid)
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';
    wnd.location.href = '$link.setPage($tplName)?op=6&id='+_sid;
    window.close();
}
function findData()
{
    var f1 = document.frm1;
    f1.op.value = 1;
    f1.submit();
}
function exportExcel ()
{
    #set($sPackage = "com.ssti.enterprise.pos.excel.helper.transaction.")
    var sURL = '${data.ContextPath}/excel/TRXBankTransfer.xls?helper_class=${sPackage}BankTransferHelper${pageParam}' ;
    var excelWnd = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();
}
</script>

<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>

<form name="frm1" method="post" OnSubmit="loading();" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1" >
<input type="hidden" name="mode" value="$!flux.Mode" >
<input type="hidden" name="fromTrans" value="$!{fromTrans}" >
<input type="hidden" name="tplName" value="$!{tplName}" >

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    #if($sutil.isNotEmpty($start) && $sutil.isNotEmpty($end))
    <td align="right">
      <a href="javascript:void(0)" OnClick="exportExcel()" title="Export $title">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
      </a>
    </td>
    #end
  </tr>
</table>
<table class="searchTable">
  <tr>
    <td>$!l10n.bank : </td>
    <td colspan="3">
      <select name="BankId">
        <option value="" #if($bankId == "") SELECTED #end > -- $!l10n.bank --</option>
        #foreach ($oBank in $bank.getAllBank())
        <option value="$!oBank.BankId" #if($bankId == $!oBank.BankId) SELECTED #end >
          $!oBank.BankCode $!oBank.Description</option>
        #end
      </select>
      &nbsp;
    </td>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid)
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by : </td>
    <td>$!banktrf.conditionSB($cond)</td>
    <td> $!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm1" "StartDate" true)
    </td>
    <td>$!l10n.status : </td>
    <td colspan="3">
      <select name="Status" #width(100)>
        <option value="0" >-- STATUS --</option>
        <option value="1" #if($status == 1) SELECTED #end >$!cashflow.getStatusString(1)</option>
        <option value="2" #if($status == 2) SELECTED #end >$!cashflow.getStatusString(2)</option>
        <option value="3" #if($status == 3) SELECTED #end >$!cashflow.getStatusString(3)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key">
    </td>
    <td> $!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm1" "EndDate" true)
    </td>
    <td>$!l10n.view_limit : </td>
    <td>
      <input type="text" #width(30) name="ViewLimit" value="$!limit">
      #spc(2)
      <input type="button" value="$!l10n.search" name="eventSubmit_doFind" OnClick="javascript:findData();">
    </td>
  </tr>
</table>
</form>

#if($vBT)
$data.User.setTemp("BTViewParam", $pageParam)
$data.User.setTemp("page", $LargeData.CurrentPageNumber)

#largeSelectNavBar($data.ScreenTemplate $pageParam)
#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date","$!l10n.bank", "$!l10n.bank", "$!l10n.description","$!l10n.status","$!l10n.create_by","$!l10n.amount",""] )
#set($fields = ["","transNo","transDate","outBankId","inBankId","description","status","userName","amount",""] )
<form name="frm" method="post"
   action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.CurrentPageNumber$!{pageParam}">

<table class="altRowTable">
  #sortableHeader ($headings $fields "th2" "sort2" true)
  #set($no = 1)
  #foreach ($cm in $sortingtool.sort($vBT,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>
      #if($fromTrans)
        #if($flux.Mode != "copy")
        <a href="javascript:viewTrans('$!cm.BankTransferId')">
        #if($sutil.isNotEmpty($!cm.TransNo))
          $!cm.TransNo
        #else
          $!l10n.view
        #end
        </a>
        #else
        <a href="javascript:copyTrans('$!cm.BankTransferId')">
        #if($sutil.isNotEmpty($!cm.TransNo))
          $!cm.TransNo
        #else
          Copy
        #end
        </a>
        #end
      #else
        $!cm.TransNo
      #end
    </td>
    <td>$!cformat.formatDate($!cm.TransDate)</td>
    <td>$!cm.OutBank.Description</td>
    <td>$!cm.InBank.Description</td>
    <td>
      <input type="text" class="text2" value="$!cm.Description" #width(160) READONLY
       onmouseover="tooltip('$!sutil.tooltip($!cm.Description)');" onmouseout="exit();" >
    </td>
    <td>
     #if($!cm.Status == 1) $!l10n.pending #end
     #if($!cm.Status == 2) $!l10n.processed #end
     #if($!cm.Status == 3) $!l10n.cancelled #end
    </td>
    <td>$!cm.UserName</td>
    <td align="right">$!cformat.formatAligned($!cm.Amount)</td>
    <td>
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,BankTransferTrans.vm" "?op=4&id=$!cm.BankTransferId" $!l10n.view "" "View Cash Management")
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
</form>
#end ##if

#if(!$fromTrans)
<ul class="btmLinkNav">
#btmLinkMenu("transaction,BankTransferTrans.vm" "?op=3" "$!l10n.new_trans" "")
#if($preference.allowTransImport())
#btmLinkMenu("transaction,loader,ImportBTRData.vm" "" "$!l10n.import $!title" ""  )
#end
</ul>
#end

