#set($title = "$!l10n.import $!l10n.purchase_receipt ")
$data.setLayoutTemplate("/Empty.vm")

<html>
<head>
<title>RetailSoft - Platinum Edition</title>
<link type="text/css" href="${data.ContextPath}/css/stylesheet.css" rel="stylesheet"/>
<script>
#set($page = "transaction,PurchaseReceiptTransaction.vm")
function setParent()
{
    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';

    #if($data.Parameters.getInt("Import") == 1)
      wnd.location.href = '$link.setPage($page)?op=6';      
      #if($bClose)
      //window.close();
      #end
    #end
}
</script>
</head>

<body topMargin="3" leftMargin="3" onLoad="javascript:setParent();">

<form name="frm" enctype="multipart/form-data" method="post" 
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.PurchaseReceiptAction")">
  
<table class="stdTable">
  <tr>
    <td colspan="2"><span class="txtTitle2">$title</span></td>
  </tr>
  #if($data.Message)      
  <tr>
    <td colspan="2"><span class="txtMessage"> $sutil.formatStrToHTML($data.Message)</span><br></td>
  </tr>
  #end
  <tr>
    <td width="160">Data File Location</td>
    <td>
      <input type="file" #width("") name="DataFileLocation">
    </td>         
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>     
      <input type="hidden" name="ExcelType" value="1">                
      <input type="hidden" name="Import" value="1">  
      <input type="hidden" name="PurchaseOrderId"     value="$data.Parameters.getString("PurchaseOrderId")">
      ## <input type="hidden" name="LocationId"       value="$data.Parameters.getString("LocationId")">
      ## <input type="hidden" name="VendorId"         value="$data.Parameters.getString("VendorId")">
      ## <input type="hidden" name="TransactionDate"  value="$data.Parameters.getString("TransactionDate")">
      ## <input type="hidden" name="Status"           value="$data.Parameters.getInt("Status")">
      ## <input type="hidden" name="Description"      value="$data.Parameters.getString("Description")">                                 
      <input type="submit" name="eventSubmit_doLoadfile" value="$title">
    </td>
  </tr>                     
</table>
</form>
</body>
</html>
