#set($bIsADJ = "true")
$data.setLayoutTemplate("/Transaction.vm")
#set($title = "$!l10n.issue_receipt")
#set($bAjax = true)
#set($AJAXURL = "IRDetail.vm")
#createInvCommonJS("$!ir.TransactionNo" "transaction,IssueReceiptView.vm")
#if($ir.Status == 3) #set($bEditable = false) #end
#set($aclPerm = $data.ACL.Permissions)
#set($bCreate = $aclPerm.containsName("Create Issue Receipt"))
#set($bConfirm = $aclPerm.containsName("Confirm Issue Receipt"))
#set($bCancel = $aclPerm.containsName("Cancel Issue Receipt"))
#set($bViewCost = $aclPerm.containsName("View Item Cost"))

<script>
function validate(frm)
{
    var f = document.frm;
    var n = parseInt(f.TotalNo.value) - 1;
    if(n == 0)
    {
        alert('$!l10n.fill_in $!l10n.item_list');
        return false;
    }
    if(!validateDate(f.TransactionDate.value)) { return false; }
    #isEmpty ("frm" "AdjustmentTypeId")
    #isEmpty ("frm" "LocationId")
    return true;
}
function openImportItemWindow()
{
    var f = document.frm;
    var sURL = '$link.setPage("transaction,ImportIssueReceiptExcel.vm")?LocationId=' + f.LocationId.value +
        '&AdjustmentTypeId=' + f.AdjustmentTypeId.value +
        '&AccountId=' + f.AccountId.value +
        '&TransactionType=' + f.TransactionType.value +
        '&TransactionDate=' + f.TransactionDate.value +
        '&Status=' + f.Status.value +
        '&CostAdjustment=' + f.CostAdjustment.checked +
        '&Description=' + f.TransDescription.value;

    var wndItem  = window.open (sURL, 'issueWindow',
        'toolbar=no,scrollbars=yes,menubar=no,statusbar=yes,resizable=no,width=560,height=200,left=20,top=200');

    wndItem.focus();
}
function openImportItemPDT()
{
    var f = document.frm;
    var sURL = '$link.setPage("transaction,ImportFromPDT.vm")?trans=ir' + 
               '&page=$data.ScreenTemplate&action=transaction.IssueReceiptAction' +
               '&LocationId=' + f.LocationId.value +
               '&AdjustmentTypeId=' + f.AdjustmentTypeId.value +
               '&TransactionDate=' + f.TransactionDate.value +
               '&Description=' + f.TransDescription.value;       
                         
    var wndItem  = window.open (sURL, 'wndItem',
        'toolbar=no,scrollbars=yes,menubar=no,statusbar=yes,resizable=no,width=560,height=200,left=20,top=200');   
    wndItem.focus();
}
function changeAdjType()
{
    var url = '$link.setPage("transaction,AdjustmentTypeSelector.vm")';
    var param = '&ajax=true&AdjustmentTypeId=' +  document.frm.AdjustmentTypeId.value;   
    jQuery.post(url,param,function(resp){eval(resp);} );       
    incSAS();
}
function changeUnit()
{
    var f = document.frm;
    var unitBaseValue = f.UnitBaseValue.value;
    f.CurrentQty.value =  parseFloat(f.CurrentQty.value) * unitBaseValue;  
    f.CurrentQtyTxt.value = f.CurrentQty.value;
    f.ItemCost.value = f.ItemCost.value / unitBaseValue;
    f.ExistQty.value = ''; //parseFloat(f.CurrentQty.value) + parseFloat(f.Qty.value);
    f.UnitBaseValue.value = 1 / unitBaseValue;
}
function calculateQty()
{
    var f = document.frm;
    var iCurrentQty = 0;
    var sQty = f.CurrentQty.value;
    if(sQty != '')
    {
        iCurrentQty = parseFloat(f.CurrentQty.value);
        if(isNaN(iCurrentQty)) iCurrentQty = 0;
    }

    var iQty = parseFloat(f.Qty.value);    
    if(f.TransactionType.value == "1")
    {
        f.ExistQty.value = iCurrentQty + iQty;
    }
    else
    {
        f.ExistQty.value = iCurrentQty - iQty;
    }
}
function calculateNew()
{
    var f = document.frm;
    var iCurrentQty = parseFloat(f.CurrentQty.value);
    var iExistQty = parseFloat(f.ExistQty.value);
    var iQty;
    if(f.TransactionType.value == "1")
    {
        iQty = iExistQty - iCurrentQty;
        f.Qty.value =  iQty;        
    }
    else
    {
        if(iCurrentQty > iExistQty)
        {
            iQty = iCurrentQty - iExistQty;
            f.Qty.value =  iQty;
        }
        else
        {
            alert("New Qty must < Old Qty");
            f.ExistQty.focus();
        }
    }
}
function handleNewQtyKeypress (e)
{
    var key = getKey(e);
    if(key == 13) { calculateNew(); addDetail(); }
    #if($iType == 2) if(key == 40) { displayQtyInfo(); } #end
}
function handleQtyKey(e,no)
{
    var f = document.frm;
    var key = getKey(e);
    no = parseInt(no) + 1;
    if(key == 13) { try{ eval('f.QtyChanges' + no +  '.select()'); } catch(e){} }
}
#printTrans("$!ir.IssueReceiptId" "IssueReceiptPrintHelper" -1)
</script>

<form method="post" onSubmit="return validate(this)" id="frm" name="frm"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.IssueReceiptAction")">

<table class="fixTable">
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
    </td>
    <td align="right" rowspan="2">
      #if(!$bEditable || $preference.pendingPrint($ir.IssueReceiptId))
        #if($preference.useBarcodePrinter())
        <a href="javascript:void(0)" OnClick="printBarcodeLabel();" title="Print Barcode to Label Printer">
          <img src="${data.ContextPath}/images/btn_barcode_lbl.gif" border="0"/></a>&nbsp;
        #end
        <a href="javascript:void(0)" OnClick="printBarcodeData();" title="Generate Barcode">
          <img src="${data.ContextPath}/images/btn_barcode.gif" border="0"/></a>&nbsp;
        #printBtn()
      #end
      #safeParse("/print/btn/IRBtn.vm")
    </td>
  </tr>
  #if($data.Message)
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>
  </tr>
  #end
</table>

<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<input type="hidden" name="op" value="$data.Parameters.getInt("op", 1)">
<input type="hidden" name="no" value="">
<input type="hidden" name="DirectAdd" value="$!issuereceipt.getDirectAdd("ir")">
<input type="hidden" name="TransId" value="">
<input type="hidden" name="items" value="">
<input type="hidden" name="TransactionType" value="1">

<div id="txHeader">
  <div class="col12">
    <table class="stdTxTable" >
     <tr class="th2"> 
       <td colspan="2">$!title</td>
     </tr>       
      <tr>
        <td width="30%">$!l10n.trans_no</td>
        <td>
          <input type="hidden" name="IssueReceiptId" value="$!ir.IssueReceiptId" READONLY >
          <input type="text" #width("90%") value="$!ir.TransactionNo" READONLY >
          #if($bEditable && $allowCopyTrans)
          <a href="javascript:void(0)" OnClick="openTransLookup();" title="$!l10n.import $!l10n.issue_receipt">
            <i class="fa fa-clone"></i>
          </a>
          #end
        </td>
      </tr>
      <tr>
        <td>$!l10n.trans_date</td>
        <td>
          <input type="text" #width(150) name="TransactionDate"
            #if($ir.TransactionDate && $dutil.isBackDate($!ir.TransactionDate))
              value="$!cformat.formatDateTime($!ir.TransactionDate)"
            #else
              value="$!cformat.formatDate($!ir.TransactionDate)"
            #end
            #if(!$bEditable) READONLY #end >
          #if($bEditable)
          #cal("TransactionDate" true)
          #end
        </td>
      </tr>
      <tr>
        <td>$!l10n.adjustment_type</td>
        <td>
          #if($bEditable)
            <select id="AdjTypeId" name="AdjustmentTypeId" #width("") OnChange="changeAdjType();">
              <option value="">-- $!l10n.adjustment_type --</option>
              #foreach ($adj in $adjustmenttype.getAllAdjustmentType())
              <option value="$!adj.AdjustmentTypeId"
                #if($!adj.AdjustmentTypeId == $ir.AdjustmentTypeId) SELECTED #end >$!adj.Description</option>
              #end
            </select>  
            <script>jQuery('#AdjTypeId').select2({placeholder:'-- $!l10n.adjustment_type --',allowClear:true}); </script>          
          #else
            <input type="text" #width(200) value="$!ir.AdjType.Description" READONLY >
          #end
        </td>
      </tr>
      <tr>
        <td>$!l10n.location</td>
        <td>
          #if(($irDet.size() > 0 && $sutil.isNotEmpty($ir.LocationId)) || !$bEditable)
            #set($locname = $!location.getLocationNameByID($!ir.LocationId))
            <input type="hidden" name="LocationId"      value="$!ir.LocationId">
            <input type="hidden" name="LocationName"    value="$locname">
            <input type="text"   name="LocationNameTxt" value="$locname" #width("") READONLY >
          #else
            #set($sLocID = $ir.LocationId)
            #if($sutil.isEmpty($ir.LocationId))
              #set($sLocID = $USRLOC)
            #end
            #if($sutil.isEmpty($sLocID))
              #set($sLocID = $preference.LocationID)
            #end
            #locationSB($sLocID)
          #end
        </td>
      </tr>
      <tr>
        <td>$!l10n.create_by</td>
        <td>
          <input type="hidden" name="UserName"
            #if($sutil.isEmpty($ir.IssueReceiptId)) value="$!data.User.Name"
            #else value="$!ir.UserName" #end >
          <input type="text" #width("") name="TxtUserName" #width("")
             #if($sutil.isEmpty($ir.IssueReceiptId)) value="$!data.User.Name"
             #else value="$!employee.getName($!ir.UserName)" #end READONLY >
        </td>
      </tr>
      ##NOTE: CHANGE TO bundles
      <tr>
        #if($bEditable)
        <td>Import Item From Excel</td>
        <td>
          <a href="javascript:void(0)" OnClick="openImportItemWindow();" title="Import Item From Excel">
            <i class="fa fa-file-excel-o"></i>
          </a>
          #spc(4) From PDT 
          <a href="javascript:void(0)" OnClick="openImportItemPDT();" title="Import Item From PDT">
            <i class="fa fa-folder-open"></i>
          </a>
        </td>
        #else
        #if($sutil.isNotEmpty($ir.ConfirmBy))
        <td>$!l10n.confirmed_by</td>
        <td>
          <input type="text" #width("") value="$!employee.getName($!ir.ConfirmBy)" READONLY >
        </td>
        #end          
        #end
      </tr>        
    </table>
  </div>
  <div class="col22">
    <table class="stdTxTable">
      <tr class="th2"> 
        <td colspan="2">$!l10n.description</td>
      </tr>    
      <tr>
        <td colspan="2">
          $!l10n.description
          <br>
          <textarea name="TransDescription"  #if(!$bEditable) READONLY #end >$!ir.Description</textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          #if($bViewCost)
          $!l10n.cost_adj #spc(2)
          <input type="checkbox" class="cb" name="CostAdjustment" #if($ir.CostAdjustment) CHECKED #end
            #if(!$bEditable) DISABLED #end >      
          #end
        </td>      
      </tr>
      <tr>
        <td width="15%">$!l10n.adj_account</td>
        <td>
          #if($bEditable)
            <select id="AccId" name="AccountId" #width("")>
              #set($vAcc = $account.getAllChildAccount())
              #foreach ($acc in $vAcc)
              #if($bEditable || (!$bEditable && $acc.AccountId == $ir.AccountId))
              <option value="$acc.AccountId" #if($acc.AccountId == $ir.AccountId) SELECTED #end >
                $acc.AccountCode &nbsp; $acc.AccountName
              </option>
              #end
              #end
            </select>
            ##<script>jQuery('#AccId').select2();</script>
          #else
            <input type="text" #width("") value="$!ir.Account.AccountName" READONLY >
          #end
        </td>      
      </tr>
      <tr>
        <td>$!l10n.trans_status</td>
        <td>
          <input type="hidden" name="Status" value="$!ir.Status">
          <input type="text" #width("") READONLY value="$!issuereceipt.getStatusString($!ir.Status)">
        </td>                
      </tr>
    </table>
  
  </div>
</div>      
#tblbr(2)
#if($bEditable)   
<div id="inputDetailDiv">
<table id="inputDetailTable">
  <tr class="th4">
    ###set($headings2 = ["$!l10n.item_code","$!l10n.item_name","$!l10n.old_qty", "$!l10n.adj_qty", "$!l10n.new_qty", "$!l10n.unit", "$!l10n.cost","&nbsp;"] )
    #set($headings2 = ["$!l10n.item_code","$!l10n.item_name","$!l10n.old_qty","$!l10n.adj_qty", "$!l10n.new_qty", "$!l10n.unit"] )
    #foreach ($heading in $headings2)
    <td>$heading</td>
    #end
    #if($bViewCost)<td>$!l10n.cost</td>#end
    <td>$!l10n.last_adjustment</td>
    <td>#spc(1)</td>
  </tr>  
  <tr class="th2" id="inputDetailSepRow">
    <td colspan="$!headings2.size()"></td>
  </tr>      
  <tr>
    <td class="codeCol" data-label="$!headings2.get(0)">
      <input #stdin ("ItemCode" "" 115 true) id="ItemCode" OnKeyPress="javascript:handleCodeKeypress(event);">
      <a href="javascript:void(0)" OnClick="openItemLookUpWindow();"  title="$!l10n.find $!l10n.item_data">
        <i class="fa fa-search"></i>
      </a>
      ## needed By Item Code Lookup
      <input type="hidden" name="PendingQty" value="0">
      <input type="hidden" name="ItemType">
      <input type="hidden" name="InventoryType">
      <input type="hidden" name="ItemId">
      <input type="hidden" name="Description">
      <input type="hidden" name="UnitCode">
      <input type="hidden" name="TaxId">
      <input type="hidden" name="TaxAmount">
      <input type="hidden" name="Discount">
      <input type="hidden" name="DiscountId">
      <input type="hidden" name="SubTotalTax">
      <input type="hidden" name="SubTotalDisc">
      <input type="hidden" name="ItemPrice">
      <input type="hidden" name="Cost">
      <input type="hidden" name="SubTotalCost">
      <input type="hidden" name="QtyChanges">
      <input type="hidden" name="UnitBaseValue" value="1">
    </td>
    <td class="nameCol" data-label="$!headings2.get(1)">
      <input #stdin ("ItemName" "" 250 true)
        OnKeyUp="javascript:handleSearchByNameKeypress(event);">
    </td>
    <td class="qtyCol" data-label="$!headings2.get(2)">
      <input #stdin ("CurrentQtyTxt" "" 75 false)></td>
    <input type="hidden" name="CurrentQty">
    <td class="qtyCol" data-label="$!headings2.get(3)">
      <input #stdin ("Qty" "" 75 true)
        OnChange="calculateQty()"
        OnBlur="calculateQty()"
        OnFocus="this.select()"
        OnKeypress="handleQtyKeypress(event);">
    </td>
    <td class="qtyCol" data-label="$!headings2.get(4)">
      <input #stdin ("ExistQty" "" 75 true)
        OnBlur="calculateNew()"
        OnFocus="this.select()"
        OnKeypress="handleNewQtyKeypress(event);">
    </td>
    <td class="qtyCol" data-label="$!headings2.get(5)">
      <select name="UnitId" OnChange="changeUnit()" OnClick="initChangeUnit()" #width(75)>
        #foreach ($unt in $unit.getAllUnit())
        <option value="$unt.UnitId">$unt.UnitCode</option>
        #end
      </select>
    </td>
    #if($bViewCost)
    <td class="prcCol" data-label="$!l10n.cost">
      <input #stdin ("ItemCost" "" 90 true) >
    </td>
    #else
    <input type="hidden" name="ItemCost" value="0">
    #end
    <td class="prcCol" data-label="$!l10n.last_adjustment">
      <input #stdin ("LastAdjustment" "" 90 false) >
    </td>
    <td>
      #opBtn("add" "" "void(0);" "")
    </td>
  </tr>
</table>  
</div>
#end ##end if editable

<table class="stdTxTable">
  <tr class="th2">
    <td><b>$!l10n.item_list ($!irDet.size())</b></td>
  </tr>
</table>
<div id="detailTableDiv">
#set($bLayoutSet = true)
#set($bAll = true)
#parse("screens/transaction/ajax/IRDetail.vm")
</div>
#tblbr(2)
<table id="btmButtonTable">
  <tr>
    <td width="40%">
      #prevNext("$!ir.IssueReceiptId"  $issuereceipt)
    </td>
    <td>
    <div align="right">
      <input type="button" value="$!l10n.new_trans" onClick="newTrans();">
      <input type="button" value="$!l10n.find_trans" onClick="findTrans();">
      ##if($preference.isHO())
        #if($bEditable && $ir.Status == 1)
          #if($bCreate)
            <input type="button" name="eventSubmit_doInsert"
            OnClick="javascript:saveTransaction();"  value="$!l10n.save_trans"/>
          #end
          #if(!$POST_ERROR && $bConfirm)
            <input type="button" name="eventSubmit_doInsert"
            OnClick="document.frm.Status.value=2;saveTransaction();"  value="$!l10n.confirm_trans"/>
          #end
        #end
        <input type="hidden" name="save" value="1">
      ###end
      #if($ir.Status == 2 && !$POST_ERROR)
        #if($bCancel)
          <input type="button" name="eventSubmit_doCancel" id="btnCancel"
          OnClick="javascript:cancelTransaction();"  value="$!l10n.cancel_trans"/>
        #end
     #end
    </div>
   </td>
 </tr>
</table>
</form>
