$data.setLayoutTemplate("/PopupWindow.vm")
#set($headings = ["No","$!l10n.code", "$!l10n.location_name",  "$!l10n.site", "$!l10n.address"])
#set($fields = ["","locationCode", "locationName", "siteId", "locationAddress"])
#set($title = "$!l10n.location")
#set($vLoc = $location.getByUserName($data.User.Name,$data.ACL.Permissions))

<script>
function setShipTo(addr)
{
    var w = window.opener;
    if(!w) w = parent;
    var f = w.document.frm;
	if (f._session_access_counter)
	{
	    f._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
	}
	if (f.ShipTo)
	{
	    f.ShipTo.value = addr;
	    w.jQuery.modal.close();
	    window.close();
	}	
}
</script>

##<!-- TITLE SECTION -->
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
  </tr>
</table>
##<!-- END TITLE SECTION -->

#if($vLoc)
<form name="frm">
<table class="altRowTable">
  #sortableHeader ($headings $fields "th2" "sort2" false)    
  #set($no = 1)
  #set($row = 1)
  #set($amt = $vLoc.size())
  #foreach ($oLoc in $sortingtool.sort($vLoc,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$!no</td>
    <td><a href="#" OnClick="setShipTo($!sutil.parseMultiLineForJS($oLoc.LocationAddress))">$!oLoc.LocationCode</a></td>
    <td><a href="#" OnClick="setShipTo($!sutil.parseMultiLineForJS($oLoc.LocationAddress))">$!oLoc.LocationName</a></td>
    <td>$!site.getSiteByID($!oLoc.SiteId).Description</td>
    <td>$!oLoc.LocationAddress</td>
  </tr>
   #set($no = $no + 1)
  #end
</table>
</form>
#end

