$data.setLayoutTemplate("/Empty.vm")
#set($sSPC = "&nbsp;&nbsp;")

<title>RetailSoft - Keystroke Help</title>
<head>
<link  type="text/css" href="${data.ContextPath}/css/pos-touch.css" rel="stylesheet"/>
<script>
var wnd = window.opener;
if(!wnd) wnd = parent;
var frm = wnd.document.frm;
function setSAC()
{
    if (frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';       
}
function closeHelp()
{
    try
    {
        if (wnd) frm.ItemCode.focus();
    }
    catch (e){}
    wnd.jQuery.modal.close();    
}
</script>
</head>
<body leftmargin="10" topmargin="10" OnLoad="setSAC();" OnKeypress="closeHelp();" OnClick="closeHelp();">
<table class="stdTable">
  <tr>
    <td colspan="2"><b>Retailsoft Keystroke Help (Alt + F1)</b><br></td>
  </tr>
  <tr>
    <td colspan="2" class="th5"><b>1. Basic Transaction Operation</b></td>
  </tr>  
  <tr>
    <td width="80">$sSPC $!preference.SysConfig.KeyNewTrans</td>
    <td>$!l10n.new_trans</td>
  </tr>
  <tr>
    <td>$sSPC $!preference.SysConfig.KeyOpenLookup</td>
    <td>$!l10n.find $!l10n.item_data</td>
  </tr>
  <tr>
    <td>$sSPC $!preference.SysConfig.KeyPaymentFocus</td>
    <td>$!l10n.payment_amount</td>
  </tr>
  <tr>
    <td>$sSPC $!preference.SysConfig.KeySaveTrans</td>
    <td>$!l10n.save_trans</td>
  </tr>
  <tr>
    <td>$sSPC $!preference.SysConfig.KeyPrintTrans</td>
    <td>$!l10n.print_trans</td>
  </tr>  
  <tr>
    <td>$sSPC $!preference.SysConfig.KeyFindTrans</td>
    <td>$!l10n.find_trans</td>
  </tr>
  <tr>
    <td>$sSPC F9</td>
    <td>$!l10n.open_drawer</td>
  </tr>    
  <tr>
    <td>$sSPC Esc</td>
    <td>Set Direct Add AUTO/MANUAL</td>
  </tr>
  <tr>
    <td>$sSPC Del </td>
    <td>Delete Detail, Fill Detail Line Number at Prompt</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>      
  <tr>
    <td colspan="2" class="th5"><b>2. Element Focus Movement</b></td>
  </tr>  
  <tr>
    <td width="80">$sSPC Alt + c</td>
    <td>Focus To $!l10n.item_code</td>
  </tr>
  <tr>
    <td>$sSPC Alt + n</td>
    <td>Focus To $!l10n.item_name</td>
  </tr>
  <tr>
    <td>$sSPC Alt + k</td>
    <td>Focus To $!l10n.item_desc</td>
  </tr>
  <tr>
    <td>$sSPC Alt + s</td>
    <td>Focus To $!l10n.status</td>
  </tr>
  <tr>
    <td>$sSPC Alt + r</td>
    <td>Focus To Remark</td>
  </tr>
  <tr>
    <td>$sSPC Alt + d</td>
    <td>Focus To $!l10n.discount</td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>     
  <tr>
    <td colspan="2" class="th5"><b>3. Utilities</b></td>
  </tr>    
  <tr>
    <td>$sSPC Alt + p</td>
    <td>$!l10n.price_checker</td>
  </tr>  
  <tr>
    <td>$sSPC Alt + t</td>
    <td>Calculator</td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>    
  <tr>
    <td colspan="2" class="th5"><b>4. Navigation</b></td>
  </tr>  
  <tr>
    <td width="80">$sSPC F10</td>
    <td>Home</td>
  </tr>
  <tr>
    <td>$sSPC Alt + F12</td>
    <td>Logout</td>
  </tr>
</table>
</body>