#set($op = $data.Parameters.getInt("op"))
#if($trans.InvoiceNo) #set($op = 4) #end
#set($ptype = $trans.PaymentTypeId)
#set($pterm = $trans.PaymentTermId)
#if(!$trans.PaymentTypeId) #set($ptype = $paymenttype.DefaultPaymentType.PaymentTypeId) #end
#if(!$trans.PaymentTermId) #set($pterm = $paymentterm.DefaultPaymentTerm.PaymentTermId) #end
#set($sLocationID = $USRLOC)
#set($oLocation = $location.getLocationByID($sLocationID))
#set($bAjax = true)
#set($bTouch = true)
#set($bVideo = false)
#set($sDetVM = "transaction,ajax,POSDetailTouch.vm")
#set($sBtmVM = "transaction,ajax,POSBottomTouch.vm")

#createSalesCommonJS("$!trans.SalesTransactionId" "$!trans.InvoiceNo" "document.frm.TransactionDate")
#parse("screens/js/SalesInvoiceJS.vm")
#parse("screens/js/POSAjaxJS.vm")

<form id="frm" name="frm" method="POST" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="op" value="$!op">
<input type="hidden" name="isPosTrans" value="true">
##<!-- TITLE SECTION -->
#set($sSPC = "&nbsp;&nbsp;&nbsp;&nbsp;")

<table class="mainTable" >
  <tr height="45">
    <td width="210"></td>
    <td>
      <div id="titleRow">        
        <span id="DateTime"></span>
        <script>startclock('$!cformat.formatCustomDateTime($dutil.TodayDate,"yyyy/MM/dd HH:mm:ss")');</script>
      
        ##$!l10n.date : $!cformat.formatDate($!dutil.getTodayDate())
        $sSPC
        #if(($sutil.isEmpty($trans.InvoiceNo)) && ($trans.Status != 3))
          <select name="Status" style="width:136px;">
            <option value="2" #if($trans.Status == 2) selected #end > $!l10n.processed </option>
            <option value="1" #if($trans.Status == 1) selected #end > $!l10n.pending   </option>
            <option value="3" #if($trans.Status == 3) selected #end > $!l10n.cancelled </option>
          </select>
        #else
          <input type="hidden" name="Status" value="$trans.Status">
          #if($trans.Status == 2)$!l10n.processed #end
          #if($trans.Status == 1)$!l10n.pending   #end
          #if($trans.Status == 3)$!l10n.cancelled #end
        #end

        #spc(2)         
        ##---------------------------------------------------------------------
        ##PAYMENT TYPE   
        ##---------------------------------------------------------------------
        #if($bEditable)        
        <input type="hidden" name="PrevPmtType" value="$!ptype">
        <select name="PaymentTypeId" style="width:100px;" 
          OnChange="changePayment();">
          #foreach ($oPT in $paymenttype.AllPaymentType)
          ###if(!$oPT.IsCoupon && !$oPT.IsVoucher && !$oPT.IsPointReward)
          <option value="$oPT.Id" #if($oPT.Id == $ptype) selected #end > $!oPT.Description </option>            
          ###end
          #end
        </select>      
        <input type="hidden" name="txtPaymentType" value="$!trans.PaymentType.Code">        
        <input type="hidden" name="PaymentTermId" value="$!pterm">
        
        #else
        <input type="hidden" name="PaymentTypeId" value="$!ptype">
        <input type="hidden" name="PaymentTermId" value="$!pterm">
        <input #stdin ("txtPaymentType" "$paymenttype.getPaymentTypeCodeByID($ptype)" 100 false) >        
        #end        
        
        #if($bEditable)
          #if($trans.isPromoByPaymentActive())
            #if($trans.isPTypeValidForDisc())
            <span class="fa-stack fa-lg">
              <i class="fa fa-credit-card  faicon"></i>
              <i class="fa fa-check-circle fa-stack-1x" style="color:#3a3"></i>
            </span>
            #else
            <span class="fa-stack fa-lg">
              <i class="fa fa-credit-card  faicon"></i>
              <i class="fa fa-minus-circle fa-stack-1x" style="color:#a33"></i>
            </span>
            #end
          #end          
          <span id="promoBtn" OnClick="viewActivePromo();" style="white-space:nowrap;padding-left:4px;padding-right:4px;">
            <i class="fa fa-search"></i> Promo 
          </span>
        #end       
        
        ##---------------------------------------------------------------------
        ##PAYMENT TYPE   
        ##---------------------------------------------------------------------
        ## #if($bEditable)
        ## <input #stdin ("txtAutoFlag" "" 80 false)
        ##   #if($!DirectAdd) value="AUTO" #else value="MANUAL" #end >
        ## #end      
      </div>      
    </td>
    <td>
      <div align="right">
        ##<!-- PRINT BUTTON -->
        #if($sutil.isNotEmpty($trans.InvoiceNo) && !$POST_ERROR && !$REFRESH)
          <input type="hidden" name="PrintTimes" value="$!trans.PrintTimes"/>
           <a href="#"  title="Print $!l10n.sales_invoice"
             #if(!$sutil.empty($sPrintJS)) OnClick="$!sPrintJS"  #else OnClick="printPOS();" #end >
            <i class="fa fa-print faicon"></i>                                    
          </a>&nbsp;
          #parse ("/print/btn/POSBtn.vm")
        #else
          #if($transDet.size() == 0)
          <a href="javascript:void(0);" OnClick="printOther(1);" title="Print As Text">
            <i class="fa fa-print faicon"></i>                                    
            ##<img src="${data.ContextPath}/images/btn_print_txt.gif"/>
          </a>&nbsp;          
          #end
        #end
      </div>
    </td>
  </tr>
</table>
##<!-- END TITLE SECTION -->


## TRANSACTION HEADER
<input type="hidden" name="TransactionDate">
<input type="hidden" name="LocationId" value="$oLocation.LocationId">
<input type="hidden" name="CashierName" value="$data.User.Name">
<input type="hidden" name="LastCreditLimit" value="">
<input type="hidden" name="ShipTo" value="">
<input type="hidden" name="TransactionId"  value="$!trans.SalesTransactionId">

<input type="hidden" name="IsTaxable"
  #if($trans.IsTaxable == true) value="true" #else value="false" #end >
<input type="hidden" name="IsInclusiveTax"
  #if($trans.IsInclusiveTax == true) value="true" #else value="false" #end >

#if($trans.CurrencyId)
  <input type="hidden" name="CurrencyId" value="$trans.CurrencyId">
  <input type="hidden" name="CurrencyRate" value="$trans.CurrencyRate">
#else
  #set($oDefaultCurrency = $currency.getDefaultCurrency())
  <input type="hidden" name="CurrencyId" value="$oDefaultCurrency.CurrencyId">
  <input type="hidden" name="CurrencyRate" value="1">
#end

<table class="stdTable" cellpadding="0">
  <tr>
    <td width="90">$!l10n.invoice_no</td>
    <td width="200">
      <input type="text" #width("200") name="InvoiceNo" value="$!trans.InvoiceNo" READONLY >
    </td>
    <td align="center" rowspan="3" style="max-width:50vw;white-space:normal;">
      #if($data.Message)
      <span class="txtMessage">$data.Message</span>      
      #end
    </td>
    <td rowspan="3" width="360" align="right">          
      #set($sTotal = "$!cformat.formatNumber($!trans.TotalAmount)")
      <input type="text" id="txtTotalAmount" value="Total : $sTotal"  READONLY >            
    </td>
  </tr>
  <tr>
    <td>$!l10n.customer</td>
    <td>
      #customerForm($trans.InvoiceNo $trans.CustomerId $trans.CustomerName "")
    </td>
  </tr>
  #if($preference.SalesUseSalesman)
  <tr>
    <td>$!l10n.salesman</td>
    <td>
      #employeeSB("SalesId" "$!trans.SalesId" true)
    </td>
  </tr>      
  #end  
  <input type="hidden" name="CustomerPoint" value="">  
  <input type="hidden" name="SalesId" value="">
  <input type="hidden" name="Remark" value="">
</table>
#tblbr(4)
## END TRANSACTION HEADER

## INPUT TRANSACTION
#if(($sutil.isEmpty($trans.InvoiceNo)) && ($trans.Status != 3))
<input type="hidden" name="DirectAdd" value="$!DirectAdd">
<input type="hidden" name="PendingQty" value="0">
<input type="hidden" name="CurrentQty">
<input type="hidden" name="ItemType">
<input type="hidden" name="InventoryType">
<input type="hidden" name="ItemId">
<input type="hidden" name="Description">
<input type="hidden" name="UnitCode">
<input type="hidden" name="DiscountId">
<input type="hidden" name="SubTotalTax">
<input type="hidden" name="SubTotalDisc">
<input type="hidden" name="ItemCost">
<input type="hidden" name="SubTotalCost">
<input type="hidden" name="OriginalDiscount">
<input type="hidden" name="ChangedManual" value="false">

<table class="stdTable">
  <tr class="th5" align="center">
    #set($headings2 = ["$!l10n.code","$!l10n.item_name", "$!l10n.qty", "$!l10n.unit", "$!l10n.price"])
    #foreach ($heading2 in $headings2)
    <td>$heading2</td>    
    #end
    <td><a href="javascript:addSpcDiscount();">$!l10n.discount</a></td>
    <td>$!l10n.tax</td>
    <td>$!l10n.sub_total</td>
    <td>&nbsp;</td>
  </tr>
  <tr style="height:29px;">
    <td width="150">
      <input #stdin ("ItemCode" "" 100 true) id="ItemCode"
        OnKeyUp="javascript:handleItemCodeKeypress(event);">
      <a href="#" OnClick="openItemLookUpWindow();" title="$!l10n.find $!l10n.item_data">
        <i class="fa fa-search faicon"></i>
      </a>  
    </td>
    <td width="250">
      <input #stdin ("ItemName" "" 250 true)
        OnKeyUp="javascript:handleSearchByNameKeypress(event);">
    </td>
    ##<td width="160">
    ##  <input #stdin ("Description" "" 160 true)
    ##    OnKeyUp="javascript:handleSearchByDescriptionKeypress(event);">
    ##</td>
    <td width="60">
      <input #stdin ("Qty" "" 60 true)
        OnChange="javascript:recalculate();"
        OnFocus="javascript:recalculate();"
        OnKeyPress="javascript:document.frm.TotalDiscountPct.value=0;handleCalculateKeypress(event);">
    </td>
    <td width="80">
      <input type="hidden" name="UnitBaseValue" value="1">
      <select name="UnitId" OnChange="changeUnit('')" OnClick="beforeChangeUnit('')" #width(80) >
        #foreach ($unt in $unit.getAllUnit())
          <option value="$unt.UnitId">
          $!unt.UnitCode
          </option>
        #end
      </select>
    </td>
    <td width="100">
      <input type="hidden" name="ItemPrice">
      <input #stdin ("TxtItemPrice" "" 80 true)
        OnKeyup="javascript:changePrice(event);"
        OnDblClick="askPassword('TxtItemPrice');">
      <input #stdin ("PL" "" 10 false) >
    </td>
    <td width="65">
      <input #stdin ("Discount" "" 65 $bAllowAlterDiscount)
        OnChange="javascript:recalculate();" #if(!$bAllowAlterDiscount) OnDblClick="askPassword('Discount');" #end
        OnKeyPress="javascript:document.frm.TotalDiscountPct.value=0;handleCalculateKeypress(event);">
    </td>
    <td width="80">
      <input type="hidden" name="TaxAmount" value="$!tax.getDefaultSalesTax().Amount">
      <select name="TaxId" onChange="changeTax('','')" #width(78) >
        #foreach ($oTax in $tax.getAllTax())
          <option value="$oTax.TaxId">
          $!oTax.TaxCode
          </option>
        #end
      </select>
    </td>
    <td width="100">
      <input #stdin ("SubTotal" "" 100 false)>
    </td>
    <td>
      <a href="#"  OnClick="javascript:addDetail();"
        OnFocus="javascript:recalculate();" title="$!l10n.add $!l10n.item_data">
        <i class="fa fa-plus-square-o faicon"></i>
      </a>      
    </td>
  </tr>
</table>
#tblbr(4)
#end
##<!-- END INPUT TRANSACTION -->

##<!-- TRANSACTION DETAIL -->
<table class="stdTable">
  <tr class="th5"  align="center">
    <td width="30px" >No               </td>
    <td width="120px">$!l10n.code      </td>
    <td width="250px">$!l10n.item_name </td>
    <td width="60px" >$!l10n.qty       </td>
    <td width="80px" >$!l10n.unit      </td>
    <td width="100px">$!l10n.price     </td>
    <td width="72px" >$!l10n.discount  </td>
    <td width="78px" >$!l10n.tax       </td>
    <td width="100px">$!l10n.sub_total </td>
    <td>&nbsp; </td>
  </tr>
</table>  

#set($bAll = true)
<div id="detailTableDiv">
#parse("screens/transaction/ajax/POSDetailTouch.vm")
</div>

##BOTTOM PAYMENT DIV
<div id="bottomPaymentDiv">
#parse("screens/transaction/ajax/POSBottomTouch.vm")
</div>##bottomPaymentDiv
</form>
##Set layout template in the bottom to prevent conflict with setLayout in POSBottomTouch
#set($bShowCompany=false)
$data.setLayoutTemplate("/POSLayout.vm")

#if($data.Message)
  #set($invmsg = $butil.getInstance("com.ssti.enterprise.pos.tools.InvoiceMessageTool"))          
  #set($msg = $invmsg.getMessage($dutil.TodayDate,"","",$conn))
  #if($msg && $sutil.isNotEmpty($msg.Contents))
  <script>alert('$!sutil.cleanForJS($!msg.Contents)');</script>
  #end
#end

