#set($title = "$!l10n.purchase_receipt" )

$data.setLayoutTemplate("/PopupWindow.vm")
<script>
function addPR(i, iCounterPR)
{
    eval('document.frm.PurchaseReceiptId' + i + '.checked = true');
    setPR(iCounterPR);
}
function setPR(iCounterPR) 
{    
    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';    

    for(i = 1; i <= iCounterPR; i++)
    {
        if(eval('document.frm.PurchaseReceiptId' + i + '.checked'))
        {
            sPRID = eval("document.frm.PurchaseReceiptId" + i + ".value");
            frm.PrId.value = sPRID;            
            frm.op.value = 1;         
            frm.ItemCode.focus();         
            frm.submit();                
        }
        window.close();
    }
}   
function displayPODetail(sRequestPOID)
{
    var f = document.frm;
    f.DisplayPRId.value = '';
    if(f.DisplayPOId.value == sRequestPOID) {
        f.DisplayPOId.value = '';
    }
    else {
        f.DisplayPOId.value = sRequestPOID;
    }
    f.submit();
}
function displayPRDetail(sRequestPRID)
{
    var f = document.frm;
    f.DisplayPOId.value = '';
    if(f.DisplayPRId.value == sRequestPRID) {
        f.DisplayPRId.value = '';
    }
    else {
        f.DisplayPRId.value = sRequestPRID;
    }
    f.submit();
}
function checkAll() 
{   

}
jQuery(document).ready(function(){   
    jQuery('.cb').on('click', function(){
        jQuery('.cb').not(jQuery(this)).prop('checked',false);        
    });
});
</script>

#set($sVendorID   = $!data.Parameters.getString("VendorId"))
#set($sVendorName = $!data.Parameters.getString("VendorName"))
#set($sTrans   = $!data.Parameters.getString("Trans"))
#set($sCurrID  = $!data.Parameters.getString("CurrencyId"))
#set($sLocID   = $!data.Parameters.getString("LocationId"))

<span class="txtTitle4">
$!l10n.purchase_receipt, $!l10n.vendor : $!sVendorName, #spc(2)
$!l10n.currency : $!currency.getCodeByID($!sCurrID)  
#if($sutil.isNotEmpty($sLocID) && $location.AllLocation.size() > 2)
, #spc(2) $!l10n.location : $!location.getLocationByID($sLocID).Name
#set($OpenPR = $butil.filterListByFieldValue($OpenPR,"locationId",$sLocID))
#end 

</span>

<form name="frm" method="post" 
    action="$link.setPage($data.ScreenTemplate)">
        
<input type="hidden" name="VendorId"   value="$!sVendorID">
<input type="hidden" name="VendorName" value="$!sVendorName">
<input type="hidden" name="Trans"      value="$!sTrans">
<input type="hidden" name="CurrencyId" value="$!sCurrID">
<input type="hidden" name="LocationId" value="$!sLocID">
    
<input type="hidden" name="DisplayPOId" value="$!data.Parameters.getString("DisplayPOId")">
<input type="hidden" name="DisplayPRId" value="$!data.Parameters.getString("DisplayPRId")">
<input type="hidden" name="amt" value="$!amt">

#set($no = 1)
#set($row = 1)
#set($amt = $OpenPR.size())
<table class="altRowTable">
  <tr>        
    <td class="th2">
    ##<input type="checkbox" class="cb" name="checkToggle" OnClick="checkAll($!amt);"></td>
    #if($useMultiCurrency)
        #set($headings = ["PR No", "PO No", "$!l10n.trans_date", "$!l10n.description", "$!l10n.curr", "<center>$!l10n.total_qty"] )
    #else                                                          
        #set($headings = ["PR No", "PO No", "$!l10n.trans_date", "$!l10n.description", "<center>$!l10n.total_qty"] )
    #end
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
  #foreach ($pr in $OpenPR)
  <tr>
    <td>
      <input type="checkbox" class="cb" name="PurchaseReceiptId${no}" value="$!pr.PurchaseReceiptId" >
      <input type="hidden" name="CurrencyId${no}" value="$!pr.CurrencyId" >
      <input type="hidden" name="CurrencyRate${no}" value="$!pr.CurrencyRate" >
    </td>
    <td>
      #if($pr.PurchaseReceiptId  == $data.Parameters.getString("DisplayPRId"))<b>#end
      <a href="javascript:displayPRDetail('$!pr.PurchaseReceiptId');" title="$!l10n.view PR">
      $!pr.ReceiptNo #spc(1) <i class="fa fa-search"></i>
      </a>
      #if($pr.PurchaseReceiptId  == $data.Parameters.getString("DisplayPRId"))</b>#end
      <a href="#" OnClick="addPR($no,$amt)" title="$!l10n.add PR">
        #spc(2)<i class="fa fa-plus-square"></i>
      </a>          
    </td>
    <td>
      #if($pr.PurchaseOrderId == $data.Parameters.getString("DisplayPOId"))<b>#end
      <a href="javascript:displayPODetail('$!pr.PurchaseOrderId');" title="$!l10n.view PO">
      $!purchaseorder.getPONoByID($!pr.PurchaseOrderId)
      </a>
      #if($pr.PurchaseOrderId == $data.Parameters.getString("DisplayPOId"))</b>#end
    </td>
    <td>$!cformat.formatDateTime($!pr.ReceiptDate)</td>      
    <td>
      <input type="text" class="text2" value="$!pr.Remark" #width(180) READONLY 
       onmouseover="tooltip('$!sutil.tooltip($!pr.Remark)');" onmouseout="exit();" >                
    </td>  
    #if($useMultiCurrency)
      #if($!pr.CurrencyId != "" && $!pr.CurrencyId)
        <td>$currency.getCodeByID($!pr.CurrencyId)</td>
      #else
        <td></td>
      #end
    #end    
    <td align="right">$!cformat.formatNumber($!pr.TotalQty)</td>
  </tr>
      
  #if($pr.PurchaseOrderId == $data.Parameters.getString("DisplayPOId") && $PODetails.size() >0) 
  <tr>
    <td></td>
    <td colspan="5" align="right">
      <table class="stdTable">
        <tr>
          <td width="10" >No</td>
          <td >$!l10n.code</td>
          <td >$!l10n.item_name</td>
          <td ><center>$!l10n.qty </td>
          <td ><center>$!l10n.unit </td>
          <td ><center>$!l10n.sub_total </td>
          <td ><center>$!l10n.received_qty</td>
        </tr>
        #set($Counterno = 1)
        #foreach ($pod in $PODetails)
        <tr>
          <td>$Counterno               </td>
          <td>$!pod.ItemCode           </td>
          <td>$!pod.ItemName           </td>
          <td align="right" >$!cformat.formatAligned($!pod.Qty)</td>
          <td>$!pod.UnitCode           </td>
          <td align="right">$!cformat.formatAligned($!pod.SubTotal)</td>
          <td align="right">$!cformat.formatAligned($!pod.ReceivedQty)</td>
        </tr>
        #set($Counterno = $Counterno+1)
        #end
      </table>
    </td>             
  </tr>
  #end 
  <!-- PO DETAIL END-->
        
  <!-- PR DETAIL -->
  #if($pr.PurchaseReceiptId == $data.Parameters.getString("DisplayPRId")) 
  <tr>
    <td></td>
    <td colspan="5" align="right">
      <table class="stdTable">
        <!-- TRANSACTION DETAIL TABLES-->
        <tr bgcolor="#DDDDDD">
          <td width="10"  >No</td>
          <td >$!l10n.code</td>
          <td >$!l10n.item_name</td>
          <td ><center>$!l10n.qty </td>
          <td ><center>$!l10n.unit</td>
        </tr>
        #set($Counterno=1)
        #foreach ($prd in $PRDetails)
        <tr bgcolor="#FFFFFF">
          <td>$Counterno</td>
          <td>$!prd.ItemCode </td>
          <td>$!prd.ItemName  </td>
          <td width="100" align="right" >$!cformat.formatAligned($!prd.Qty)</td>
          <td>$!prd.UnitCode </td>
        </tr>
        #set($Counterno = $Counterno + 1)
        #end
      </table>
    </td>             
  </tr>
  #end 
  ##<!-- PR DETAIL END-->  
  #set($no = $no + 1)
  #end
</table>
#if($no > 1)
<br>
<input type="button" name="button"  value=" $!l10n.add $!l10n.purchase_receipt " 
    OnClick="setPR('$amt','$data.Parameters.getString("VendorId")');">
#end
</form>
