$data.setLayoutTemplate("/PopupWindow.vm")
#set($sVendorID = $data.Parameters.getString("VendorId"))
#set($iRetFrom = $data.Parameters.getInt("ReturnFrom"))
#set($limit = $data.Parameters.getInt("ViewLimit",25))
#set($pageParam = "&VendorId=${sVendorID}&ReturnFrom=$iRetFrom&ViewLimit=$limit")

<script>
function findTrans()
{
    var url = sSCR + '?op=first&VendorId=$!sVendorID&ReturnFrom=$!iRetFrom&TransactionNo=' +  encodeURI(jQuery('#TransNo').val()) ;
    document.location.href=url;
}
function setPR(_sTransID)
{
    var url = sTPL + 'transaction,PurchaseReturnTransaction.vm?op=2' +
        '&ReturnFrom=$!iRetFrom&TransID=' + _sTransID;

    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if(frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';

    if(wnd)
    {
        wnd.document.location.href = url;
        wnd.jQuery.modal.close();
    }    
    window.close();
}
</script>

#if($sutil.isNotEmpty($sTransID)) ##if only one record exists
<script>
jQuery(document).ready(function(){
    setPR('$!sTransID');
});
</script>
#else ## no sTransID display list
<span class="txtTitle4">
#if($iRetFrom == 1) $!l10n.purchase_receipt #else $!l10n.purchase_invoice #end
, $!l10n.vendor : $!vendor.getVendorNameByID($sVendorID)
</span>
<br>

#largeSelectNavBar("transaction,PurchaseReturnTransLookup.vm" $pageParam)
#if($iRetFrom == 1)
<table class="stdTable">
  <tr>
    <td colspan="10">$!l10n.trans_no : <input type="text" name="TransactionNo" id="TransNo">
      <input type="button" name="find" value="$!l10n.find_trans" OnClick="findTrans();">    
    </td>
  </tr>
  <tr>
    #set($headings = ["No", "$!l10n.trans_no", "$!l10n.vendor","$!l10n.trans_date", "$!l10n.status", "$!l10n.total_qty"])
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
  #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 )
  #foreach ($oPR in $vPR)
  <tr>
    <td>$no</td>
    <td>
      <a href="javascript:setPR('$!oPR.PurchaseReceiptId');">
      $!oPR.ReceiptNo
      </a>
    </td>
    <td>$!vendor.getVendorNameByID($!oPR.VendorId)</td>
    <td>$!cformat.formatDate($!oPR.ReceiptDate)</td>
    <td>$!purchasereceipt.getStatusString($!oPR.Status)</td>
    <td align="right">$!cformat.formatNumber($!oPR.TotalQty) </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>

#elseif ($iRetFrom == 2)
<table class="stdTable">
  <tr>
    <td colspan="10">$!l10n.trans_no : <input type="text" name="TransactionNo" id="TransNo">
      <input type="button" name="find" value="$!l10n.find_trans" OnClick="findTrans();">    
    </td>
  </tr>
  <tr>
    #set($headings = ["No", "$!l10n.trans_no", "$!l10n.vendor","$!l10n.trans_date", "$!l10n.status", "$!l10n.total_qty", "$!l10n.total_amount"])
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
  #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 )
  #foreach ($oPI in $vPI)
  <tr>
    <td>$no</td>
    <td>
      <a href="javascript:setPR('$!oPI.PurchaseInvoiceId');">
      $!oPI.PurchaseInvoiceNo
      </a>
    </td>
    <td>$!vendor.getVendorNameByID($!oPI.VendorId)</td>
    <td>$!cformat.formatDate($!oPI.PurchaseInvoiceDate)</td>
    <td>$!purchaseinvoice.getStatusString($!oPI.Status)</td>
    <td align="right">$!cformat.formatNumber($!oPI.TotalQty) </td>
    <td align="right">$!cformat.formatNumber($!oPI.TotalAmount) </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
#end

#end ##end if sTransID
