#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#set($transType = $data.Parameters.getString("transType","so"))
#set($transTpl = $data.Parameters.getString("transTpl",""))
#if($fromTrans) ##is popup
$data.setLayoutTemplate("/PopupWindow.vm")
#set($tplName = "transaction,SalesOrderTransaction.vm")
<script>
#if($transType == "po")
function copyTrans(_sid) 
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';    
    //frm.action = '$!link.setPage($transTpl)';
    frm.SoId.value = _sid;
    frm.op.value = 10;
    frm.submit();
    window.close();
}           
#else
function copyTrans(_sid) 
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';    
    frm.action = '$!link.setPage($tplName)';
    frm.SoId.value = _sid;
    frm.op.value = 6;
    frm.submit();
    window.close();
}           
#end ##end if transType
</script>
#end ##end if fromTrans

#set($headings = ["No","$!l10n.so_no","$!l10n.trans_date","$!l10n.customer","$!l10n.description","$!l10n.create_by","$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount", "&nbsp;"] )
#set($fields = ["","salesOrderNo","transactionDate","customerName","remark","createBy","transactionStatus","totalQty","totalAmount",""] )
#set($title = "$!l10n.sales_order" )

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($limit  = $data.Parameters.getInt("ViewLimit", 50))
#set($status = $data.Parameters.getInt("Status"))
#set($customerid = $data.Parameters.getString("CustomerId", ""))              
#set($locid = $data.Parameters.getString("LocationId", ""))              
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&Status=${status}&LocationId=$!{locid}")
#set($pageParam = "$!{pageParam}&CustomerId=${customerid}&StartDate=${start}&EndDate=${end}&fromTrans=${fromTrans}&transType=${transType}")

<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<script>
function exportExcel () 
{
    var sURL = '${data.ContextPath}/excel/TRXSalesOrder.xls?helper_class=com.ssti.enterprise.pos.excel.helper.transaction.SalesOrderHelper${pageParam}' ;
    var excelWnd = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();                                                     
}
</script>

<form name="frm" method="post" OnSubmit="loading();" 
    action="$link.setPage($data.ScreenTemplate).setAction("transaction.SalesOrderAction")?op=next">
<input type="hidden" value="$fromTrans" name="fromTrans">
<input type="hidden" value="$transType" name="transType">
<input type="hidden" value="$!flux.Mode" name="mode">

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    #if($sutil.isNotEmpty($start) && $sutil.isNotEmpty($end))
    <td align="right">
      <a href="javascript:void(0)" OnClick="exportExcel()" title="Export $title">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
      </a>            
    </td>
    #end           
  </tr>
</table>
<table class="searchTable">
  <tr>
   <td>$!l10n.customer_name : </td>
    <td colspan="3">
      #custSB ($customerid "" "" "")
    </td>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid) 
    </td>               
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!salesorder.conditionSB($cond)</td>   
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) 
    </td>
    <td>$!l10n.status : </td>
    <td>
      <select name="Status">                                         
        <option value="-1"#if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        <option value="4" #if($status == 4) SELECTED #end >$!salesorder.getStatusString(4)</option>
        <option value="1" #if($status == 1) SELECTED #end >$!salesorder.getStatusString(1)</option>
        <option value="2" #if($status == 2) SELECTED #end >$!salesorder.getStatusString(2)</option>
        <option value="3" #if($status == 3) SELECTED #end >$!salesorder.getStatusString(3)</option>
        <option value="5" #if($status == 5) SELECTED #end >$!salesorder.getStatusString(5)</option>
        <option value="99" #if($status == 99) SELECTED #end >$!l10n.ordered / $!l10n.delivered</option>        
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key" Onkeypress="handleSubmit(event);">
    </td>                   
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true)   
     </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$limit">
      &nbsp;&nbsp;            
      <input type="button" value="$!l10n.search" OnClick="document.frm.submit();">
    </td>             
  </tr>   
  </table>
</form>
##<!-- END SEARCH SECTION -->
    
#if($SalesOrders)
$data.User.setTemp("soViewParam", $pageParam)
$data.User.setTemp("sopage", $LargeData.CurrentPageNumber)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">
<table class="altRowTable">
  #set($FORMNAME="frm2")
  #sortableHeader ($headings $fields "th2" "sort2" true) 

  #set($no = 1)
  #set($amt = $SalesOrders.size())
  #foreach ($so in $sortingtool.sort($SalesOrders,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>            
      #if($fromTrans)
        <a href="javascript:copyTrans('$!so.SalesOrderId')"> 
        #if($sutil.isNotEmpty($!so.SalesOrderNo))
          $!so.SalesOrderNo 
        #else
          Copy
        #end
        </a>
        #else
        $!so.SalesOrderNo             
      #end            
    </td>
    <td>$!cformat.formatDateTime($!so.TransactionDate)</td>
    <td>$!so.CustomerName</td>
    <td>
      <input type="text" class="text2" value="$!so.Remark" #width(180) READONLY 
      onmouseover="tooltip('$!sutil.tooltip($!so.Remark)');" onmouseout="exit();">                
    </td>
    <td>
      <input type="text" class="text2" value="$!so.CreateBy / $!so.ConfirmBy" #width(120) READONLY 
      onmouseover="tooltip('$!sutil.tooltip("$!so.CreateBy / $!so.ConfirmBy")');" onmouseout="exit();">
    </td>
    <td>$!salesorder.getStatusString($!so.TransactionStatus)</td>
    <td align="right">$!cformat.formatAligned($!so.TotalQty)   &nbsp;&nbsp;</td>
    <td align="right">$!cformat.formatAligned($!so.TotalAmount)&nbsp;&nbsp;</td>
    <td>
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,SalesOrderTransaction.vm" "?op=4&id=$!so.SalesOrderId" $!l10n.view "" "View Sales Order")
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
</form>       
#end ##end if     
#if(!$fromTrans) 
#set($aclPerm = $data.ACL.Permissions)
#set($bSO = $aclPerm.containsName("Create Sales Order"))
#set($bPO = $aclPerm.containsName("Create Purchase Order"))
#set($bRQ = $aclPerm.containsName("Create Item Request"))

<ul class="btmLinkNav">
#btmLinkMenu("transaction,SalesOrderTransaction.vm" "?op=3" "$!l10n.new_trans" "")
#if($preference.allowTransImport() && $bSO)
#btmLinkMenu("transaction,loader,ImportSOData.vm" "" "$!l10n.import $!title" "")
#end
#if($bPO || $bRQ)
#btmLinkMenu("transaction,SalesOrderToPO.vm" "" "$!l10n.create PO/RQ" "fa-plus-square-o"  )
#end                
#btmLinkMenu("report,sales,UncompleteSalesOrder.vm" "" "Uncomplete SO" "fa-file-text-o"  )
</ul>

#end
