#set($title = "$!l10n.sales_invoice (Update Field)")
#set($printable = $data.Parameters.getBoolean("printable"))
#set($excel = $data.Parameters.getBoolean("excel"))
#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans)
  $data.setLayoutTemplate("/PopupWindow.vm")
#end
#if($printable)  
  #set($title = "$!l10n.sales_invoice") ##set printable title here
  $data.setLayoutTemplate("/Printable.vm")
#end

#set($tplName = $data.Parameters.getString("tplName",""))
      
#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords",""))
#set($limit  = $data.Parameters.getInt("ViewLimit",50))
#set($status = $data.Parameters.getInt("Status",2))
#set($paystatus = $data.Parameters.getInt("PaymentStatus"))
#set($custid = $data.Parameters.getString("CustomerID",""))              
#set($locid = $data.Parameters.getString("LocationID","$!USRLOC"))            
#set($start = $data.Parameters.getString("StartDate",""))
#set($end = $data.Parameters.getString("EndDate",""))
#set($field = $data.Parameters.getString("Field",""))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&LocationId=${locid}")
#set($pageParam = "${pageParam}&Status=${status}&PaymentStatus=${paystatus}&CustomerId=${custid}&Field=$!{field}")
#set($pageParam = "${pageParam}&StartDate=${start}&EndDate=${end}&tplName=$!{tplName}&fromTrans=$!{fromTrans}")
#set($pageParam = "${pageParam}&op=page&page=$!LargeData.getCurrentPageNumber()")
#reportPrintJS()

#set($headings = ["No","$!l10n.invoice_no","$!l10n.trans_date","$!l10n.customer","$!l10n.status","$!l10n.total_qty","$!l10n.total_amount","$!field"] )
#set($fields = ["","invoiceNo","transactionDate","customerName","status","totalQty","totalAmount","$!field"] )
#if($field != "remark")
#set($x = $!headings.add("$!l10n.description"))
#set($x = $!fields.add("remark"))
#end

#if(!$printable)
<script>
function updateSI() 
{
    var sField = document.frm.Field.value;      
    var sURL = '$link.setPage($data.ScreenTemplate)?update=1&op=page&page=$LargeData.CurrentPageNumber&field=' + sField + '$!pageParam';
    document.frm2.action = sURL;
    document.frm2.submit();
}
</script>
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
#end ##end if !printable

##<!-- TITLE SECTION -->
<table class="fixTable"> 
  <tr>
    <td colspan="10"><span class="txtTitle2">$title </span><br></td>      
    #reportPrintBtn()
  </tr>
</table>
##<!-- SEARCH -->      
<form name="frm" method="post"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.SalesTransactionAction")?op=next">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
#if(!$printable)
<table class="searchTable">
  <tr>
    <td>$!l10n.customer : </td>
    <td colspan="3">
      #custSB ($custid "" "" "")
    </td>
    <td>Field : </td>
    <td>
      <select name="Field" #width(80)>
        <option value="deliveryDate"  #if($field == "deliveryDate")  SELECTED #end >Delivery Date</option>
        <option value="remark"  #if($field == "remark")  SELECTED #end >$!l10n.description</option>
      </select>
    </td>
    <td>
      $!l10n.status :
    </td>
    <td colspan="2">
      <select name="Status" #width(100)>
        <option value="-1" #if($status == -1) SELECTED #end >-- $!l10n.status -- </option>
        <option value="2"  #if($status == 2)  SELECTED #end >$!l10n.processed    </option>
        <option value="1"  #if($status == 1)  SELECTED #end >$!l10n.pending      </option>
        <option value="3"  #if($status == 3)  SELECTED #end >$!l10n.cancelled    </option>
      </select>   
    </td>               
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!salestransaction.conditionSB($cond)</td>
    <td>
      $!l10n.cashier :
    </td>
    <td>
    #if(!$data.ACL.Roles.containsName("Cashier") || $ACCLOC)
      <select name="CashierName" #width("")>                   
        <option value="">-- $!l10n.cashier --</option>
        #set($Employees = $employee.getEmployeeByLocationID($USRLOC))
        #set($sCashierName = $data.Parameters.getString("CashierName",""))
        #foreach ($sales in $Employees)
        <option value="$!sales.UserName" 
          #if($sutil.isNotEmpty($sCashierName) && $sCashierName.equals($sales.UserName)) SELECTED #end >
          $!sales.EmployeeName ($!location.getLocationCodeByID($!sales.LocationId))
        </option>
        #end
      </select>
    #else
      $data.User.Name
      <input type="hidden" name="CashierName" value="$!data.User.Name">
    #end
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) #spc(1)
    </td>          
    <td>$!l10n.payment : </td>
    <td colspan="2">
      <select name="PaymentStatus" #width(100)>
        <option value="-1"#if($paystatus == -1) SELECTED #end >-- $!l10n.payment --</option>
        <option value="1" #if($paystatus == 1)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(1)</option>
        <option value="2" #if($paystatus == 2)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(2)</option>
      </select>
    </td>
  </tr>   
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width("") name="Keywords" value="$!key" Onkeypress="handleSubmit(event);">
    </td>                       
    <td>$!l10n.location : </td>
    <td>
      #locationSB($locid)
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true) #spc(1)
    </td>
    <td>$!l10n.view_limit :</td>
    <td><input type="text" #width(50) name="ViewLimit" value="$limit"></td>                 
    <td>                  
      <input type="button" value="$!l10n.search" name="eventSubmit_doFind" OnClick="document.frm.submit();">
    </td>               
  </tr>
</table>
</form>
#end
##<!-- END SEARCH SECTION -->

#if($Invoices)
#if(!$excel)
#largeSelectNavBar($data.ScreenTemplate $pageParam) 
#end
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!{LargeData.CurrentPageNumber}$!{pageParam}">
<table #if($printable) class="stdTable" #else class="altRowTable" #end >
  #set($FORMNAME="frm2")
  #if(!$printable)
  #sortableHeader($headings $fields "th2" "sort2" true) 		  
  #else
    <tr class="th4">
    #foreach($hdg in $headings)
    <td>$hdg</td>
    #end
    </tr>
  #end
  #set($no = (($LargeData.CurrentPageNumber - 1) * $limit) + 1 )                
  #foreach($inv in $sortingtool.sort($Invoices,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>$!inv.InvoiceNo</td>
    <td>$!cformat.formatDate($!inv.TransactionDate)</td>
    <td>
      #if($printable)  
      $!inv.CustomerName
      #else
      <input type="text" class="text2" value="$!inv.CustomerName" #width("") READONLY > 		  
      #end
    </td>	
    <td>$!inv.StatusStr</td>
    <td align="right">$!cformat.formatAligned($!inv.TotalQty)    </td>		                
    <td align="right">$!cformat.formatAligned($!inv.TotalAmount) </td>		 
    <td align="right">      
      #if($printable)                                                                                         
        $!cformat.fmt($!butil.invokeGetter($inv,$!field))
      #else
        #set($colwid = "")
        #if($field.contains("Date"))
        #set($colwid = "80")
        #end
        <input type="text" name="Field$no" #width($colwid) value="$!cformat.fmt($!butil.invokeGetter($inv,$!field))">
        #if($field.contains("Date"))
        #calf ("frm2" "Field$no" true)
        #end ##end
      #end ##end printable
    </td>
    #if($field != "remark")
    <td>
      #if($printable)  
      $!inv.Remark
      #else
      <input type="text" class="text2" value="$!inv.Remark" #width("") READONLY 
	   onmouseover="tooltip('$!sutil.tooltip($!inv.Remark)');" onmouseout="exit();">                
      #end
    </td>
    #end ##end if fields != remark		      
  </tr>
  #set($no = $no + 1)
  #end
  #line($headings.size())
</table>
#if(!$printable && $data.ACL.Permissions.containsName("Create Sales Invoice"))
<input type="button" value="Update $!l10n.sales_invoice" OnClick="updateSI();">     
#end ##end if not printable
#end ##end if Invoices
</form>
#if(!$fromTrans && !$printable)
<ul class="btmLinkNav">
#btmLinkMenu("transaction,$!preference.InvoiceScreen" "?op=3" "$!l10n.new_trans" "")
</ul>
#end

#if($printable)  
<br>
#set($sOther = "Delivered By")
#set($sExternal = "$!l10n.customer")
#parse("print/footers/FooterHTML.vm")
#end
