#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans)
$data.setLayoutTemplate("/PopupWindow.vm")
#else
$data.setLayoutTemplate("/Transaction.vm")
#end
#set($op = $data.Parameters.getInt("Op"))
#set($ttype = $data.Parameters.getInt("TransType"))
#set($field = $data.Parameters.getString("FieldName"))
#set($trno = $data.Parameters.getString("TransNo"))
#set($title = "Transaction Editor ")
#set($bEditable = true)
#if($sutil.isNotEmpty($trEdit.TransEditId))
#set($bEditable = false)
#end
<script>
function initPage() 
{
    
}
function setField() 
{   
    var f = document.frm;
    f.op.value = 1;
    f.submit();
}
function findTrans(ev) 
{   
    var f = document.frm;
    if(getKey(ev) == 13)
    {
        f.op.value = 2;
        f.submit();
    }
}
function saveEdit() 
{   
    if (confirm('Edit Trans?'))
    {
        var f = document.frm;
        f.op.value = 5;
        f.submit();
    }
}
function newTrans()
{
    var f = document.frm;
    f.op.value = 3;
    f.submit();
}
function viewTrans()
{
    document.location.href='$link.setPage("transaction,TransactionEditorView.vm")';
}
function validate() 
{   
}
</script>

<form method="post" name="frm" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")">
<input type="hidden" name="op" value="">
<input type="hidden" name="save" value="">
<input type="hidden" name="fromTrans" value="$fromTrans">
<table width="98%" cellspacing="0" cellpadding="2" border="0"> 
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
    </td>
  </tr>
  <tr>
    <td>
      #if($data.Message)                  
      <span class="txtMessage">$data.Message</span>
      #end        
    </td>
  </tr>
</table>

#if($trEdit.Trans)
#set($trno = $tedit.NoField.get($trEdit.TransType))        
#set($x = $trEdit.setTransId($trEdit.Trans.PrimaryKey.toString()))
#set($x = $trEdit.setTransNo($butil.invokeGetter($trEdit.Trans,$trno)))
#set($x = $trEdit.setOldValue($butil.invokeGetter($trEdit.Trans,$trEdit.FieldName)))
#if($sutil.isEmpty($trEdit.NewValue))
#set($x = $trEdit.setNewValue($trEdit.OldValue))
#end ##end if 
#end ##end if TRANS

##<pre>
##$trEdit
##$trEdit.Trans
##</pre>
<table class="stdTable" >            
  <tr>
    <td width="12%">Transaction</td>
    <td width="48%">    
      #if($fromTrans)
        #foreach($i in $tedit.Trans.keySet())        
        #if($i == $trEdit.TransType) $tedit.Trans.get($i) #end     
        #end 
      #else  
      <select name="TransType" OnChange="setField();" #width(200) #if(!$bEditable) DISABLED #end >
        <option value="">-- $!l10n.trans_type --</option>        
        #foreach($i in $tedit.Trans.keySet())        
        <option value="$i" #if($i == $trEdit.TransType) SELECTED #end >$tedit.Trans.get($i)</option>                
        #end
      </select>
      #end
    </td>                                
  </tr>  
  <tr>
    <td>Field</td>
    <td>
      #if($fromTrans)
        #foreach($fld in $tedit.Field.get($trEdit.TransType))         
        #if($fld == $trEdit.FieldName) $fld #end       
        #end
      #else  
        <select name="FieldName" OnChange="setField();" #width(200) #if(!$bEditable) DISABLED #end >
          <option value="">-- Field Name --</option>
          #foreach($fld in $tedit.Field.get($trEdit.TransType))        
          <option value="$fld" #if($fld == $trEdit.FieldName) SELECTED #end >$fld</option>                
          #end
        </select>
      #end
    </td>
  </tr>
  <tr>
    <td>$!l10n.trans_no</td>
    <td>
      #if($fromTrans)
        $!trEdit.TransNo
      #else      
      <input type="text" name="TransNo" value="$!trEdit.TransNo" #width(200)
        OnKeypress="findTrans(event);" #if(!$bEditable) READONLY #end >
      #end
    </td>                                
  </tr>
  <tr>
    <td>Old Value</td>
    <td>
      #if($sutil.isMultiLine($trEdit.OldValue))
      <textarea rows="5" cols="50" DISABLED >$!trEdit.OldValue</textarea>      
      #else
      <input type="text" name="OldValue" value="$!trEdit.OldValue" #width(200) READONLY >
      #end
    </td>
  </tr>
  <tr>
    <td>New Value</td>
    <td>
      #if($sutil.isMultiLine($trEdit.OldValue))
      <textarea rows="5" cols="50" name="NewValue" #if(!$bEditable) DISABLED #end>$!trEdit.NewValue</textarea>      
      #else
      <input type="text" name="NewValue" value="$!trEdit.NewValue" #width(200) #if(!$bEditable) READONLY #end>
      #end
    </td>
  </tr>
  #if($trEdit.Trans)
  #if(!$bEditable)
  <tr>
    <td>$!l10n.user_name / $!l10n.date</td>
    <td>
      <input type="text" value="$!trEdit.UserName" #width(100) READONLY >/
      <input type="text" value="$!cformat.fmt($!$!trEdit.EditDate)" #width(95) READONLY >
    </td>
  </tr>
  #end
  <tr>
    <td></td>
    <td>
      #if($bEditable)
      <input type="button" value="$!l10n.save_trans" OnClick="javascript:saveEdit();">
      #end
    </td>
  </tr>
  #end
  #if(!$fromTrans)
  <tr>
    <td colspan="2" align="right">
      <input type="button" value="$!l10n.new_trans" OnClick="javascript:newTrans();">      
      <input type="button" value="$!l10n.find_trans" OnClick="javascript:viewTrans();">      
    </td>
  </tr>
  #end
</table>
</form>
