<!doctype html>
<html>
<head>
<title>
#if($sutil.isNotEmpty($title)) $!title #else Retailsoft Store #end [$!preference.getCurrentDatabase()]
#set($lst = $!cf.formatCustomDate($dutil.TodayDate,"yyMMddHHmmss"))
</title>
##<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->

##  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
##  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
##  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
##

<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content="Retailsoft Mobile Login Page">

##<link id="touch-icon" rel="apple-touch-icon-precomposed" href="//touch.licdn.com/e432bd/images/apple-touch-icon.png">
##<link rel="apple-touch-startup-image" href="//touch.licdn.com/e432bd/images/apple-startup-image.png">
##<link rel="shortcut icon" type="image/ico" href="//touch.licdn.com/e432bd/favicon.ico">
<link rel="stylesheet" href="${data.ContextPath}/javascript/modules/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="${data.ContextPath}/css/font-awesome/css/font-awesome.min.css" />

##<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700%7CDancing+Script%7CMontserrat:400,700%7CMerriweather:400,300italic%7CLato:400,700,900' />
<link rel="stylesheet" href="${data.ContextPath}/css/mango-themes/idangerous.swiper.css"  />
<link rel="stylesheet" href="${data.ContextPath}/css/mango-themes/style.css"  />
<link rel="shortcut icon" href="$!data.ContextPath/images/favicon.ico" />

<script src="$!{data.ContextPath}/javascript/jquery.min.js"></script>
</head>

<script>
var sCTX = '$!{data.ContextPath}';
var sTPL = sCTX + '/weblayer/template/';
var sSCR = sTPL + '$!{data.ScreenTemplate}';  
</script>

<body class="style-10">
<script>
  ## window.fbAsyncInit = function() {
  ##   FB.init({
  ##     appId      : '112335936589',
  ##     xfbml      : true,
  ##     version    : 'v2.7'
  ##   });
  ## };
  ## 
  ## (function(d, s, id){
  ##    var js, fjs = d.getElementsByTagName(s)[0];
  ##    if (d.getElementById(id)) {return;}
  ##    js = d.createElement(s); js.id = id;
  ##    js.src = "//connect.facebook.net/en_US/sdk.js";
  ##    fjs.parentNode.insertBefore(js, fjs);
  ##  }(document, 'script', 'facebook-jssdk'));
   
</script>

<!-- LOADER -->
<div id="loader-wrapper">
    <div class="bubbles">
        <div class="title">loading</div>
        <span></span>
        <span id="bubble2"></span>
        <span id="bubble3"></span>
    </div>
</div>

$screen_placeholder  

<script src="$!{data.ContextPath}/javascript/jq/idangerous.swiper.min.js"></script>
##<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script src="$!{data.ContextPath}/javascript/global.js?$lst"></script>
##<script src="$!{data.ContextPath}/javascript/modules/mango-themes/global.js"></script>

<script src="$!{data.ContextPath}/javascript/jq/jquery.mousewheel.js"></script>
<script src="$!{data.ContextPath}/javascript/jq/jquery.jscrollpane.min.js"></script>
<script src="$!{data.ContextPath}/javascript/jq/jquery.lazyload.min.js"></script>
<script src="$!{data.ContextPath}/javascript/socialite.min.js"></script>
<script src="${data.ContextPath}/javascript/notify.min.js"></script>
                                                                                        
<script type="text/javascript" charset="utf-8">
 $(function() {
    $("img.lazy").lazyload({
        effect : "fadeIn"
    });
 
 });
</script>

#if($sutil.isNotEmpty($ng-app))
##<script src="${data.ContextPath}/javascript/ng/angular.js"></script>  
##<script src="${data.ContextPath}/javascript/ng/dirPagination.js"></script>
##<script src="${data.ContextPath}/javascript/ng/ng.webstore.js"></script>
#end


</body>
</html>