#set($headings = ["No", "$!l10n.code", "$!l10n.customer_name", "Type", "$!l10n.location","Reg Date","<center>$!l10n.address",  "<center>Point", "&nbsp;"])
#set($fields = ["","customerCode","customerName","customerTypeId", "defaultLocationId","addDate","address", "", ""])
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.CurrentPageNumber$!{pageParam}">

#if(!$printable) <div id="longListDiv"> #end
<table class="altRowTable">
  #if($printable)    
    <tr class="th4">#foreach($heading in $headings)<td >$heading</td>#end</tr>
  #else
    #set($FORMNAME="frm2")
    #sortableHeader ($headings $fields "th2" "sort2" true)
  #end

  #set($no = (($LargeData.CurrentPageNumber - 1) * $limit) + 1 )
  #set($row = 1)
  #set($amt = $Customers.size())

  #foreach($oCust in $sortingtool.sort($Customers,$flux.Sort,$flux.ACDC))
  <tr>
    <td width="2%" >$!no</td>
    <td>#if($oCust.isDefault)<b>#end  $!oCust.CustomerCode </td>
    <td>
      <a href="javascript:openHistoryWindow('$!oCust.CustomerId')">
      #if($oCust.isDefault)<b>#end
      $!oCust.CustomerName
      </a>
    </td>
    <td>$!oCust.CustomerType.Code</td>
    <td>$!oCust.Location.LocationName </td>
    <td>$!cf.fmt($!oCust.AddDate) </td>
    <td style="max-width:200px;white-space:normal">$!oCust.Address</td>
    <td align="right">
      <a href="javascript:openPointHistory('$!oCust.CustomerId')">
        $!oCust.CustomerPoint.TotalPoint.intValue()
      </a>
      &nbsp;
    </td>
    #if(!$printable)
    <td>          
      <ul class="rowLinkNav">    
      #if(!$bAllowUpdate)
      #rowDataLink ("$!sFormTPL" "?id=${oCust.Id}&mode=view"   $!l10n.view "" "View Customer Data")       
      #end
      #rowDataLink ("$!sFormTPL" "?id=${oCust.Id}&op=4" $!l10n.update "" "Update Customer Data")
      #rowDataLink ("$!sFormTPL" "?id=${oCust.Id}&mode=delete" $!l10n.delete "" "Update Customer Data")
      </ul>
    </td>
    #end
  </tr>
  #set($no = $no + 1)
  #end
  #line(10)
</table>
#if(!$printable) </div> 
<script> 
function openPointHistory(custid)
{
    var url= sTPL + 'report,sales,PointRewardHistory.vm?popup=true&customerId=' + custid;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}
</script>
#end