<?xml version="1.0" encoding="UTF-8"?>
<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">
#fopDefaultLayout()

  <fo:page-sequence master-reference="first">
   <fo:flow flow-name="xsl-region-body">

#fopTitle ("$!l10n.receivable_payment" true)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="3.5cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.5cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.0cm"/>
    <fo:table-body>
        <fo:table-row>
            #fopSCELL ($!l10n.trans_no $!trans.ArPaymentNo "" "")     
            #fopSCELL ($!l10n.create_by $!trans.UserName "" "")     
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.customer $!oCUST.CustomerName "" "")     
            #fopSCELL ($!l10n.issuer_dest $!trans.BankIssuer "" "")
        </fo:table-row>  
        <fo:table-row>
            #fopSCELL ($!l10n.bank $!oBANK.Description "" "")     
            #fopSCELL ($!l10n.reference_no $!trans.ReferenceNo "" "")        
        </fo:table-row>  
        <fo:table-row>
            #fopSCELL ($!l10n.trans_date $!cformat.formatDate($!trans.ArPaymentDate) "" "")
            #fopSCELL ($!l10n.due_date $!cformat.formatDate($!trans.ArPaymentDueDate) "" "")
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ("$!l10n.currency / $!l10n.rate" "$!oCURR.CurrencyCode / $cf.fmt($!trans.CurrencyRate)" "" "")
        </fo:table-row>
    </fo:table-body>
</fo:table>

#fopLine(8)
#fopRemark ("" $!trans.Remark)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="0.8cm"/>
    <fo:table-column column-width="5.2cm"/>
    <fo:table-column column-width="3cm"/> 
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-body>
        <fo:table-row>
        #set($headings = ["No.", $!l10n.invoice_no, $!l10n.total_amount, $!l10n.paid_amount, $!l10n.payment_amount, $!l10n.credit_memo])
        #foreach ($heading in $headings)
          #fopCELL ("#DDDDDD" "#EEEEEE" "$heading")
        #end            
        </fo:table-row>
      
        #set($no = 1)
        #foreach ($td in $transDet)
        <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "left" "$!no"           )  
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "left" "$!td.InvoiceNo"  )  
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cf.formatAligned($!td.SalesTransactionAmount)"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cf.formatAligned($!td.PaidAmount)"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cf.formatAligned($!td.PaymentAmount)"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cf.formatAligned($!td.DownPayment)"  )
        </fo:table-row>
        #set($no = $no + 1)
        #end
    </fo:table-body>
</fo:table>

#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="14cm"/>
    <fo:table-column column-width="0.5cm"/> 
    <fo:table-column column-width="3.5cm"/>
    <fo:table-body>
        <fo:table-row>
            #fopSCELL ($!l10n.credit_memo $!cformat.formatAligned($!trans.TotalDownPayment) "right" "bold")
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.payment_amount $!cformat.formatAligned($!trans.TotalAmount) "right" "bold")
        </fo:table-row>
  </fo:table-body>
</fo:table>

#fopLine(8)

#parse("/print/footers/FooterPDF.vm")

    </fo:flow>
  </fo:page-sequence>
</fo:root>
