<?xml version="1.0" encoding="UTF-8"?>
<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">
#fopDefaultLayout()

  <fo:page-sequence master-reference="first">
   <fo:flow flow-name="xsl-region-body">

#fopTitle ("$!l10n.bank_transfer" true)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="3.5cm"/> 
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.5cm"/>
    
    <fo:table-body>
       <fo:table-row>
           #fopSCELL ($!l10n.trans_no $!trans.TransNo "" "")     
       </fo:table-row>
       <fo:table-row>
           #fopSCELL ($!l10n.trans_date $!cformat.formatDate($!trans.TransDate) "" "")
       </fo:table-row>
       <fo:table-row>
           #fopSCELL ($!l10n.status $!cashflow.getStatusString($trans.Status) "" "")
       </fo:table-row>
       <fo:table-row>
           #fopSCELL ($!l10n.create_by "$!trans.UserName" "" "")
       </fo:table-row>        
    </fo:table-body>
</fo:table>

#fopLine(8)
#fopRemark ("" $!trans.Description)
#fopLine(8)

<fo:table table-layout="fixed">
   
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="6cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="6cm"/>
    <fo:table-body>
      <fo:table-row>
        #fopCELL ("#DDDDDD" "#EEEEEE" "Withdrawal")
        #fopCELL ("#DDDDDD" "#EEEEEE" "$!trans.OutCf.CashFlowNo")
        #fopCELL ("#DDDDDD" "#EEEEEE" "Deposit")
        #fopCELL ("#DDDDDD" "#EEEEEE" "$!trans.InCf.CashFlowNo")      
      </fo:table-row>
      <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "Bank")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.OutBank.Description")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "Bank")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.InBank.Description")      
      </fo:table-row>
      <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.location")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.OutLoc.Name")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.location")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.InLoc.Name")      
      </fo:table-row>      
      <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.account")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.OutAcc.Code - $!trans.OutAcc.Name")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.account")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.InAcc.Code - $!trans.InAcc.Name")      
      </fo:table-row>
      <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.cash_flow_type")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.OutCft.Description")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.cash_flow_type")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!trans.InCft.Description")      
      </fo:table-row>    
      <fo:table-row>
        #set($Currency = $currency.getCurrencyByID($trans.CurrencyId))
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.amount")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!Currency.Symbol $!cformat.formatNumber($!trans.Amount)")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$!l10n.say_amount")
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "" "$cformat.numberToStr($preference.Locale, $trans.Amount)")        
      </fo:table-row>          
    </fo:table-body>
</fo:table>
 
#fopLine(8)

#parse("/print/footers/FooterPDF.vm")

    </fo:flow>
  </fo:page-sequence>
</fo:root>
