#txtINIT()
#set($sType = $!l10n.deposit)
#if($!trans.CashFlowType == 2) #set($sType = $!l10n.withdrawal) #end
#set($title = "$!l10n.cash_management [$sType] ") 

#set($sTransNo = "$!trans.CashFlowNo")
#parse ("/print/headers/HeaderHTML.vm")

<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="16%">$!l10n.trans_no :</td>
    <td width="30%">$!trans.CashFlowNo</td>    
    <td width="16%">$!l10n.print_date :</td>
    <td>$!cformat.formatDateTime($!dutil.TodayDate)</td>    
  </tr>  
  <tr>
    <td>$!l10n.trans_date :</td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.due_date :</td>
    <td>$!cformat.formatDate($!trans.DueDate)</td>       
  </tr>
  <tr>
    <td>$!l10n.bank :</td>
    <td>$!oBANK.Description </td>    
    <td>$!l10n.reference_no :</td>
    <td>$!trans.ReferenceNo</td>    
  </tr>
  <tr>
    <td>$!l10n.trans_type :</td>
    <td>$!sType</td>    
    <td>$!l10n.issuer_dest :</td>
    <td>$!trans.BankIsuer</td>    
  </tr>
  <tr>
    <td>$!l10n.currency / $!l10n.rate :</td>
    <td>$!oCURR.CurrencyCode / $!cformat.formatNumber($!trans.CurrencyRate)</td>    
    <td>$!l10n.status :</td>
    <td>$!cashflow.getStatusString($trans.Status)</td>    
  </tr> 
  <tr>
    <td>$!l10n.create_by :</td>
    <td>$!employee.getName($!trans.CreateBy)</td> 
    <td>$!l10n.location :</td>
    <td>$!oLOC.LocationCode - $!oLOC.LocationName</td>            
  </tr> 
  #if($sutil.isNotEmpty($!trans.Description))
  <tr>
    <td colspan="4">
      $!sutil.formatStrToHTML($!trans.Description)
    </td>
  </tr>
  #end  
</table>
<br>
<table width="100%" cellpadding="4" cellspacing="0" border="1">
  <tr>
    <td width="30">No</td>
    <td width="120" align="center">$!l10n.account_code  </td>
    <td width="120" align="center">$!l10n.account_name  </td>
    <td width="60"  align="center">$!l10n.location     </td>
    <td width="60"  align="center">$!l10n.curr         </td>    
    <td width="80"  align="center">$!l10n.amount       </td>
    <td width="60"  align="center">$!l10n.rate         </td>
    <td width="80"  align="center">$!l10n.base_amount  </td>
  </tr>
  #set($no = 1)
  
  #foreach($td in $transDet)
  #set($oAcc = $account.getAccountByID($!td.AccountId))
  #set($desc = $oAcc.AccountName)
  #if($sutil.isNotEmpty($td.Memo)) #set($desc = $td.Memo) #end  
  <tr>
    <td>$no</td>
    <td>$!oAcc.AccountCode                                   </td>
    <td>$!oAcc.AccountName                                   </td>
    <td>$!location.getLocationCodeByID($!td.LocationId)      </td>    
    <td align="right">$!currency.getCodeByID($!td.CurrencyId)</td>    
    <td align="right">$!cf.formatAligned($!td.Amount)        </td>
    <td align="right">$!cf.formatAligned($!td.CurrencyRate)  </td>
    <td align="right">$!cf.formatAligned($!td.AmountBase)    </td>
  </tr>               
  <tr>
    <td></td>
    <td colspan="7">$!sutil.formatStrToHTML($!desc)</td>
  </tr>                 
  #set($no = $no + 1)
  #end  
  <tr>
    <td rowspan="3" colspan="4" align="center">$!trans.SayAmount.toUpperCase()</td>
    <td colspan="3" align="right">$!l10n.amount</td>
    <td width="100" align="right">$!cformat.formatAligned($!trans.CashFlowAmount)</td>
  </tr>     
  <tr>
    <td colspan="3" align="right">$!l10n.base_amount</td>
    <td width="100" align="right">$!cformat.formatAligned($!trans.AmountBase)</td>
  </tr>       
</table>
<br>

#set($sOther = "$!l10n.approved_by")
#if($trans.CashFlowType == 2)
#set($sExternal = "$!l10n.received_by")
#else

#end
#parse ("/print/footers/FooterHTML.vm")
</body>
</html>
