#txtINIT()
#set($sExternal = $!l10n.customer) 
#set($title = $!l10n.delivery_order) 
$data.setLayoutTemplate("/Empty.vm")
#parse ("/print/headers/HeaderHTML.vm")

<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="18%">$!l10n.do_no :</td>
    <td width="25%">$!trans.DeliveryOrderNo</td>    
    <td width="15%">$!l10n.print_date :</td>
    <td>$!cformat.formatDateTime($!dutil.TodayDate)</td>    
  </tr>
  <tr>
    <td>$!l10n.so_no :</td>
    <td>$!salesorder.getHeaderByID($trans.SalesOrderId).SalesOrderNo</td>    
    <td>$!l10n.trans_date :</td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
  </tr>  
  <tr>
    <td>$!l10n.customer :</td>
    <td>$!oCUST.CustomerCode - $!trans.CustomerName</td>    
    <td>$!l10n.salesman :</td>
    <td>$!employee.getEmployeeNameByID($!trans.SalesId)</td>    
  </tr>  
  <tr>
    <td valign="top">$!l10n.create_by :</td>
    <td valign="top">$!trans.CreateBy</td>    
    <td valign="top" width="15%">$!l10n.courier :</td>
    <td valign="top">$!courier.getCourierNameByID($!trans.CourierId)</td>    
  </tr>
  #if($sutil.isNotEmpty($oCUST.Address))
  <tr>
    <td valign="top">$!l10n.address :</td>         
    <td valign="top" colspan="3">$!oCUST.Address</td>      
  </tr>
  #end
  <tr>
    #if($sutil.isNotEmpty($!trans.Remark))
    <td colspan="2">$!trans.Remark</td>
    #end
    #if($sutil.isNotEmpty($!trans.ShipTo))
    <td colspan="2">$!trans.ShipTo</td>    
    #end
  </tr>
</table>
<table width="100%" cellpadding="1" cellspacing="0" border="0">
  #linea(10)
  <tr>
    <td width="30">No</td>
    <td width="120">$!l10n.item_code</td>
    <td width="180">$!l10n.item_name</td>
    <td width="80"  align="center">$!l10n.qty</td>
    <td width="80"  align="center">$!l10n.unit</td>
  </tr>
  #linea(10)
  #set($no = 1)
  #foreach ($td in $transDet)
  <tr>
    <td>$no</td>
    <td>$!td.ItemCode</td>
    <td>$!td.ItemName</td>
    <td align="right">$!cformat.formatNumber($!td.Qty)</td>
    <td align="right">$!td.UnitCode</td>
  </tr>
  #set($no = $no + 1)
  #end  
  #if($transDet.size() < 10)
  #set($line = 10 - $transDet.size())
  #foreach($n in [1..$line])
  <tr>
    <td>#spc(1)</td>
  </tr>
  #end
  #end
  #linea(10)
  <tr>
    <td colspan="3" align="right">$!l10n.total_item</td>
    <td width="90" align="right">$!transDet.size()</td>
  </tr>  
  <tr>
    <td colspan="3" align="right">$!l10n.total_qty</td>
    <td width="90" align="right">$!cformat.formatNumber($!trans.TotalQty)</td>
  </tr>  
</table>
<br>
#set($sExtName = $!trans.CustomerName)
#set($sOther = $!l10n.courier) 
#set($sOtherName = "") 
#set($sExtName = $!trans.CustomerName)
#parse ("/print/footers/FooterHTML.vm")
</body>
</html>
