#txtINIT()
#set($sExternal = "") 
#set($title = $!l10n.internal_transfer) 
$data.setLayoutTemplate("/Empty.vm")
#parse ("/print/headers/HeaderHTML.vm")
#set($oADJ = $!adjustmenttype.getAdjustmentTypeByID($!trans.AdjustmentTypeId))
#set($sType = $!l10n.transfer_out)
#if($!trans.TransactionType == 1)#set($sType = $!l10n.transfer_in)#end
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="18%">$!l10n.trans_no :</td>
    <td width="30%">$!trans.TransactionNo</td>    
    <td width="16%">$!l10n.print_date :</td>
    <td>$!cformat.formatDateTime($!dutil.TodayDate)</td>         
  </tr>
  <tr>
    <td>$!l10n.trans_date :</td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.create_by :</td>
    <td>$!trans.UserName / $!trans.ConfirmBy</td>    
  </tr>  
  <tr>
    <td>$!l10n.transfer_type :</td>
    <td>$!sType</td>    
    <td>$!l10n.trans_type :</td>
    <td>$!trans.AdjustmentTypeId</td>    
  </tr>  
  
  <tr>
    <td>$!l10n.from_location :</td>
    <td>$!trans.LocationName</td>    
    <td>$!l10n.to_location :</td>
    <td>$!trans.CrossEntity.Name</td>    
  </tr>  
  <tr>
    #if($sutil.isNotEmpty($!trans.Description))
    <td colspan="2">$!trans.Description</td>
    #end
    #if($sutil.isNotEmpty($!trans.ShipTo))
    <td colspan="2">$!trans.ShipTo</td>    
    #end
  </tr>
</table>
<br>

<table width="100%" cellpadding="1" cellspacing="0" border="0">
  #linea(10)
  <tr>
    <td width="30">No</td>
    <td width="120">$!l10n.item_code</td>
    <td width="200">$!l10n.item_name</td>
    <td width="60"  align="center">$!l10n.qty</td>
    <td width="80"  align="center">$!l10n.unit</td>
  </tr>
  #linea(10)
  #set($no = 1)
  #set($dTotalQty = 0)
  #foreach ($td in $transDet)
  #set($itm = $item.getItemByID($td.ItemId))
  <tr>
    <td>$no</td>
    <td>$!itm.ItemCode</td>
    <td>$!itm.ItemName</td>
    <td align="right">$!cformat.formatNumber($!td.QtyChanges)</td>
    <td align="right">$!td.UnitCode</td>
  </tr>
  #set($dTotalQty = $calculator.add($dTotalQty,$td.QtyChanges))
  #set($no = $no + 1)
  #end  
  #linea(10)
  <tr>
    <td colspan="3" align="right">$!l10n.total_item :</td>
    <td align="right">$!transDet.size()</td>
  </tr>  
  <tr>
    <td colspan="3" align="right">$!l10n.total_qty :</td>
    <td align="right">$!cformat.formatNumber($!dTotalQty)</td>
  </tr>  
</table>
<br>
#set($sOther = $!l10n.received_by) 
#set($sOtherName = "") 
#parse ("/print/footers/FooterHTML.vm")
