<?xml version="1.0" encoding="UTF-8"?>
<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">
#fopDefaultLayout()
  
  <fo:page-sequence master-reference="first">
    <fo:flow flow-name="xsl-region-body">

#fopTitle ("$!l10n.item_transfer" true)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="3.5cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.5cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5cm"/>
    <fo:table-body>
        <fo:table-row>
            #fopSCELL ($!l10n.trans_no $!trans.TransactionNo "" "")
            #fopSCELL ($!l10n.courier $!courier.getCourierByID($!trans.CourierId).Description "" "")
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.trans_date $!cformat.formatDate($!trans.TransactionDate) "" "")
            #fopSCELL ($!l10n.transfer_type $!adjustmenttype.getAdjustmentTypeByID($!trans.AdjustmentTypeId).Description "" "")
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.from_location $!location.getLocationNameByID($trans.FromLocationId) "" "")
            #fopSCELL ($!l10n.create_by $!trans.UserName "" "")
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.to_location $!location.getLocationNameByID($trans.ToLocationId) "" "")
            #fopSCELL ($!l10n.status $!issuereceipt.getStatusString($trans.Status) "" "")       
        </fo:table-row>
    </fo:table-body>
</fo:table>

#fopLine(8)
#fopRemark ("" $!trans.Description)
#fopLine(8)
<fo:table table-layout="fixed">

    <fo:table-column column-width="1cm"/>
    <fo:table-column column-width="3.2cm"/>
    <fo:table-column column-width="4.2cm"/>
    <fo:table-column column-width="4.2cm"/>
    <fo:table-column column-width="2.7cm"/>
    <fo:table-column column-width="2.7cm"/>
    <fo:table-body>
        <fo:table-row>
        #set($headings = ["No","$!l10n.item_code","$!l10n.item_name","$!l10n.description","$!l10n.qty","$!l10n.unit"] )
        #foreach ($heading in $headings)
        #fopCELL ("#DDDDDD" "#EEEEEE" "$heading")
        #end            
        </fo:table-row>
        
        #set($no = 0)
        #set($TotalQty = 0)
        
        #foreach ($td in $transDet)
        #set($no = $no + 1)
        #set($oItem = $item.getItemByID($!td.ItemId))
         <fo:table-row>
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!no"           )  
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!td.ItemCode"  )  
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!oItem.ItemName"  )
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!oItem.Description"  )
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cformat.formatNumber($!td.QtyChanges)"  )
          #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!td.UnitCode"  )       
        </fo:table-row>
        #set($TotalQty = $calculator.add($TotalQty,$td.QtyChanges))   
        #end
    </fo:table-body>
</fo:table>

#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="14.5cm"/>
    <fo:table-column column-width="0.5cm"/> 
    <fo:table-column column-width="3cm"/>
    <fo:table-body>
        <fo:table-row>
            #fopSCELL ($!l10n.total_item $!cformat.formatAligned($!no) "right" "")        
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.total_qty $!cformat.formatAligned($!TotalQty) "right" "")
        </fo:table-row>
    </fo:table-body>
</fo:table>

#fopLine(8)

#parse("/print/footers/FooterPDF.vm")

    </fo:flow>
  </fo:page-sequence>
</fo:root>
