<?xml version="1.0" encoding="UTF-8"?>
<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">
#fopDefaultLayout()
  
  <fo:page-sequence master-reference="first">
    <fo:flow flow-name="xsl-region-body">

#fopTitle ("$!l10n.item_request" true)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="3.5cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.5cm"/>
    <fo:table-column column-width="3cm"/>
    <fo:table-column column-width="0.5cm"/>
    <fo:table-column column-width="5.0cm"/>
    <fo:table-body>
        <fo:table-row>
            #fopSCELL ($!l10n.trans_no $!trans.TransactionNo "" "")
            #fopSCELL ($!l10n.trans_date $!cformat.formatDate($!trans.TransactionDate) "" "")      
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.location $!location.getLocationNameByID($trans.LocationId) "" "")
            #fopSCELL ($!l10n.request_by $!trans.RequestedBy "" "")     
        </fo:table-row>
        <fo:table-row>
            #fopSCELL ($!l10n.status $!purchaserequest.getStatusString($trans.TransactionStatus) "" "")        
            #fopSCELL ($!l10n.approved_by $!trans.ApprovedBy "" "")     
        </fo:table-row>
    </fo:table-body>
</fo:table>

#fopLine(8)
#fopRemark ("" $!trans.Remark)
#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="0.8cm"/>
    <fo:table-column column-width="3.4cm"/>
    <fo:table-column column-width="5.8cm"/>
    <fo:table-column column-width="2.5cm"/>
    <fo:table-column column-width="2.5cm"/>
    <fo:table-column column-width="3.0cm"/> 
    <fo:table-body>
        <fo:table-row>
        #set($headings = ["No","$!l10n.code","$!l10n.item_name", "$!l10n.req_qty", "$!l10n.sent_qty", "$!l10n.unit"])
        #foreach ($heading in $headings)       
            #fopCELL ("#DDDDDD" "#EEEEEE" "$heading")
        #end             
        </fo:table-row>
        
        #set($no = 1)
        #set($dTotalReq = 0)
        #set($dTotalSent = 0)
        #foreach ($td in $transDet)
        #set($oItem = $item.getItemByID($td.ItemId))
        #set($dTotalReq  = $calculator.add($dTotalReq,$!td.RequestQty)) 
        #set($dTotalSent = $calculator.add($dTotalSent,$!td.SentQty))
        <fo:table-row>
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!no"           )  
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!td.ItemCode"  )  
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "left"  "$!oItem.ItemName"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cformat.formatNumber($!td.RequestQty)"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!cformat.formatNumber($!td.SentQty)"  )
        #fopCELL2 ("#DDDDDD" "#FFFFFF" "right" "$!td.UnitCode"  )          
        </fo:table-row>
        #set($no = $no + 1)
        #end
    </fo:table-body>
</fo:table>

#fopLine(8)

<fo:table table-layout="fixed">
    <fo:table-column column-width="15.5cm"/>
    <fo:table-column column-width="0.5cm"/> 
    <fo:table-column column-width="2cm"/>
    <fo:table-body>
        <fo:table-row> 
            #fopSCELL ($!l10n.total_req $!cformat.formatAligned($!dTotalReq) "right" "")
        </fo:table-row>
        <fo:table-row> 
            #fopSCELL ($!l10n.total_sent $!cformat.formatAligned($!dTotalSent) "right" "")
        </fo:table-row>
        <fo:table-row> 
            #fopSCELL ($!l10n.total_item $!cformat.formatAligned($!transDet.size()) "right" "")        
        </fo:table-row>
    </fo:table-body>
</fo:table>

#fopLine(8)

#parse("/print/footers/FooterPDF.vm")

    </fo:flow>
  </fo:page-sequence>
</fo:root>
