#txtINIT()
#set($sExternal = "") 
#set($title = $!l10n.jc_rollover) 
$data.setLayoutTemplate("/Empty.vm")

#set($sType = $!l10n.item_data)
#if($trans.RolloverType == 1) #set($sType = $!l10n.account) #end
#set($oACC = $account.getAccountByID($!trans.JobCosting.JcAccountId))
#parse ("/print/headers/HeaderHTML.vm")
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="18%">$!l10n.trans_no :</td>
    <td width="30%">$!trans.TransactionNo</td>    
    <td width="16%">$!l10n.print_date :</td>
    <td>$!cformat.formatDateTime($!dutil.TodayDate)</td>         
  </tr>
  <tr>
    <td>$!l10n.trans_date :</td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.create_by :</td>
    <td>$!trans.CreateBy</td>    
  </tr>  
  <tr>
    <td>$!l10n.trans_type :</td>
    <td>$!sType</td>    
    <td>$!l10n.confirmed_by :</td>
    <td>$!trans.ConfirmBy</td>     
  </tr>  
  
  <tr>
    <td>$!l10n.adj_account :</td>
    <td>$!oACC.AccountCode $!oACC.Description</td>    
    <td>$!l10n.location :</td>
    <td>$!location.getLocationNameByID($!trans.LocationId)</td>    
  </tr>  
  #if($sutil.isNotEmpty($!trans.Description))
  <tr>    
    <td colspan="2">$!trans.Description</td>    
  </tr>
  #end
</table>

<table width="100%" cellpadding="1" cellspacing="0" border="0">
  #linea(10)
  <tr>
    <td width="30">No</td>
    <td width="120">$!l10n.item_code</td>
    <td width="200">$!l10n.item_name</td>
    <td width="60"  align="center">$!l10n.qty</td>
    <td width="80"  align="center">$!l10n.unit</td>
    <td width="80"  align="center">$!l10n.cost</td>    
  </tr>
  #linea(10)
  #set($no = 1)
  #set($dTotalCost = 0)
  #set($dTotalQty = 0)
  #foreach ($td in $transDet)
  #set($itm = $item.getItemByID($td.ItemId))
  <tr>
    <td>$no</td>
    <td>$!itm.ItemCode</td>
    <td>$!itm.ItemName</td>
    <td align="right">$!cf.fmt($!td.Qty)</td>
    <td align="right">$!td.UnitCode</td>
    <td align="right">$!cf.fmt($!td.Cost)</td>
  </tr>
  #set($dTotalCost = $calculator.add($dTotalCost,$cal.mul($td.Qty,$td.Cost)))
  #set($dTotalQty = $calculator.add($dTotalQty,$td.Qty))
  #set($no = $no + 1)
  #end  
  #linea(10)
  <tr>
    <td colspan="5" align="right">$!l10n.total_item :</td>
    <td align="right">$!transDet.size()</td>
  </tr>  
  <tr>
    <td colspan="5" align="right">$!l10n.total_qty :</td>
    <td align="right">$!cf.fmt($!dTotalQty)</td>
  </tr>  
  <tr>
    <td colspan="5" align="right">$!l10n.total_cost :</td>
    <td align="right">$!cf.fmt($!dTotalCost)</td>
  </tr>  
  
</table>
<br>
#parse ("/print/footers/FooterHTML.vm")
