#txtINIT()
#set($title = "$!l10n.point_reward_trans")
$data.setLayoutTemplate("/Empty.vm")
#set($nocompany=true)
#parse("/print/headers/HeaderHTML.vm")
#set($prid = $data.Parameters.getString("id",""))

#if(!$pointreward)
#set($pointreward = $butil.loadClass("com.ssti.enterprise.pos.tools.PointRewardTool"))
#end
#set($ptr = $pointreward.getPointRewardTransByID($prid,$null))
<table width="100%" cellspacing="0" cellpadding="4"> 
  <tr>
    <td class="largeHeader">
      <b>$title</b>
    </td>
  </tr>
</table>
<br>

#if($ptr.Id)
<table cellpadding="4" cellspacing="0" border="1" style="width:96%;min-width:360px;">
  <tr>
    <td width="30%">$!l10n.trans_no</td>
    <td width="70%">
      $!ptr.TransactionNo
    </td>
  </tr>
  <tr>
    <td>$!l10n.customer_name</td>
    <td>
      $!customer.getCustomerNameByID($!ptr.CustomerId)
    </td>
  </tr>
  <tr>
    <td>$!l10n.trans_date</td>
    <td>
      $!cformat.formatLongDate($!ptr.TransactionDate,$preference.Locale)
    </td>
  </tr>
  <tr>
    <td>$!l10n.location</td>
    <td>$!location.getLocationNameByID($!ptr.LocationId)</td>
  </tr>
  <tr>
    <td>$!l10n.point_changes</td>
    <td>$!ptr.PointChanges </td>
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td style="max-width:480px;white-space:normal;">
      $!sutil.formatStrToHTML($!ptr.Description)
    </td>
  </tr>
</table>
<br><br><br><br>

<table style="width:96%;min-width:360px;">
  <tr>
    <td width="100"><center>$!l10n.create_by</td>
    <td width="200"><center>$!l10n.received_by</td>
  </tr>	
  <tr><td colspan="2"><br><br><br><br></td></tr>
  <tr>
    <td width="100"><center>($!ptr.UserName)</td>
    <td width="200"><center>($!customer.getCustomerNameByID($!ptr.CustomerId))</td>
  </tr>	
</table>	  
#end 
