##HEADER
#set($nohtml = true)
#parse("/print/headers/HeaderHTML.vm")
##END HEADER
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="17%">$!l10n.po_no</td>
    <td width="01%"><b>:</b></td>
    <td width="32%">$!trans.PurchaseOrderNo</td>    
    <td width="17%">$!l10n.print_date</td>
    <td width="01%"><b>:</b></td>
    <td width="32%">$!cformat.formatDateTime($!dutil.TodayDate)</td>    
  </tr>
  <tr>
    <td>$!l10n.trans_date</td>
    <td><b>:</b></td>
    <td>$!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.due_date</td>
    <td><b>:</b></td>
    <td>$!cformat.formatDate($!trans.DueDate)</td>    
  </tr>  
  <tr>
    <td>$!l10n.vendor</td>
    <td><b>:</b></td>
    <td>$!trans.VendorName</td>    
    <td>$!l10n.create_by</td>
    <td><b>:</b></td>
    <td>$!trans.CreateBy</td>    
  </tr>  
  <tr>
    <td>$!l10n.payment_type</td>
    <td><b>:</b></td>
    <td>$!oPTP.Description / $!oPTM.Description</td>    
    <td>$!l10n.confirmed_by</td>
    <td><b>:</b></td>
    <td>$!trans.ConfirmBy</td>            
  </tr>
  <tr>
    #if($sutil.isNotEmpty($!trans.Remark))
    <td colspan="3">$!trans.Remark</td>
    #end
    #if($sutil.isNotEmpty($!trans.ShipTo))
    <td colspan="3">$!trans.ShipTo</td>    
    #end
  </tr>
</table>
<table width="100%" cellpadding="1" cellspacing="0" border="0">
  <tr>
    <td colspan="10" align="right">$!l10n.page $currentpage $!l10n.of $totalpage</td>
  </tr>
  #linea(10)
  <tr>
    <td width="04%">No</td>
    <td width="12%">$!l10n.item_code</td>
    <td width="30%">$!l10n.item_name</td>
    <td width="08%"  align="center">$!l10n.qty</td>
    <td width="08%"  align="center">$!l10n.unit</td>
    <td width="12%" align="center">$!l10n.price</td>
    <td width="10%" align="center">$!l10n.discount</td>
    <td width="16%" align="center">$!l10n.sub_total</td>
  </tr>
  #linea(10)
  #set($no = $from + 1)
  #foreach ($td in $transDetPage)
  #set($itm = $item.getItemByID($td.ItemId))
  <tr>
    <td>$no</td>
    <td>#if($sutil.isNotEmpty($itm.VendorItemCode)) $!itm.VendorItemCode #else $!itm.ItemCode #end</td>
    <td>#if($sutil.isNotEmpty($itm.VendorItemName)) $!itm.VendorItemName #else $!itm.ItemName #end</td>
    <td align="right">$!cformat.formatNumber($!td.Qty)</td>
    <td align="right">$!td.UnitCode</td>
    <td align="right">$!cformat.formatNumber($!td.ItemPrice)</td>
    <td align="right">$!td.Discount</td>
    <td align="right">$!cformat.formatNumber($!td.SubTotal)</td>
  </tr>
  #if(($td.ItemName != $td.Description) && ($itm.Description != $td.Description) && $sutil.isNotEmpty($td.Description)) ##desc set
  <tr>
    <td>#spc(1)</td>
    <td>#spc(1)</td>
    <td colspan="5">$!td.Description</td>
  </tr>
  #end ##end 
  #set($no = $no + 1)
  #end  
  #linea(10) 
  #if($currentpage == $totalpage)
  #if($trans.TotalDiscount.intValue() > 0)
  <tr>
    <td colspan="7" align="right">$!l10n.discount :</td>
    <td align="right">$!cformat.formatNumber($!trans.TotalDiscount)</td>
  </tr>
  #end
  #if($trans.TotalTax.intValue() > 0)
  <tr>
    <td colspan="7" align="right">$!l10n.total_tax :</td>
    <td align="right">$!cformat.formatNumber($!trans.TotalTax)</td>
  </tr>    
  #end
  <tr>
    <td colspan="7" align="right"><b>$!l10n.total_amount :</td>
    <td align="right"><b>$!cformat.formatNumber($!trans.TotalAmount)</td>
  </tr>   
  #if($trans.DownPayment.intValue() > 0)
  <tr>
    <td colspan="7" align="right">$!l10n.dp :</td>
    <td align="right">$!cformat.formatNumber($!trans.DownPayment)</td>
  </tr>
  #end  
  #end ##end if total page != current page  
</table>
<br><br>

