#set($printable = $data.Parameters.getBoolean("printable"))
#set($iOp = $data.Parameters.getInt("Op"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($start = $data.Parameters.getString("StartDate",""))
#set($end = $data.Parameters.getString("EndDate",""))
#set($cashier = $data.Parameters.getString("CashierName",""))
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))
#set($shour = $data.Parameters.getString("StartHour",""))
#set($ehour = $data.Parameters.getString("EndHour",""))
#set($sminute = $data.Parameters.getString("StartMinute",""))
#set($eminute = $data.Parameters.getString("EndMinute",""))

#set($pageParam = "&op=1&StartDate=${start}&EndDate=${end}&StartHour=${shour}&StartMinute=${sminute}")
#set($pageParam = "${pageParam}&EndHour=${ehour}&EndMinute=${eminute}&CashierName=${cashier}&LocationId=${locid}")
#set($title = "$!l10n.cashier_report" )

<script>
function printReport () 
{
    var sURL = '${link.setPage($data.ScreenTemplate)}?printable=true${pageParam}'
    var printWindow = window.open (sURL,'printWindow',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    printWindow.focus();                                                   
}

function subof (id, description)
{
    this.id = id;
    this.description = description;
}

$employee.createJSArray()
function changeLocationOF()
{   
    var iOFIdx = eval (document.frm.LocationId.selectedIndex) - 1;
    document.frm.CashierName.length = 0;
    if (iOFIdx >= 0)
    {
        document.frm.CashierName.length = 1;
        document.frm.CashierName.options[0].value = "";
        document.frm.CashierName.options[0].text = "-- ALL CASHIER --";     

        for (i = 0; i < aOF[iOFIdx].length; i++)
        {
            document.frm.CashierName.length += 1;
            var sub = aOF[iOFIdx][i];
            document.frm.CashierName.options[i+1].value = sub.id;
            document.frm.CashierName.options[i+1].text = sub.description;       
        }
    }
}
</script>

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">

<table width="100%" cellspacing="0" cellpadding="4"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($start != "")                    
         ($!start - $!end)
        #end</b>
      </span>
    </td>
    #if(!$printable)
    <td>
      <div align="right">
        <a href="javascript:void(0)" 
           OnClick="printReport();">
           <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
        </a> 
      </div>
    <td>
    #end
  <tr>
</table>
#if(!$printable && ($preference.isHO() || $data.ACL.Roles.containsName("Administrator")))
##<!-- SEARCH -->
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
      #spc(2)
    </td>
    <td>
     $!l10n.from : 
    </td>           
    <td>               
      <input type="text" size="3" name="StartHour" value="$!shour"> : 
      <input type="text" size="3" name="StartMinute" value="$!sminute">
      #spc(2)
    </td>
    #if($preference.isHO())
    <td>
      $!l10n.location :
    </td>
    <td> 
      <select name="LocationId" onChange="changeLocationOF()" #width(200)>
        <option value="" >-- $!l10n.location.toUpperCase() --</option>
        #foreach ($loc in $location.getAllLocation())
        <option value="$loc.LocationId" #if($loc.LocationId == $locid) SELECTED #end >
          $!loc.LocationName
        </option>
        #end
      </select>
      #spc(2)
    </td>
    #else
    <td>
      $!l10n.location :
    </td>
    <td> 
      <input name="LocationId" value="$preference.getLocationID()" type="hidden">
      <input name="LocationName" type="text" DISABLED #width(200)
          value="$location.getLocationNameByID($preference.getLocationID())">
      #spc(2)
    </td>
    #end
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
     <td>
       <input type="text" size="15" name="EndDate" value="$!end">
       #calf("frm" "EndDate" true)
     </td>
    <td>
    $!l10n.to : 
    </td>           
    <td>                
      <input type="text" size="3" name="EndHour" value="$!ehour"> : 
      <input type="text" size="3" name="EndMinute" value="$!eminute">
      #spc(2)
    </td>          
    <td>
      $!l10n.cashier : 
    </td>
    <td>
      ##if HO and user is HO Personnel
      #if($ACCLOC)
        #set($Employees = $employee.getAllEmployee()) 
      #else
        #set($Employees = $employee.getEmployeeByLocationID($USRLOC))
      #end          
      #if($data.ACL.Roles.containsName("Cashier"))
        <input type="text" value="$!data.User.Name" name="CashierName" READONLY >
      #else
      <select name="CashierName" #width(200)>                  
        <option value="">-- $!l10n.cashier --</option>
        #foreach ($sales in $Employees)
        #if($sutil.isNotEmpty($sales.UserName))
        <option value="$sales.UserName" #if($!sales.UserName == $cashier) SELECTED #end >
          $!sales.EmployeeName
        </option>
        #end
        #end
      </select>  
      #end ##end if cashier
      #spc(2)            
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">    
    </td>
  </tr>
</table>      
##<!-- END SEARCH SECTION -->
#end ##if(!$printable)      
<br>

#set($AllCashier = 0)
#set($TotalAllTransfer = 0)
#foreach($oCashier in $vCashier) 
  ##PROBLEM
  ##get Incoming balance
  
  #set($dStart = $dutil.getStartOfDayDate($cparser.parseDate($start)))
  #set($dEnd = $dutil.getEndOfDayDate($cparser.parseDate($end)))
  
  #set($CashierIncomingBalance = $cashierbalance.findData($dStart,$dEnd,$oCashier.UserName,1))
  #set($CashierOutgoingBalance = $cashierbalance.findData($dStart,$dEnd,$oCashier.UserName,2))

  #set($SalesInvoices = $salestransaction.findTrans($dStart, $dEnd, 2, "", "", $oCashier.UserName))
  #set($SalesReturns = $salesreturn.findTrans($dStart, $dEnd, "", $oCashier.UserName, 2))
  
  ###if($preference.isStore())
    #if($OpenCash)
      #set($OpenCash = $CashierIncomingBalance.get(0))
    #end
    #if($CloseCash)
      #set($CloseCash = $CashierOutgoingBalance.get(0))
    #end
    #if(!$CloseCash)          
      ###set($iOp = 0 )
      ##<span class="txtTitle2">
      ##    Please Close Cashier Transaction First!
      ##</span>              
    #else
    <table cellspacing="0" cellpadding="2" border="0" width="100%">
      <tr>
        <td width="50%"><b>$!l10n.date : $cformat.formatDate($dutil.getTodayDate()) ($!cformat.formatCustomDateTime($OpenCash.TransactionDate,"HH:mm")-$!cformat.formatCustomDateTime($CloseCash.TransactionDate,"HH:mm"))</b></td>
        <td width="50%"><b>$!l10n.location : $preference.LocationName</b></td>
      </tr>
    </table>
    #end
  ###end ##end if pref 
  
  #if($iOp == 1 && ($CashierIncomingBalance.size()>0 || $SalesInvoices.size()>0 || $SalesReturns.size()>0 ) && $oCashier.UserName != "")
    #set($TotalAll = 0)
    #set($TotalIncoming = 0)
    #set($TotalOutgoing = 0)
    
    #set($TotalSales = 0)
    #set($TotalCreditSales = 0)
    #set($TotalCreditCard = 0)
    #set($TotalVoucher = 0)
              
    #set($TotalChange = 0)
    #set($TotalTransfer = 0)
    #set($TotalReturn = 0)
                        
    <b>$!l10n.cashier : $oCashier.UserName </b>
    <hr>
    #if($CashierIncomingBalance.size()>0)
      #set($no = 0)
      #set($Total = 0)
      <b>Cashier Balance Transaction</b>
      <br><br>
      <table width="100%" cellspacing="0" cellpadding="4" border="0">
        <tr>
          <td width="70%">$!l10n.opening_balance :</td>
          <td width="15%" align="right">&nbsp;</td>
          <td width="15%" align="right">&nbsp;</td>
        </tr>
        <tr>
          <td width="100%" colspan="3">
            <table width="50%" cellspacing="0" cellpadding="4" border="0">
              #foreach($incomingTrans in $CashierIncomingBalance)
                <tr>
                  <td width="70%">
                    #spc(4) $incomingTrans.Description ($cformat.formatCustomDateTime($incomingTrans.TransactionDate,"HH:mm")) :
                  </td>
                  <td width="15%" align="right">$!cformat.formatNumber($!incomingTrans.TotalAmount)
                  </td>
                  #set($TotalIncoming =$calculator.add($TotalIncoming,$!incomingTrans.TotalAmount))
                </tr>
              #end
              <tr>
                <td colspan="2"><hr></td>
              </tr>
              <tr>
                <td width="70%">
                   Total :&nbsp;
                </td>
                <td width="15%" align="right">$cformat.formatNumber($TotalIncoming)</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="70%">&nbsp;</td>
          <td width="15%" align="right"><b>$cformat.formatNumber($TotalIncoming)</b></td>
          <td width="15%" align="right">&nbsp;</td>
        </tr>
      </table> 
    #end
      
    ## ---------------------- INVOICES ----------------------             
    #if($SalesInvoices.size() > 0)
    <b>$!l10n.sales_invoice</b>
      <br><br>
      <table width="100%" cellspacing="0" cellpadding="4" border="0">
      <tr>
        <td colspan="3">
          <table width="50%" cellspacing="0" cellpadding="4">
            #set($vPT = $paymenttype.getAllPaymentType())
            #set($mPT = $salestransaction.groupAmountByPaymentType($SalesInvoices))
            #foreach ($oPT in $vPT)
              #set($TotalPerType = $mPT.get($oPT.PaymentTypeId))
              <tr>
                <td width="70%">
                  #spc(4) $oPT.Description : 
                </td>
                #if($oPT.IsCredit)
                  #set($TotalCreditSales = $calculator.add($TotalCreditSales,$TotalPerType))
                #elseif ($oPT.IsCreditCard)
                  #set($TotalCreditCard = $calculator.add($TotalCreditCard,$TotalPerType))                      
                #end
                <td width="15%" align="right">$cformat.formatNumber($TotalPerType)</td>                      
                #set($TotalSales = $calculator.add($TotalSales,$TotalPerType))
              </tr>
              #set($TotalPerType = 0)
            #end ##end foreach vPT
            <tr>
              <td colspan="2"><hr></td>
            </tr>
            <tr>
              <td width="70%">
                $!l10n.total_sales &nbsp;
              </td>
              <td width="15%" align="right">$cformat.formatNumber($TotalSales)</td>
            </tr>
            <tr>
              <td width="70%">
                Total $!l10n.credit_card &nbsp;
              </td>
              <td width="15%" align="right">($cformat.formatNumber($TotalCreditCard))</td>
            </tr>
            <tr>
              <td width="70%">
                Total $!l10n.credit &nbsp;
              </td>
              <td width="15%" align="right">($cformat.formatNumber($TotalCreditSales))</td>
            </tr>
          </table>
        </td>
      </tr>
      #set($TotalSales = $calculator.sub($TotalSales,$TotalCreditSales))
      #set($TotalSales = $calculator.sub($TotalSales,$TotalCreditCard))            
      <tr>
        <td width="70%">$!l10n.total_amount </td>
        <td width="15%" align="right"><b>$cformat.formatNumber($TotalSales)</b></td>
        <td width="15%" align="right">&nbsp;</td>
      </tr>
    </table>          
    #end ##end if SalesInvoices
    
    #if($SalesReturns.size()>0)
      #foreach($returntrans in $SalesReturns)
        #set($TotalReturn = $calculator.add($TotalReturn,$returntrans.TotalAmount))
      #end
      <br><b>Sales Return Transaction</b>
      <br><br>
      <table width="100%" cellspacing="0" cellpadding="4"
        <tr>
          <td width="70%">Total Return :</td>
          <td width="15%" align="right">&nbsp;</td>
          <td width="15%" align="right"><b>$cformat.formatNumber($TotalReturn)</b></td>
        </tr>
      </table>
    #end
        
    #if($CashierOutgoingBalance.size()>0)
    #set($no = 0)
    <br><br>
    <table width="100%" cellspacing="0" cellpadding="4" border="0">
      <tr>
        <td width="70%">$!l10n.ending_balance :</td>
        <td width="15%" align="right">&nbsp;</td>
        <td width="15%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="100%" colspan="3">
          <table width="50%" cellspacing="0" cellpadding="4" border="0">
            #foreach($outgoingTrans in $CashierOutgoingBalance)
            <tr>
              <td width="70%">
              #spc(4) $outgoingTrans.Description ($cformat.formatCustomDateTime($outgoingTrans.TransactionDate,"HH:mm")) :
              </td>
              <td width="15%" align="right">($!cformat.formatNumber($!outgoingTrans.TotalAmount))</td>
              #set($TotalOutgoing =$calculator.add($TotalOutgoing,$!outgoingTrans.TotalAmount))
            </tr>
            #end
            <tr>
              <td colspan="2"><hr></td>
            </tr>
            <tr>
              <td width="70%">Total :&nbsp;</td>
              <td width="15%" align="right">($cformat.formatNumber($TotalOutgoing))</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="70%">&nbsp;</td>
        <td width="15%" align="right">&nbsp;</td>
        <td width="15%" align="right"><b>$cformat.formatNumber($TotalOutgoing)</b></td>
      </tr>
    </table>  
    #end ##  #if($CashierOutgoingBalance.size()>0)
    
    <table width="100%" cellspacing="0" cellpadding="4" >
      <tr>
        <td colspan="3"><hr></td>
      </tr>
      <tr>
        <td width="70%" align="right"><b>Total Cashier</b></td>
        
        #set($TotalDebet   = $calculator.add($TotalSales,$TotalIncoming))
        ##set($TotalCredit = $calculator.add($TotalReturn,$TotalOutgoing))
        #set($TotalAll     = $calculator.sub($TotalDebet,$$TotalReturn))
        #set($AllCashier   = $calculator.add($AllCashier,$TotalAll))
        <td width="15%" align="right"> &nbsp;<b>$cformat.formatNumber($TotalAll) </b></td>
        <td width="15%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="70%" align="right"><b>Total Closing Balance</b></td>
        <td width="15%" align="right"> &nbsp;</td>
        <td width="15%" align="right">&nbsp;<b>($cformat.formatNumber($TotalOutgoing))</b></td>
      </tr>
      <tr>
        <td colspan="3"><hr></td>
      </tr>
      <tr>
        #set($TotalTransfer = $calculator.sub($TotalSales,$TotalReturn))
        #set($TotalAllTransfer = $calculator.add($TotalAllTransfer,$TotalTransfer))
        <td colspan="3"><b>Total Transfer : $cformat.formatNumber($TotalTransfer)</b></td>  
      </tr>
      <tr>
        <td colspan="3"><hr></td>
      </tr>
    </table>
    <br><br>
  #end
#end ##end foreach Cashier

#if($vCashier.size() > 1)
<table width="100%" cellspacing="0" cellpadding="4" >
  <tr class="th4">
    <td width="70%" align="right"><b>Total All Cashier&nbsp;&nbsp;</b></td>
    <td width="15%" align="right"> &nbsp;<b>$cformat.formatNumber($AllCashier)</b></td>
    <td width="15%" align="right">&nbsp;</td>
  </tr>
  <tr class="th4">
    <td width="70%" align="right"><b>Total All Transfer</b></td>
    <td width="15%" align="right"> &nbsp;<b>$cformat.formatNumber($TotalAllTransfer)</b></td>
    <td width="15%" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
</table>
#end ##end if           
</form>
