#set($printable = $data.Parameters.getBoolean("printable"))
#set($op = $data.Parameters.getInt("Op"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($start = $data.Parameters.getString("StartDate",""))
#set($end = $data.Parameters.getString("EndDate",""))
#set($cashier = $data.Parameters.getString("CashierName",""))
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))

#set($pageParam = "&op=1&StartDate=${start}&EndDate=${end}")
#set($pageParam = "${pageParam}&CashierName=${cashier}&LocationId=${locid}")

#set($title = "$!l10n.cashier_report (VOID ITEM)" )

#reportPrintJS()
<script>
function viewSI(sID)
{  
    #if($data.ACL.Roles.containsName("Cashier"))
      #set($page = "transaction,$preference.DefaultPOSScreen")
    #else
      #set($page = "transaction,$!preference.DefaultInvScreen")
    #end
    var sURL = '${link.setPage($page)}?op=4&id=' + sID;                   
    var prnWnd = window.open (sURL,'printWindow', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
	prnWnd.focus();	 
}
</script>

#set($oUSRLOC = $location.getLocationByID($USRLOC))
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">

<table width="100%" cellspacing="0" cellpadding="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($start != "")                    
         ($!start - $!end)
        #end</b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>
#if(!$printable)
##<!-- SEARCH -->
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
      #spc(2)
    </td>
    <td>
      $!l10n.location :
    </td>
    <td> 
      #locationSB($locid)
    </td>
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
     <td>
       <input type="text" size="15" name="EndDate" value="$!end">
       #calf("frm" "EndDate" true)
     </td>       
    <td>
      $!l10n.cashier : 
    </td>
    <td>
      #if($ACCLOC)
        #set($Employees = $employee.getAllEmployee()) 
      #else
        #set($Employees = $employee.getEmployeeByLocationID($USRLOC))
      #end
      #if($data.ACL.Roles.containsName("Cashier"))
        <input type="text" value="$!data.User.Name" name="CashierName" READONLY >
      #else
      <select name="CashierName" #width(200)>                  
        <option value="">-- $!l10n.cashier --</option>
        #foreach ($sales in $Employees)
        #if($sutil.isNotEmpty($sales.UserName))
        <option value="$sales.UserName" #if($!sales.UserName == $cashier) SELECTED #end >
          $!sales.EmployeeName
        </option>
        #end
        #end
      </select>  
      #end ##end if cashier
      #spc(2)
    </td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">    
    </td>
  </tr>
</table>      
##<!-- END SEARCH SECTION -->
<br>
#end ##if(!$printable)      

#if($op == 1 && $mData)
#foreach ($sCashier in $mData.keySet())
#set($vVoid = $mData.get($sCashier))
<b>$!l10n.cashier : $!sCashier </b>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  #line(10)
  <tr>
    <td class="th4">$!l10n.trans_no</td>
    <td class="th4">$!l10n.trans_date</td>
    <td class="th4">$!l10n.item_code</td>
    <td class="th4">$!l10n.item_name</td>
    <td class="th4">$!l10n.qty</td>
    <td class="th4">$!l10n.unit</td>
    <td class="th4">$!l10n.sales_price</td>
    <td class="th4">$!l10n.description</td>
  </tr>
  #line(10)
  #foreach ($oData in $vData)
  <tr>
    <td class="tbs">$!oData.TransNo</td>
    <td class="tbs">$!cformat.formatDateTime($!oData.VoidDate)</td>
    <td class="tbs">$!oData.ItemCode</td>
    <td class="tbs">$!oData.ItemName</td>
    <td class="tbs">$!cformat.formatNumber($!oData.Qty)</td>
    <td class="tbs">$!oData.UnitCode</td>
    <td class="tbs">$!cformat.formatNumber($!oData.ItemPrice)</td>
    <td class="tbs">$!oData.VoidRemark</td>
  </tr>
  #end
  #line(10)
</table>

#end ## foreach mData.keySet
#end ##end if op
</form>
