#if($det)
#set($vDet = $tool.getDetailsByID($tr.PrimaryKey.toString()))
<tr>
  <td width="2%"></td> 
  <td colspan="10" align="right">
    <table class="stdTable">
      ##line(10)
      <tr class="th4">
        <td>$!l10n.item_code</td>
        <td>$!l10n.item_name</td>
        <td align="center">$!l10n.qty</td>
        #if($sType == "so")
        <td align="center">$!l10n.delivered_qty</td>        
        #end        
        #if($sType == "so" || $sType == "si" || $sType == "sr")
        <td align="center">$!l10n.unit</td>        
        <td align="center">$!l10n.price</td>
        <td align="center">$!l10n.discount</td>
        <td align="center">$!l10n.tax</td>
        <td align="center">$!l10n.sub_total</td>
        #elseif ($sType == "do")
        <td align="center">$!l10n.billed_qty</td>
        <td align="center">$!l10n.returned_qty</td>
        <td align="center">$!l10n.unit</td>        
        #end
      </tr>
      ##line(10)
      #foreach ($oDet in $vDet) 
      <tr>
        <td width="12%" class="xls-txt">$!oDet.ItemCode   </td>             
        <td width="20%">$!oDet.ItemName   </td>
        <td width="8%"  align="right">$!cformat.formatNumber($!oDet.Qty)         </td>
        #if($sType == "so")
        <td width="8%"  align="right">$!cformat.formatNumber($!oDet.DeliveredQty)</td>
        #end        
        #if($sType == "so" || $sType == "si" || $sType == "sr")
        <td width="8%"  align="right">$!unit.getCodeByID($!oDet.UnitId)          </td>        
        <td width="12%" align="right">$!cformat.formatNumber($!oDet.ItemPrice )  </td> 
        <td width="10%" align="right">$!oDet.Discount                            </td>
        <td width="10%" align="right">$!cformat.formatNumber($!oDet.TaxAmount)   </td>
        #if($sType == "sr")
        <td width="13%" align="right">$!cformat.formatNumber($!oDet.ReturnAmount)</td>    
        #else
        <td width="13%" align="right">$!cformat.formatNumber($!oDet.SubTotal)    </td>    
        #end
        #elseif ($sType == "do")
        <td width="10%" align="right">$!cformat.formatNumber($!oDet.BilledQty)    </td>    
        <td width="10%" align="right">$!cformat.formatNumber($!oDet.ReturnedQty)  </td>
        <td width="10%" align="right">$!oDet.UnitCode</td>                    
        #end
      </tr>
      #end ##end foreach det
      ###line(10)
    </table>
    ##<br>
  </td>
</tr>
#end ##end if det
