#set($title   = " $!l10n.sales_invoice (DETAILED)")
#set($sTrans  = "transaction,$!preference.DefaultInvScreen")
#set($sAction = "transaction.SalesTransactionAction")
#set($tool    = $!salestransaction)
#set($sType   = "si")

#set($discost = true)
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($discost = false)
#end

#set($vHeaders = $Invoices)
#set($sPK = "salesTransactionId")
#set($sHTML = "SIDetail.vm")

#parse("screens/report/sales/CommonSearch.vm")

#if($vHeaders)
#largeSelectNavBar("$data.ScreenTemplate" $pageParam)
#end

#if($vHeaders)
<table class="stdTable">
  <tr class="th4">
    <td><b>$!l10n.trans_no</td>
    <td><b>$!l10n.trans_date</td>
    <td><b>$!l10n.due_date</td>
    <td><b>$!l10n.customer_code</td>
    <td><b>$!l10n.customer</td>
    <td><b>$!l10n.city</td>
    <td><b>$!l10n.location</td>
    <td><b>$!l10n.status</td>
    <td><b>$!l10n.payment</td>
    <td><b>$!l10n.currency</td>
    <td><b>$!l10n.rate</td>
    <td><b>P.Type</td>
    <td><b>P.Term</td>
    <td><b>$!l10n.salesman</td>
    <td><b>$!l10n.create_by</td>
    <td><b>$!l10n.description</td>
    <td><b>$!l10n.discount (INV)</td>
    <td><b>$!l10n.total_discount</td>
    <td><b>$!l10n.total_tax</td>
    <td><b>$!l10n.total_bdt</td>
    <td><b>$!l10n.total_amount</td>
    <td><b>$!l10n.paid_amount</td>
    #if($discost)    
    <td><b>$!l10n.total_cost</td>
    <td><b>$!l10n.gross_profit</td>
    <td><b>%</td>
    #end
    #if($disrp)
    <td><b>$!l10n.sales_return</td>
    <td><b>$!l10n.return_amount</td>    
    <td><b>$!l10n.receivable_payment</td>
    <td><b>$!l10n.payment_date</td>
    #end
    #if($det)
    <td><b>$!l10n.item_code</td>
    <td><b>$!l10n.item_name</td>
    <td><b>$!l10n.item_desc</td>
    <td><b>$!l10n.category</td>
    <td><b>$!l10n.sku</td>
    <td><b>$!l10n.manufacturer</td>
    <td><b>$!l10n.color</td>    
    <td><b>$!l10n.size</td>            
    <td><b>$!l10n.qty</td>
    <td><b>SR $!l10n.qty</td>
    <td><b>$!l10n.unit</td>
    <td><b>$!l10n.price</td>
    <td><b>$!l10n.discount</td>
    #if($comso)
    <td><b>SO $!l10n.price</td>
    <td><b>SO $!l10n.discount</td>
    #end
    <td><b>$!l10n.tax</td>
    <td><b>$!l10n.sub_total (Disc)</td>
    <td><b>$!l10n.sub_total (Tax)</td>
    <td><b>$!l10n.sub_total</td>
    <td><b>$!l10n.sub_total (Inv)</td>
    #if($discost)    
    <td><b>$!l10n.sub_total (Cost)</td>
    <td><b>$!l10n.gross_profit</td>
    <td><b>%</td>
    #end
    <td><b>$!l10n.vendor</td>
    <td><b>$!l10n.vendor_name</td>
    #if($preference.useSerialNo())
    <td><b>$!l10n.serial_no</td>
    #end ##end if use serial
    #end ##end if det
  </tr>

  #set($arpayment = $butil.loadClass("com.ssti.enterprise.pos.tools.financial.ReceivablePaymentTool"))
  #foreach ($tr in $vHeaders)
  #set($oCust = $customer.getCustomerByID($tr.CustomerId))
  #set($disp = false)
  #set($subDet = 0)
  #set($sPPID = "")
  #set($sPPNo = "")
  #set($sPPDt = "")
  #set($sRetNo = "")

  #if($disrp) ##show RP & SR
    #if($tr.paymentStatus)
      #set($vPP = $arpayment.getBySIID($tr.SalesTransactionId))
      #if($vPP.size() > 0)
        #set($sPPID = "$vPP.get(0).TransactionId")
        #set($sPPNo = "$vPP.get(0).TransactionNo")
        #set($sPPDt = "$!cformat.fmt($vPP.get(0).TransactionDate)")
      #end
    #end ##end if tr payment status
    #set($sr = "")
    #set($sr = $salesreturn.getByTransID($tr.TransactionId,$null))
    #if($sutil.isNotEmpty($sr.SalesReturnId) && $sr.Status == 2)
      #set($sRetNo = $sr.ReturnNo)
    #end ##end if sr
  #end ##end if dis rp
  #if(!$det)
  #set($dBDT = $calculator.add($tr.TotalAmount,$tr.TotalDiscount))
  #set($dBDT = $calculator.sub($dBDT,$tr.TotalTax))
  <tr>
    <td><a href="$link.setPage($sTrans)?op=4&id=$tr.TransactionId">$!tr.InvoiceNo</td>
    <td>$!cformat.formatDateTime($tr.TransactionDate)</td>
    $!rpt.displayTD($tr,"dueDate         ",0,"") ## $!l10n.due_date</td>
    <td>$!customer.getCodeByID($tr.CustomerId)</td>
    $!rpt.displayTD($tr,"customerName    ",0,"") ## $!l10n.customer</td>
    <td>$!customer.getCustomerByID($tr.CustomerId).City</td>
    $!rpt.displayTD($tr,"locationId      ",1,"") ## $!l10n.location</td>
    <td>$!salestransaction.getStatusString($tr.Status)</td>
    <td>$!purchaseinvoice.getPaymentStatusString($tr.PaymentStatus)</td>
    $!rpt.displayTD($tr,"currencyId      ",1,"") ## $!l10n.currency</td>
    $!rpt.displayTD($tr,"currencyRate    ",0,"") ## $!l10n.rate</td>
    $!rpt.displayTD($tr,"paymentTypeId   ",1,"") ## $!l10n.payment_type</td>
    $!rpt.displayTD($tr,"paymentTermId   ",1,"") ## $!l10n.payment_term</td>
    $!rpt.displayTD($tr,"salesId         ",1,"") ## $!l10n.salesman</td>
    $!rpt.displayTD($tr,"cashierName     ",0,"") ## $!l10n.create_by</td>
    $!rpt.displayTD($tr,"remark          ",0,"") ## $!l10n.description</td>
    $!rpt.displayTD($tr,"totalDiscountPct",0,"") ## $!l10n.discount</td>
    $!rpt.displayTD($tr,"totalDiscount   ",0,"") ## $!l10n.total_discount</td>
    $!rpt.displayTD($tr,"totalTax        ",0,"") ## $!l10n.total_tax</td>
    <td align="right">$!cformat.formatAligned($dBDT)</td>
    $!rpt.displayTD($tr,"totalAmount     ",0,"") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"paidAmount      ",0,"") ## $!l10n.payment_amount</td>
    #if($discost)    
    $!rpt.displayTD($tr,"totalCost       ",0,"") ## $!l10n.total_cost</td>
    $!rpt.displayTD($tr,"totalProfit     ",0,"") ## $!l10n.total_profit</td>
    <td>$!cf.formatAligned($cal.pct($tr.TotalProfit,$cal.sub($tr.TotalAmount,$tr.TotalTax))) % </td>
    #end  
    #if($disrp)
    <td><a href="$link.setPage("transaction,SalesReturnTransaction.vm")?op=4&id=$!sr.SalesReturnId">$!sRetNo</td>
    <td align="right"><a href="$link.setPage("transaction,SalesReturnTransaction.vm")?op=4&id=$!sr.SalesReturnId">$!cf.fmt($sr.ReturnedAmount)</td>    
    <td>
       #foreach($oPP in $vPP)
       <a href="$link.setPage("transaction,ReceivablePayment.vm")?op=4&id=$!oPP.TransactionId">$!oPP.TransactionNo</a> #spc(1)
       #end
    </td>
    <td>
      #foreach($oPP in $vPP)
      $!cf.fmt($oPP.TransactionDate) #if(!$dutil.isDateEqual($oPP.TransactionDate,$!oPP.DueDate))/ $!cf.fmt($oPP.DueDate) #end  #spc(2)      
      #end
    </td>
    #set($sr = "")
    #end ##end disrp
  </tr>
  #else ##else if det

  #set($dBDT = $calculator.add($tr.TotalAmount,$tr.TotalDiscount))
  #set($dBDT = $calculator.sub($dBDT,$tr.TotalTax))
  #set($vDet = $tool.getDetailsByID($tr.PrimaryKey.toString()))
  #set($do  = $null)
  #set($dod = $null)
  #set($so  = $null)
  #set($sod = $null)

  #foreach($td in $vDet)

  #if(!$do || $do.DeliveryOrderId != $td.DeliveryOrderId)
  #set($so = $salesorder.getHeaderByID($td.SalesOrderId,$null))
  #set($do = $deliveryorder.getHeaderByID($td.DeliveryOrderId,$null))
  #end
  #if($comso && (!$dod || $dod.DeliveryOrderDetailId != $td.DeliveryOrderDetailId))
  #set($dod = $deliveryorder.getDetailByDetailID($td.DeliveryOrderDetailId,$null))
  #set($sod = $salesorder.getDetailByDetailID($dod.SalesOrderOrderDetailId,$null))
  #end
  <tr>
    #if(!$disp)        
    <td><a href="$link.setPage($sTrans)?op=4&id=$tr.TransactionId">$!tr.InvoiceNo</td>
    ##$!rpt.displayTD($tr,"invoiceNo       ",0,"") ## $!l10n.trans_no</td>
    <td>$!cformat.formatDateTime($tr.TransactionDate)</td>
    $!rpt.displayTD($tr,"dueDate         ",0,"") ## $!l10n.due_date</td>
    <td>$!customer.getCodeByID($tr.CustomerId)</td>
    $!rpt.displayTD($tr,"customerName    ",0,"") ## $!l10n.customer</td>
    <td>$!customer.getCustomerByID($tr.CustomerId).City</td>
    $!rpt.displayTD($tr,"locationId      ",1,"") ## $!l10n.location</td>
    <td>$!salestransaction.getStatusString($tr.Status)</td>
    <td>$!purchaseinvoice.getPaymentStatusString($tr.PaymentStatus)</td>
    $!rpt.displayTD($tr,"currencyId      ",1,"") ## $!l10n.currency</td>
    $!rpt.displayTD($tr,"currencyRate    ",0,"") ## $!l10n.rate</td>
    $!rpt.displayTD($tr,"paymentTypeId   ",1,"") ## $!l10n.payment_type</td>
    $!rpt.displayTD($tr,"paymentTermId   ",1,"") ## $!l10n.payment_term</td>
    $!rpt.displayTD($tr,"salesId         ",1,"") ## $!l10n.salesman</td>
    $!rpt.displayTD($tr,"cashierName     ",0,"") ## $!l10n.create_by</td>
    $!rpt.displayTD($tr,"remark          ",0,"") ## $!l10n.description</td>
    $!rpt.displayTD($tr,"totalDiscountPct",0,"") ## $!l10n.discount</td>
    $!rpt.displayTD($tr,"totalDiscount   ",0,"") ## $!l10n.total_discount</td>
    $!rpt.displayTD($tr,"totalTax        ",0,"") ## $!l10n.total_tax</td>
    ##<td align="right">$!cformat.formatAligned($dBDT)</td>
    $!rpt.displayTD($tr,"totalBDT        ",0,"") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"totalAmount     ",0,"") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"paidAmount      ",0,"") ## $!l10n.paid_amount</td>
    #if($discost)    
    $!rpt.displayTD($tr,"totalCost       ",0,"") ## $!l10n.total_cost</td>    
    #set($amt = $cal.mul($tr.TotalAmount,$tr.CurrencyRate))
    #set($tax = $cal.mul($tr.TotalTax,$tr.FiscalRate))
    #set($amt = $cal.sub($amt,$tax))
    #set($prf = $cal.sub($amt,$tr.TotalCost))    
    <td>$!cf.formatAligned($prf) </td>
    <td>$!cf.formatAligned($cal.pct($prf,$amt)) % </td>
    #end    
    #if($disrp)
    <td><a href="$link.setPage("transaction,SalesReturnTransaction.vm")?op=4&id=$!sr.SalesReturnId">$!sRetNo</td>
    <td align="right"><a href="$link.setPage("transaction,SalesReturnTransaction.vm")?op=4&id=$!sr.SalesReturnId">$!cf.fmt($sr.ReturnedAmount)</td>    
    <td><a href="$link.setPage("transaction,ReceivablePayment.vm")?op=4&id=$!sPPID">$!sPPNo</td>
    <td>$!sPPDt</td>
    #end ##end fisp
    #if(!$rphdr) ##repeat header      
      #set($disp = true)
    #end        
    #else
    #set($cspan = 22)
    #if($disrp) #set($cspan = $cspan + 4) #end
    #if($discost) #set($cspan = $cspan + 3) #end    
    <td colspan="$cspan"></td>
    #end
    
    #set($subDet = $cal.add($subDet,$td.SubTotal))    
    #set($oItem = $item.getItemByID($td.ItemId))
    <td class="xls-txt">$!td.Item.ItemCode</td>
    ## $!rpt.displayTD($td,"itemCode        ",0,"") ## $!l10n.item_code</td>
    $!rpt.displayTD($td,"itemName        ",0,"") ## $!l10n.item_name</td>
    $!rpt.displayTD($td,"description     ",0,"") ## $!l10n.item_descc</td>
    <td>$!kategori.getLongDescription($oItem.KategoriId)</td>
    <td>$!td.Item.ItemSku</td>
    <td>$!td.Item.Manufacturer</td>
    <td>$!td.Item.Color</td>
    <td>$!td.Item.Size</td>    
    
    $!rpt.displayTD($td,"qty             ",0,"") ## $!l10n.qty</td>
    $!rpt.displayTD($td,"returnedQty     ",0,"") ## $!l10n.qty</td>

    $!rpt.displayTD($td,"unitId          ",1,"") ## $!l10n.unit</td>
    $!rpt.displayTD($td,"itemPrice       ",0,"") ## $!l10n.price</td>
    $!rpt.displayTD($td,"discount        ",0,"") ## $!l10n.discount</td>

    #if($comso)
    $!rpt.displayTD($pod,"itemPrice      ",0,"") ## $!l10n.purchase_receipt</td>
    $!rpt.displayTD($pod,"discount       ",0,"") ## $!l10n.purchase_receipt</td>
    #end
    $!rpt.displayTD($td,"taxId           ",1,"") ## $!l10n.tax</td>
    $!rpt.displayTD($td,"subTotalDisc    ",0,"") ## $!l10n.sub_total_disc</td>
    $!rpt.displayTD($td,"subTotalTax     ",0,"") ## $!l10n.sub_total_tax</td>
    $!rpt.displayTD($td,"subTotal        ",0,"") ## $!l10n.sub_total</td>
    <td align="right">
      #set($dInvDisc = $!calculator.calculateDiscount("$tr.TotalDiscountPct",$td.SubTotal))
      #set($dSubInv = $calculator.sub($td.SubTotal,$dInvDisc))
      $!cformat.formatAccounting($dSubInv)
    </td>    
    #if($discost)    
    $!rpt.displayTD($td,"subTotalCost    ",0,"") ## $!l10n.total_cost</td>
    #set($dSubBT = $cal.sub($cal.mul($td.SubTotal,$tr.CurrencyRate),$cal.mul($td.SubTotalTax,$tr.FiscalRate)))
    #set($dSubProfit = $cal.sub($dSubBT,$td.SubTotalCost))
    <td>$!cf.formatAligned($dSubProfit) </td>    
    <td>$!cf.formatAligned($cal.pct($dSubProfit,$dSubBT)) % </td>
    #end    

    <td align="right">$!vendor.getCodeByID($!oItem.PreferedVendorId)</td>
    <td align="right">$!vendor.getVendorNameByID($!oItem.PreferedVendorId)</td>

    #if($preference.useSerialNo())
    #if($sutil.isNotEmpty($td.DeliveryOrderDetailId))
    #set($vIS = $itemserial.getByItemAndDetID($td.ItemId, $td.DeliveryOrderDetailId, $tr.LocationId))
    #else
    #set($vIS = $itemserial.getByItemAndDetID($td.ItemId, $td.PrimaryKey.toString(), $tr.LocationId))
    #end
    #foreach($is in $vIS)
    $!rpt.displayTD($is,"serialNo",0,"")
    #end ##foreach serial no
    #end ##end use serial no
  </tr>
  #end ##end foreach vdet  
  ## #if($cal.compare($tr.TotalAmount,$subDet,"!=") )
  ## <tr style="background:red;color:white"> <td colspan="40"> 
  ##   $!cf.fmt($tr.TotalAmount) $cf.fmt($subDet)  </td> 
  ## </tr>
  ## #end
  #end ##end foreach vhead
  #end ##end if det
</table>
#end ##end if vHeaders
