#set($title = "Uncomplete Sales Order List" )

#set($sfa = $data.Parameters.getBoolean("sfa"))

#set($sTrans = "transaction,SalesOrderTransaction.vm")
#set($tool = $salesorder)
#set($sType = "so")

#if(!$sfa)
#parse("screens/report/sales/CommonSimpleSearch.vm")
#else
#parse("screens/report/sfa/SFASimpleSearch.vm")
#end

#if($op == 1)
#set($SalesOrders = $salesorder.findTrans($cond,$key,$dStart,$dEnd,$custid,$locid,$status,"","","","$!slsid"))

<!-- GROUP BY NONE -->
#if($groupby == 1)
#set($headings = ["No","$!l10n.so_no", "$!l10n.customer", "$!l10n.trans_date", "$!l10n.due_date","$!l10n.location","$!l10n.status", "$!l10n.payment" ,"$!l10n.total_qty", "$!l10n.total_amount"] )
<table class="stdTable">
  #line($headings.size())
  <tr class="th4">
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
  </tr>   
  #line($headings.size())
  #set($totalQty = 0)    
  #set($totalAmt = 0)
  #set($no = 0)  
  #foreach ($tr in $SalesOrders)
  #set($no = $no + 1)
  <tr>
    <td>$no </td>
    <td>
      <a href="javascript:view('$!tr.SalesOrderId');">                         
        $tr.SalesOrderNo 
      </a>                                        
    </td>
    <td>$!tr.CustomerName                                        </td>             
    <td>$!cf.fmt($!tr.TransactionDate)                           </td>
    <td>$!cf.fmt($!tr.DueDate)                                   </td>
    <td>$!location.getLocationCodeByID($!tr.LocationId)          </td>                           
    <td>$!salesorder.getStatusString($tr.TransactionStatus)      </td>
    <td>$!paymenttype.getPaymentTypeCodeByID($!tr.PaymentTypeId) </td>
    <td align="right">$!cf.fmtAlg($!tr.TotalQty)      </td>
    <td align="right">$!cf.fmtAlg($!tr.TotalAmount)  </td>    
     #set($totalQty = $!calculator.add($totalQty,$!tr.TotalQty)) 
     #set($totalAmt = $!calculator.add($totalAmt,$!tr.TotalAmount))
  </tr>
  #parse("screens/report/sales/CommonDetail.vm")
  #end
  ###line(11)       
  <tr>
    <td colspan="8"><div align="right"><b>Total</b> &nbsp;&nbsp;&nbsp;</div></td>
    <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty)</b></td>
    <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalAmt)</b></td>
  </tr>   
  #line(11)
</table>
#end

<!-- GROUP BY CUST -->
#if($groupby == 2)
#set($headings = ["No","$!l10n.po_no", "$!l10n.trans_date", "$!l10n.due_date","$!l10n.location", "$!l10n.status", "$!l10n.payment", "$!l10n.total_qty", "$!l10n.total_amount"] )
#set($vCustomer = $!butil.getDistinctListByField($SalesOrders,"customerId"))              
#foreach ($oCustomer in $vCustomer)
  #set($iCustomerID = $oCustomer.CustomerId)
  #set($vSalesOrders = $!butil.filterListByFieldValue($SalesOrders,"customerId",${iCustomerID}))
  <b>$!l10n.customer : $!customer.getCustomerCodeByID($oCustomer.CustomerId) - $oCustomer.CustomerName </b>    
  <table class="stdTable">
    #line($headings.size())
    <tr class="th4">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
    </tr>     
    #line($headings.size())
    #set($totalQty = 0)  
    #set($totalAmt = 0)
    #set($no = 0)    
    #foreach ($tr in $vSalesOrders)
    #set($no = $no + 1)
    <tr>
      <td width="2%">$no </td>
      <td width="15%">
       <a  href="javascript:view('$!tr.SalesOrderId');">                            
         $tr.SalesOrderNo 
       </a>                                                                             
      </td>
      <td>$!cf.fmt($!tr.TransactionDate)               </td>
      <td>$!cf.fmt($!tr.DueDate)                       </td>
      <td>$!location.getLocationCodeByID($!tr.LocationId)          </td>                           
      <td>$!salesorder.getStatusString($tr.TransactionStatus)      </td>
      <td>$!paymenttype.getPaymentTypeCodeByID($!tr.PaymentTypeId) </td>
      <td align="right">$!cf.fmtAlg($!tr.TotalQty)     </td>
      <td align="right">$!cf.fmtAlg($!tr.TotalAmount)  </td>  
      #set($totalQty = $!calculator.add($totalQty,$!tr.TotalQty))    
      #set($totalAmt = $!calculator.add($totalAmt,$!tr.TotalAmount))  
    </tr>
    #parse("screens/report/sales/CommonDetail.vm")
    #end  
    #if(!$det)#line($headings.size())#end
    <tr>
      <td colspan="7"><div align="right"><b>Total</b> </div></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty)</b></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalAmt)</b></td>
    </tr>   
    #line($headings.size())
  </table>
#end ##end foreach cust 
#end ##end if 

<!-- GROUP BY ITEM -->
#if($groupby == 4)
#set($headings = ["No","$!l10n.so_no", "$!l10n.trans_date","$!l10n.customer","$!l10n.qty","$!l10n.delivered_qty","Left","$!l10n.unit","$!l10n.price","$!l10n.sub_total"] )
#if($SalesOrders.size() > 0)
  #set($vTransDetail = $salesorder.getTransDetails($SalesOrders))
  #set($vDetailItem = $!butil.getDistinctListByField($vTransDetail,"itemId"))    
  #foreach($oDetailItem in $vDetailItem)
    #set($iItemID = $oDetailItem.ItemId)
    #set($vTransDetail2 = $!butil.filterListByFieldValue($vTransDetail,"itemId",$iItemID))
    #set($oItem = $item.getItemByID($oDetailItem.ItemId))    
    
    #set($bDisplay = true)    
    #set($key = $key.replaceAll("%",""))
    #if($cond == 7 && $sutil.isNotEmpty($key))   
    #if(!$oItem.ItemCode.contains($key)) #set($bDisplay = false) #end
    #end ##end if search by PLU
    #if($cond == 8 && $sutil.isNotEmpty($key))   
    #if(!$oItem.ItemName.contains($key)) #set($bDisplay = false) #end
    #end ##end if search by Item NAME
    
    #if($bDisplay)
    <b>$!oDetailItem.ItemCode - $!oDetailItem.ItemName  </b>
    <table class="stdTable">
      #line($headings.size())      
      <tr class="th4">
        #foreach ($heading in $headings)
        <td>$heading</td>
        #end ##end for each
      </tr>       
      #line($headings.size())
      #set($totalQty = 0)  
      #set($totalAmt = 0)  
      #set($totalDel = 0) 
      #set($totalLeft = 0) 
      #set($no = 0)
      #foreach($det in $vTransDetail2)
        #set($no = $no + 1)
        #set($vHdr = $butil.filterListByFieldValue($SalesOrders, "salesOrderId", $det.SalesOrderId))
        #if($vHdr.size() > 0) #set($oHeader = $vHdr.get(0)) #end
        #set($dLeft = $calculator.sub($det.Qty, $det.DeliveredQty))               
        #if($dLeft.intValue() > 0)
        <tr>
          <td width="2%" >$no </td>
          <td width="12%" >$!oHeader.SalesOrderNo                     </td>
          <td width="10%" >$!cf.fmt($!oHeader.TransactionDate)        </td>
          <td width="12%" >$!oHeader.CustomerName                     </td>          
          <td width="8%" align="right">$!cf.fmtAlg($!det.Qty)         </td>
          <td width="8%" align="right">$!cf.fmtAlg($!det.DeliveredQty)</td>
          <td width="8%" align="right">$!cf.fmtAlg($!dLeft)           </td>          
          <td width="8%" align="right">$!det.UnitCode                 </td>
          <td width="10%" align="right">$!cf.fmtAlg($!det.ItemPrice)   </td>          
          <td width="10%" align="right">$!cf.fmtAlg($!det.SubTotal)    </td>                                
          #set($totalQty = $!calculator.add($totalQty,$!det.Qty))  
          #set($totalDel = $!calculator.add($totalDel,$!det.DeliveredQty))    
          #set($totalLeft = $!calculator.add($totalLeft,$!dLeft))              
          #set($totalAmt = $!calculator.add($totalAmt,$!det.SubTotal)) 
        </tr>
        #end ##if dLeft
      #end  ##end for each
      #line ($headings.size())
      <tr>
        <td colspan="4"><div align="right"><b>Total</b> &nbsp;&nbsp;&nbsp;</div></td>
        <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty) </b></td>
        <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalDel) </b></td>
        <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalLeft)</b></td>        
        <td colspan="1" align="right"><b>&nbsp;</b></td>        
        <td colspan="1" align="right"><b>&nbsp;</b></td>                                           
        <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalAmt)</b></td>
      </tr>                                                                 
      #line ($headings.size())
    </table>
    <br>
    #end ##end if bDisplay
  #end ##end foreach detail item
#end ##end if size
#end ##end if group by

<!-- GROUP BY CUST DET s-->
#if($groupby == 5)
#set($headings = ["No","$!l10n.so_no", "$!l10n.trans_date","$!l10n.location","$!l10n.status","$!l10n.item_code","$!l10n.item_name","$!l10n.qty","$!l10n.delivered_qty","Left","$!l10n.sales_price"] )
#set($vCustomer = $!butil.getDistinctListByField($SalesOrders,"customerId"))              
#foreach ($oCustomer in $vCustomer)
  #set($iCustomerID = $oCustomer.CustomerId)
  #set($vSalesOrders = $!butil.filterListByFieldValue($SalesOrders,"customerId",${iCustomerID}))  
  <b>$!l10n.customer : $!customer.getCustomerCodeByID($oCustomer.CustomerId) - $oCustomer.CustomerName </b>    
  <table class="stdTable">
    #line($headings.size())
    <tr class="th4">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
    </tr>     
    #line($headings.size())
    #set($totalQty = 0)          
    #set($totalDel = 0)          
    #set($totalLeft = 0)              
    #set($totalAmt = 0)        
    #foreach ($tr in $vSalesOrders)    
    #set($no = 0)
    #set($vDet = $tool.getDetailsByID($tr.PrimaryKey.toString()))
    #foreach ($oDet in $vDet)        
    #set($dLeft = $calculator.sub($oDet.Qty, $oDet.DeliveredQty))
    #if($dLeft.intValue()>0)
    #set($no = $no + 1)
    <tr>
      <td width="2%">$no </td>
      <td><a href="javascript:view('$!tr.SalesOrderId');">$!tr.SalesOrderNo</a></td>
      <td width="7%">$!cf.fmt($!tr.TransactionDate)       &nbsp;   </td>
      <td width="7%">$!location.getLocationCodeByID($!tr.LocationId)      </td>                           
      <td width="7%">$!salesorder.getStatusString($tr.TransactionStatus)  </td>
      <td width="8%">$!oDet.ItemCode                                      </td>             
      <td >$!oDet.ItemName                                       </td>
      <td width="7%"  align="right">$!cf.fmt($!oDet.Qty)         </td>
      <td width="7%"  align="right">$!cf.fmt($!oDet.DeliveredQty)</td>
      <td width="7%"  align="right">$!cf.fmt($!dLeft)            </td>      
      <td width="8%" align="right">$!cf.fmt($!oDet.ItemPrice )   </td> 
      ##<td width="8%" align="right">$!oDet.Discount                             </td>
      ##<td width="9%" align="right">$!cf.fmt($!oDet.SubTotal)     </td>    
      #set($totalQty = $!calculator.add($totalQty,$!oDet.Qty))    
      #set($totalDel = $!calculator.add($totalDel,$!oDet.DeliveredQty))          
      #set($totalLeft = $!calculator.add($totalLeft,$!dLeft))          
      #set($totalAmt = $!calculator.add($totalAmt,$!tr.TotalAmount))  
    </tr>
    #end ##end if left > 0
    #end ##end foreach Det
    #end ##end foreach SO
    #line($headings.size())
    <tr>
      <td colspan="7"><div align="right"><b>Total</b> </div></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty)</b></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalDel)</b></td>     
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalLeft)</b></td>            
      ##<td colspan="2"></td>      
      ##<td colspan="1" align="right"><b>$!cf.fmtAlg($!totalAmt)</b></td>
    </tr>   
    #line($headings.size())
  </table>
#end ##end foreach cust 
#end ##end if 

<!-- GROUP BY VENDOR -->
#if($groupby == 9)
#set($headings = ["No","$!l10n.so_no", "$!l10n.trans_date","$!l10n.location","$!l10n.status","$!l10n.item_code","$!l10n.item_name","$!l10n.qty","$!l10n.delivered_qty","Left"] )
#set($vSOID = $sqlutil.toListOfID($SalesOrders))
#set($mVendor = $salesreport.createSOVendorMap($vSOID))
        
#foreach ($sVendorID in $mVendor.keySet())  
  #set($vSalesOrders = $mVendor.get($sVendorID))  
  #set($oVendor = $!vendor.getVendorByID($sVendorID))
  <b>$!l10n.vendor : $oVendor.VendorCode - $oVendor.VendorName </b>    
  <table class="stdTable">
    #line($headings.size())
    <tr class="th4">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
    </tr>     
    #line($headings.size())
    #set($totalQty = 0)          
    #set($totalDel = 0)          
    #set($totalLeft = 0)              
    #set($totalAmt = 0)
    #set($no = 0)    
    #foreach ($rec in $vSalesOrders)
    #set($no = $no + 1)
    <tr>
      <td width="2%" >$no </td>
      <td><a  href="javascript:view('$!rec.getValue("sales_order_id")');">$!rec.getValue("sales_order_no")</a></td>
      <td width="7%" >$!cf.fmt($!rec.getValue("transaction_date").asDate())         </td>
      <td width="7%" >$!location.getLocationCodeByID($!rec.getValue("location_id").asString())  </td>                           
      <td width="7%" >$!salesorder.getStatusString($!rec.getValue("transaction_status").asInt())</td>
      <td width="8%" >$!rec.getValue("item_code")</td>             
      <td>$!rec.getValue("item_name")</td>
      <td width="7%"  align="right">$!cf.fmt($rec.getValue("qty").asDouble())     </td>
      <td width="7%"  align="right">$!cf.fmt($rec.getValue("delivered_qty").asDouble())</td>
      <td width="7%"  align="right">$!cf.fmt($rec.getValue("left").asDouble())    </td>      
      
      #set($totalQty = $!calculator.add($totalQty,$!oDet.Qty))    
      #set($totalDel = $!calculator.add($totalDel,$!oDet.DeliveredQty))          
      #set($totalLeft = $!calculator.add($totalLeft,$!dLeft))          
    </tr>
    #end  ##end foreach SO
    #line($headings.size())
    <tr>
      <td colspan="7"><div align="right"><b>Total</b> </div></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty)</b></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalDel)</b></td>     
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalLeft)</b></td>            
    </tr>   
    #line($headings.size())
  </table>
#end ##end foreach vendor
#end ##end if 

#end ##end if op


<!-- GROUP BY SALESMAN -->
#if($groupby == 10)
#set($headings = ["No","$!l10n.so_no", "$!l10n.customer", "$!l10n.trans_date", "$!l10n.due_date","$!l10n.location", "$!l10n.status", "$!l10n.payment", "$!l10n.total_qty", "$!l10n.total_amount"] )
#set($vEmp = $!butil.getDistinctListByField($SalesOrders,"salesId"))              
#foreach ($oEmp in $vEmp)
  #set($sSalesID = $oEmp.SalesId)
  #set($vSalesOrders = $!butil.filterListByFieldValue($SalesOrders,"salesId",$sSalesID))
  <b>$!l10n.salesman : $!employee.getEmployeeNameByID($sSalesID) </b>    
  <table class="stdTable">
    #line($headings.size())
    <tr class="th4">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
    </tr>     
    #line($headings.size())
    #set($totalQty = 0)  
    #set($totalAmt = 0)
    #set($no = 0)    
    #foreach ($tr in $vSalesOrders)
    #set($no = $no + 1)
    <tr>
      <td width="2%">$no </td>
      <td>
       <a href="javascript:view('$!tr.SalesOrderId');">                            
         $tr.SalesOrderNo 
       </a>                                                                             
      </td>
      <td>$!tr.CustomerName                    </td>      
      <td>$!cf.fmt($!tr.TransactionDate)       </td>
      <td>$!cf.fmt($!tr.DueDate)               </td>
      <td>$!location.getLocationCodeByID($!tr.LocationId)          </td>                           
      <td>$!salesorder.getStatusString($tr.TransactionStatus)      </td>
      <td>$!paymenttype.getPaymentTypeCodeByID($!tr.PaymentTypeId) </td>
      <td align="right">$!cf.fmtAlg($!tr.TotalQty)     </td>
      <td align="right">$!cf.fmtAlg($!tr.TotalAmount)  </td>  
      #set($totalQty = $!calculator.add($totalQty,$!tr.TotalQty))    
      #set($totalAmt = $!calculator.add($totalAmt,$!tr.TotalAmount))  
    </tr>
    #parse("screens/report/sales/CommonDetail.vm")
    #end  
    #if(!$det)#line($headings.size())#end
    <tr>
      <td colspan="8"><div align="right"><b>Total</b> </div></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalQty)</b></td>
      <td colspan="1" align="right"><b>$!cf.fmtAlg($!totalAmt)</b></td>
    </tr>   
    #line($headings.size())
  </table>
#end ##end foreach cust 
#end ##end if 
