#set($sID = $data.Parameters.getString("id"))
#set($oReport = $customreport.get($sID))
#set($sTitle = $!oJrReport.getParam("report_title"))
#set($sCompanyName = $!oJrReport.getParam("company_name"))
#set($sReportConfigId = $data.Parameters.getString("report_config",""))
#if($sutil.isEmpty($sTitle))
    #set($sTitle = $oReport.ReportTitle)
#end ##if
#if($sutil.isEmpty($sCompanyName))
    #set($sCompanyName = $sDefaultCompanyName)
#end ##if
#set($handler = $data.Parameters.getString("handler",""))

#if($handler.equals("searchSelectBox"))
    $data.setLayoutTemplate("/Empty.vm")
    #set($vSearch = ['{status}',$cashflow.getStatusString(1),$cashflow.getStatusString(2),$cashflow.getStatusString(3)])
    #cbSearchAjax ("updateSearch" $oJrReport $vSearch)
#elseif ($handler.equals("groupSelectBox"))
    $data.setLayoutTemplate("/Empty.vm")
    #cbGroupAjax ("updateGroup" $oJrReport)
#elseif ($handler.equals("sortSelectBox"))
    $data.setLayoutTemplate("/Empty.vm")
    #cbSortAjax ("updateSort" $oJrReport)
#elseif ($handler.equals("reportConfigs"))
    $data.setLayoutTemplate("/Empty.vm")
    <select onchange="document.location='$link.setPage($data.ScreenTemplate)?id=$sID&report_config=' + this.value" style="width:200px;">
        <option value="">-- New --</option>
        #foreach ($oData in $vReportConfig)
        #set($sConfigID = $oData.getPrimaryKey().getValue().toString())
        <option value="$sConfigID" #if($oReportConfig.getPrimaryKey().getValue().toString() == $sConfigID) SELECTED #end >
          $oData.ConfigName
        </option>
        #end
    </select> 
#elseif ($handler.equals("cash_flow"))
  $data.setLayoutTemplate("/Empty.vm")
  #set($vTR = $accountreceivable.find("CashFlowPeer", "cash_flow.CASH_FLOW_NO", $data.Parameters.getString("keywords")))
  <ul>
    #foreach ($oTR in $vTR)
    <li>$oTR.CashFlowNo</li>
    #end
  </ul>
#else
    
$data.setLayoutTemplate("/JasperParam.vm")
<script>
function updateSearch(param, n)
{
    ajaxUpdater(
        'search',
        '$link.setPage($data.ScreenTemplate)',
        Form.serialize(frm) + '&id=$sID&handler=searchSelectBox&report_config=$!oReportConfig.ReportConfigId&param=' + param + '&n=' + n,
'');
}
function updateGroup(param, n)
{
    ajaxUpdater(
        'groups',
        '$link.setPage($data.ScreenTemplate)',
        Form.serialize(frm) + '&id=$sID&handler=groupSelectBox&report_config=$!oReportConfig.ReportConfigId&param=' + param + '&n=' + n,
'');
}
function updateSort(param, n)
{
    ajaxUpdater(
        'sorts',
        '$link.setPage($data.ScreenTemplate)',
        Form.serialize(frm) + '&id=$sID&&handler=sortSelectBox&report_config=$!oReportConfig.ReportConfigId&param=' + param + '&n=' + n,
'');
}
function updateReportConfig()
{
    ajaxUpdater(
        'report_config',
        '$link.setPage($data.ScreenTemplate)',
'&id=$sID&handler=reportConfigs&report_config=$!oReportConfig.ReportConfigId',
'');
}
</script>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td width="20%" style="padding:0px;"></td>
    <td width="80%" style="padding:0px;"></td>
  </tr>
  <tr>
    <td>Report Config</td>
    <td id="report_config"></td>
  </tr>
  <tr>
    <td>Report Config Name</td>
    <td><input type="text" name="config_name" size="40" value="$!oReportConfig.ConfigName"/></td>
  </tr>
  <tr>
    <td>Company Name</td>
    <td><input type="text" name="company_name" size="40" value="$sCompanyName"/></td>
  </tr>
  <tr>
    <td>Report Title</td>
    <td><input type="text" name="report_title" size="40" value="$sTitle"/></td>
  </tr>
  <tr>
    <td>Summary</td>
    <td><input type="checkbox" name="summary" class="cb" #if($oJrReport.Summary) checked #end/>    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0px;">
    <table width="100%" cellspacing="0" cellpadding="4">
      <tr>
        <td width="20%" style="padding:0px;"></td>
        <td width="38%" style="padding:0px;"></td>
        <td width="4%" style="padding:0px;"></td>
        <td width="38%" style="padding:0px;"></td>
      </tr>
      <tr>
        #rangeDate("date" true)
      </tr>
      <tr>
        #rangeCode("Cash Flow No" "cash_flow" 2)
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0px;" id="search"></td>
  </tr>
  <tr>
    <td valign="top">Select Fields</td>
    <td>
    <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td width="60%"><span class="txtTitle2">Field Name</span></td>
      <td width="40%"><span class="txtTitle2">Width %</span></td>
    </tr>
    <tr>
      <td colspan="3">
      <ul id="thelist" style="list-style-type:none; margin:0; padding:0;">
      #reportElementList("" $oJrReport.ReportElement)
      </ul>
      </td>
    </tr>
    </table>
    <script>
    Sortable.create("thelist",
        {
            dropOnEmpty:true,
            constraint:false
        }
    );
    </script>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0px;" id="groups">    
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0px;" id="sorts">    
    </td>
  </tr>
</table>
<script>
updateSearch('','$oJrReport.ReportSearchNumber')
updateGroup('','$oJrReport.ReportGroupNumber')
updateSort('','$oJrReport.ReportSortNumber')
updateReportConfig()
</script>
#end