#lightbox {
	position:fixed;
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:url(../images/overlay.png) repeat; 
	text-align:center;
	vertical-align:middle;
	z-index:99;
}
#lightbox p {
	text-align:right; 
	color:#fff; 
	margin-right:20px; 
	font-size:12px; 
}
#lightbox img {
	box-shadow:0 0 10px #111;
	-webkit-box-shadow:0 0 10px #111;
	-moz-box-shadow:0 0 10px #111;
	max-height:600px;
}

