/* HTML */                               
html,body {height:100%; width:100%; margin:0;} 
body,td,a, input, select {font-family:  "Helvetica Neue", Helvetica, Arial; font-size: 16px; font-weight:bold;}  
body      {color: #3F74B6; background-color:#FFFFFF; overflow:auto;}
a		  {color: #333366; text-decoration: none;}
a.topLink {color: #FFFFFF; font-size: 14px;}
a:HOVER	  {color: #004466}
table     {border-collapse: collapse; border-color: #3F74B6;}
thead,th,tbody,tr,td {font-size:inherit;font-weight:inherit;border:inherit;}
         

/* FORM */
select		    {font-size:16px; height:28px; border: 1px #CCCCCC solid}
select[DISABLED]{color: #000033; background-color: #F5F5F5;}
select[READONLY]{color: #000033; background-color: #F5F5F5;}
select option   {font-size: 16px; height:28px; border: 1px #CCCCCC solid; border-top:none}
input 		    {border: 1px #CCCCCC solid; background-color: #FFFFFF}
input[DISABLED] {color: #003366;}
img             {border: 0px; vertical-align:top;}

#detailTableDiv {width:100%; height:320px; background-color:white; overflow:auto;}
#compLogo   {position:absolute;width:100px;height:60px;z-index:0;left:4px;top:29px;}
.text2,.whiteBtn {border:0px  #FFFFFF solid; vertical-align:middle;}
.whiteBtn   {color: #333366; background-color: #FFFFFF; }
.txtMessage {font-size: 14px; color: #990000}     
.txtAmount {font-size: 32px; color: #000000; border: 0px #FFFFFF solid; text-align:center; width:98%}

.headerRow,.footerRow{  
    background-color:#3F74B6;
}
#titleRow {font-size: 16px; color: #3F74B6; vertical-align:middle; line-height:38px;}
#promoBtn {background:#880000;color:white;font-size:22px;cursor:pointer;}
.fixTable {width:auto; min-width:100%; table-layout:fixed; white-space: nowrap;}
.searchTable {width:auto; min-width:100%; table-layout:fixed; white-space: nowrap;}
.mainTable{border:0px; padding:0px; border-spacing: 0px; width:100%;height:100%;}
.headerRow{height:27px;}
.footerRow{height:24px; text-align:center;}
.detailRow{height:31px; vertical-align:top;}
.pmtPromoRow{background-color:#eeeeff}
.altRowTable{
    min-width:240px; padding:2px; border-spacing: 0px; white-space: nowrap; 
    width:100%; border:1px solid #3F74B6; 
}
.stdTable {
    min-width:240px; padding:2px; border-spacing: 0px; white-space: nowrap; 
    width:100%; border:1px solid #3F74B6; 
}
.th2 {color: #3F74B6; background-color: #9DC6E5;}
.th5 {color: #3F74B6; background-color: #9DC6E5;}

#txtTotalAmount,#PaymentAmount{
    font-family: "Helvetica Neue",Arial;   
    font-weight:bold;  
    border:0px none;
    color: #990000;  
    background-color:#FFEEDD;
}
#txtTotalAmount {
    width:360px;
    height:99%;
    font-size: 43px; 
    text-align:right;
}
#PaymentAmount {
    width:99%;
    font-size: 36px; 
    text-align:center;
}

a.faicon, i.faicon {font-size:28px; color: #3F74B6}
a.faicon-del, i.faicon-del {font-size:28px; color: #990000}
.addBtn,.delBtn,.findBtn {border:0px;min-width:29px;width:29px;height:29px;vertical-align:middle;}
.addBtn {background:url('../images/pos/btn_add_30.png') ;}
.delBtn {background:url('../images/pos/btn_del_30.png') ;}
.findBtn{background:url('../images/pos/btn_find_30.png');}
#disAllBtn {background:url('../images/btn_down.gif');min-width:16px;width:16px;height:16px;padding:0px;border:none;}

#btnNew,#btnFind,#btnPmt,#btnSave,#btnFindItem,#btnCancel{
  min-width: 200px;  
  height: 36px;          
  font-family: Arial; font-size: 20px; 
  font-weight:bold; 
  vertical-align:middle;
}
#btnFindItem {
  min-width: 120px;  
  height: 28px;            
}
#btnCancel {
  background: #990000;           
}

.button 
{           
  border: 1px #3F74B6 solid; 
  color: #FFFFFF;                                                                                                                                                    
  border-radius:4px;                                                                                                                                              
  -moz-border-radius:4px;                                                                                                    
  background: #006699;
  
  /*
  background: rgb(184,225,252);
  background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); 
  */
}                                                                                                                                                                 
.button:hover {                                                                                                                                                    
  background: #005588;
  color: #DDDDDD;                                                                                                                                                   
}
.modal-iframe {width:100%;height:79vh;border:0;}
#simplemodal-overlay   {background-color:#000;}
#simplemodal-container {max-height:80vh; width:80vw; max-width:880px; color:#000; background-color:#fff; border:2px solid #888; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
     