/* HTML */                               
BODY	  {font-family: Arial,Helvetica,Dejavu Sans; font-size: 12px; font-weight:bold; color: #3F74B6; background-color:#FFFFFF; }
TD 		  {font-family: Arial,Helvetica,Dejavu Sans; font-size: 12px; font-weight:bold; }
A		  {font-family: Arial,Helvetica,Dejavu Sans; font-size: 12px; color: #333366; text-decoration: none}
A.topLink {font-family: Arial,Helvetica,Dejavu Sans; font-size: 11px; color: #FFFFFF; font-weight:bold; text-decoration: none}

A:HOVER	{color: #004466}

/* SCROLL BAR */
BODY 	
{
margin: 0;overflow:auto;
/*
scrollbar-base-color:#ffffff; scrollbar-arrow-color:#777777; 
scrollbar-highlight-color:#eeeeee; scrollbar-3dLight-Color:#eeeeee;
scrollbar-shadow-color:#eeeeee; scrollbar-darkshadow-color:#eeeeee; 
scrollbar-face-color:white; scrollbar-track-color: #eeeeee
*/
}

TABLE   {border-collapse: collapse; border-color: #3F74B6;}

/* FORM */
INPUT 		    {font-family: Verdana,Arial,Helvetica,Dejavu Sans; font-size: 8.5pt; font-weight:bold; border: 1px #CCCCCC solid; background-color: #FFFFFF}
INPUT[DISABLED] {color: #003366;}

SELECT		      {font-family: Verdana,Arial,Helvetica,Dejavu Sans; font-size: 11px; border: 1px #CCCCCC solid}
SELECT[DISABLED]  {color: #000033; background-color: #F5F5F5;}
SELECT[READONLY]  {color: #000033; background-color: #F5F5F5;}

OPTION		    {font-family: Verdana,Arial,Helvetica,Dejavu Sans; font-size: 11px; border: 1px #CCCCCC solid; border-top:none}

INPUT.text2 	{border:0px  #FFFFFF solid;}
INPUT.whiteBtn  {font-family: Arial,Verdana,Helvetica,Dejavu Sans; font-size: 12px;  font-weight:bold; border:0px  #FFFFFF solid; color: #333366; background-color: #FFFFFF; }

.txtTitle2  {font-family: Arial,Helvetica,Dejavu Sans; font-weight:bold; font-size: 14px; color: #3F74B6; }
.txtPayment {font-family: Arial,Helvetica,Dejavu Sans; font-weight:bold; font-size: 24px; color: #000000; border: 0px #FFFFFF solid;}
.txtPayment2{font-family: Arial,Helvetica,Dejavu Sans; font-weight:bold; font-size: 24px; color: #000000; border: 1px #FFFFFF solid;}
 
.txtMessage     {font-family: Arial,Helvetica,Dejavu Sans; font-weight:bold; font-size: 14px;  color: #990000}     
.tblHeader5     {font-family: Arial,Helvetica,Dejavu Sans; font-weight:bold; font-size: 12px;  color: #3F74B6; background-color: #9DC6E5; border:1px #3F74B6 solid;}

.txtTotalAmount {
    font-family: Verdana,Arial,Helvetica,Dejavu Sans;   
    font-weight:bold; 
    font-size: 43px; 
    color: #990000;  
    border:0px none;
}

.tblBorderSolid 
{
  border:1px #3F74B6 solid;
  border-top: 1px #3F74B6 solid;
  border-right: 1px #3F74B6 solid;
  border-bottom: 1px #3F74B6 solid;
  border-left: 1px #3F74B6 solid;
}
