html,body{height:100%; width:100%;}
body	 {font-family: "Lucida Sans Unicode","Lucida Grande","Bitstream Vera Sans",Geneva,Verdana,Tahoma; font-size: 75%; overflow: visible !important; margin: 0; background-color: #fff; }
h1,h2,h3 {font-weight:bold; color: #000000}
h1       {font-size: 1.2em;}
h2       {font-size: 1.1em;}
h3       {font-size: 1.05em;}
table    {border-collapse: collapse;border-spacing:0px;}
tbody,thead,th,tr,td {border:inherit;}
td,th 	 {font-size: 1em; vertical-align:center; text-overflow:ellipsis; }
thead,th {font-weight:inherit;}
th       {text-align:left;}
img      {vertical-align: middle; border:0;}
a		 {font-weight:bold; color: #333366; text-decoration: none}
a.sort2  {color: #FFFFFF;}
a:hover	 {color: #A4B4C2}
a.link1  {font-weight:bold;}
a.nobold {font-weight:normal;}  
a.button {background-color:#255C91; color:#FFFFFF;	
	      padding: 6px;	    
	      min-width:120px;
	      text-align:center;
	      text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px,	      
	      appearance: button;
	      webkit-appearence: button;
	      white-space:nowrap;
}
a.btnDel {background-color:#900; color:#fff;	
	      padding: 6px;	    
	      min-width:120px;
	      text-align:center;
	      text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
}
a.button:hover {background-color:#779AC1;}
a.faicon, i.faicon {font-size:18px;}
                                
form {margin: 0px;} /*solve form add one line in ie */

/* LAYOUTS */
#mainLayoutTable{border:0px;width:100%;height:100%;}
#topHeaderRow > td{height:11px;background:url('../img/layout/layout_01.gif')}
#midHeaderRow{height:53px;}
#rtlLogoCol {width:595px;background:url('../img/layout/bg.gif')}
#menuHolderRow{height:32px;}
#menuHolderRow > td {text-align:left;background:url('../img/layout/cell.gif')}
#disHeaderRow{height:22px;}
#screenHolderRow > td{vertical-align:top;padding:8px;background:#f7f7f7;}
#footerRow1   {height:13px; background:url('../img/layout/layout_24.gif')}
#footerRow2   {height:15px; background:url('../img/layout/layout_btmcell.gif');color:white;}
#footerRow2 > td {text-align:center; vertical-align:center; font-size:0.9em; padding:0px}

input,textarea,select, a.button, a.btnDel  {
    font-family: "Helvetica Neue", "Lucida Sans Unicode","Lucida Grande","Bitstream Vera Sans",Geneva,Verdana,Tahoma; font-size: 1em;
    border: 1px #CCCCCC solid;
 	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;    	
}

input,select{max-width:200px;}
input{height:20px;}
input[DISABLED] {color: #000033; background-color: #E5E5E5;}
input[READONLY] {color: #000033; background-color: #E5E5E5;}
input[type="button"] {
    cursor: pointer;
	background-color:#255C91;
	color:#FFFFFF;
	height:28px;
	width:auto;
	min-width:120px;
	text-align:center;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	-webkit-appearance: none;
}
input[type="submit"] {
	background-color:#255C91;
	color:#FFFFFF;
	height:28px;
	width:auto;
	min-width:120px;
	text-align:center;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	-webkit-appearance: none;
}
textarea {width:90%; max-width:480px;  height:70%; min-height:42px;}
input#btnCancel {background-color: #990000}
input#btnCancel:hover {background-color: #CC6666}
#addDetBtn {background:url('../img/btn_add.gif'); min-width:15px;width:15px;height:15px;padding:0px;border:none;}
#delDetBtn {background:url('../img/btn_del.gif'); min-width:16px;width:16px;height:16px;padding:0px;border:none;}
#prjDetBtn {background:url('../img/btn_dept.gif');min-width:17px;width:17px;height:17px;padding:0px;border:none;}
#disAllBtn {background:url('../img/btn_down.gif');min-width:16px;width:16px;height:16px;padding:0px;border:none;}

input[type="submit"]:hover {background-color:#779AC1;}
input[type="button"]:hover {background-color:#779AC1;}
input[type="submit"]:disabled {background-color:#AAAAAA;}
input[type="button"]:disabled {background-color:#AAAAAA;}
input#btnCancel:disabled {background-color:#AAAAAA;}

input.prev {min-width: 80px; width:80px;}
input.cb   {border: none; cursor: pointer; line-height: normal; top: 1px; vertical-align:middle;display:inline-block;}
input.rb   {border: none; cursor: pointer; line-height: normal; top: 1px; vertical-align:middle;display:inline-block;}

input.text1    {font-size: 10px; border: 1px #CCCCCC solid}
input.text2    {font-size: 1em; border:none; max-width:480px;}
input.text3    {font-size: 1em; border:none; background:#def;}
input.text2[DISABLED]   {background: transparent;}
input.text2[READONLY]   {background: transparent;}

input.no2      {font-size: 1em; border:none; text-align:right;}
input.no2[DISABLED]   {background: transparent;}
input.no2[READONLY]   {background: transparent;}
input.text5    {font-size: 18px; border:none; font-weight:bold; color: #000066;}
input.textBold {font-size: 1em; border:none; font-weight:bold;}
input.whiteBtn {font-size: 0.95em; border:none; color: #000066; }
input.greyBtn  {font-size: 11px; border:none; font-weight:bold; text-align: right; background-color: #EEEEEE;}
input.disabled {background-color:#AAAAAA;}

select            {height:28px;}
select[DISABLED]  {color: #000033; background-color: #F5F5F5;}
select[READONLY]  {color: #000033; background-color: #F5F5F5;}
textarea[DISABLED]{color: #000033; background-color: #F5F5F5;}
textarea[READONLY]{color: #000033; background-color: #F5F5F5;}

/* TABLE */
.stdTable, .searchTable, .altRowTable, .stdTxTable {min-width:240px; padding:2px; border-spacing: 0px; white-space: nowrap;}
.stdTable td {padding: 2px;}    
.stdTxTable td {padding: 1px;}
.searchTable td {padding: 2px;}
.altRowTable td {padding: 2px;}
.stdTable,.stdTxTable  {width:100%; border:1px solid #eeeeee; }

.fixTable    {width:auto; min-width:99%; table-layout:fixed; white-space: nowrap;}
.searchTable {border:0px; }
.stdTable col:first-child {background: #fafafa}
.altRowTable {width:100%; border:0px; }
.altRowTable tr:nth-child(even) {background: #ffffff; border-bottom: 1px solid #e3e3e3}
.altRowTable tr:nth-child(odd)  {background: #f5f5f5}
.altRowTable tr:last-child  {border-bottom: 1px solid #e3e3e3}
.altRowTable tr:hover   {background:#9DC6E5}
.altRowTable > tr {height:24px}
.altRowTable tr > th > a{color:inherit;}
.th2, .altRowTable tr > th {background: linear-gradient(#366EB3,#255C91,#144EB3); color:#FFFFFF; white-space:nowrap;}

.th2,.th3,.th4,.th5 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; height:20px; font-weight:bold;}
.th3,.th4,.th5 { color: #000000;}
.th4 {background-color: #eeeeee;}
.th5 {background-color: #e0e0e0; border: 1px #EEEEEE solid}
.th3 {background-color: #dddddd;}
.tbs {border: 1px #eeeeee solid}
.trBtnRow {font-size: 14px; font-weight: bold; border-top: 2px solid #eee; border-bottom: 2px solid #eee; background:#ddd;}

/* EXTENDED */
.fluxLink     {font-size: 1em;color: #477EB3}
.dateDisplayer{background-color: #C6D9E9}
.adminMenu    {background-color: #D7E7F5; border: 1px #EEEEEE solid}

.txtTitle1,.txtTitle2,.txtTitle4, .txtMessage, .txtWarning, .txtWarningPeriod, .txtErrorPage, .txtPRE {
               font-family: Arial; font-size: 1.05em; font-weight:bold; color: #000000}
.txtTitle1    {font-size: 18px;}
.txtTitle4    {font-size: 12px;}

.txtMessage,.txtWarning  {color: #990000} /* System Message */
.txtErrorPage {font-size: 12px; color: #333366}

.txtStack {font-family: Arial; font-size: 9px;   color: #000000} /* For StackTrace  */
.txtPRE   {font-family: Courier New;}  /* File Content */

/** Bottom Link **/
.btmLinkNav, .rowLinkNav {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.rowLinkNav
{
    min-width:88px;
    padding:0;
    margin:0;    
}
.btmLinkNav > li
{
  position: relative;
  display: block;
  float: left;
  padding-right: 20px;
  padding-bottom: 8px;
}
.rowLinkNav > li {
  position: relative;
  display: inline-block;  
  white-space:nowrap;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 16px;  
}
.fa-def-font-size {font-size:18px;}

/* common div */
#longListDiv, #itemViewDiv, #inputDetailDiv, #detailTableDiv, #btmButtonTable {
width:100%;max-width:96vw;background-color:white;overflow:auto
}

#longListDiv {height:45vh;}
#itemViewDiv {height:62vh;}

/*div for trans */
#txTitleTable{width:100%;padding:0px;margin:0px;}
#txHeader{width:97vw;overflow:auto}
#inputDetailDiv{height:48px; }
#inputDetailTable{width:100%; border:1px solid #eee;white-space: nowrap;}
#inputDetailSepRow{display:none;}
#detailTableDiv{height:36vh;}
#btmButtonTable{background-color:transparent;padding:2px;}
.col13,.col23,.col33 {min-width:320px;overflow:auto;}
.noCol   {width:24px;min-width:24px;max-width:24px}
.codeCol {width:120px;min-width:120px;}
.nameCol {width:25%;min-width:120px;max-width:240px;}
.descCol {width:40%;min-width:200px;max-width:360px;}
.qtyCol  {width:60px;min-width:60px;}
.prcCol  {width:100px;min-width:100px;}

@media (min-width:1024px) {
    body{font-size:85%;}
    select, input {max-width:280px;}
    input  {height:22px;}
    select {height:28px;}
    input[type="button"] {height:28px;}
    input[type="submit"] {height:28px;}

    #footerRow2 > td {font-size:0.8em;}
    #inputDetailDiv {height:64px;}
    #detailTableDiv{height:32vh;}

    .th2,.th3,.th4,.th5 {font-size: 1em; height:28px;}
    .stdTable > td {height:28px;}
    .altRowTable > td {height:28px;}
    .dateDisplayer > td {font-size:0.8em;}
    .trBtnRow {font-size: 1.2em; height:32px;}
}
@media (min-width:648px) and (max-width:969px) {
    .col12,.col22 {float:left;width:50%;}
    .col13,.col23 {float:left;}
    .col13,.col23,.col33{width:50%;}
}
@media (min-width:969px) {
    .col12,.col22 {float:left;width:50%;}
    .col13,.col23,.col33 {float:left;width:33%;}
}
@media (max-width:850px) {
    td#mainMenu {width:100%;}
    table#userInfo, table#adminMenu {display:none}
}
@media (max-width:790px) {
    div[id*="mn_top"] {display:none}
    #menuHolderRow {display:none}
    #screenHolderRow > td{padding:4px;}
    #footerRow1 {display:none}
    #footerRow2 > td {height: 28px; background: linear-gradient(#588EB3,#477EB3,#366EB3);}
    .dateDisplayer > td {height: 32px; color:white; font-family:Arial; font-size:1em; background: linear-gradient(#588EB3,#477EB3,#366EB3);}
}
/* 1024x600 */
@media (max-width:600px)
{
    body{font-size:90%;}
    td[id*="cardioLogo"] {display:none;}
    select, input {height:28px; max-width:200px;}
    input[type="button"] {height:32px;width:120px;min-width:120px;max-width:120px;}
    input[type="submit"] {height:32px;}

    #footerRow2 > td {font-size:0.8em;}
    #longListDiv, #itemViewDiv{width:100%;height:auto;}
    #inputDetailDiv {height:auto;background:transparent;}
    #inputDetailSepRow{display:block;}
    #inputDetailTable tr:nth-child(1)  {display:none;}
    #inputDetailTable tr:nth-child(3) td {
      display:block;
      position: relative;
      padding-left: 35%;
      text-align:left;
    }
    #inputDetailTable td:before {
      content: attr(data-label);
      position: absolute;
      font-weight: bold;
	  left: 1px;
      width: 30%;
      padding-right: 4px;
    }
    #inputDetailTable .codeCol,
    #inputDetailTable .nameCol,
    #inputDetailTable .qtyCol ,
    #inputDetailTable .prcCol  {width:240px;}
    #detailTableDiv {height:auto;}

    .stdTable > td {height:30px;}
    .dateDisplayer > td {font-size:0.8em;}
    .trBtnRow {font-size: 1.2em; height:32px;}
    .searchTable tr {display: block;}   
    .searchTable td {border:1px dotted #ddd; height:32px; }         
    .searchTable td:nth-child(odd)  {background:#eee; text-align:right; font-weight:bold; float: left; width:120px; }
    .searchTable td:nth-child(even) {width:280px; }
    
    .altRowTable tr:nth-child(1)  {display:none;}
    .altRowTable tr:hover {background:#B5DCFB}
    .altRowTable thead {display: none;}
    .altRowTable tr td {display: block; height:24px; white-space: nowrap;}
    .altRowTable tr {
      margin-bottom: 12px;
      border-bottom: 2px solid #999;
    }
    .altRowTable td {
      position: relative;
      padding-left: 45%;
      border-bottom: 1px dotted #ccc;
      text-align:left;
    }
    .altRowTable td:before {
      content: attr(data-label);
      position: absolute;
      font-weight: bold;
	  left: 1px;
      width: 40%;
      padding-right: 4px;
    }
    .btmLinkNav > li {
      float: none;
      padding-bottom: 20px;
    }
}
@media (max-width:480px)
{
    body{font-size:0.8em;}
    textarea{font-size:0.8em;}
    input.prev {min-width: 60px; width:60px;}
    .altRowTable {white-space:normal;}
    .dispCompanyName {display:none;}
}
@media (max-height:640px) {
    #footerRow1 {display:none}
    #footerRow2  td {display:none}
}

/* MENU  */
.clCMAbs {
	position:absolute;
	visibility:hidden;
	left:0;
	top:0
}
/*Style for the background-bar*/
.clBar {
	position:absolute;
	width:10;
	height:10;
	visibility:hidden
}
/*Styles for level 0*/
.clLevel0,.clLevel0over {
	position:absolute;
	padding:2px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
    color:#FFFFFF;
}
.clLevel0 {
	background-color:#779AC1;
}
.clLevel0over {
}
.clLevel0border {
	position:absolute;
	visibility:hidden;
}
/*Styles for level 1*/
.clLevel1, .clLevel1over, .clLevel2, .clLevel2over {
	position:absolute;
	padding:2px;
	padding-left:4px;
	font-family:Trebuchet MS, Arial;
	font-size:12px;
	font-weight:bold;
}
.clLevel1 {
	background-color:#779AC1;
    color:#FFFFFF;
}
.clLevel1over {
	background-color:#BCD7F1;
	color:#779AC1;
	cursor:pointer;
}
.clLevel1border,.clLevel2border {
	position:absolute;
	visibility:hidden;
	background-color:#628ABA;
}
.clLevel2 {
	background-color:#BCD7F1;
	color:#779AC1;
}
.clLevel2over{
	background-color:#779AC1;
	color:#FFFFFF;
	cursor:pointer;
}

/* TABS RELATED */
A.tab-link	     {color: #000000;}
A.tab-link:HOVER {color: #888888;}
.tab-button
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em;
    text-align:center;
    font-weight: bold;
    white-space: nowrap;
    width: 180px;
    height: 20px;
    background: #eee;
	border: 1px solid #e7e7e7;
    padding-top: 2px;
    padding: 2px;
}
.tab-body
{
 	border: 1px solid #eee;
    position:relative;
    width:96%;
    display: none;
    visibility: hidden
}
    

/* Tree Style */
.treetitle {
	padding:2px;
	cursor:pointer;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;
	color: #000000;
	width: 150px;
	height: 17px;
	cursor:default;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
    cursor:pointer;
	background-color: highlight;
	color: highlighttext;

	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:pointer;
	background-color: menu;
	color: windowtext;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.autocomplete ul li.selected {background-color: #EEEEEE;}
.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:20px;
  cursor:pointer;
}

/* QTY INFORMATION AJAX DIV */
div.qty_info
{

}

div.qty_info ul
{
  border:1px solid #888;
  margin:0;
  padding:0;
  width:250px;
  background: #fff;
  list-style-type:none;
}
div.qty_info ul li
{
  margin:0;
  padding:3px;
}
/* END QTY INFO */

#tooltip {
    padding: 3px;
    background: #ffffca;
    border: 1px solid #CCCCCC;
    text-align: left;
    font-size: 10px;
}
#processBox {
    position:absolute;border:1px solid #333;width:360px;height:120px;font-weight:bold;background-color:#F7F7F7;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#loadingBar {
    position:absolute;border:0;width:85px;height:20px;color:#FFFFFF;background-color:#990000
}
#lightbox,.lightbox {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../img/overlay.png) repeat;
	text-align:center;
	z-index:99;
}
#lightbox p {
	text-align:right;
	color:#fff;
	margin-right:20px;
	font-size:12px;
}
#lightbox table img {
	box-shadow:0 0 8px #111;
	-webkit-box-shadow:0 0 8px #111;
	-moz-box-shadow:0 0 8px #111;
}

/** MODAL WINDOW **/
.modal-iframe {width:100%;height:79vh;border:0;}
#simplemodal-overlay   {background-color:#000;}
#simplemodal-container {height:80vh; max-height:80vh; width:90%; max-width:1008px; color:#000; background-color:#fff; border:2px solid #888; padding:12px;}
#simplemodal-container .simplemodal-data {padding:4px;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}


