/* Tabs container */
.r-tabs {
	position: relative;
	background-color: transparent;	
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #ddd;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 6px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 1em;
	font-weight: bold;
	color: #000;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #000;
	font-weight:bold;
	font-style:italic;
	text-shadow: none;
	background-color: white;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: none;	
	border-bottom: 2px solid #ddd;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #000;	
	background-color: #ddd;
	display: block;
	padding: 10px;		
    border: 1px solid #ccc; 
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	font-weight: bold;
	font-style: italic;
	background-color: #fff;
	color: #000;	
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 4px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
    max-width:98vw;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 640px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

