<!DOCTYPE html>
<html>
<head>
  <title>       
    #if($sutil.isNotEmpty($preference.Company.CompanyName)) $preference.Company.CompanyName - #end     
    #if($sutil.isNotEmpty($title)) $title #else Retailsoft #end [$!preference.getCurrentDatabase()]
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="${data.ContextPath}/css/stylesheet.css" rel="stylesheet"/>
  <link type="text/css" href="${data.ContextPath}/css/sm-core-css.css" rel="stylesheet"/>
  <link type="text/css" href="${data.ContextPath}/css/sm-blue.css" rel="stylesheet"/>
  
  <script type="application/javascript" src="${data.ContextPath}/javascript/common.js"> </script>
  <script type="application/javascript" src="${data.ContextPath}/javascript/coolmenus4.js"></script>
  <script type="application/javascript" src="${data.ContextPath}/javascript/time.js"></script>
  <script type="application/javascript" src="${data.ContextPath}/javascript/tooltip.js"></script>    
  <script type="application/javascript" src="${data.ContextPath}/javascript/popcal.js"></script>
  <script type="application/javascript" src="${data.ContextPath}/javascript/format_number.js"></script>
  <script type="application/javascript" src="${data.ContextPath}/javascript/ajax/prototype.js"></script> 
  <script type="application/javascript" src="${data.ContextPath}/javascript/jquery.min.js"></script> 
  <script type="application/javascript" src="${data.ContextPath}/javascript/jq/jquery.smartmenus.min.js"></script> 
<script>
var jq=jQuery.noConflict();
jq(function() {
  jq('#main-menu').smartmenus({
    	subIndicators:false,
    	subIndicatorsText: ''
    });
});  
</script>       
</head>
<body #if($sutil.isNotEmpty($sOnLoad)) $sOnLoad #end >
##<script type="application/javascript" src="${data.ContextPath}/javascript/menu${data.User.Name}.js"></script>

<div style="position:absolute; height: 32px; left: 109px; top: 64px; visibility: visible; z-index:99;">
  <ul id="main-menu" class="sm">
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_04.gif" style="cursor:pointer;"></a></li>
    <li>
      <a href="#"><img alt="" src="/RTL/images/menu/menu_05.gif" style="cursor:pointer;"></a>
      <ul>
        <li><a href="$link.setPage("company,CompanyData.vm")">$!l10n.company_data</li>
      </ul>
    </li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_06.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_07.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_08.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_09.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_10.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_11.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_12.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_13.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_14.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_15.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_16.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_17.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_18.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_19.gif" style="cursor:pointer;"></a></li>
    <li><a href="#"><img alt="" src="/RTL/images/menu/menu_20.gif" style="cursor:pointer;"></a></li>
    

    ##<li><a href="#">Item 1</a></li>
    ##<li><a href="#">Item 2</a>
    ##  <ul>
    ##    <li><a href="#">Item 2-1</a></li>
    ##    <li><a href="#">Item 2-2</a></li>
    ##    <li><a href="#">Item 2-3</a></li>
    ##  </ul>
    ##</li>
    ##<li><a href="#">Item 3</a></li>
  </ul>
</div>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
  <tr>
    <td height="11" background="${data.ContextPath}/images/layout/layout_01.gif" width="100%"></td>
  </tr>
  <tr>
    <td height="53" width="100%" colspan="2">
    $navigation.setTemplate("/Header.vm")  
    </td>
  </tr>
  <tr id="menuPlaceholderRow">
    <td width="109px;" align="left" background="${data.ContextPath}/images/layout/cell.gif" height="32">
      <img border="0" src="${data.ContextPath}/images/layout/layout_03.gif" width="109" height="32">
    </td>
  </tr>
  <tr>     
    <td colspan="3" valign="top" bgcolor="#F9F9F9">
    $navigation.setTemplate("/DateDisplayer.vm")  
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr><td style="height:4px"></td></tr>
      <tr>
        <td style="width:8px"></td>
        <td>$screen_placeholder</td>
        <td style="width:8px"></td>
      </tr>
      <tr><td style="height:6px"></td></tr>
    </table>
    </td>
  </tr>
  $navigation.setTemplate("/Footer.vm")  
</table>
</body>
</html>