#set($printable = $data.Parameters.getBoolean("printable"))
#set($op = $data.Parameters.getInt("op"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end

#set($src = $data.Parameters.getString("src", "loc"))
#if($src == "loc")
  #set($srctitle = $!l10n.location)
  #set($srcname = "Location")
#elseif ($src == "dept")
  #set($srctitle = $!l10n.department)
  #set($srcname = "Department")
#elseif ($src == "prj")
  #set($srctitle = $!l10n.project)
  #set($srcname = "Project")
#end

#set($title = "Purchased Item Report")
#set($vndcons = $butil.getInstance("com.ssti.enterprise.pos.tools.commission.VendorCsCommissionTool"))
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($sdate = $data.Parameters.getString("StartDate", ""))
#set($edate = $data.Parameters.getString("EndDate", ""))
#set($sdt = $cparser.parseDate($sdate))
#set($edt = $cparser.parseDate($edate))
#set($incret = $data.Parameters.getBoolean("IncludeReturn"))
#set($inctax = $data.Parameters.getBoolean("IncludeTax"))
#set($incdis = $data.Parameters.getBoolean("IncludeDiscount"))
#set($incpur = $data.Parameters.getBoolean("IncludePurchase"))
#set($disacc = $data.Parameters.getBoolean("DisplayAcc"))
#set($sort = $data.Parameters.getInt("SortBy",1))
#set($debug = $data.Parameters.getBoolean("debug"))

#set($dStart = $cparser.parseDate($sdate))
#set($dEnd   = $cparser.parseDate($edate))

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1 || $data.ACL.Permissions.containsName("Access All Location"))
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  ##set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

#set($pageParam = "&Op=1&StartDate=$!{sdate}&EndDate=$!{edate}&src=$!{src}&$!{srcname}Id=$!{srcid}&KategoriId=$!{katid}")
#set($pageParam = "${pageParam}&IncludeDiscount=$!{incdis}&SortBy=${sort}")
#set($pageParam = "${pageParam}&IncludeReturn=$!{incret}&IncludeTax=$!{inctax}&IncludePurchase=$!{incpur}")
#if(!$printable)
<script>
function change(id)
{
}
function viewItemReport(sItemCode)
{
    var sURL = '${link.setPage("report,sales,SalesReport.vm")}?printable=$!{printable}&StartDate=$!{sdate}' +
               '&EndDate=$!{edate}&Condition=7&GroupBy=-1&Status=2&LocationId=$!srcid&CurrencyId=&Keywords=' + sItemCode;
    document.location.href = sURL;
}
function viewReturnReport(sItemCode)
{
    var sURL = '${link.setPage("report,sales,SalesReturnReport.vm")}?printable=$!{printable}&StartDate=$!{sdate}' +
               '&EndDate=$!{edate}&Condition=7&GroupBy=-1&Status=2&LocationId=$!srcid&CurrencyId=&Keywords=' + sItemCode;
    document.location.href = sURL;
}
</script>
#end ##end 
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">
<input type="hidden" name="DisplayAcc" value="$disacc">
<input type="hidden" name="debug" value="$!debug">  
<input type="hidden" name="op" value="1">  

<table class="fixTable">
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title
        #if($sdate != "")
         ($!sdate - $!edate)
       #spc(2)
       $srctitle :
       #if($srcid == "")
         $!l10n.all
       #else
         #if($src == "loc")
           $!location.getLocationNameByID($srcid)
         #elseif ($src == "dept")
           $!department.getDepartmentNameByID($srcid)
         #elseif ($src == "prj")
           $!project.getProjectNameByID($srcid)
         #end
       #end
       #spc(2)
       $!l10n.category :
       #if($katid != "") $!kategori.getLongDescription($katid) #else $!l10n.all #end
      #end
      </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table class="searchTable">
  <tr>
    #if($bIsHO)
    #set($sID = $srcid)
    #subSelect (1)
    #else
    <td>$!l10n.location : </td>
    <td>
      <input type="hidden" name="LocationId" value="$oLoc.getLocationId()">
      $oLoc.getLocationName()
    </td>
    #end
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sdate">
        #calf("frm" "StartDate" true)
        #spc(2)
    </td>
    <td>$!l10n.sort_by : #spc(1)</td>
    <td>
      <select name="SortBy">
        <option value="1" #if($sort == 1) SELECTED #end>$!l10n.item_code</option>
        <option value="2" #if($sort == 2) SELECTED #end>$!l10n.item_name</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      $!l10n.category : &nbsp;&nbsp;
    </td>
    <td>
      #kategoriSB("KategoriId" $data.Parameters.getString("KategoriId", ""))
      <input type="hidden" name="Op" value="1"> &nbsp;&nbsp;
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!edate">
      #calf("frm" "EndDate" true)
      #spc(2)
    </td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#if($op == 1 && $sdt && $edt)
$purchaseanalysis
#set($vResult = $purchaseanalysis.getPurchaseItem($sdt,$edt,$locid,$katid,"",$venid,"","","",2))
#end                                                                                      
## $vResult

#if($vResult)
<table class="stdTable">
  <tr class="th4">
    <td><b>No</b></td>
    <td><b>$!l10n.vendor</b></td>
    <td><b>$!l10n.invoice_no</b></td>
    <td><b>$!l10n.trans_date</b></td>
    <td><b>$!l10n.item_code</b></td>
    <td><b>$!l10n.item_name</b></td>
    <td><b>$!l10n.manufacturer</b></td>
    <td><b>$!l10n.qty</b></td>
    <td><b>$!l10n.price</b></td>
    <td><b>$!l10n.discount</b></td>
    <td><b>$!l10n.sub_total</b></td>
  </tr>              
  #set($no = 1)
  #foreach($res in $vResult)
  #set($itmid = $res.getValue("item_id").asString())
  #set($oItem = $item.getItemByID($itmid))
  <tr>
    <td>$no</td>
    <td>$!res.getValue("vendor_name")</td>
    <td>$!res.getValue("purchase_invoice_no")</td>
    <td>$!cf.fmt($!res.getValue("purchase_invoice_Date").asDate())</td>
    <td>$!res.getValue("item_code")</td>
    <td>$!res.getValue("item_name")</td>
    <td>$!oItem.Manufacturer</td>
    <td align="right">$!cf.fmt($!res.getValue("qty").asBigDecimal())</td>
    <td align="right">$!cf.fmt($!res.getValue("item_price").asBigDecimal())</td>
    <td align="right">$!res.getValue("discount")</td>
    <td align="right">$!res.getValue("cost_per_unit")</td>
  </tr>   
  #set($no = $no + 1)
  #end ##end foreach
</table>  
#end ##end if vResult

## #if($vResult)
##   <table class="stdTable">
##     #if($printable) #line(10) #end
##     <tr class="th4">
##       <td><b>No</b></td>
##       <td><b>$!l10n.item_code</b></td>
##       <td><b>$!l10n.item_name</b></td>
##       #if($disacc)
##       <td><b>$!l10n.sales_acc</b></td>
##       <td><b>$!l10n.cogs_acc</b></td>
##       #end
##       <td><center><b>$!l10n.total_qty</b>   </center></td>
##       <td><center><b>$!l10n.total_amount</b></center></td>
##       #if($incdis)
##       <td><center><b>$!l10n.total_discount</b>   </center></td>
##       <td><center><b>$!l10n.discount</b></center></td>
##       #end
##       <td><center><b>No Of Trans</b></td>
##       <td><center><b>Avg Sales/Trans</b></td>
##       #if($bViewCost)
##       <td><center><b>$!l10n.total_cost</b></td>
##       <td><center><b>$!l10n.gross_profit</b></td>
##       <td><center><b>%</b></td>
##       #end
##       #if($incpur)
##       <td><center><b>Pur Rate %</b></td> #if($debug)<td>  PUR </td><td> PRC </td><td> ADJ </td>#end
##       <td><center><b>Pur Diff %</b></td>            
##       <td><center><b>Loss Rate %</b></td>
##       #end
##     </tr>
##     #if($printable) #line(10) #end
## 
##     #if($incpur)    
##     #set($vPR = $inventoryreport.sumByType("",$katid,$srcid,"",$dStart,$dEnd,-1,3))
##     #set($vPI = $inventoryreport.sumByType("",$katid,$srcid,"",$dStart,$dEnd,-1,10))
##     #set($vAD = $inventoryreport.sumByType("",$katid,$srcid,"",$dStart,$dEnd,1,-1))    
##     #end ##end if incpur
## 
##     #set($totalQty    = 0)
##     #set($totalSales  = 0)
##     #set($totalCost   = 0)
##     #set($totalProfit = 0)
##     #set($totalPct    = 0)
##     #set($totalDisc   = 0)
##     #set($totalFreq   = 0)
##     #set($totalPur    = 0)
##     #set($totalPrc    = 0)
##     #set($totalAdj    = 0)    
##     
##     #set($No    = 1)
## 
##     #foreach ($res in $vResult)
##     #set($sItemID  = $res.getValue(1).asString())
##     #set($dQty     = $res.getValue(4).asBigDecimal())
##     #set($dSales   = $res.getValue(5).asBigDecimal())
##     #set($dCost    = $res.getValue(6).asBigDecimal())
##     #set($dFreq    = $res.getValue(7).asInt())
##     #set($dInvFreq = $res.getValue(8).asInt())
##     
##     #set($oItem = $item.getItemByID($sItemID))
##     #if($incdis)
##     #set($dSubDisc= $res.getValue(9).asBigDecimal())
##     #set($sDisc   = $res.getValue(10).asString())
##     #end ##incdis
## 
##     #if($oItem.IsConsignment && $sutil.isNotEmpty($oItem.PreferedVendorId))
## 
##       #if($dCost.intValue() == 0)
##         #set($sCND = $vndcons.getConsignDisc($oItem,$oItem.PreferedVendor))  
##         #if($sutil.isNotEmpty($sCND) && !$sutil.equals($sCND,"0"))            
##           #set($dCost = $cal.sub($dSales, $cal.calculateDiscount($sCND,$dSales)))      
##         #end
##       #end
##             
##       ## #if($dCost.intValue() == 0)
##       ##   #set($sKonsCost = $itemfield.getValue($sItemID, "Consignment Purchase Value Field"))
##       ##   #set($dKonsCost = $cparser.parseNumber($sKonsCost))
##       ##   #set($dCost = $cal.mul($dQty, $dKonsCost))
##       ## #end ##dCost
##     #end ##end if consignment
## 
##     #set($dAvgFreq= $cal.div($dSales, $dInvFreq))
##     #set($dProfit = $cal.sub($dSales, $dCost))
##     #set($dPct    = $cal.pct($dProfit, $dSales))
##                                             
##     #if($incpur)
##     #set($dPRItm  = $inventoryreport.sumCostPerGroupByItem($vPR,$sItemID,true))  
##     #set($dPIItm  = $inventoryreport.sumCostPerGroupByItem($vPI,$sItemID,true))            
##     #set($dPRCItm = $inventoryreport.sumPricePerGroup($vPR,"",$sItemID))  
##     #set($dPRIItm = $inventoryreport.sumPricePerGroup($vPI,"",$sItemID))      
##     #set($dADItm  = $inventoryreport.sumCostPerGroupByItem($vAD,$sItemID,true))
##     #set($dADItm  = $cal.mul($dADItm,-1))    
##     #set($dPur = $cal.add($dPRItm,$dPIItm))    
##     #set($dPrc = $cal.add($dPRCItm,$dPRIItm)) 
##     
##     #set($totalPur = $cal.add($totalPur,$dPur))
##     #set($totalPrc = $cal.add($totalPrc,$dPrc))
##     #set($totalAdj = $cal.add($totalAdj,$dADItm))
## 
##     #set($dPurPct = $cal.mul($cal.sub(1,$cal.div($dPur,$dPrc)),100)) 
##     #if($dPurPct.intValue() == 100)
##       #set($dPurPct = 0)
##     #end
##     #set($dPurDif  = $cal.sub($dPct, $dPurPct))
##     #set($dAdjPct = $cal.mul($cal.div($dADItm,$dCost),100))  
##                          
##     #end ##inc pur
##     <tr align="right">
##       <td width="3%"  align="left">$!No #if($oItem.IsConsignment) * #end</td>
##       <td width="12%" align="left" class="xls-txt">
##         #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
##         $!res.getValue(2).asString()
##         #if(!$printable)</a>#end
##       </td>
##       <td width="24%" align="left" class="xls-txt">
##         #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
##         $!res.getValue(3).asString()
##         #if(!$printable)</a>#end
##       </td>
##       #if($disacc)      
##       <td width="15%">$!account.getDescriptionByID($!oItem.SalesAccount)</td>
##       <td width="15%">$!account.getDescriptionByID($!oItem.CogsAccount) </td>
##       #end ##end discacc
##       <td width="8%">$!cf.fmtAlg($dQty)   </td>
##       <td width="12%">$!cf.fmtAlg($dSales) </td>
##       #if($incdis)
##       <td width="8%">$!cf.fmtAlg($dSubDisc) </td>
##       <td width="8%" >$sDisc </td>
##       #end  ##end incdis
##       <td width="8%" >$!cformat.fmt($dInvFreq) </td>
##       <td width="8%" >$!cf.fmtAlg($dAvgFreq) </td>
##       #if($bViewCost)
##       <td width="10%">$!cf.fmtAlg($dCost)  </td>
##       <td width="10%">$!cf.fmtAlg($dProfit)</td>
##       <td width="8%" >$!cf.fmtAlg($dPct)%  </td>
##       #end ##$bViewCost   
##       #if($incpur)
##       <td width="8%" >$!cf.fmtAlg($dPurPct)%</td> #if($debug)<td> $!cf.fmt($dPur) </td><td> $!cf.fmt($dPrc) </td><td> $!cf.fmt($dADItm) </td>#end
##       <td width="8%" >$!cf.fmtAlg($dPurDif)%</td>                  
##       <td width="8%" >$!cf.fmtAlg($dAdjPct)%</td>      
##       #end
##     </tr>
## 
##     #set($totalQty    = $cal.add($totalQty,    $dQty ))
##     #set($totalSales  = $cal.add($totalSales,  $dSales ))
##     #set($totalCost   = $cal.add($totalCost,   $dCost ))
##     #set($totalProfit = $cal.add($totalProfit, $dProfit))
##     #set($totalDisc   = $cal.add($totalDisc,   $dSubDisc))
##     #set($totalFreq   = $cal.add($totalFreq,   $dInvFreq))
##     #set($No = $No + 1)
##     #end  ##end foreach
##     #set($totalPct = $cal.pct($totalProfit, $totalSales))
##     #set($totalAvgFreq = $cal.div($totalSales,$totalFreq))
##     #if($printable) #line(10) #end
##     <tr class="th4" align="right" >
##       <td colspan="3" align="left"><b>Total $!l10n.sales_invoice #spc(2)</b></td>
##       <td><b>$!cf.fmtAlg($totalQty)   </b></td>
##       <td><b>$!cf.fmtAlg($totalSales) </b></td>
##       #if($incdis)
##       <td><b>$!cf.fmtAlg($totalDisc) </td>
##       <td><b>#spc(1) </td>
##       #end
##       <td><b>$!cformat.fmt($totalFreq)  </b></td>
##       <td><b>$!cf.fmtAlg($totalAvgFreq)</b></td>
## 
##       #if($bViewCost)
##       <td><b>$!cf.fmtAlg($totalCost)  </b></td>
##       <td><b>$!cf.fmtAlg($totalProfit)</b></td>
##       <td><b>$!cf.fmtAlg($totalPct)%  </b></td>
##       #end
##       
##       #if($incpur)
##        #set($dPurPct = $cal.mul($cal.sub(1,$cal.div($totalPur,$totalPrc)),100)) 
##        #if($dPurPct.intValue() == 100)
##          #set($dPurPct = 0)
##        #end
##        #set($dPurDif  = $cal.sub($totalPct, $dPurPct))
##        #set($dAdjPct = $cal.mul($cal.div($totalAdj,$totalCost),100))      
##        <td>$!cf.fmtAlg($dPurPct)%</td> #if($debug)<td> $!cf.fmt($totalPur) </td><td> $!cf.fmt($totalPrc) </td><td> $!cf.fmt($totalAdj) </td>#end
##        <td>$!cf.fmtAlg($dPurDif)%</td>                  
##        <td>$!cf.fmtAlg($dAdjPct)%</td>      
##       #end ##end inc pur
##     </tr>
##     #if($printable) #line(10) #end
##   ##</table>
## #end ##end if vResult
## 
## #if(!$incret)
##   #if($vResult)
##   </table>     
##   #end
## #else
## #if($vReturn)
##   
##   #if(!$vResult)
##   <table class="stdTable">       
##   #end  
##   <tr>
##     <td colspan="10"><b>$!l10n.sales_return</b></td>
##   </tr>      
##   #if($bViewCost)
##     #set($headings = ["No","$!l10n.item_code","$!l10n.item_name","<center>$!l10n.total_qty","<center>$!l10n.total_amount", "<center>$!l10n.total_cost", "<center>$!l10n.gross_profit", "<center>%"] )
##   #else
##     #set($headings = ["No","$!l10n.item_code","$!l10n.item_name","<center>$!l10n.total_qty","<center>$!l10n.total_amount"])
##   #end
##   ## <br><b>$!l10n.sales_return</b><br>
##   ## <table class="stdTable">
##     #if($printable) #line(10) #end
##     <tr class="th4" align="right">
##       <td width="3%"  align="left"><b>No</b></td>
##       <td width="12%" align="left"><b>$!l10n.item_code</b></td>
##       <td width="24%" align="left"><b>$!l10n.item_name</b></td>
##       #if($disacc)
##       <td width="15%"><b>$!l10n.sales_return_acc</b></td>
##       <td width="15%"><b>$!l10n.cogs_acc</b></td>
##       #end
##       <td width="10%"><center><b>$!l10n.total_qty   </b></center></td>
##       <td width="12%"><center><b>$!l10n.total_amount</b></center></td>
##       #if($incdis)
##       <td width="10%"><center><b>$!l10n.total_discount</b></center></td>
##       <td width="9%" ><center><b>$!l10n.discount      </b></center></td>
##       #end
##       <td><center><b>No Of Trans</b></td>
##       <td><center><b>Avg Sales/Trans</b></td>      
##       #if($bViewCost)
##       <td width="15%"><center><b>$!l10n.total_cost  </b></td>
##       <td width="15%"><center><b>$!l10n.gross_profit</b></td>
##       <td width="9%" ><center><b>%</b></td>
##       #end
##     </tr>
##     #if($printable) #line(10) #end
## 
##     #set($totalRetQty    = 0)
##     #set($totalRetSales  = 0)
##     #set($totalRetCost   = 0)
##     #set($totalRetProfit = 0)
##     #set($totalRetPct    = 0)
##     #set($totalRetDisc   = 0)
##     #set($totalRetFreq   = 0)
##     #set($No    = 1)
## 
##     #foreach ($res in $vReturn)
##     #set($dQty    = $res.getValue(4).asBigDecimal())
##     #set($dSales  = $res.getValue(5).asBigDecimal())
##     #set($dCost   = $res.getValue(6).asBigDecimal())
##     #set($dFreq    = $res.getValue(7).asInt())
##     #set($dRetFreq = $res.getValue(8).asInt())
##     #set($dAvgFreq = $cal.div($dSales, $dRetFreq))
##     #if($incdis)
##     #set($dSubDisc = $res.getValue(9).asBigDecimal())
##     #set($sDisc    = $res.getValue(10).asString())
##     #end    
##     #set($dProfit  = $cal.sub($dSales, $dCost))
##     #set($dPct     = $cal.pct($dProfit, $dSales))
##     <tr align="right">
##       <td align="left">$!No</td>
##       <td align="left">
##         #if(!$printable)<a href="javascript:viewReturnReport('$!res.getValue(2).asString()');">#end
##         $!res.getValue(2).asString()
##         #if(!$printable)</a>#end
##       </td>
##       <td align="left">
##         #if(!$printable)<a href="javascript:viewReturnReport('$!res.getValue(2).asString()');">#end
##         $!res.getValue(3).asString()
##         #if(!$printable)</a>#end
##       </td>
##       #if($disacc)
##       #set($oItem = $item.getItemByID($sItemID))
##       <td>$!account.getDescriptionByID($!oItem.SalesReturnAccount)</td>
##       <td>$!account.getDescriptionByID($!oItem.CogsAccount) </td>
##       #end
##       <td>$!cf.fmtAlg($dQty)   </td>
##       <td>$!cf.fmtAlg($dSales) </td>
##       #if($incdis)
##       <td>$!cf.fmtAlg($dSubDisc) </td>
##       <td>$sDisc </td>
##       #end
##       <td>$!cf.fmt($dRetFreq)</td>
##       <td>$!cf.fmtAlg($dAvgFreq)</td>
##       #if($bViewCost)
##         <td>$!cf.fmtAlg($dCost)  </td>
##         <td>$!cf.fmtAlg($dProfit)</td>
##         <td>$!cf.fmtAlg($dPct)%  </td>
##       #end
##     </tr>
##     #set($totalRetQty    = $cal.add($totalRetQty,    $dQty ))
##     #set($totalRetSales  = $cal.add($totalRetSales,  $dSales))
##     #set($totalRetCost   = $cal.add($totalRetCost,   $dCost))
##     #set($totalRetProfit = $cal.add($totalRetProfit, $dProfit))
##     #set($totalRetDisc   = $cal.add($totalRetDisc,   $dSubDisc))
##     #set($totalRetFreq   = $cal.add($totalRetFreq,   $dRetFreq))
## 
##     #set($No = $No + 1)
##     #end  ##end foreach
##     #set($totalRetPct = $cal.pct($totalRetProfit, $totalRetSales))
##     #if($printable) #line(10) #end
##     <tr align="right" class="th4">
##       <td colspan="3" align="left"><b>Total $!l10n.sales_return #spc(2)</b></td>
##       <td><b>$!cf.fmtAlg($totalRetQty)   </b></td>
##       <td><b>$!cf.fmtAlg($totalRetSales) </b></td>
##       #if($incdis)
##       <td><b>$!cf.fmtAlg($totalRetDisc) </td>
##       <td><b>#spc(1) </td>
##       #end
##       <td>$!cf.fmt($!totalRetFreq)</td>
##       <td>$!cf.fmtAlg($!cal.div($totalRetSales,$totalRetFreq))</td>      
##       #if($bViewCost)
##       <td><b>$!cf.fmtAlg($totalRetCost)  </b></td>
##       <td><b>$!cf.fmtAlg($totalRetProfit)</b></td>
##       <td><b>$!cf.fmtAlg($totalRetPct)%  </b></td>
##       #end
##     </tr>
##     #if($printable) #line(10) #end
##     ##GRAND TOTAL
##     #set($totalQty    = $cal.sub($totalQty   ,$totalRetQty   ))
##     #set($totalSales  = $cal.sub($totalSales ,$totalRetSales ))
##     #set($totalCost   = $cal.sub($totalCost  ,$totalRetCost  ))
##     #set($totalProfit = $cal.sub($totalProfit,$totalRetProfit))
##     #set($totalDisc   = $cal.sub($totalDisc  ,$totalRetDisc  ))
##     #set($totalPct = $cal.pct($totalProfit, $totalSales))
##     <tr align="right" class="th5">
##       <td colspan="3" align="left"><b>GRAND TOTAL &nbsp;&nbsp; </b></td>
##       <td><b>$!cf.fmtAlg($totalQty)   </b></td>
##       <td><b>$!cf.fmtAlg($totalSales) </b></td>
##       #if($incdis)
##       <td><b>$!cf.fmtAlg($totalDisc) </td>
##       <td><b>#spc(1) </td>
##       #end 
##       <td></td>
##       <td></td>
##       #if($bViewCost)
##       <td><b>$!cf.fmtAlg($totalCost)  </b></td>
##       <td><b>$!cf.fmtAlg($totalProfit)</b></td>
##       <td><b>$!cf.fmtAlg($totalPct)%  </b></td>
##       #end
##     </tr>
##     #if($printable) #line(10) #end
##   </table>
## #end ##end if vReturn
## #end ##end if include return

</form>