#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("Printable.vm")
#end

#set($start = $!data.Parameters.getString("StartDate"))
#set($end = $!data.Parameters.getString("EndDate"))
#set($key = $!data.Parameters.getString("Keywords"))
#set($group = $!data.Parameters.getInt("GroupBy"))
#set($pageParam = $tplutil.pageParam($data))

#set($title = "Lead Time Analysis By Vendor ")
#reportPrintJS()

<table class="fixTable"> 
  <tr>
    <td colspan="10">
      <span class="txtTitle2"><b>$title 
        #if($start != "") ($!start - $!end) #end
        #if($group > 1)
          $!l10n.group_by 
          #if($group == 2) $!l10n.vendor #end
          #if($group == 3) $!l10n.item_data #end
        #end 
      </span>
    </td>
    #reportPrintBtn()   
  <tr>
</table>
<!-- SEARCH -->
#if(!$printable)
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table class="searchTable">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!start">
      #cal ("StartDate" true)
    </td>
    <td>$!l10n.keywords : </td>
    <td>       
      <input type="text" name="Keywords" size="30" value="$!data.Parameters.getString("Keywords")">  
    </td>    
    <td></td>
  </tr>
  <tr>
    <td>$!l10n.end_date :</td>
     <td>
       <input type="text" size="15" name="EndDate" value="$!end">
       #cal ("EndDate" true)
     </td>
    <td>$!l10n.group_by : </td>
    <td>
      <select name="GroupBy">                   
        <option value="2" #if( $group == 2) SELECTED #end> $!l10n.vendor</option>
        <option value="3" #if( $group == 3) SELECTED #end> Item </option>
      </select>  
      #spc(2)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
</form>
#tblbr(2)
#end
<!-- END SEARCH SECTION -->

<!-- GROUP BY VENDOR -->
#if($group == 2)
#set($headings = ["$!l10n.item_code", "$!l10n.item_name",  "PO $!l10n.date", "PR $!l10n.date", "Lead Time"] )
#set($sVendorName = $data.Parameters.getString("Keywords",""))
#set($vPO = $purchaseanalysis.getPurchaseLeadTime($dStart,$dEnd,"",$sVendorName,false))
#set($vVendor = $sqlutil.getDistinctInRecord($vPO,1))
<table class="stdTable">
#foreach($oVendor in $vVendor)
#set($totalDays = 0)  
#set($totalCounter = 0)   
#set($sVendorID = $oVendor.asString())
#set($vFPO = $sqlutil.filterRecord($vPO,1,$!sVendorID))
  <tr>
    <td colspan="10"><b>$!l10n.vendor : $!vendor.getVendorNameByID($sVendorID)</b></td>
  </tr>
  #line(10)
  <tr class="th4">    
    <td>$headings.get(0)</td>
    <td>$headings.get(1)</td>
    <td>$headings.get(2)</td>
    <td>$headings.get(3)</td>    
    <td colspan="2">$headings.get(4)</td>    
  </tr>       
  #set($sItemID = "")
  #foreach($po in $vFPO)       
  #set($sItmIDRec = $po.getValue(4).asString()) 
  #set($dPODt = $!po.getValue(3).asDate())
  #set($dPRDt = $!po.getValue(7).asDate())    
  <tr>
    #if($sItemID == "" || $sItemID != $sItmIDRec)
      #set($sItemID = $sItmIDRec)
      #set($oItem = $item.getItemByID($sItmIDRec))    
      <td>$!oItem.ItemCode    </td>
      <td>$!oItem.Description </td>
    #else
      <td></td>
      <td></td>
    #end ##end if         
    #set($days = $!dutil.countDaysinRange($!dPODt,$!dPRDt))
    <td>$!cformat.formatDate($!dPODt)</td>
    <td>$!cformat.formatDate($!dPRDt)</td>                            
    <td>$days</td>  
    <td>$!l10n.days</td>
    #set($totalDays = $totalDays + $days)
    #set($totalCounter = $totalCounter + 1)  
  </tr>
  #end  ##end foreach vFPO
  <tr class="th5">    
    <td colspan="4">$!vendor.getVendorNameByID($sVendorID) Avg Lead Time</td>
    #set($leadTime = $cal.div($totalDays,$totalCounter))
    <td><b>$!cf.fmtAlg($leadTime) </b></td>  
    <td><b>$!l10n.days </b></td>      
  </tr>
  <tr>    
    <td colspan="5">&nbsp;</td>
  </tr>
#end ##end foreach vVendor
</table>
#end ##end group

<!-- GROUP BY ITEM -->
#if($group == 3)
#set($headings = ["$!l10n.vendor", "PO $!l10n.date", "PR $!l10n.date", "Lead Time"] )
#set($sItemName = $data.Parameters.getString("Keywords",""))
#set($vPO = $purchaseanalysis.getPurchaseLeadTime($dStart,$dEnd,$sItemName,"",false))
#if($vPO.size() > 0)
  #set($vItems = $sqlutil.getDistinctInRecord($vPO,4))
  <table class="stdTable">
  #foreach($oByItem in $vItems)
    #set($totalDays = 0)  
    #set($totalCounter = 0)   
    #set($sItemID = $oByItem.asString())
    #set($oItem = $item.getItemByID($sItemID))
    #set($vFPO = $sqlutil.filterRecord($vPO,4,$sItemID))      
    <tr>
      <td colspan="6">
        <b>$oItem.ItemCode - $oItem.ItemName ($oItem.Description)</b>        
      </td>
    </tr>
    <tr class="th4">
      <td width="30%">$headings.get(0)</td>
      <td>$headings.get(1)</td>
      <td>$headings.get(2)</td>      
      <td colspan="2">$headings.get(3)</td>    
    </tr>       
    #set($sVendorID = "")
    #foreach ($po in $vFPO)  
    #set($sVendorIDRec = $po.getValue(1).asString())
    #set($sVendorNMRec = $po.getValue(2).asString())
    
    #set($dPODt = $!po.getValue(3).asDate())
    #set($dPRDt = $!po.getValue(7).asDate())

    <tr>
      #if($sVendorID == "" || $sVendorID != $sVendorIDRec)
      #set($sVendorID = $sVendorIDRec)
      <td>$sVendorNMRec</td>
      #else
      <td></td>
      #end ##end if
      <td>$!cformat.formatDate($dPODt)</td>
      <td>$!cformat.formatDate($dPRDt)</td>                            
      <td>$!dutil.countDaysinRange($dPODt,$dPRDt)</td>
      <td>$!l10n.days</td>
      #set($totalDays = $totalDays + $!dutil.countDaysinRange($dPODt,$dPRDt))
      #set($totalCounter = $totalCounter + 1)
    </tr>
    #end  ##end foreach $vFPO        
    <tr class="th5">
      <td colspan="3" >$!oItem.ItemCode - $!oItem.ItemName Avg Lead Time</td>
      #set($leadTime = $cal.div($totalDays,$totalCounter))
      <td><b> $!cf.fmtAlg($leadTime)</b></td>
      <td><b> $!l10n.days</b></td>
    </tr>      
    <tr>
      <td colspan="4" >&nbsp;</td>
    </tr>
  #end
  </table>
#end ##end if vPO
#end ##end if group by
