#set($title   = " $!l10n.purchase_invoice (DETAILED)")
#set($sTrans  = "transaction,PurchaseInvoice.vm")
#set($sAction = "transaction.PurchaseInvoiceAction")
#set($tool    = $!purchaseinvoice)
#set($sType   = "pi")

#set($vHeaders = $PurchaseInvoices)
#set($sPK = "purchaseInvoiceId")

#parse("screens/report/purchase/CommonSearch.vm")

#if($vHeaders)
#largeSelectNavBar("$data.ScreenTemplate" $pageParam) 
#end

#if($vHeaders)
<table class="stdTable">
  <tr>
    <td class="th4"><b>$!l10n.trans_no</td>
    <td class="th4"><b>$!l10n.vendor_si_no</td>
    <td class="th4"><b>$!l10n.trans_date</td>    
    <td class="th4"><b>$!l10n.due_date</td>    
    <td class="th4"><b>$!l10n.vendor_code</td>    
    <td class="th4"><b>$!l10n.vendor</td>
    <td class="th4"><b>$!l10n.location</td>
    <td class="th4"><b>$!l10n.currency</td>
    <td class="th4"><b>$!l10n.rate</td>
    <td class="th4"><b>P.Type</td>
    <td class="th4"><b>P.Term</td>
    <td class="th4"><b>Status</td>
    <td class="th4"><b>Pmt.Status</td>    
    <td class="th4"><b>$!l10n.create_by</td>
    <td class="th4"><b>$!l10n.description</td>
    <td class="th4"><b>$!l10n.discount (INV)</td>      
    <td class="th4"><b>$!l10n.total_tax</td>
    <td class="th4"><b>$!l10n.total_amount</td>
    <td class="th4"><b>$!l10n.total_amount (Base)</td>    
    <td class="th4"><b>$!l10n.paid_amount</td>
    <td class="th4"><b>$!l10n.inc_tax</td>
    
    #if($dispp)
    <td class="th4"><b>$!l10n.payable_payment</td>
    <td class="th4"><b>$!l10n.payment_date</td>            
    #end
    #if($det)
    <td class="th4"><b>$!l10n.purchase_order</td>    
    <td class="th4"><b>$!l10n.purchase_receipt</td>        
    <td class="th4"><b>$!l10n.item_code</td>
    <td class="th4"><b>$!l10n.item_name</td>
    <td class="th4"><b>$!l10n.item_desc</td>
    <td class="th4"><b>$!l10n.qty</td>
    <td class="th4"><b>$!l10n.unit</td>    
    <td class="th4"><b>$!l10n.price</td>
    <td class="th4"><b>$!l10n.discount</td>
    
    #if($compo)
    <td class="th4"><b>PO $!l10n.price</td>   
    <td class="th4"><b>PO $!l10n.discount</td>        
    #end

    <td class="th4"><b>$!l10n.tax</td>
    <td class="th4"><b>$!l10n.sub_total (Disc)</td>
    <td class="th4"><b>$!l10n.sub_total (Tax)</td>
    <td class="th4"><b>$!l10n.sub_total</td>
    #end
    #if($preference.useSerialNo())
    <td class="th4"><b>$!l10n.serial_no</td>   
    #end       
  </tr>   
  #set($appayment = $butil.loadClass("com.ssti.enterprise.pos.tools.financial.PayablePaymentTool"))
  #foreach ($tr in $vHeaders)      
  #set($sPPNo = "")
  #set($sPPDt = "")  
  #if($tr.paymentStatus == 2 && $dispp)
    #set($vPP = $appayment.getByPIID($tr.PurchaseInvoiceId))  
    #if($vPP.size() > 0)
      #set($sPPNo = "$vPP.get(0).TransactionNo")
      #set($sPPDt = "$!cformat.fmt($vPP.get(0).TransactionDate)")  
    #end
  #end ##
  #if(!$det)
  <tr>
    $!rpt.displayTD($tr,"transactionNo   ",0,"") ## $!l10n.trans_no</td>
    $!rpt.displayTD($tr,"vendorInvoiceNo ",0,"") ## $!l10n.trans_no</td>    
    $!rpt.displayTD($tr,"transactionDate ",0,"") ## $!l10n.trans_date</td>
    $!rpt.displayTD($tr,"paymentDueDate  ",0,"") ## $!l10n.due_date</td>
    $!rpt.displayTD($tr,"vendorId        ",1,"") ## $!l10n.vendor</td>    
    $!rpt.displayTD($tr,"vendorName      ",0,"") ## $!l10n.vendor</td>
    $!rpt.displayTD($tr,"locationId      ",1,"") ## $!l10n.location</td>
    $!rpt.displayTD($tr,"currencyId      ",1,"") ## $!l10n.currency</td>
    $!rpt.displayTD($tr,"currencyRate    ",0,"") ## $!l10n.rate</td>
    $!rpt.displayTD($tr,"paymentTypeId   ",1,"") ## $!l10n.payment_type</td>
    $!rpt.displayTD($tr,"paymentTermId   ",1,"") ## $!l10n.payment_term</td>
    <td class="">$!purchaseinvoice.getStatusString($tr.Status)</td>
    <td class="">$!purchaseinvoice.getPaymentStatusString($tr.PaymentStatus)</td>    
    $!rpt.displayTD($tr,"createBy        ",0,"") ## $!l10n.create_by</td>    
    <td class="" #if(!$printable && !$excel)  style="max-width:300px;white-space:normal" #end >
    $!tr.Remark 
    </td>            
    $!rpt.displayTD($tr,"totalDiscountPct",0,"") ## $!l10n.discount</td> 
    $!rpt.displayTD($tr,"totalTax        ",0,"") ## $!l10n.total_tax</td>
    $!rpt.displayTD($tr,"totalAmount     ",0,"") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"totalAmountBase ",0,"") ## $!l10n.total_amount</td>    
    $!rpt.displayTD($tr,"paidAmount      ",0,"") ## $!l10n.payment_amount</td>
    $!rpt.displayTD($tr,"isInclusiveTax  ",0,"") ## $!l10n.payment_amount</td>
    
    #if($dispp)
    <td class="">$!sPPNo</td>
    <td class="">$!sPPDt</td>    
    #end
  </tr>  
  #else
  #set($vDet = $tool.getDetailsByID($tr.PrimaryKey.toString()))
  #set($pr = $null)
  #set($prd = $null)
  #set($po = $null)    
  #set($pod = $null)
  #foreach ($td in $vDet)    
  #if(!$pr || $pr.PurchaseReceiptId != $td.PurchaseReceiptId)
  #set($po = $purchaseorder.getHeaderByID($td.PurchaseOrderId,$null))  
  #set($pr = $purchasereceipt.getHeaderByID($td.PurchaseReceiptId,$null))
  #end  
  #if($compo && (!$prd || $prd.PurchaseReceiptDetailId != $td.PurchaseReceiptDetailId))  
  #set($prd = $purchasereceipt.getDetailByDetailID($td.PurchaseReceiptDetailId,$null))
  #set($pod = $purchaseorder.getDetailsByPODetailID($prd.PurchaseOrderDetailId,$null))
  #end
  
  <tr>
    $!rpt.displayTD($tr,"transactionNo   ",0,"") ## $!l10n.trans_no</td>
    $!rpt.displayTD($tr,"vendorInvoiceNo ",0,"") ## $!l10n.trans_no</td>        
    $!rpt.displayTD($tr,"transactionDate ",0,"") ## $!l10n.trans_date</td>
    $!rpt.displayTD($tr,"dueDate         ",0,"") ## $!l10n.due_date</td>      
    $!rpt.displayTD($tr,"vendorId        ",1,"") ## $!l10n.vendor</td>    
    $!rpt.displayTD($tr,"vendorName      ",0,"") ## $!l10n.vendor</td>
    $!rpt.displayTD($tr,"locationId      ",1,"") ## $!l10n.location</td>
    $!rpt.displayTD($tr,"currencyId      ",1,"") ## $!l10n.currency</td>
    $!rpt.displayTD($tr,"currencyRate    ",0,"") ## $!l10n.rate</td>
    $!rpt.displayTD($tr,"paymentTypeId   ",1,"") ## $!l10n.payment_type</td>
    $!rpt.displayTD($tr,"paymentTermId   ",1,"") ## $!l10n.payment_term</td>
    <td class="">$!purchaseinvoice.getStatusString($tr.Status)</td>
    <td class="">$!purchaseinvoice.getPaymentStatusString($tr.PaymentStatus)</td>        
    $!rpt.displayTD($tr,"createBy        ",0,"") ## $!l10n.create_by</td>    
    <td class="" #if(!$printable && !$excel)  style="min-width:200px;max-width:300px;white-space:normal" #end >
    $!tr.Remark 
    </td>        
    $!rpt.displayTD($tr,"totalDiscountPct",0,"") ## $!l10n.discount</td> 
    $!rpt.displayTD($tr,"totalTax        ",0,"") ## $!l10n.total_tax</td>       
    $!rpt.displayTD($tr,"totalAmount     ",0,"") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"totalAmountBase ",0,"") ## $!l10n.total_amount</td>    
    $!rpt.displayTD($tr,"paidAmount      ",0,"") ## $!l10n.payment_amount</td>
    $!rpt.displayTD($tr,"isInclusiveTax  ",0,"") ## $!l10n.payment_amount</td>
    #if($dispp)
    <td class="">$!sPPNo</td>
    <td class="">$!sPPDt</td>   
    #end
    
    $!rpt.displayTD($po,"purchaseOrderNo ",0,"") ## $!l10n.purchase_order</td>       
    $!rpt.displayTD($pr,"receiptNo       ",0,"") ## $!l10n.purchase_receipt</td>    
    $!rpt.displayTD($td,"itemCode        ",0,"") ## $!l10n.item_code</td>
    $!rpt.displayTD($td,"itemName        ",0,"") ## $!l10n.item_name</td>
    $!rpt.displayTD($td,"description     ",0,"") ## $!l10n.item_descc</td>
    $!rpt.displayTD($td,"qty             ",0,"") ## $!l10n.qty</td>
    $!rpt.displayTD($td,"unitId          ",1,"") ## $!l10n.unit</td>    
    $!rpt.displayTD($td,"itemPrice       ",0,"") ## $!l10n.price</td>
    $!rpt.displayTD($td,"discount        ",0,"") ## $!l10n.discount</td>

    #if($compo)
    $!rpt.displayTD($pod,"itemPrice      ",0,"") ## $!l10n.purchase_receipt</td>    
    $!rpt.displayTD($pod,"discount       ",0,"") ## $!l10n.purchase_receipt</td>        
    #end
    
    $!rpt.displayTD($td,"taxId           ",1,"") ## $!l10n.tax</td>
    $!rpt.displayTD($td,"subTotalDisc    ",0,"") ## $!l10n.sub_total_disc</td>
    $!rpt.displayTD($td,"subTotalTax     ",0,"") ## $!l10n.sub_total_tax</td>
    $!rpt.displayTD($td,"subTotal        ",0,"") ## $!l10n.sub_total</td>

    #if($preference.useSerialNo())
    #if($sutil.isNotEmpty($td.PurchaseReceiptDetailId))
    #set($vIS = $itemserial.getByItemAndDetID($td.ItemId, $td.PurchaseReceiptDetailId, $tr.LocationId))
    #else
    #set($vIS = $itemserial.getByItemAndDetID($td.ItemId, $td.PrimaryKey.toString(), $tr.LocationId))
    #end ##end if prdetid
    #foreach($is in $vIS)    
    $!rpt.displayTD($is,"serialNo",0,"")
    #end ##end foreach vIS
    #end ##end if use serial
  </tr>     
  #end ##end foreach vdet
  #end ##end if det
  #end ##end foreach vheaders
</table>
#end ##end if vHeaders
