#set($title   = " $!l10n.purchase_invoice (FREIGHT)")
#set($sTrans  = "transaction,PurchaseInvoice.vm")
#set($sAction = "transaction.PurchaseInvoiceAction")
#set($tool    = $!purchaseinvoice)
#set($sType   = "pi")

#set($vHeaders = $PurchaseInvoices)
#set($sPK = "purchaseInvoiceId")

#parse("screens/report/purchase/CommonSearch.vm")

#if($vHeaders)
#largeSelectNavBar("$data.ScreenTemplate" $pageParam) 
#end

#if($vHeaders)
<table width="2000" cellspacing="0" cellpadding="1">
  <tr>
    <td class="th4"><b>$!l10n.trans_no</td>
    <td class="th4"><b>$!l10n.vendor_si_no</td>
    <td class="th4"><b>$!l10n.trans_date</td>   
    <td class="th4"><b>$!l10n.vendor_code</td>    
    <td class="th4"><b>$!l10n.vendor</td>
    <td class="th4"><b>$!l10n.location</td>
    <td class="th4"><b>$!l10n.currency</td>
    <td class="th4"><b>$!l10n.rate</td>
    <td class="th4"><b>Status</td>
    <td class="th4"><b>Pmt.Status</td>    
    <td class="th4"><b>$!l10n.create_by</td>
    <td class="th4"><b>$!l10n.description</td>
    <td class="th4"><b>$!l10n.discount (INV)</td>        
    <td class="th4"><b>$!l10n.total_amount</td>
    <td class="th4"><b>$!l10n.total_amount (Base)</td> 
    
    <td class="th4"><b>$!l10n.trans_no (Freight)</td>
    <td class="th4"><b>$!l10n.account_code (Freight)</td>        
    <td class="th4"><b>$!l10n.total_qty </td>    
    <td class="th4"><b>$!l10n.total_amount </td>        
  </tr>   
  #foreach ($tr in $vHeaders)
  #set($vPIF = $purchaseinvoice.getFreightByID($tr.PurchaseInvoiceId, $null))
  $vPIF.size()
  #if($vPIF.size() > 0)        
  #foreach ($oPIF in $vPIF)
  #set($trfr = $purchaseinvoice.getHeaderByID($oPIF.FreightPiId, $null))
  #set($acfr = $account.getAccountByID($oPIF.AccountId))  
  <tr>
    $!rpt.displayTD($tr,"transactionNo   ",0,"tbs") ## $!l10n.trans_no</td>
    $!rpt.displayTD($tr,"vendorInvoiceNo ",0,"tbs") ## $!l10n.trans_no</td>    
    $!rpt.displayTD($tr,"transactionDate ",0,"tbs") ## $!l10n.trans_date</td>
    $!rpt.displayTD($tr,"vendorId        ",1,"tbs") ## $!l10n.vendor</td>    
    $!rpt.displayTD($tr,"vendorName      ",0,"tbs") ## $!l10n.vendor</td>
    $!rpt.displayTD($tr,"locationId      ",1,"tbs") ## $!l10n.location</td>
    $!rpt.displayTD($tr,"currencyId      ",1,"tbs") ## $!l10n.currency</td>
    $!rpt.displayTD($tr,"currencyRate    ",0,"tbs") ## $!l10n.rate</td>
    <td class="tbs">$!purchaseinvoice.getStatusString($tr.Status)</td>
    <td class="tbs">$!purchaseinvoice.getPaymentStatusString($tr.PaymentStatus)</td>    
    $!rpt.displayTD($tr,"createBy        ",0,"tbs") ## $!l10n.create_by</td>    
    $!rpt.displayTD($tr,"remark          ",0,"tbs") ## $!l10n.description</td>
    $!rpt.displayTD($tr,"totalDiscountPct",0,"tbs") ## $!l10n.discount</td>        
    $!rpt.displayTD($tr,"totalAmount     ",0,"tbs") ## $!l10n.total_amount</td>
    $!rpt.displayTD($tr,"totalAmountBase ",0,"tbs") ## $!l10n.total_amount</td>   
    
    $!rpt.displayTD($trfr,"transactionNo ",0,"tbs") ## $!l10n.total_amount</td>   
    $!rpt.displayTD($acfr,"accountCode   ",0,"tbs") ## $!l10n.total_amount</td>       
    $!rpt.displayTD($trfr,"totalQty      ",0,"tbs") ## $!l10n.total_amount</td>       
    $!rpt.displayTD($oPIF,"freightAmount ",0,"tbs") ## $!l10n.total_amount</td>        
  </tr>  
  #end ##end foreach vPIF 
  #end ## end if vPIF
  #end ##end foreach vheaders
</table>
#end ##end if vHeaders
