#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end
#set($iRank = $data.Parameters.getInt("Ranking", 10))
#set($iType = $data.Parameters.getInt("Type", 1))
#set($bChart = $data.Parameters.getBoolean("DisplayChart"))
#set($bLegend = $data.Parameters.getBoolean("DisplayLegend"))
#set($sBGColor1 = $data.Parameters.getString("BGColor1"))
#set($sBGColor2 = $data.Parameters.getString("BGColor2"))
#set($iHeight = 280)
#if($bLegend )
#set($iHeight = 400)
#end
#set($StartDate = $cformat.formatDate($dStart))
#set($EndDate = $cformat.formatDate($dEnd))
#set($title ="Top $iRank Received Item ")
#set($pageParam = $tplutil.pageParam($data))

#reportPrintJS()
<table class="fixTable">
  <tr>
    <td colspan="10">
      <span class="txtTitle2"><b>$title ($!StartDate - $!EndDate)</b></span>
    </td>
    #reportPrintBtn()
  <tr>
</table>
#if(!$printable)
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table class="searchTable">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!data.Parameters.getString("StartDate")">
      #calf("frm" "StartDate" true)
    </td>
    <td>
      #spc(3)Display Chart : &nbsp;
      <input type="checkbox" class="cb" name="DisplayChart" #if($bChart) CHECKED  #end>
      &nbsp;
      #spc(3)Ranking &nbsp;:&nbsp;
      <input type="text" name="Ranking" value="$iRank" size="4" maxlength="3">

      ## #spc(3)Rank By &nbsp;:&nbsp;
      ## <select name="Type">
      ##   <option value="1" #if($iType == 1) SELECTED #end>Total Purchase Amount</option>
      ##   <option value="2" #if($iType == 2) SELECTED #end>Total Purchase Qty</option>
      ## </select>

      <input type="hidden" name="BGColor1" value="white">
      <input type="hidden" name="BGColor2" value="lightgray">
    </td>
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!data.Parameters.getString("EndDate")">
      #calf("frm" "EndDate" true)
    </td>
    <td>
      #spc(3)Display Legend :
        <input type="checkbox" class="cb" name="DisplayLegend" #if($bLegend) CHECKED  #end >
      #spc(3)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
</form>
<br>
#end

#if($dStart)
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="57%" valign="top">
      <table class="stdTable">
        #set($vPurchaseItem = $!purchaseanalysis.getItemReceivedAnalysis($dStart, $dEnd, $iRank))
        <tr class="th5">
          <td>No</td>
          <td>$!l10n.item_code</td>
          <td>$!l10n.barcode</td>
          <td>$!l10n.item_name</td>
          <td>$!l10n.qty</td>
          ##<td>$!l10n.amount</td>
        </tr>
        #set($i = 1)
        #foreach ($purchaseItem in $vPurchaseItem)
        <tr>
          <td width="2%"  >$i</td>
          <td>$purchaseItem.get(1)</td>
          <td>$purchaseItem.get(4)</td>
          <td>$purchaseItem.get(2) </td>
          <td width="6%"  align="right">$!cformat.formatAligned($purchaseItem.get(3))</td>
          ##<td width="20%" align="right">$!cformat.formatAligned($purchaseItem.get(3))</td>
        </tr>
        #set($i = $i + 1)
        #end ## foreach kategori
      </table>
    </td>
    <td width="10">
    </td>
    <td valign="top">
      #if($bChart)
      <img src="${data.ContextPath}/chart/chart.png?helper_class=com.ssti.enterprise.pos.chart.helper.RankingReportChartHelper&StartDate=${StartDate}&EndDate=${EndDate}&Kategori=ItemReceived&Limit=${iRank}&Type=${iType}&Width=400&Height=${iHeight}&Legend=${bLegend}&BGColor1=${sBGColor1}&BGColor2=${sBGColor2}">
      #end
      &nbsp;
    </td>
  </tr>
</table>
#end
